<div class="recipes-home-body inner-page">
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-lg-9">
    <div class="recipe-set ">

<div class="wrapper-detail-contents detail-2">
    <div class="single-recipe-detail">
        <div class="wrapper-recipe-heading">
            <div class="heading" style="width:100%">
                <!--<h2>{{searchRes.label}}</h2>-->
                <h2>Recipe Details</h2>
    
            </div>
         
        </div>
        <div class="row fadeInLeft animated newanim recipeDay-outer" *ngIf="searchRes && searchRes.label">
            <div class="col-12 col-lg-6" style="padding-left:0px; padding-right:0px;">
                <img src="{{searchRes.image}}" alt="slide" style='width:100%;max-height:400px'>       
            </div>
            <div class="col-12 col-lg-6"  style="padding-left:0px; padding-right:0px; background: #ffffff;">
                <div class="outerbox">
                    <div class="innerbox">
                        <!--<p class="tag">Recipe Details</p>-->
                        <p style="text-align:center;margin:10px 0px;">
                            <a  class="label" href="javascript:void(0)">{{searchRes.label}}</a>
                        </p>
                        <div class="short-separator" style="margin-top:10px"></div>
                        <div class="recipe-details-group">
                            <div class="recipe-details" *ngIf="searchRes.totalWeight">
                            <p>Total Weight:</p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.totalWeight)}} g</a> 
                            </p>
                            </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.calories">
                            <p>Calories:</p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.calories)}} kcal</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                        <div class="recipe-details" *ngIf="searchRes.yield">
                            <p>Servings:  </p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{searchRes.yield}}</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                        <div class="recipe-details" *ngIf="searchRes.dietLabels">
                            <p>Diet Labels:</p>
                            <p style="display:block;">
                                <a href="recipes;diet={{dlabel}}"  class="hlabel" *ngFor="let dlabel of formatLabels(searchRes.dietLabels)">{{dlabel}}</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                            
                            <div class="recipe-details" *ngIf="searchRes.healthLabels">
                            <p>Health Labels:</p>
                            <p style="display:inline-block;  max-height: 100px; overflow:auto;"  >
                                <a href="recipes;health={{hlabel}}" class="hlabel" *ngFor="let hlabel of formatLabels(searchRes.healthLabels)">{{hlabel}}</a> 
                            </p>
                        </div>
                            <p style="clear:both; padding-bottom:10px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
     
    </div>
    
    
    <div class="recipe-detail-body" *ngIf="searchRes && searchRes.label">
    <div class="rating-box">
        <span class="rating-icons" style="font-size:16px" *ngFor="let item of [1,2,3,4,5]">
            <i [ngClass]="ratingObj['displayrating'] >= item?'fa fa-star set':'fa fa-star unset'"></i>
          </span>
        <span class="rating-figure">({{ratingObj['displayrating']}} / 5)</span>
    </div>
   
    <div class="separator-post"></div>
    <p>
      
    </p>
    <br>
   
    

    <div class="ingredients-checkbox" style="min-height:400px">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul *ngIf="searchRes && searchRes.ingredients && searchRes.ingredients.length> 0">
                <ng-container *ngFor="let ingr of searchRes['ingredients']; let j=index">
                <li>
 
                    <label>
                     
                        {{formatText(ingr.text)}}
                    </label>
                </li>
            </ng-container>
             </ul>
             <div style="height: 70px ; width:100%; display:block;"></div>
        </div>
        <div *ngIf='showNutrientsFlag' class="nutritional newitems">
            <h3>Nutritional</h3>
            <ng-container *ngFor="let macro of paramMicro; let m=index; ">
                <div class="nutrition-detail newitem">
                    <div class="left-box">
                        {{paramMicro[m].label}}
                        <br>
                        <span>{{paramMicro[m].totalP}}{{paramMicro[m].unit}}</span>
                    </div>
                   
                </div>
             
            </ng-container>
        </div>
    </div>


    <div class="recipe-steps">
        <h3 class="lined">Step by Step method</h3>

                <div class="row" *ngFor="let instr of searchRes['instructions']; let j=index; let even = even;">
                    <div class="col-sm-9">
                        <p>
                            {{instr}}
                        </p>
                        <br>
                    </div>
                    <div class="col-sm-3">
                        <img style="max-height: 150px;" *ngIf="searchRes['ingredients'][j] && searchRes['ingredients'][j]['image']" src="{{searchRes['ingredients'][j]['image']}}" alt="image">
                    </div>
                </div>
         
    
    </div>
    
  
    <div class="separator-post"></div>

    <div class="tags-icons">
        <div class="row">
            <div class="col-sm-7">
                <div> Source: <a href="{{searchRes.url}}" target="_blank">{{searchRes.source}}</a></div>
                <div class="details-tags" *ngIf="searchRes.dietLabels"> 
                    <ul>
                        <li *ngFor="let tag of formatDietLabels(); let t= index;"><a href="javascript:void(0)">{{tag}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5" *ngIf="currentUser">
                <div class="details-fav"><ul>
                    <li (click)="toggleFav()" [ngClass]="setFav?'set':''"><i  class="fa fa-heart" aria-hidden="true"></i></li>
                    <li [ngClass]="rating > 0?'set':''" (click)="showRate = !showRate;"><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div *ngIf="showRate" class="details-fav">
                    <ul>
                        <ng-container *ngFor="let in of [1,2,3,4,5]; let i = index">
                            <li (click)="rate(in)">
                                <i [ngClass] = "rating >=in? 'fa fa-star ratingSelected' : 'fa fa-star ratingGray'" aria-hidden="true"></i>
                            </li>
                        </ng-container>
                    </ul> <span>{{rating}}/5</span>
                </div>
            
            </div>
       
        </div>
    </div>

    </div>

    <div class="separator-post"></div>
    <div class="row" *ngIf="searchRes && searchRes.label">
        <div class="col-12" style="text-align:right">

            
    <app-socialshare *ngIf="urlShare && searchRes.label" [imageurl]="searchRes.image" [labeltext]="searchRes.label" [urlShare]="urlShare"></app-socialshare>

        </div>
    </div>
    

    
    
    <div class="recipe-comments" *ngIf="searchRes && searchRes.label">
        <h3 class="lined">Comments <span *ngIf="commentsCount">({{commentsCount}})</span></h3>
        <ul>
            <li *ngFor="let comment of commentsList; let c = index;">
                <div class="avatar">
                    <a href="javascript:void(0)" *ngIf="comment.profileimage"><img  style="max-width: 50px" src="{{formatApiUrl(comment.profileimage)}}" alt="avatar"></a>
                     <a href="javascript:void(0)" *ngIf="!comment.profileimage"><img style="max-width: 50px"  src="assets/user-icon.png" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a style="font-size:18px; font-weight:bold;" href="javascript:void(0)">{{formatName(comment)}} &nbsp;</a></h5>
                    <span class="time">{{comment.created_time}}</span>
                    <p>
                        {{comment.message}}
                    </p>
                  
                </div>
    
            </li>

        </ul>
    </div>
    
    <div class="comment-form" *ngIf="searchRes && searchRes.label">
        <h3 class="lined">Leave Comment</h3>
    
            <div class="row">
                <div class="col-md-12">
                    <textarea [(ngModel)]="comment.message" name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="row" *ngIf='showNutrientsFlag' >
                <div class="col-md-6">
                   
                    <label  class='comment-label'>Upload Image</label>
                     <button (click)="uploadmedia('image')" class="upload-comment">
                        <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Image</button>
                    <div>
                        <input id="inputuploadrecipe" hidden type="file" name="inputuploadrecipe" (change)="onFileSelect($event)" />
                      </div>
                      <img *ngIf="comment.image" src="{{comment.image}}"  style="width: 90%" />
                      
                </div>
   
                <div class="col-md-6">
                    <label class='comment-label'>Upload Video</label>
                    <button (click)="uploadmedia('video')" class="upload-comment">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i> Upload Video</button>
                    <div *ngIf="comment.video" style="width:100%; display:block">
                        <video width="400" controls>
                            <source src="{{comment.video}}" type="video/mp4">
                            Your browser does not support HTML video.
                          </video>
                    </div>
                </div>

              

            </div>
            <div class="row">
                <div class="col-12" style="padding:15px; text-align:right;">
                    <button [disabled] = "comment.message == ''" [ngClass]="comment.message !== ''?'submit-comment active':'submit-comment'" (click)="submitcomment()" >Submit</button>
                </div>
                <div class='col-12'>
                    {{commentSubmitMsg}}
                </div>
            </div>
       
    </div>
    
       
    <div class="related-recipes" style="margin-top:20px" *ngIf="listParams">
        <h2 class="lined">Related Recipes</h2>
    <app-listpanel [updated] = "updated" [params] = "listParams"></app-listpanel>
    </div>
    </div>
    </div>
    </div>

    <div class="col-md-5 col-lg-3">
    <aside>
    <div class="side-bar">
   
    
    <app-sidebar></app-sidebar>
    </div>
    </aside>
    </div>
    </div>
    
    </div>
    </div>