<div class="fixedtop recipes-home-body inner-page">
    <div class="container" style="padding-left:0px;padding-right:0px">
    <div class="row">
    <div class="col-md-8 col-lg-9">
    <div class="recipe-set ">

<div class="wrapper-detail-contents detail-2">
    <div class="single-recipe-detail">
        <div class="wrapper-recipe-heading">
            <div class="heading" style="width:100%">
                <!--<h2>{{searchRes.label}}</h2>-->
                <h2><a (click)="gotopage();"><i class="fa fa-chevron-left"></i></a>  Recipe Details</h2>
                <div class="add2mealplan" *ngIf="plansList.length > 0">
                    <a [ngClass]="showpopupflag?'menu active':'menu'"  (click)="showhidepopup()" href="javascript:void(0)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <div *ngIf='showpopupflag' class="add2mealplanmenu" style='height:120px'>
                        <a (click)="showpopupflag = false; showAdd2MP = true " href="javascript:void(0)">
                            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Recipe to Meal Plan
                        </a>
                        <a (click)="showpopupflag = false; makeacopy()" href="javascript:void(0)">
                            <i class="fa fa-clone" aria-hidden="true"></i> Make a Copy
                        </a>
                    </div>

                    <div *ngIf='showAdd2MP' class="add2mealplanmenu" style="top:0px">
                        <a style="float:right;font-size:24px;" href="javascript:void(0)" (click)="showAdd2MP = false;"><i class="fa fa-close" aria-hidden="true"></i> </a>
                        <p class="title"> Add Recipe to Meal Plan</p>
                        <p class="lbl">Choose Meal Plan</p>
                        <select [(ngModel)] ="plan.id">
                            <option value="{{plan.id}}" *ngFor='let plan of plansList; let i = index'>{{plan.name}}</option>
                        </select>
                        <p class="lbl">Choose Day</p>
                        <select [(ngModel)] ="plan.day">
                            <option value="{{day.id}}" *ngFor='let day of daysList; let i = index'>{{day.name}}</option>
                        </select>
                        <p class="lbl">Choose Meal Type</p>
                        <select [(ngModel)] ="plan.mealType">
                            <option value="{{mealtype.code}}" *ngFor='let mealtype of mealTypesList; let i = index'>{{mealtype.name}}</option>
                        </select>
                        <a class="btn" href="javascript:void(0)" (click)="add2Plan()"> Add to Plan</a>

                        <!--<a href="javascript:void(0)" (click)="addRecipe(recipe)"><i class="fa fa-plus" aria-hidden="true"></i> Add Recipe</a>-->
                        
                    </div>
                    </div>
            </div>
         
        </div>
        <div class="row fadeInLeft animated newanim recipeDay-outer" *ngIf="searchRes && searchRes.label">
            <div class="col-12 col-lg-6" style="padding-left:0px; padding-right:0px;">
                <img src="{{searchRes.image}}" alt="slide" style='width:100%;max-height:400px'>       
            </div>
            <div class="col-12 col-lg-6"  style="padding-left:0px; padding-right:0px; background: #ffffff;">
                <div class="outerbox">
                    <div class="innerbox">
                        <!--<p class="tag">Recipe Details</p>-->
                        <p style="text-align:center;margin:10px 0px;">
                            <a  class="label" href="javascript:void(0)">{{searchRes.label}}</a>
                        </p>
                        <div class="short-separator" style="margin-top:10px"></div>
                        <div class="recipe-details-group">
                            <div class="recipe-details" *ngIf="searchRes.totalWeight">
                            <p>Total Weight:</p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.totalWeight)}} g</a> 
                            </p>
                            </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.calories">
                                <p>Calories:</p>
                                <p style="display:block;">
                                    <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.calories)}} kcal</a> 
                                </p>
                            </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.calories">
                                <p>Calories per Serving:</p>
                                <p style="display:block;">
                                    <a href="javascript:void(0)"  class="hlabel">{{formatValue(searchRes.calories/searchRes.yield)}} kcal</a> 
                                </p>
                            </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.yield">
                                <p>Servings:  </p>
                                <p style="display:block;">
                                    <a href="javascript:void(0);"  class="hlabel">{{searchRes.yield}}</a> 
                                </p>
                            </div>
                           
                            <p style="clear:both"></p>
                            
                           
                            <p style="clear:both; padding-bottom:10px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
     
    </div>
   
    
    <div class="recipe-detail-body" *ngIf="searchRes && searchRes.label" style="margin-bottom:0px">
    <div class="rating-box">
        <span class="rating-icons" style="font-size:16px" *ngFor="let item of [1,2,3,4,5]">
            <i [ngClass]="ratingObj['displayrating'] >= item?'fa fa-star set':'fa fa-star unset'"></i>
          </span>
        <span class="rating-figure">({{ratingObj['displayrating']}} / 5)</span>
    </div>
   
    <div class="separator-post"></div>
    <p style="clear:both"></p>
  
        <div class="innerbox">
    <div class="recipe-details" *ngIf="searchRes.dietLabels">
        <p>Diet Labels:</p>
        <p style="display:block;">
            <ng-container *ngFor="let dlabel of formatLabels(searchRes.dietLabels)">
             <a *ngIf="dlabel" (click)="gotoRecipes(dlabel, 'diet')" href="javascript:void(0)"  class="hlabel" >{{dlabel}}</a> 
            </ng-container>
        </p>
    </div>

    <p style="clear:both"></p>     
    <div class="recipe-details" *ngIf="searchRes.healthLabels">
        <p>Health Labels:</p>
        <p style="display:inline-block;"  >
            <ng-container *ngFor="let hlabel of formatLabels(searchRes.healthLabels)">
             <a *ngIf="hlabel"  (click)="gotoRecipes(hlabel, 'health')" href="javascript:void(0)" class="hlabel" >{{hlabel}}</a> 
            </ng-container>
        </p>
     </div>
   
    </div>
    <p style="clear:both"></p>
    <div class="separator-post"></div>
    <p style="clear:both"></p>
    <div class="ingredients-checkbox" style="min-height:400px">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul *ngIf="searchRes && searchRes.ingredients && searchRes.ingredients.length> 0">
                <ng-container *ngFor="let ingr of searchRes['ingredients']; let j=index">
                <li>
 
                    <label>
                     
                        {{formatText(ingr.text)}}
                    </label>
                </li>
            </ng-container>
             </ul>
             <div style="height: 70px ; width:100%; display:block;"></div>
        </div>
        <div class="nutritional newitems">
            <h3>Nutrients</h3><p style="clear:both"></p>
            <div style="display:block">
                <label class="container" style=" text-align: left;
                    display: inline-block;
                    width: 155px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 16px;">Per Serving
                        <input class="showhidenut" id="showhidenut" [(ngModel)] = 'perServingFlag' type="checkbox">
                        <span class="checkmark"></span>
                </label>
            </div>
            <ng-container *ngFor="let macro of paramMicro; let m=index; ">
                <div class="nutrition-detail newitem">
                    <div class="left-box">
                        {{paramMicro[m].label}}
                        <br>
                        <span *ngIf="!perServingFlag">{{paramMicro[m].totalP}}{{paramMicro[m].unit}}</span>
                        <span *ngIf="perServingFlag">{{(paramMicro[m].totalP/searchRes.yield).toFixed(1)}}{{paramMicro[m].unit}}</span>
                        
                    </div>
                   
                </div>
             
            </ng-container>
        </div>
    </div>


    <div class="recipe-steps">
        <h3 class="lined">Step by Step method</h3>

                <div class="row" *ngFor="let instr of searchRes['instructions']; let j=index; let even = even;">
                    <div class="col-sm-9">
                        <p>
                            {{instr}}
                        </p>
                        <br>
                    </div>
                    <div class="col-sm-3">
                        <img style="max-height: 150px;" *ngIf="searchRes['ingredients'][j] && searchRes['ingredients'][j]['image']" src="{{searchRes['ingredients'][j]['image']}}" alt="image">
                    </div>
                </div>
         
    
    </div>
    
  
    <div class="separator-post"></div>

    <div class="tags-icons">
        <div class="row">
            <div class="col-sm-7">
                <div> Source: {{searchRes.source}}</div>
                <div class="details-tags" *ngIf="searchRes.dietLabels"> 
                    <ul>
                        <li *ngFor="let tag of formatDietLabels(); let t= index;"><a href="javascript:void(0)">{{tag}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5" *ngIf="currentUser">
                <div class="details-fav"><ul>
                    <li (click)="toggleFav()" [ngClass]="setFav?'set':''"><i  class="fa fa-heart" aria-hidden="true"></i></li>
                    <li [ngClass]="rating > 0?'set':''" (click)="showRate = !showRate;"><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div *ngIf="showRate" class="details-fav">
                    <ul>
                        <ng-container *ngFor="let in of [1,2,3,4,5]; let i = index">
                            <li (click)="rate(in)">
                                <i [ngClass] = "rating >=in? 'fa fa-star ratingSelected' : 'fa fa-star ratingGray'" aria-hidden="true"></i>
                            </li>
                        </ng-container>
                    </ul> <span>{{rating}}/5</span>
                </div>
            
            </div>
       
        </div>
    </div>
    <div class="separator-post"></div>
    </div>

   
    <div class="row" *ngIf="searchRes && searchRes.label">
        <div class="col-12" style="text-align:right">

            
  
    <div class="component-bg">
        <div class="share-recipe">
          Share :  
      
      
          <div class="fb-share-button social-icon fb" 
          data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?quote={{msg}}&u={{urlShare}}/" class=" fa fa-facebook"></a>
          </div>
          <div class="social-icon twitter">
            <a href="{{urlTweet}}" target="_blank" class=" fa fa-twitter"></a>
          </div>
      
          <div class="social-icon whatsapp">
            <!--<a href="{{urlWhatsApp}}" target="_blank" data-action="share/whatsapp/share" class=" fa fa-whatsapp"></a>-->
            <a href="https://api.whatsapp.com/send?text={{urlShare}}" target="_blank" data-action="share/whatsapp/share" class=" fa fa-whatsapp"></a>
          </div>
      
          <div class="social-icon print">
            <a href="javascript:void()" target="_blank" class=" fa fa-print"></a>
          </div>
        </div>
      </div>


        </div>
    </div>
    

    
    
    <div class="recipe-comments" *ngIf="searchRes && searchRes.label && commentsList && commentsList.length">
        <h3 class="lined">Comments <span *ngIf="commentsCount">({{commentsCount}})</span></h3>
        <ul>
            <li *ngFor="let comment of commentsList; let c = index;">
                <div class="avatar">
                    <a href="javascript:void(0)" *ngIf="comment.profileimage"><img  style="max-width: 50px" src="{{comment.profileimage}}" alt="avatar"></a>
                     <a href="javascript:void(0)" *ngIf="!comment.profileimage"><img style="max-width: 50px"  src="assets/user-icon.png" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a style="font-size:18px; font-weight:bold;" href="javascript:void(0)">{{formatName(comment)}} &nbsp;</a></h5>
                    <span class="time">{{comment.created_time}}</span>
                    <p>
                        {{comment.message}}
                    </p>
                  
                </div>
    
            </li>

        </ul>
    </div>
    
    <div class="comment-form" *ngIf="searchRes && searchRes.label">
        <h3 class="lined">Leave Comment</h3>
    
            <div class="row">
                <div class="col-md-12">
                    <textarea [(ngModel)]="comment.message" name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="row" *ngIf='showNutrientsFlag' >
                <div class="col-md-6">
                   
                    <label  class='comment-label'>Upload Image</label>
                     <button (click)="uploadmedia('image')" class="upload-comment">
                        <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Image</button>
                    <div>
                        <input id="inputuploadrecipe" hidden type="file" name="inputuploadrecipe" (change)="onFileSelect($event)" />
                      </div>
                      <img *ngIf="comment.image" src="{{comment.image}}"  style="width: 90%" />
                      
                </div>
   
                <div class="col-md-6">
                    <label class='comment-label'>Upload Video</label>
                    <button (click)="uploadmedia('video')" class="upload-comment">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i> Upload Video</button>
                    <div *ngIf="comment.video" style="width:100%; display:block">
                        <video width="400" controls>
                            <source src="{{comment.video}}" type="video/mp4">
                            Your browser does not support HTML video.
                          </video>
                    </div>
                </div>

              

            </div>
            <div class="row">
                <div class="col-12" style="padding:15px; text-align:right;">
                    <button [disabled] = "comment.message == ''" [ngClass]="comment.message !== ''?'submit-comment active':'submit-comment'" (click)="submitcomment()" >Submit</button>
                </div>
                <div class='col-12'>
                    {{commentSubmitMsg}}
                </div>
            </div>
       
    </div>
    
       
    <div class="related-recipes" style="margin-top:20px" *ngIf="listParams">
        <h2 class="lined">Related Recipes</h2>
    <app-listpanel [updated] = "updated" [params] = "listParams"></app-listpanel>
    </div>
    </div>
    </div>
    </div>

    <div class="col-md-5 col-lg-3">
    <aside>
    <div class="side-bar">
   
    
    <app-sidebar></app-sidebar>
    </div>
    </aside>
    </div>
    </div>
    
    </div>
    </div>