@import "../../../variables";

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

h5, .h5, .h5 {
    font-size: 36px;
}

big, .big {
    font-size: 18px;
}
.font-weight-semibold {
    font-weight: 600!important;
}
.mt-1 {
    margin-top: .25rem!important;
}
.d-block {
    display: block!important;
}
a {
    color:$text-gray;
}

a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }

        text-black-50 {
  color: rgba(0, 0, 0, .5)!important
}

.btn-outline-dark {
    background-color: transparent;
    border-color: #000;
    color:$text-gray;
}
.btn {
    font-weight: 500;
}
.newitems
{
  position: relative;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newitem
{
  position:absolute;
  width: 68px;
  height: 68px;
  top: 100px;
  left: 50px;
  background: red;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  color:#FFF;
  transition: 0.5s;
}

.ingredients ul li::before{
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  font-size: 15px;
  position: absolute;
  left: 0;
  line-height: 26px;
}
.newitems .newitem
{
 // float:left;
 // margin-right: 20px; 
  
}
.newitems .newitem:nth-child(1)
{
  top:29px;
  left: 5px;
  background: $bgcolornew1;
  transition: 0.9s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
//-webkit-animation: load 5s infinite;
//animation: load 5s infinite;
} 

.newitems .newitem:nth-child(2)
{
  top: 30px;
  left: 170px;
  background: $bgcolornew2;
//  -webkit-animation: load 5s infinite 0.5s;
 // animation: load 5s infinite 0.5s;
} 


.newitems .newitem:nth-child(3)
{
  top: 100px;
    left: 40px;
    background: $bgcolornew3;
  //  -webkit-animation: load 5s infinite 1.5s;
  //  animation: load 5s infinite 1.5s;

} 

.newitems .newitem:nth-child(4)
{
  top: 110px;
  left: 130px;
  background: $bgcolornew4;
 // -webkit-animation: load 5s infinite 1.7s;
 // animation: load 5s infinite 1.7s;
} 

.newitems .newitem:nth-child(5)
{
  top: 100px;
  left: 220px;
  background: $bgcolornew5;
 // -webkit-animation: load 5s infinite 1.9s;
 // animation: load 5s infinite 1.9s;
} 

.newitems .newitem:nth-child(6)
{
  top: 170px;
  left: 10px;
  background: $bgcolornew6;
// -webkit-animation: load 5s infinite 0.7s;
 // animation: load 5s infinite 0.7s;
} 

.newitems .newitem:nth-child(7)
{
  top:175px;
  left: 90px;
  background: $bgcolornew7;
//  -webkit-animation: load 5s infinite 1.2s;
//  animation: load 5s infinite 1.2s;
} 

.newitems .newitem:nth-child(8)
{
  top: 180px;
    left: 170px;
    background: $bgcolornew8;
  //  -webkit-animation: load 5s infinite 1.4s;
  //  animation: load 5s infinite 1.4s;
} 



.newitems .newitem:nth-child(9)
{
  top: 250px;
  left: 10px;
  background: $bgcolornew9;
} 


.newitems .newitem:nth-child(10)
{
  top: 250px;
  left: 100px;
  background: $bgcolornew10;
} 

.newitems .newitem:nth-child(11)
{
  top:270px;
  left: 190px;
  background: $bgcolornew11;
} 

.newitems .newitem:nth-child(12)
{
  top: 320px;
  left: 20px;

  background: $bgcolornew12;
} 


.newitems .newitem:nth-child(13)
{
  top: 320px;
    left: 120px;
    background: $bgcolornew13;
} 

.newitems .newitem:nth-child(14)
{
  top: 340px;
  left: 230px;
  background: $bgcolornew14;
} 

.newitems .newitem:nth-child(15)
{
  top:389px;
  left: 30px;
  background: $bgcolor15;
} 

.newitems .newitem:nth-child(16)
{
  top:389px;
  left: 130px;
  background: $bgcolor15;
} 


.newitems .newitem:nth-child(17)
{
  top:389px;
  left: 230px;
  background: $bgcolor15;
} 

.newitems .newitem:nth-child(18)
{
  top:489px;
  left: 30px;
  background: $bgcolor15;
} 


 .recipe-details-outer {
  position: absolute;
  left:350px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.outerbox
{
  background: #ffffff;
 width:100%;
 height:100%;
  padding: 10px;

}

.innerbox
{
  padding: 15px 20px;
    border: 1px solid #e4d9d1;
    height: 100%;
    background-image: url("../../../assets/bg1.png");
    background-repeat: no-repeat;
    background-position: right 100px;
}
.innerbox .tag
{
  margin:0 auto;
  padding: 5px 10px; 
  border-radius:5px;
  background-color: $green;
  color:#FFF;
  width:150px;
  font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 700;
    text-align:center;
}

.innerbox .label
{
  padding: 5px 10px; 
  border-radius:5px;
  background-color: $green;
  color:#FFF;
  font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    line-height: 30px;
}

.innerbox .label:hover
{
 // color: $green;
 text-decoration:none;
 cursor:none;
}

.newanim
{
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.recipe-details-group
{

}
.recipe-details
{
  display: block;
  margin-top: 20px;
}

.recipe-details-group p{
  margin-bottom:10px;
  float: left;
  margin-right: 10px;
}
.recipe-details-group .hlabel, .hlabel
{
float:left;
padding:2px 5px;
margin-bottom: 8px; 
margin-right:8px;
border-radius:4px;
background : $white-half;
border:1px solid $gray-border;
color:$text-gray;
min-width:30px;
text-align:center;
font-size:12px;
}

.recipe-details-group .hlabel:hover, .hlabel:hover
{
  //color:$green;
  font-weight:bold;

}

.left-box {
  font-size:11px;
  
  font-weight:bold;
}


/****** Style Star Rating Widget *****/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #FFAF4F; 
 float: right; 
 font-size:20px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #6EBE3B;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #6EBE3B;  } 


.details-fav
{
  text-align:right;
  ul {
    list-style-type: none;
    li{
      margin-right: 10px;
      font-size:18px;
     
    }
    li.set, li i:hover{
      color: $orange;
    }

    .ratingSelected
    {
      color: $orange;
    }
    .ratingGray
    {
      color:#CCC;
    }
  }
}

.set, .rating-icons  i:hover{
  color: $orange;
}

.unset
{
  color:#CCC;
}

.copy-button
{
  display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.recipeDay-outer {
    z-index: 1;
    overflow: hidden;
    border-width: 8px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 15px 20px -10px rgb(0 0 0 / 15%), 0px 1px 4px -2px rgb(0 0 0 / 40%);
}

.upload-comment
{
  margin-left: 20px;
  height: 36px;
  background: #ffffff;
  font-family: "Lora", serif;
  font-size: 14px;
  color: #6ebe3b;
  padding: 0 25px;
  border: 1px solid #6ebe3b;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.upload-comment:hover
{
  background: #6ebe3b;
  color: #ffffff  ;
}

.comment-label
{
  font-weight:normal;
  font-size:14px;

}

.submit-comment {
    height: 42px;
    background: #ccc;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #ffffff;
    padding: 0 35px;
    border: none;
    transition: 0.2s all ease-in-out;
}

.submit-comment.active {
 background: #6ebe3b;
 }




 .container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


 
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
   //border-radius: 50%;
   border:1px solid $orange;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #FFF;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
background-color: $orange;
  border:1px solid $orange;
  //background-color: #66bb6a;
  //border:1px solid #66bb6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;


%boxshadow {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.05), 0 5px 12px rgba(75,0,0,0.05);
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 17px 0;
  padding-left: 10px;
  > li {
    background: #FFF;
    border-radius: 0 5px 5px 5px;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 10px;
    min-height: 40px;
    padding: 10px 10px 10px 40px;
    position: relative;
    line-height: 24px;
    text-align: justify;
    &::before,
    &::after {
      background: linear-gradient(135deg, var(--blue) 0%, $green 100%);
      border-radius: 10px 10px 0 10px;
      content: '';
      height: 40px;
      left: -10px;
      overflow: hidden;
      position: absolute;
      top: -10px;
      width: 40px;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color:var(--text-gray);
      display: flex;
      font: 900 16px 'Montserrat';
      justify-content: flex-end;
      padding: 10px 10px;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, 1 - (($i - 4) * 0.2)) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 20px;
    }
  }
}