<div class="fixedtop recipes-home-body inner-page">
    <div class="container" style="margin:0 auto;padding-left:0px;padding-right:0px">
        <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="recipe-set">         
                <h2>Create Meal Plan <span *ngIf="plan.name"> - {{plan.name}}</span></h2>
            </div>
            <div class="add2mealplan">
                <a [ngClass]="showpopupflag?'menu active':'menu'"  (click)="showpopupflag = !showpopupflag" href="javascript:void(0)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <div *ngIf='showpopupflag' class="add2mealplanmenu" style='height:180px'>
                    <a [ngClass]="planCompleteStatus?'a-enabled':'a-disabled' " (click)="showpopupflag = false; downloadplan() " href="javascript:void(0)">
                        <i class="fa fa-file-pdf-o"></i> Export
                    </a>
                    <a (click)="showpopupflag = false; getIngredientsList();" href="javascript:void(0)">
                        <i class="fa fa-download"></i>   Grocery List
                    </a>
                    <a [ngClass]="planCompleteStatus?'a-enabled':'a-disabled' "  (click)="showpopupflag = false; startPlan();" href="javascript:void(0)">
                        <i class="fa fa-play"></i>   Start Plan
                    </a>
                   
                </div>

        </div>
                               
      
        <div class="col-12">
           

            <div class="wrapper-search">
                   
                <div class="row">
                    <div class="col-12">
                        <app-search (returnData) = "resultSearch($event)" [isPlan] = "isPlan"></app-search>
                    </div>
                </div>
                <!--<div class="row" >
                    <div class="col-12 "  style="background:#FFF;  margin:0;  padding-bottom:20px;padding-left:0px; padding-right:0px;">
                        <div style="padding-left: 10px; padding-right: 10px;" class="col-12">
                            <label class="searchicon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <input type="text" [(ngModel)]="searchparam.q" (keyup.enter)="searchFilters()" class="inputbox" placeholder="Search Recipes..." />
                            <input  type="button"  (click)="searchFilters()" style="margin-bottom:10px;" 
                            [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Search">
                            <input  type="button"  (click)="clearFilters();loadRecipes();" style="margin-bottom:10px;" 
                            [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Clear">
                        </div>
                      
                        
                        <div  class="searchmorebar searchbaranim">
                            <div class="row mleft" >
                                <div class="col-12 col-lg-8 col-md-8" style="margin-bottom:10px;margin-left:0px;padding-top:10px;">
                                 
                                
                                    <div class="multi-select-lbl">
                                    <a [ngClass]="searchFilterLabels[0].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[0])">
                                        {{searchFilterLabels[0].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                      </a>

                                    <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 multi-select">
                                        <div class="filter-group">
    
                                                             
                                                <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                                    <div class="listSection  " id="healthLabels" >
                                                        <label class="container">{{hlabel.name}}
                                                        <input [(ngModel)] ="hlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                </ng-container>
    
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="multi-select-lbl">
                                    <a [ngClass]="searchFilterLabels[1].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[1])">
                                        {{searchFilterLabels[1].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                      </a>
                                    <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 multi-select">
                                        <div class="filter-group">
    
    
                                                 
                                                <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                    <div class="listSection  " id="diethLabels" >
                                                    <label class="container">{{dlabel.name}}
                                                        <input [(ngModel)] ="dlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                        <span class="checkmark"></span>
                                                    </label> 
                                                </div>
                                                </ng-container>
    
                                           
                                        </div>
                                    </div>
                                    </div>
                                    <div class="multi-select-lbl">
                                        <a [ngClass]="searchFilterLabels[2].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[2])">
                                            {{searchFilterLabels[2].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                          </a>
                                    <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  multi-select">
                                        <div class="filter-group">
    
                                            
    
                                                <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                    <div class="listSection " id="cuisineType">
                                                    <label class="container">{{setFLU(clabel.name)}}
                                                        <input [(ngModel)] ="clabel.selected" type="checkbox" [checked]="c == 0?'checked':''">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                </ng-container>
    
                                          
                                        </div>
                                    </div>
                                    </div>
                                    <div class="multi-select-lbl">
                                        <a [ngClass]="searchFilterLabels[3].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[3])">
                                            {{searchFilterLabels[3].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                          </a>
                                    <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  multi-select">
                                        <div class="filter-group">
    
                                           
    
                                                <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                    <div class="listSection " id="mealType">
                                                    <label class="container">{{setFLU(mlabel.name)}}
                                                        <input [(ngModel)] ="mlabel.selected" type="checkbox" [checked]="m == 0?'checked':''">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                </ng-container>
    
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="multi-select-lbl">
                                    <a [ngClass]="searchFilterLabels[4].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[4])">
                                        {{searchFilterLabels[4].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                      </a>
                                      <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  multi-select">
                                        <div class="filter-group">
                                       
                                                     <div class="row " style="margin-left:0px ;margin-right:0px;">
                                                        <ng-container *ngFor="let mlabel of mineralsLabelsList; let m = index">
                                                           
                                                        <div class="col-12 ">
                                                            <div class="row">
    
                                                          
                                                        <div class="col-12 ">
                                                            <label class="container">{{setFLU(mlabel.name)}}
                                                                <input [(ngModel)] = 'mlabel.selected' type="checkbox" [checked]="m == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <div class="col-5 paddinglr0" style="margin-bottom:15px;" *ngIf="mlabel.selected">
                                                          
                                                                <input class="mineral-input" type='text' name="minerals_{{m}}_min" [(ngModel)]="mlabel.min" placeholder="min" />
                                                                <span class="maxmin">{{formatVal(mlabel.t_min)}}</span>
                                                        
                                                        </div>
                                                        <div class="col-5 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected">
                                                            <input class="mineral-input" type='text' name="minerals_{{m}}_max" [(ngModel)]="mlabel.max" placeholder="max" />
                                                            <span class="maxmin">{{formatVal(mlabel.t_max)}}</span>
    
                                                        </div>
                                                        <div class="col-2 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                    </div>
                                                </div> 
                                            
                                            </ng-container>
                                                   
                                                  
                                                   
                                               
    
                                            </div>
                                        </div>
                                      </div>
                                      </div>
                                      <div class="multi-select-lbl">
                                        <a [ngClass]="searchFilterLabels[5].selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(searchFilterLabels[5])">
                                            {{searchFilterLabels[5].label}} <i class="fa fa-angle-down" aria-hidden="true"></i>
                                          </a>
                                      <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 multi-select">
                                        <div class="filter-group">
                                          
                                            <div class="listSection"  style="display:inline-block;margin:0px">
                                          
                                              <input [(ngModel)]="maxcalories" placeholder="Enter maximum calories" type="text" class="inputbox" style="margin-top:0px;width:180px" />
    
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-lg-4 col-md-4" style="margin-bottom:10px;margin-left:0px;text-align: right;padding-right: 15px;">

                                   
                            <input  type="button"  (click)="loadCustomRecipes()" style="margin-bottom:10px;margin-top:0px;" 
                            [ngClass]="' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="My Recipes">
                            <input  type="button"  (click)="loadFavourites();" style="margin-bottom:10px;margin-top:0px;" 
                            [ngClass]="' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Favourites">

                                 </div>

                
                       
                
                            </div>
                            
                              
                        
                        </div>
                     
                
                    </div>
                        
                        
                
                </div>-->
                <div class="col-12">
                    <div style='text-align:right;margin-top:0px;'>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <label for="title" style="font-size:16px;margin-right:10px;font-weight:normal;">Calories per Day</label>
                            <input style="width:100px;margin-bottom:5px;margin-top:0px;" class="inputbox " type="text" name="maxcaloryperday" id="maxcaloryperday" [(ngModel)]="maxcaloryperday"
                                (blur)="saveMealPlan()" /> 
                        </div> 
                        <div class="col-12 col-lg-4">
                       
                                <div style="display:block; margin:0 auto;text-align:right;width: 100%">
                                    
                                    <label *ngIf="showNutrientsFlag" class="container" style=" text-align: left;
                            display:inline-block;
                            width: 160px;
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 16px;">Show Nutrients
                                        <input class="showhidenut" id="showhidenut" (change)="showhidenutrients()"
                                            [(ngModel)]='showhidenutrientsFlag' type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                
                                    <div style="    display: inline-block;
                            width: 140px;
                            text-align: left;" *ngIf="showhidenutrientsFlag">
                                        <label class="container" style=" text-align: left;
                                        display: inline-block;
                                        width: 140px;
                                        font-family: 'Lato', sans-serif;
                                        font-weight: 400;
                                        font-size: 16px;">Per Serving
                                                        <input (change)="toggleNutrients('perserving')"
                                                            [(ngModel)]='showNutrientsPServing' type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                      
                                    </div>
                                </div>
                
                
                            </div>
                        </div>
                    </div>
                   
                </div>
                </div>

                <div style='height:10px; width:100%'></div>
                <div class="recipe-set" *ngIf="!noResult">
                    <div class="recipes-horizontal divoverflowh">

                        <div *ngIf="!recipesloading && recipesList.length == 0" style="background:#f8f8f8;padding:5px">
                            {{message}}
                        </div>
                        <div class="listing-search"  *ngFor="let recipe1 of recipesList; let i = index;">
                            <div class="details">
                                <div class="more" style="right: 10px;
                                text-align: center;
                                top: 20px;">
                                    <a (click)="showhidecontent(recipe1)" href="javascript:void(0)" [ngClass]="recipe1.showpopup?'contextmenu-icon active':'contextmenu-icon'" style=""><i class="fa fa-ellipsis-v"></i></a>
                                    <div *ngIf="recipe1.showpopup" style="top:30px;" class="contextmenu" [ngClass] = "i == 0? 'left130':'leftunset'"> 
                                       <a class="menu"  href="javascript:void(0)" (click)="recipe1.showpopup = false; addtoMealPlan(recipe1); "><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Meal</a>
                                  
                                        <a  class="menu" href="javascript:void(0)"  (click)="recipe1.showAdd2MP = false; recipe1.showpopup =false; gotoRecipeDetails( recipe1.id)" ><i class="fa fa-list"></i>View Recipe</a>
                                 

                                         </div>

                                    <div *ngIf='recipe1.showAdd2MP' class="" style="top:0; height: 160px; " [ngClass] = "i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)" (click)="recipe1.showAdd2MP = false;"><i class="fa fa-close" aria-hidden="true"></i> </a>
                                        <p class="title"  style="display:block"> Add Recipe to Meal Plan</p>
                                      
                                        <div style="display: inline-block;
                                        width: 49%;margin-right:2%">
                                        <select name="planday" [(ngModel)] ="addtoplan.day">
                                            <option value="{{day.id}}" placeholder="Choose day" *ngFor='let day of daysList; let i = index'>{{day.name}}</option>
                                        </select>
                                        </div>                                        <div style="display: inline-block;
                                        width: 49%;">
                                  
                                        <select name="planmealtype" placeholder="Choose meal type" [(ngModel)] ="addtoplan.mealType">
                                            <option value="{{i}}" *ngFor='let mealtype of mealTypeList; let i = index'>{{mealtype.name}}</option>
                                        </select>
                                    </div>
                                        <a style="display:block;" class="btn" href="javascript:void(0)" (click)="recipe1.showAdd2MP= false;add2Plan()"> Add to Plan</a>
                
                                                
                                    </div>
                                    <div *ngIf='recipe1.showAdd2C' class="add2mealplanmenu" style="top:0px;width:300px; z-index: 100; height:220px;">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)" (click)="recipe1.showAdd2C = false;"><i class="fa fa-close" aria-hidden="true"></i> </a>
                                        <p class="title" style="display:block"> Add Recipe to Collections</p>
                                        <p class="lbl">Choose Collection</p>
                                        <select name="collectionid" [(ngModel)] ="collection.id">
                                            <option value="{{collection.id}}" *ngFor='let collection of collectionsList; let i = index'>{{collection.collection_name}}</option>
                                        </select>
                                     
                                        <a class="btn" style="width:100%;display:block;" href="javascript:void(0)" (click)="add2Collection(recipe1)"> Add to Collection</a>
                                        
                                    </div>
                                    </div>
                                    <a hreaf="javascript:void(0)" title="Drag and Drop Recipe to add it to meal plan"><img style="width:90%; max-height:100px"  id="imagep_{{i}}"  draggable="true" (dragstart)="drag($event, i)" src="{{formatImage(recipe1, 'm')}}"
                            alt="image">  </a><br/>
                                <a title="{{recipe1.label}}"><span innerHTML="{{limitTo(recipe1.label, 20)}}" style="font-size:14px;padding-left:6px"></span></a>
                                <p style="font-size:14px;padding-left:6px">Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>
                                <div class="meta-listing">                                   
                                    <div *ngIf="showNutrientsFlag" style="display:inline-block;color: #5e676b;font-size:13px">
                                         <span style="font-size:12px;padding-left:6px">({{formatValPServing(recipe1.calories, recipe1.yield)}} Kcal / Serving)</span>
                                    </div>                                   
                                </div>
                            </div>
                          
                        </div>


                    </div>
                </div>
                <div class="recipe-set" *ngIf="noResult">
                    <p> No Results</p>
                </div>

        </div>
    </div>
    <div *ngIf="plan.name" class="row" style="text-align:center; margin:0 auto;">

        
            <div class="col-12 col-lg-12 paddinglr0">

            <div class="meal-plans-content">
            
                <div style="clear:both"></div>

                <div class="meal-row-wrapper meal-row__week-days">
                    <div style='width: 130px; display:inline-block;border-bottom:0px'></div>
                    <div class="meal-plan-row row">
                        <div [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-col col mealplan-col ':'meal-plan-col col mealplan-col20'"
                            *ngFor="let mealtype of mealsList; let d =index;">
                            <div class="meal-day"><span>{{mealtype.name}}</span></div>
                        </div>
                        <div *ngIf="showNutrients || showNutrientsPServing" class="meal-plan-col col mealplan-col">
                            <div class="meal-day"><span>Total</span></div>
                        </div>
                    </div>
                </div>
                <div class="divoverflow" style='width:100%; '>
                    <div class="meal-plan-row row">
                <div class=" mealplan-col" style='width: 100px; display:inline-block;'>
                    <ng-container *ngFor="let item of plan['days']; let r = index;">
                          
                        <div (click)="showDayData(r)" [ngClass]="item.expand?'dayname active':'dayname '"><span>{{item.name}}</span></div>
                    </ng-container>
                </div>
                <div class=" mealplan-col" style='width: calc(100% - 100px); display:inline-block;'>
                    <ng-container *ngFor="let item of plan['days']; let r = index;">
                    
                        
                           
                              
                                <div class="meal-row-wrapper" >
                            <div *ngIf="item.expand" class="meal-plan-column-container">
                                <div class="meal-plan-row">

                                    <div [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-slot mealplan-col':'meal-plan-slot mealplan-col20'"
                                        *ngFor="let meal of item.meals; let c= index;">
                                        <div class="panelr" *ngIf="meal.recipe">
                                            <div draggable="true">
                                                <div class="recipe-image-wrapper ">
                                                    <div class="recipe-image-card card">
                                                        <div class="recipe-image-card-content card-body">
                                                            <div class="image-card-container">
                                                                       <div class="morebtn"
                                                                    style="margin-top:-15px;margin-right:-5px"><a
                                                                        class="menu" (click)="toggleMoreMenu(meal, r,c)"
                                                                        href="javascript:void(0)"><i
                                                                            class="fa fa-ellipsis-v"
                                                                            aria-hidden="true"></i></a>

                                                                    <div class="moremenu" *ngIf="meal.recipe['expand']">


                                                                        <a href="javascript:void(0)"
                                                                            (click)="removeRecipe(r,c)"><i
                                                                                class="fa fa-trash"
                                                                                aria-hidden="true"></i> Remove</a>
                                                                        <a href="javascript:void(0)"
                                                                            (click)="meal.recipe['expand'] = false;viewRecipe(r,c)"><i
                                                                                class="fa fa-list-ul"
                                                                                aria-hidden="true"></i> View Recipe</a>
                                                                    </div>
                                                                </div>


                                                                <div class="recipe-name-box">{{meal.recipe.label}}</div>
                                                                <img *ngIf="showImages"
                                                                    class="recipe-image-card recipe-image-card__img open-fist-cursor"
                                                                    style="opacity: 1;"
                                                                    id="picture-5c252abdb834861eec5388f3"
                                                                    src="{{meal.recipe.image}}" alt="Recipe image">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf='meal.recipe.calories > 0' class="calories-item">
                                                <span *ngIf="showNutrients">
                                                    <a href="javascript:void(0)"
                                                        title="Calories : {{meal.recipe.calories}} Kcal">
                                                        {{meal.recipe.calories}} cal </a><br>
                                                    
                                                    Servings {{meal.recipe.yield}}
                                                </span>
                                                <span *ngIf="showNutrientsPServing">
                                                    <a href="javascript:void(0)"
                                                        title="Calories per Serving : {{formatValPServing(meal.recipe.calories, meal.recipe.yield)}}">
                                                        {{formatValPServing(meal.recipe.calories, meal.recipe.yield)}}
                                                        cal </a>
                                                  
                                                </span>
                                            </div>
                                            <div class="minerals" *ngIf="showNutrients">
                                               

                                                <ng-container *ngFor="let paramN of meal.recipe.minerals">

                                                    <div *ngIf='paramN.value > 0'
                                                        class='paramn'>
                                                        <div [ngStyle]="{'background-color':getColorCode(paramN)}"
                                                            style="display:inline-block; width:10px; height:10px;  margin-right:3px; ">
                                                        </div>
                                                        <a style="font-size:12px" href="javascript:void(0)"
                                                            title="{{setFLU(paramN.name)}} {{paramN.value}} {{paramN.unit}}">{{formatVal(paramN.value,2)}}
                                                            {{paramN.unit}} </a>

                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="minerals" *ngIf="showNutrientsPServing">
                                               

                                                <ng-container *ngFor="let paramN of meal.recipe.minerals">

                                                    <div *ngIf='paramN.value > 0'
                                                        class='paramn'>
                                                        <div [ngStyle]="{'background-color':getColorCode(paramN)}"
                                                            style="display:inline-block; width:10px; height:10px;  margin-right:3px; ">
                                                        </div>
                                                        <a style="font-size:12px"  href="javascript:void(0)"
                                                            title="Per Serving - {{setFLU(paramN.name)}} {{formatValPServing(paramN.value,meal.recipe.yield)}} {{paramN.unit}}">{{formatValPServing(paramN.value,meal.recipe.yield)}}
                                                            {{paramN.unit}} </a>

                                                    </div>
                                                </ng-container>
                                            </div>

                                        </div>
                                        <div style="min-height:130px" *ngIf="!meal.recipe" id="drop-{{r}}-{{c}}"
                                            (drop)="drop($event, r, c)" (dragover)="allowDrop($event)">
                                            <div id="image-placeholder-{{r}}-{{c}}"
                                                class="recipe-image-placeholder card">
                                                <div class="recipe-image-card-content  card-body"><img
                                                        *ngIf="showImages" id="target-{{r}}-{{c}}"
                                                        class="recipe-card-placeholder-image" src="{{addRecipeImage}}"
                                                        alt="Recipe Image Card">
                                                    <span *ngIf="!showImages">Add Image</span>
                                                </div>
                                            </div>
                                            <div class="calories-slot-sum">0 Calories</div>
                                        </div>
                                    </div>
                                    <div class="meal-plan-slot mealplan-col"
                                        *ngIf="showNutrients || showNutrientsPServing">

                                        <div class="minerals" *ngIf="showNutrients">
                                            <div style="clear:both"></div>
                                            <div style="display:block">
                                                <p class="totalnutrientstitle">Total Nutrients<br>
                                                    per day</p>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;'
                                                *ngFor="let totalM of calculateTotalNutrient(r) ">
                                                <div [ngStyle]="{'background-color':getColorCode(totalM)}"
                                                    style="display:inline-block; width:10px; height:10px;  margin-right:3px; ">
                                                </div>
                                                <a style="font-size:12px"  href="javascript:void(0)"
                                                    title="Total {{setFLU(totalM.name)}} {{formatValue(totalM.value)}} {{totalM.unit}}">{{formatValue(totalM.value)}}
                                                    {{totalM.unit}} </a>

                                            </div>

                                        </div>
                                        <div class="minerals" *ngIf="showNutrientsPServing">
                                            <div style="clear:both"></div>
                                            <div style="display:block">
                                                <p class="totalnutrientstitle">Total Nutrients <br>
                                                    per Day <br>
                                                    per serving</p>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;'
                                                *ngFor="let totalM1 of calculateTotalNutrientPServing(r) ">
                                                <div [ngStyle]="{'background-color':getColorCode(totalM1)}"
                                                    style="display:inline-block; width:10px; height:10px;  margin-right:3px; ">
                                                </div>
                                                <a style="font-size:12px"  href="javascript:void(0)"
                                                    title="Total {{setFLU(totalM1.name)}} per Serving : {{formatValue(totalM1.value)}} {{totalM1.unit}}">{{formatValue(totalM1.value)}}
                                                    {{totalM1.unit}} </a>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </ng-container>
</div></div>
                    

                </div>

                <div *ngIf="showNutrients || showNutrientsPServing" class="meal-row-wrapper meal-row__calories" style="display: block;
                height: 100px;
                text-align: left;
                width: 100%;
                margin-top: 10px;">
                <div style='    width: calc(100% - 100px); height: 100px;padding:10px; margin-left:100px;border-radius:10px;border:1px solid #FD815A;'>
                <em>Note:</em> <br>
                        <div style='float:left; padding:5px; margin-right:5px;display:flex; align-items: center;font-size:14px !important'
                            *ngFor="let ccode of colorCodes | keyvalue;">
                            <div [ngStyle]="{'background-color':ccode.value}"
                                style="display:inline-block; width:20px; height:20px;  margin-right:5px;"></div>
                            {{setFLU(ccode.key)}}
    
                        </div>
                        </div>                  

                </div>

            
                
            </div>
           

        </div>

    </div>

</div>
 <div class="panel-save">
               
                <button id="btnsaveplan" (click)="saveMealPlanStatus()" class="submit-comment"><i class="fa fa-cloud-upload"
                        aria-hidden="true"></i><span> Save Plan</span></button>
            </div>
</div>





<jw-modal id="popuppanel" style="display:none;" [width]="40">
    <div class="" style="min-height:400px;padding:25px;">

        <div style="border:1px solid #ccc; border-radius:15px; padding:15px">

            <div class="modal-header" style="border-bottom:0px;">
                <h4><b>Grocery List</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal('popuppanel');" style="font-size:40px;color:#555;opacity:1">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="border-bottom:0px;min-height: 430px;">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12 infoModal"
                        style='max-height:400px; border:0px;margin-top:0px; text-align:center'>
                        <ng-container *ngFor="let item of shoppingList; let i = index">
                            <div class="items" *ngIf='item.quantity > 0' style="padding:10px;text-align:left;">
                                <div style='float:left'>{{setFLU(item.name)}}</div>
                                <div style='float:right'>
                                    {{formatNumber(item.quantity)}} {{item.unit}}<br>
                                 
                                </div>
                                <div style='clear:both'></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jw-modal>