@import "../../../variables.scss";


.community_panel, .community_img
{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.community_details
{
  position: absolute;
  margin-bottom: 10px;
  top:0px;
  left: 15px;
  right: 15px;

  padding: 10px;
  background-position: center;
  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color:#FFF;
  font-family: 'Lato', sans-serif;
  .name
  {
    font-weight: 700;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}
  
  .details
  {
    font-size: 16px;
    font-family: 'Lato', sans-serif;  color:#FFF;
  }
}





.commentitem
{
  display:flex;
  align-items:flex-start;
  vertical-align: top;
  .userimage
  {
    display:inline-block; width: 30px; height:30px; 
      img
      {
        border-radius:50%;
      }
  }
  .commenttext
  {
    display:inline-block;
    margin-left:10px;
    .actions
    {
      padding:10px;
      .action
      {
        margin-right:10px;
        font-weight:bold;
      }
      .action:hover
      {
        cursor: pointer;
      }
    }
  }
  .commentmsg
  {
    background: $white-half;    
    padding:5px 10px;
    border-radius:15px;
    .name{
      font-size:14px;
      font-weight:bold;
    }
    .msg
    {
      font-size:16px;
    }
  }
}