<div class="questions-panel">
  <div *ngIf="!processing">

  <div class="q-panel" *ngIf="questions && questions[currentQuestion]">
  
        <h2 class="question-text">{{getFLU(questions[currentQuestion].question)}}</h2>
  
    
  
    <div *ngIf="questions[currentQuestion]['type'] == 'text'">
  
      <input class="input-text" type="text" (keyup)="setAnswerText(questions[currentQuestion])" placeholder="Please enter value" style="font-size:14px" name = "question{{currentQuestion}}" [(ngModel)]="questions[currentQuestion]['answer']">
      <span style='margin-left: 10px; font-size: 14px;' *ngIf="questions[currentQuestion].textlabel">{{questions[currentQuestion].textlabel}}</span>
  
      <div class="opts" *ngIf="questions[currentQuestion] && questions[currentQuestion].options &&  questions[currentQuestion].options.length > 0">
        <div (click)="toggleChoice(questions[currentQuestion], questions[currentQuestion].options, i)" [ngClass]="opt.selected?'opt sel':'opt'" *ngFor="let opt of questions[currentQuestion].options; let i = index;">{{opt.name}}</div>
  
      </div>
     
    </div>
  
    <div class="options-panel" *ngIf="questions[currentQuestion]['type'] == 'option' || questions[currentQuestion]['type'] == 'checkbox'">
  
      <div *ngIf="questions[currentQuestion]['answers'] && questions[currentQuestion]['answers']['length'] > 0">
        <div [ngClass]="questions[currentQuestion]['answer'] == answer.text?'btn-panel active':'btn-panel'" (click)="setAnswer(answer)" *ngFor="let answer of questions[currentQuestion]['answers']; let a = index;">
          <div  class="answer-box" >
            {{getFLU(answer.text)}}
            <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"><br>{{getFLU(answer.subtext)}}</span>
          </div>
          <div class="tick-mark">
            <i class="fa fa-check"></i>
          </div>
        </div>
    
      </div>
    </div>
  <div style="width:100%; margin:0 auto;text-align:center;">
  
  <button [disabled] = "params['question'+ (currentQuestion+1)] == ''" *ngIf="currentQuestion < questions.length -1" [ngClass]="params['question'+ (currentQuestion+1)] !== ''?'btn-next active':'btn-next'" (click)="next()">Next</button>
  <button [disabled] = "params['question'+ (currentQuestion+1)] == ''" *ngIf="currentQuestion == questions.length -1" [ngClass]="params['question'+ (currentQuestion+1)] !== ''?'btn-next active':'btn-next'" (click)="complete()">Complete</button>
  </div>
  </div>
  </div>
    <div *ngIf="processing">
      <img class="rotate" src="assets/loading.png" />
      
    </div>
  </div>