

@import "../../../../_variables.scss";



.questions-panel
{

/*background: url("../../../../assets/bg/bg6.png") !important; */
background-size: cover;
}
.q-panel
{
    width: 90%;
    margin:0 auto;
    text-align:left;
}
.question-text
{
    margin-top:30px;
    margin-bottom:30px;
    color:#FFF;
    font-weight:bold;
}
.input-text
{
    padding: 20px;
    border: 0;
    width: 80%;
    border-bottom: 2px solid #999;
    outline:0;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 25%);
}

.input-text:focus, .input-text:hover
{
    border-bottom: 2px solid $orange;
}
.btn-panel
{
    width:100%;
    background:#ffffff;
    border:2px solid #999;
    color:#000;
    border-radius:5px;
    margin-bottom:20px;
  //  background:var(--orange);
  display:flex;
  box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 25%);

}
.btn-panel.active
{
    width:100%;
    background:#FFF;
    color:#000;
    border: 2px solid $orange;
}

.answer-box
{
    width: 85%;
    margin:0 auto;
    text-align:left;
    padding:10px 25px;
    display:inline-block;
    font-size:14px;
}
.tick-mark
{
  width: 15%;
    display: inline-block;
    color: #f1f2f3;
    font-size: 16px;
    font-weight: 900;
    margin-top: 5px;
}
.btn-panel.active .tick-mark
{
    display: inline-block;
    color:$orange;
}
.btn-panel .tick-mark i{
    background: #FFF;
    color: #FFF;
    border-radius: 50%;
    padding: 5px;
}

.btn-panel.active .tick-mark i{
    background: $orange;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.answer-box.active
{
    border:1px solid $orange;
}
.btn-next
{
    margin:0 auto;
  // position:absolute;
  // bottom:20px;
    width: 50%;
    margin-top:20px;
  //  left:15%;
    background: #ccc;
    padding:5px 10px;
    color:#FFF;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 25%);
}
.btn-next.active
{
    background: $orange;
}
.options-panel
{
    max-height:300px;
    overflow:auto;
}






.leftradius
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rightradius
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.opts
{
  display: inline-block;
  margin-left:10px;
  margin: 30px auto;
    text-align: center;
    width: 100%;
}

.opts .opt:nth-child(1)
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.opts .opt:nth-child(2)
{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.opt
{
  padding:5px 10px;
  color:#000;
  background:#eee;
  display:inline-block;
  font-size: 14px;
}
.opt.sel
{
background: $orange;
color:#FFF;
}

.rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


  .desktoponly
{
  display:none;
}
.mobileonly
{
  display:block;
}



