<div class="recipes-home-body inner-page" *ngIf="searchRes">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-lg-9">
    <div class="recipe-set ">

<div class="wrapper-detail-contents detail-2">
    <div class="single-recipe-detail">
        <div class="wrapper-recipe-heading">
            <div class="heading">
                <!--<h2>{{searchRes.label}}</h2>-->
                <h2>Recipe Details</h2>
    
            </div>
            <div class="recipe-media">
                <a class="print-button" href="javascript:void(0)"><i class="fa fa-print"></i> Print Recipe</a>
            </div>
        </div>
        <div class="row fadeInLeft animated newanim" *ngIf='searchRes'>
            <div class="col-12 col-lg-6" style="padding-left:0px; padding-right:0px;">
                <img src="{{searchRes.image}}" alt="slide" style='width:100%;max-height:400px'>       
            </div>
            <div class="col-12 col-lg-6"  style="padding-left:0px; padding-right:0px; background: #ffffff;">
                <div class="outerbox">
                    <div class="innerbox">
                        <!--<p class="tag">Recipe Details</p>-->
                        <p style="text-align:center;margin:10px 0px;">
                            <a  class="label" href="javascript:void(0)">{{searchRes.label}}</a>
                        </p>
                        <div class="short-separator" style="margin-top:10px"></div>
                        <div class="recipe-details-group">
                            <div class="recipe-details" *ngIf="searchRes.totalWeight">
                            <p>Total Weight:</p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.totalWeight)}} g</a> 
                            </p>
                            </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.calories">
                            <p>Calories:</p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{formatValue(searchRes.calories)}} kcal</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.yield">
                            <p>Servings:  </p>
                            <p style="display:block;">
                                <a href="javascript:void(0);"  class="hlabel">{{searchRes.yield}}</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                            <div class="recipe-details" *ngIf="searchRes.dietLabels">
                            <p>Diet Labels:</p>
                            <p style="display:block;">
                                <a href="recipes;diet={{dlabel}}"  class="hlabel" *ngFor="let dlabel of formatLabels(searchRes.dietLabels)">{{dlabel}}</a> 
                            </p>
                        </div>
                            <p style="clear:both"></p>
                            
                            <div class="recipe-details" *ngIf="searchRes.healthLabels">
                            <p>Health Labels:</p>
                            <p style="display:inline-block;">
                                <a href="recipes;health={{hlabel}}" class="hlabel" *ngFor="let hlabel of formatLabels(searchRes.healthLabels)">{{hlabel}}</a> 
                            </p>
                        </div>
                            <p style="clear:both; padding-bottom:10px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
       <div class="slider-recipe-detail2 recipe-of-day animated wow fadeInLeft" style="display:none">

            <div class="wrapper-slider-detail" *ngIf="searchRes.image">
                <img src="{{searchRes.image}}" alt="slide" style='width:400px;height:400px'>            
            </div>
            <div class="recipe-details-outer">
                    <div class="recipe-contents text-center">
                        <div class="recipe-content-inner">
                            <span class="tag">Recipe of the Day</span>
                            <h2><a href="javascript:void(0)">Pasto Pizza With Fillas Cheese Topping</a></h2>
                            <div class="short-separator"></div>
                            <p>
                                Nam ornare arcu turpis, nec congu
                                Curabitur quis euismod...
                            </p>
                            <a class="read-more" href="javascript:void(0)">read more</a>
                        </div>
                    </div>
                </div>
            <!--<a href="https://vimeo.com/15306847" class="swipebox slider-video-button">Watch Video</a>-->
        </div>
    </div>
    
    
    <div class="recipe-detail-body">
    <div class="rating-box">
        <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
            <i class="fa fa-star"></i>
          </span>
        <span class="rating-figure">(4.1 / 5)</span>
    </div>
    <!--<ul class="pre-tags">
        <li><span>Cuisine : </span>Chinese</li>
        <li><span>Course : </span>Side Dish</li>
        <li><span>Skill Level : </span>Advanced</li>
    </ul>-->
    <div class="separator-post"></div>
    <p>
      <!--  Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade. Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight icken pieces in cold water and pat dry.-->
    </p>
    <br>
   <!--  <div class="ingredients-checkbox">
       
        <div class="nutritional">
            <h3>Nutritional 12</h3>
            <ng-container *ngFor="let macro of paramMicro; let m=index; let even = even">
                <div *ngIf="even" class="nutrition-detail">
                    <div class="left-box">
                        {{paramMicro[m].label}}
                        <br>
                        <span>{{paramMicro[m].totalP}}{{paramMicro[m].unit}}</span>
                    </div>
                    <div class="right-box" *ngIf="paramMicro[m+1]">
                        {{paramMicro[m+1].label}}
                        <br>
                        <span> {{paramMicro[m+1].totalP}}{{paramMicro[m+1].unit}}</span>
                    </div>
                </div>
                <div *ngIf="even" class="separator-post"></div>
            </ng-container>
        </div>
    </div> -->
    

    <div class="ingredients-checkbox" style="min-height:400px">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul *ngIf="searchRes && searchRes.ingredients && searchRes.ingredients.length> 0">
                <ng-container *ngFor="let ingr of searchRes['ingredients']; let j=index">
                <li>
 
                    <label>
                       <!--<img src="assets/images/tick.png" style='width:30px; height:30px; display:inline-block'>-->
                        <!--<input type="checkbox">-->
                        {{ingr.text}}
                    </label>
                </li>
            </ng-container>
             </ul>
        </div>
        <div class="nutritional newitems">
            <h3>Nutritional</h3>
            <ng-container *ngFor="let macro of paramMicro; let m=index; ">
                <div class="nutrition-detail newitem">
                    <div class="left-box">
                        {{paramMicro[m].label}}
                        <br>
                        <span>{{paramMicro[m].totalP}}{{paramMicro[m].unit}}</span>
                    </div>
                    <!--<div class="right-box" *ngIf="paramMicro[m+1]">
                        {{paramMicro[m+1].label}}
                        <br>
                        <span> {{paramMicro[m+1].totalP}}{{paramMicro[m+1].unit}}</span>
                    </div>-->
                </div>
                <div *ngIf="even" class="separator-post"></div>
            </ng-container>
        </div>
    </div>


    <div class="recipe-steps">
        <h3 class="lined">Step by Step method</h3>

                <div class="row" *ngFor="let instr of searchRes['instructions']; let j=index; let even = even;">
                    <div class="col-sm-9">
                        <p>
                            {{instr}}
                        </p>
                        <br>
                    </div>
                    <div class="col-sm-3">
                        <img style="max-height: 150px;" *ngIf="searchRes['ingredients'][j] && searchRes['ingredients'][j]['image']" src="{{searchRes['ingredients'][j]['image']}}" alt="image">
                    </div>
                </div>
         
    
    </div>
    
    
    <div class="tips-variations">
        <h3>Tips &amp; variations</h3>
        <ul>
            <li *ngFor="let instr of searchRes['instructions']; let j=index">
                <p>
                   {{instr}}
                </p>
            </li>
        </ul>
    </div>
    
    <div class="separator-post"></div>

    <div class="tags-icons">
        <div class="row">
            <div class="col-sm-7">
                <div> Source: <a href="{{searchRes.url}}" target="_blank">{{searchRes.source}}</a></div>
                <div class="details-tags">
                    <ul>
                        <li *ngFor="let tag of formatDietLabels(); let t= index;"><a href="javascript:void(0)">{{tag}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="details-social-icons">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        <!--     <div class="col-12" >
                <fieldset class="rating" style="float:right">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Nice one - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="I will Recommend - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Can recommend - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="I will try this - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Can try - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Good- 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Good - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Not Good- 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Not Good - 0.5 stars"></label>
</fieldset>
            </div> -->
        </div>
    </div>
    </div>


    
   
    <div class="related-recipes" *ngIf="listParams">
        <h3 class="lined">Related Recipes</h3>
    <app-listpanel [updated] = "updated" [params] = "listParams"></app-listpanel>
    </div>
    
    
    <div class="recipe-comments">
        <h3 class="lined">Comments (2)</h3>
        <ul>
            <li>
                <div class="avatar">
                    <a href="javascript:void(0)"><img src="assets/images/temp-images/recipe-comment1.jpg" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a href="javascript:void(0)">John Doe</a></h5>
                    <span class="time">(2hours ago)</span>
                    <p>
                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                    </p>
                    <!--<a href="javascript:void(0)" class="reply-button">Reply</a>-->
                </div>
    
            </li>
    
            <li>
                <div class="avatar">
                    <a href="javascript:void(0)"><img src="assets/images/temp-images/recipe-comment1.jpg" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a href="javascript:void(0)">John Doe</a></h5>
                    <span class="time">(2hours ago)</span>
                    <p>
                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                    </p>
                    <!--<a href="javascript:void(0)" class="reply-button">Reply</a>-->
                </div>
            </li>
        </ul>
    </div>
    
    <div class="comment-form">
        <h3 class="lined">Leave Comment</h3>
    
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="email" name="email" placeholder="Email">
                </div>
            </div>
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea>
            <button class="submit-comment">Submit</button>
        </form>
    </div>
    
    
    </div>
    </div>
    </div>

    <div class="col-md-5 col-lg-3">
    <aside>
    <div class="side-bar">
   
    
    <app-sidebar></app-sidebar>
    </div>
    </aside>
    </div>
    </div>
    
    </div>
    </div>