<div class="recipes-home-body inner-page" *ngIf="searchRes">
    <div class="container">
    <div class="row">
    <div class="col-md-8 col-lg-9">
    <div class="recipe-set ">
    <div class="wrapper-detail-contents detail-2">
    <div class="single-recipe-detail">
        <div class="wrapper-recipe-heading">
            <div class="heading">
                <h2>{{searchRes.label}}</h2>
    
            </div>
            <div class="recipe-media">
                <a class="print-button" href="javascript:void(0)"><i class="fa fa-print"></i> Print Recipe</a>
            </div>
        </div>
    
       <div class="slider-recipe-detail2">
            <div class="wrapper-slider-detail" *ngIf="searchRes.image">
                <img src="{{searchRes.image}}" alt="slide" style='width:100%; max-height:410px;'>
              <!--   <div class="recipe-slider">
                    <div class="slider-detail2 slick-initialized slick-slider">
                        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 5929px; transform: translate3d(-5082px, 0px, 0px); transition: transform 500ms ease 0s;"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="0" role="option" aria-describedby="slick-slide04" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="0"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 847px;">
                            <a href="assets/images/temp-images/slide-recipe2-detail.jpg" class="swipebox" rel="recipe-gallery" tabindex="-1"><img src="assets/images/temp-images/slide-recipe2-detail.jpg" alt="slide"></a>
                        </div></div></div>
                        
                        

                        
                    </div>
                    <span class="custom-arrows wider">
                        <span class="left-arrow slick-arrow" data-direction="prev" style="display: block;"><i class="fa fa-arrow-left"></i></span>
                        <span class="right-arrow slick-arrow" data-direction="next" style="display: block;"><i class="fa fa-arrow-right"></i></span>
                    </span>
                </div>
    
                <ul class="recipe-specs-2">
                    <li><span>Yield : </span>5 Grills</li>
                    <li><span>Servings : </span>5</li>
                    <li><span>Prep Time : </span>30m</li>
                    <li><span>Cook Time : </span>40m</li>
                    <li><span>Ready In : </span>1:40h</li>
                </ul>-->
            </div>
            <!--<a href="https://vimeo.com/15306847" class="swipebox slider-video-button">Watch Video</a>-->
        </div>
    </div>
    
    
    <div class="recipe-detail-body">
    <div class="rating-box">
        <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
            <i class="fa fa-star"></i>
          </span>
        <span class="rating-figure">(4.1 / 5)</span>
    </div>
    <!--<ul class="pre-tags">
        <li><span>Cuisine : </span>Chinese</li>
        <li><span>Course : </span>Side Dish</li>
        <li><span>Skill Level : </span>Advanced</li>
    </ul>-->
    <div class="separator-post"></div>
    <p>
        Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade. Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight icken pieces in cold water and pat dry.
    </p>
    <br>
    <div class="ingredients-checkbox">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <ul *ngIf="searchRes && searchRes.ingredients && searchRes.ingredients.length> 0">
                <ng-container *ngFor="let ingr of searchRes['ingredients']; let j=index">
                <li>
 
                    <label>
                        <input type="checkbox">
                        {{ingr.text}}
                    </label>
                </li>
            </ng-container>
             <!--   <li>
                    <label>
                        <input type="checkbox">
                        60 ml extra virgin olive oil
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        230 g bacon, diced into 1/4 -inch pieces
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        120 ml dry white wine
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        3 large eggs
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        180 ml grated parmesan cheese
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox">
                        1 Spoon Salt
                    </label>
                </li>
            -->
            </ul>
        </div>
        <div class="nutritional">
            <h3>Nutritional</h3>
            <ng-container *ngFor="let macro of paramMicro; let m=index; let even = even">
                <div *ngIf="even" class="nutrition-detail">
                    <div class="left-box">
                        {{paramMicro[m].label}}
                        <br>
                        <span>{{paramMicro[m].totalP}}{{paramMicro[m].unit}}</span>
                    </div>
                    <div class="right-box" *ngIf="paramMicro[m+1]">
                        {{paramMicro[m+1].label}}
                        <br>
                        <span> {{paramMicro[m+1].totalP}}{{paramMicro[m+1].unit}}</span>
                    </div>
                </div>
                <div *ngIf="even" class="separator-post"></div>
            </ng-container>
            <!--<div class="nutrition-detail">
                <div class="left-box">
                    Deitary Fiber
                    <br>
                    <span>50g</span>
                </div>
                <div class="right-box">
                    Sodium
                    <br>
                    <span>10g</span>
                </div>
            </div>
            <div class="separator-post"></div>
            <div class="nutrition-detail">
                <div class="left-box">
                    Fat Total
                    <br>
                    <span>60g</span>
                </div>
                <div class="right-box">
                    Carbohydrate
                    <br>
                    <span>0</span>
                </div>
            </div>
            <div class="separator-post"></div>
            <div class="nutrition-detail">
                <div class="left-box">
                    Energy
                    <br>
                    <span>900mg</span>
                </div>
                <div class="right-box">
                    Cholesterol
                    <br>
                    <span>80g</span>
                </div>
            </div>-->
    
        </div>
    </div>
    
    <div class="recipe-steps">
        <h3 class="lined">Step by Step method</h3>

                <div class="row" *ngFor="let instr of searchRes['instructions']; let j=index; let even = even;">
                    <div class="col-sm-9">
                        <p>
                            {{instr}}
                        </p>
                        <br>
                       <!-- <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p> -->
                    </div>
                    <div class="col-sm-3">
                        <img  style="    max-height: 150px;" *ngIf="searchRes['ingredients'][j]['image']" src="{{searchRes['ingredients'][j]['image']}}" alt="image">
                    </div>
                </div>
          

               <!-- <div class="row">
                    <div class="col-sm-7">
                        <p>
                            Rinse the chicken pieces in cold resealable zip-top bag and pour in the marinade.
                        </p>
                        <br>
                        <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/temp-images/steps-tab1.jpg" alt="image">
                    </div>
                </div>
  
                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            Rinse the chicken pieces in cold  and pour in the marinade.
                        </p>
                        <br>
                        <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/temp-images/steps-tab1.jpg" alt="image">
                    </div>
                </div>
           
                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            Rinse the chicken pieces in cold water and pat dry.
                        </p>
                        <br>
                        <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/temp-images/steps-tab1.jpg" alt="image">
                    </div>
                </div>
      
                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/temp-images/steps-tab1.jpg" alt="image">
                    </div>
                </div>
     
    
        
                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                        </p>
                        <br>
                        <p>
                            Toss the chicken inside the bag to cover evenly with the marinade and refrigerate for 12 hours or as long as overnight.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="assets/images/temp-images/steps-tab1.jpg" alt="image">
                    </div>
                </div>-->
         
    
    </div>
    
    
    <div class="tips-variations">
        <h3>Tips &amp; variations</h3>
        <ul>
            <li *ngFor="let instr of searchRes['instructions']; let j=index">
                <p>
                   {{instr}}
                </p>
            </li>
            <!--<li>
                <p>
                    Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag
                    and pour in the marinade.
                </p>
            </li>
            <li>
                <p>
                    Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag
                    and pour in the marinade. Toss the chicken inside the bag to cover.
                </p>
            </li>-->
        </ul>
    </div>
    
    <div class="separator-post"></div>
    <div class="tags-icons">
        <div class="row">
            <div class="col-sm-7">
                <div class="details-tags">
                    <ul>
                        <li *ngFor="let tag of formatDietLabels(); let t= index;"><a href="javascript:void(0)">{{tag}}</a></li>
                        <!--<li><a href="javascript:void(0)">pizza</a></li>
                        <li><a href="javascript:void(0)">potato</a></li>
                        <li><a href="javascript:void(0)">roasted</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="details-social-icons">
                    <ul>
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    
   <!-- <div class="about-chef">
        <h3 class="lined">About Chef</h3>
        <div class="listing">
            <div class="image">
                <div class="image-inner">
                    <a href="javascript:void(0)"><img src="assets/images/temp-images/about-chef-detail.jpg" alt="chef"></a>
                </div>
            </div>
            <div class="detail">
                <div class="row">
                    <div class="col-sm-8">
                        <h4><a href="javascript:void(0)">james anderson</a></h4>
    
                    </div>
                    <div class="col-sm-4">
                        <ul class="chef-social-links">
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <p>
                    Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large,
                    resealable zip-top bag and pour in the marinade. Toss the chicken inside the
                    bag to cover evenly with the marinade and refrigerate.
                </p>
                <a href="javascript:void(0)" class="read-more-angle">Read More</a>
            </div>
        </div>
    </div>-->
    <div class="related-recipes" *ngIf="listParams">
        <h3 class="lined">Related Recipes</h3>
    <app-listpanel [updated] = "updated" [params] = "listParams"></app-listpanel>
    </div>
    
    
    <div class="recipe-comments">
        <h3 class="lined">Comments (2)</h3>
        <ul>
            <li>
                <div class="avatar">
                    <a href="javascript:void(0)"><img src="assets/images/temp-images/recipe-comment1.jpg" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a href="javascript:void(0)">John Doe</a></h5>
                    <span class="time">(2hours ago)</span>
                    <p>
                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                    </p>
                    <a href="javascript:void(0)" class="reply-button">Reply</a>
                </div>
    
                <ul>
                    <li>
                        <div class="avatar">
                            <a href="javascript:void(0)"><img src="assets/images/temp-images/recipe-comment2.jpg" alt="avatar"></a>
                        </div>
                        <div class="comment">
                            <h5><a href="javascript:void(0)">John Doe</a></h5>
                            <span class="time">(2hours ago)</span>
                            <p>
                                Rinse the chicken pieces in cold water and pat dry. Place the chicken
                            </p>
                            <a href="javascript:void(0)" class="reply-button">Reply</a>
                        </div>
                    </li>
                </ul>
            </li>
    
            <li>
                <div class="avatar">
                    <a href="javascript:void(0)"><img src="assets/images/temp-images/recipe-comment1.jpg" alt="avatar"></a>
                </div>
                <div class="comment">
                    <h5><a href="javascript:void(0)">John Doe</a></h5>
                    <span class="time">(2hours ago)</span>
                    <p>
                        Rinse the chicken pieces in cold water and pat dry. Place the chicken in a large, resealable zip-top bag and pour in the marinade.
                    </p>
                    <a href="javascript:void(0)" class="reply-button">Reply</a>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="comment-form">
        <h3 class="lined">Leave Comment</h3>
    
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="col-md-6">
                    <input type="email" name="email" placeholder="Email">
                </div>
            </div>
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Message"></textarea>
            <button class="submit-comment">Submit</button>
        </form>
    </div>
    
    
    </div>
    </div>
    </div>

    <div class="col-md-4 col-lg-3">
    <aside>
    <div class="side-bar">
   
    
    <app-sidebar></app-sidebar>
    </div>
    </aside>
    </div>
    </div>
    
    </div>
    </div>