@import "../../variables";

.tstbite-animation {
  display: block;
  overflow: hidden
}

.tstbite-animation img {
  transform: scale(1);
  transition: all ease .8s
}

.tstbite-animation:hover img {
  transform: scale(1.1)
}



.tstbite-card {
  position: relative
}

.tstbite-card:hover figcaption a {
  color: #ff642f
}

.tstbite-card:hover .tstbite-animation img {
  transform: scale(1.1)
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

h5, .h5, .h5 {
    font-size: 36px;
}

big, .big {
    font-size: 18px;
}
.font-weight-semibold {
    font-weight: 600!important;
}
.mt-1 {
    margin-top: .25rem!important;
}
.d-block {
    display: block!important;
}
a {
    color: #000;
}

a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }

        text-black-50 {
  color: rgba(0, 0, 0, .5)!important
}

.btn-outline-dark {
    background-color: transparent;
    border-color: #000;
    color: #000;
}
.btn {
    font-weight: 500;
}
.newitems
{
  position: relative;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.newitem
{
  position:absolute;
  width: 60px;
  height: 60px;
  top: 100px;
  left: 50px;
  background: red;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
  color:#FFF;
  transition: 0.5s;
}

.ingredients ul li::before{
  font-family: FontAwesome;
  content: "\f00c";
  display: inline-block;
  font-size: 15px;
  position: absolute;
  left: 0;
  line-height: 26px;
}
.newitem:nth-child(1)
{
  top:29px;
  left: 95px;
  background: $bgcolor1;
  transition: 0.9s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
//-webkit-animation: load 5s infinite;
//animation: load 5s infinite;
} 

.newitem:nth-child(2)
{
  top: 30px;
  left: 170px;
  background: $bgcolor2;
//  -webkit-animation: load 5s infinite 0.5s;
 // animation: load 5s infinite 0.5s;
} 


.newitem:nth-child(3)
{
  top: 100px;
    left: 40px;
    background: $bgcolor3;
  //  -webkit-animation: load 5s infinite 1.5s;
  //  animation: load 5s infinite 1.5s;

} 

.newitem:nth-child(4)
{
  top: 110px;
  left: 110px;
  background: $bgcolor4;
 // -webkit-animation: load 5s infinite 1.7s;
 // animation: load 5s infinite 1.7s;
} 

.newitem:nth-child(5)
{
  top: 100px;
  left: 220px;
  background: $bgcolor5;
 // -webkit-animation: load 5s infinite 1.9s;
 // animation: load 5s infinite 1.9s;
} 

.newitem:nth-child(6)
{
  top: 170px;
  left: 10px;
  background: $bgcolor6;
// -webkit-animation: load 5s infinite 0.7s;
 // animation: load 5s infinite 0.7s;
} 

.newitem:nth-child(7)
{
  top:175px;
  left: 90px;
  background: $bgcolor7;
//  -webkit-animation: load 5s infinite 1.2s;
//  animation: load 5s infinite 1.2s;
} 

.newitem:nth-child(8)
{
  top: 180px;
    left: 150px;
    background: $bgcolor8;
  //  -webkit-animation: load 5s infinite 1.4s;
  //  animation: load 5s infinite 1.4s;
} 



.newitem:nth-child(9)
{
  top: 250px;
  left: 10px;
  background: $bgcolor9;
} 


.newitem:nth-child(10)
{
  top: 250px;
  left: 80px;
  background: $bgcolor10;
} 

.newitem:nth-child(11)
{
  top:250px;
  left: 150px;
  background: $bgcolor11;
} 

.newitem:nth-child(12)
{
  top: 320px;
  left: 20px;

  background: $bgcolor12;
} 


.newitem:nth-child(13)
{
  top: 320px;
    left: 120px;
    background: $bgcolor13;
} 

.newitem:nth-child(14)
{
  top: 320px;
  left: 230px;
  background: $bgcolor14;
} 

.newitem:nth-child(15)
{
  top:29px;
  left: 30px;
  background: $bgcolor15;
} 


 .recipe-details-outer {
  position: absolute;
  left:350px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}