<div class="contentpage">

	<div class="centertext"> 
		Lost your password? 
	</div>
	<hr>
	<div *ngIf="result == 0">	
		<div class="centertext" style="font-size:14pt"> 
				Lost your password? Please enter your email address. You will receive a link to create a new password via email.
		</div>

		<div style="width:40%;min-width: 200px;margin:0 auto;">
			<div class="form-group">
				<input  type="text" id="userName" class="form-control" required [(ngModel)]="userName">
				<label class="form-control-placeholder fcs" for="userName">Email <span class="mandatory">&#42;</span></label>
			</div>	
		</div>
		<div class="row" style="margin:20px auto; height: 150px;">
			<div class="col-12" class="group">
				<button class="button" (click)="resetpass()">RESET PASSWORD &nbsp;<i class="fa fa-chevron-circle-right"></i> </button>
			</div>
		</div>
	</div> 
	<div style="width:80%; margin:0 auto; min-height: 365px;" *ngIf="result == 1">	
		<p class='res-success'><i class="fa fa-check-circle"></i> Password reset email has been sent.</p>
		<p>A password reset email has been sent to the email address for your account, but may take several minutes to show up in your inbox. Please wait atleast 10 minutes before attempting another reset.</p>
	</div>
	<div style="width:80%; margin:0 auto; min-height: 365px;" *ngIf="result == 2">	
		<p class='res-warning'><i class="fa fa-check-circle"></i> Invalid email address</p>
	</div>
</div>