<div class="fixedtop">

  <div class="container">
  <div class="row">
                    <div class="col-md-12 col-lg-12" style="padding-left:0px;padding-top:20px">
                      <div class="recipe-set">         
                          <h2>Features</h2>
                         
                      </div>
                      </div>
                    </div>
<div class="row" >
   

   <section class="home-sec" >
      <div class="container col-12 ">
         <div class="row home-sec-box">
	     
	           <div class="row secL" *ngFor="let step of stepsList; let i = index;">
		            <div class="col-12 col-lg-6">
			           <!--  <h1 class="text-lg-left mb-4 title">{{step.subtitle}}</h1> -->
                  <h3 class="subtitle">{{step.subtitle}}</h3>
                   <p class="text-justify mb-5 description"  style=" direction: ltr;">{{step.description}}</p>
			            <div *ngIf="i %2 ==0" class="arrowimg" style="text-align:right;">
			               <img style=" height: 150px" src="assets/images/temp-images/arrow-right.svg" />
			            </div>
			            <div *ngIf="i %2 ==1" class="arrowimg" style="text-align:left">
			               <img style=" height: 150px" src="assets/images/temp-images/arrow-left.svg" />
			            </div>
		            </div>
		            <div class="col-12 col-lg-6" style="text-align:center;">
				         <img src="{{step.image}}" style=" height: 250px" class="rounded-bg specialty-image w-80">
		             </div>
	            </div>
	            <div class="row">
		            <div class="col-12" style="text-align:center;margin-top:20px;">
			            <a href="javascript:void(0);" (click)="gotopage('pricing')" class="getstarted">Get Started</a>
		            </div>
	            </div>
          
         </div>
      </div>
   </section>



   </div>
</div>
</div>
<!--- testimonial slider   commented for now - needed in future releases - dont remove-->
<!-- <div class="contentpage" style="width:1000px">
<ngb-carousel *ngIf="testimonialsList" [interval]="4000" >
	<div class="row" style="height:200px;">
	  <div class="related_product_slide">
  
		<ng-template ngbSlide *ngFor="let item of testimonialsList; let i= index" class="slider slide-in">
		  <div class="item col-md-4 active" *ngFor="let item1 of item.child; let i1= index;" style="margin-bottom:30px;">
			<div class="testimonial-item">
				<div class="testmonial-title">
				{{item1.name}} {{i}}
				<div class="new_product">New</div>
				</div>
				<div class="testmonial-content">
					<h4>iPhone 6S</h4>
					<p>
					  Living in today's metropolitan
					  world of cellular phones 
					</p>
					<h5> 100</h5>
					<h6> <span class="through_line">680</span></h6>
				</div>
			</div>
		  </div>
		</ng-template>
	  </div>
	</div>
  </ngb-carousel>
</div>  
 -->