<div class="fixedtop myinfo recipes-home-body inner-page">
  <div class="recipe-set submit-recipe-set page-max-width bg-white">
    <h2 style="margin-bottom:30px; padding-top:30px; padding-left:15px;">Preferences</h2>
   

    <div class="row "> 

<div class="col-12 col-lg-12">  
  <div class="questions-panel">
    <div *ngIf="!processing" class="row">
      <ng-container *ngFor="let question of questions; let currentQuestion = index">
    <div class="q-panel col-12 col-lg-6 col-md-6" *ngIf="questions && questions[currentQuestion]">
      <div class="row">
    <div class="col-12 col-lg-6 col-md-6"><p class="question-text">{{getFLU(questions[currentQuestion].question)}}</p></div>
    <div class="col-12 col-lg-6 col-md-6">  
    
      
    
      <div *ngIf="questions[currentQuestion]['type'] == 'text'" style="text-align:center;">
    
        <input class="input-text" type="text" (keyup)="setAnswerText(questions[currentQuestion])" placeholder="Please enter value" style="font-size:14px" name = "question{{currentQuestion}}" [(ngModel)]="questions[currentQuestion]['answer']">
        <span style='margin-left: 10px; font-size: 14px;' *ngIf="questions[currentQuestion].textlabel">{{questions[currentQuestion].textlabel}}</span>
    
        <div class="opts" *ngIf="questions[currentQuestion] && questions[currentQuestion].options &&  questions[currentQuestion].options.length > 0">
          <!--<div (click)="toggleChoice(questions[currentQuestion], questions[currentQuestion].options, i)" [ngClass]="opt.selected?'opt sel':'opt'" *ngFor="let opt of questions[currentQuestion].options; let i = index;">{{opt.name}}</div>-->
          <select [(ngModel)]="question['opt']">
            <option value = "{{opt.name}}"*ngFor="let opt of questions[currentQuestion].options; let i = index;">
              {{opt.name}}
            </option>
          </select>
        </div>
       
      </div>
    
      <div class="options-panel" *ngIf="questions[currentQuestion]['type'] == 'option' || questions[currentQuestion]['type'] == 'checkbox'">
    
        <div *ngIf="questions[currentQuestion]['answers'] && questions[currentQuestion]['answers']['length'] > 0">
          <!--<div [ngClass]="questions[currentQuestion]['answer'] == answer.text?'btn-panel active':'btn-panel'" (click)="setAnswer(answer)" *ngFor="let answer of questions[currentQuestion]['answers']; let a = index;">
            <div  class="answer-box" >
              {{getFLU(answer.text)}}
              <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"><br>{{getFLU(answer.subtext)}}</span>
            </div>
            <div class="tick-mark">
              <i class="fa fa-check"></i>
            </div>
          </div>-->
          <select [(ngModel)]="question['opt']" style="max-width:100%">
            <option value = "{{answer['answer']}}" *ngFor="let answer of questions[currentQuestion]['answers']; let a = index;">
              {{getFLU(answer.text)}}
              <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"> -{{getFLU(answer.subtext)}}</span>
            </option>
          </select>
        </div>
      </div>
      </div>
 

    <!--<div style="width:100%; margin:0 auto;text-align:center;">
    
    <button [disabled] = "params['question'+ (currentQuestion+1)] == ''" *ngIf="currentQuestion < questions.length -1" [ngClass]="params['question'+ (currentQuestion+1)] !== ''?'btn-next active':'btn-next'" (click)="next()">Next</button>
    <button [disabled] = "params['question'+ (currentQuestion+1)] == ''" *ngIf="currentQuestion == questions.length -1" [ngClass]="params['question'+ (currentQuestion+1)] !== ''?'btn-next active':'btn-next'" (click)="complete()">Complete</button>
    </div>-->
    </div></div>
  </ng-container>
    </div>
      <div *ngIf="processing">
        <img class="rotate" src="assets/loading.png" />
        
      </div>
    </div>

</div>

  </div>
</div>
</div>
