<div style="width:100%" style="background: #F8F6F5">

  <div class="container">
 <div class="line-heading" style="padding-top:40px">
        <h2>Frequently Asked Questions</h2>
    </div>

<div class="row" >
   

   <section class="home-sec" >
      <div class="container col-12 ">
         <div class="row home-sec-box">
       
             <div class="row secL" *ngFor="let step of stepsList; let i = index;">
                <div class="col-12 col-lg-6">
                 <!--  <h1 class="text-lg-left mb-4 title">{{step.subtitle}}</h1> -->
                  <h3 class="subtitle">{{step.subtitle}}</h3>
                   <p class="text-justify mb-5 description"  style=" direction: ltr;">{{step.description}}</p>
              
                </div>

                <div class="col-12 col-lg-6">
                  <h3 class="subtitle">{{step.subtitle}}</h3>
                   <p class="text-justify mb-5 description"  style=" direction: ltr;">{{step.description}}</p>
              
                </div>
           
              </div>


            
          
         </div>

      </div>
   </section>


   </div>
</div>
</div>

