



<div class="recipes-home-body inner-page">




  <div class="container">
  <div class="row">
  <div class="col-md-8 col-lg-9">
  <div class="recipe-set">
  <div class="create-plan hidden-xs" (click)="gotopage('plan-create');">
    <i class="fa fa-plus"></i>  New Plan
     
  </div>
  <h2>Your Meal Plans</h2>
  

  <div class="recipe-listing listing-list" style="background:#FFF;padding-top:15px;">
  
  
  <div class="listing col-12 col-lg-6 " *ngFor="let mplan of mealPlans; let i = index;">
     
      <div class="detail hidden-xs" (click)="gotopage('plan-create', {'id':mplan.id});"  style="width:100%">
          <h4><a href="javascript:void(0)">{{mplan.name}}</a></h4>
          <p innerHTML = "{{mplan.tags}}">
              
          </p>
          <div>
         <div class="linkview" style="float:right;">View Details</div> 
        </div>
      </div>

        <div class="detail visible-xs" style="width:100%">
          <h4><a href="javascript:void(0)">{{mplan.name}}</a></h4>
          <p innerHTML = "{{mplan.tags}}">
              
          </p>
      </div>


     
  </div>
  

 
  </div>
  </div>
  </div>
  <div class="col-md-4 col-lg-3">
  <aside>
  <div class="side-bar">
  
  <app-sidebar></app-sidebar>
 
  
  </div>
  </aside>
  </div>
  </div>
  
  </div>
  </div>

  