<div class="fixedtop recipes-home-body inner-page">
  <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
  <div class="row">
  <div class="col-12">
  <div class="recipe-set">
  <div style="margin-right:0px" class="create-button anim-button btn-4" (click)="gotopage('plan-create');">
    <i class="fa fa-plus"></i>  New Plan
     
     
  </div>
  <h2>Your Meal Plans</h2>
  

  <div class="recipe-listing listing-list" style="background:#FFF;padding-top:15px;">
  
  
  <div class="listing col-12 col-lg-3 col-md-4 " *ngFor="let mplan of mealPlans; let i = index;">
     
      <div class="detail" (click)="gotopage('plan-create', {'id':mplan.id});"  style="width:100%">
          <h4><a href="javascript:void(0)">{{mplan.name}}</a></h4>
          <p innerHTML = "{{mplan.tags}}"></p>
          <div>
         <div class="linkview" style="float:right;">View Details</div> 
        </div>
      </div>

        <!--<div class="detail visible-xs" style="width:100%">
          <h4><a href="javascript:void(0)">{{mplan.name}}</a></h4>
          <p innerHTML = "{{mplan.tags}}">
              
          </p>
      </div>-->


     
  </div>
  

 
  </div>
  </div>
  </div>
  <!--<div class="col-md-4 col-lg-3">
  <aside>
  <div class="side-bar">
  
  <app-sidebar></app-sidebar>
 
  
  </div>
  </aside>
  </div>-->
  </div>
  
  </div>
  </div>

  