.detail
{
  background-image: url(../../../assets/images/cherry-icon-small.png);
    background-repeat: no-repeat;
    background-position: right top;

}.detail:hover
{
  box-shadow: rgb(245 145 0 / 20%) 0px 16px 26px;
}

.listing-list .listing:nth-child(1n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small.png);
}
.listing-list .listing:nth-child(2n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small1.png);
}
.listing-list .listing:nth-child(3n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small1.png);
}

.listing-list .listing:nth-child(4n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small.png);
}
