@import "../../../variables.scss";


.detail
{
  background-image: url(../../../assets/images/cherry-icon-small.png);
    background-repeat: no-repeat;
    background-position: right top;

}.detail:hover
{
  box-shadow: rgb(245 145 0 / 20%) 0px 16px 26px;
  cursor: pointer;
}



.detail .linkview
{
  visibility: hidden;

  padding:5px 10px;
  border-radius:5px;
  background-color: $orange;
  color:#FFF;
  text-align:center;
  width:75px;
 
}
.detail:hover .linkview
{
visibility: visible;


}
.listing-list .listing:nth-child(1n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small.png);
}
.listing-list .listing:nth-child(2n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small1.png);
}
.listing-list .listing:nth-child(3n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small1.png);
}

.listing-list .listing:nth-child(4n) .detail {
  background-image: url(../../../assets/images/cherry-icon-small.png);
}


.submit-comment {
    height: 42px;
    background: #ccc;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #ffffff;
    padding: 0 35px;
    border: none;
    transition: 0.2s all ease-in-out;
}

.submit-comment.active {
 background: #6ebe3b;
 }

