<app-popular></app-popular>


<div class="widget">
    <a href="#">
        <img src="assets/images/temp-images/add-side.jpg" alt="Add">
    </a>
</div>
<!--latest news widget-->
<div class="widget latest-news-widget">
    <h2>Latest News</h2>
    <ul>
        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

    </ul>
</div>
<!--latest news widget ends-->
<!--get social-->
<div class="widget widget-get-social">
    <h2>get social</h2>
    <ul>
        <li class="facebook">
            <a href="#">
                <i class="fa fa-facebook"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>
        <li class="twitter">
            <a href="#">
                <i class="fa fa-twitter"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>
        <li class="google-plus">
            <a href="#">
                <i class="fa fa-google-plus"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>

    </ul>
</div>
<!--get social ends-->