<!--<app-popular></app-popular>-->



<!--latest news widget-->
<div *ngIf="type == 'recipes'" class="widget latest-news-widget">
    <h2 >Latest Recipes</h2>
    <ul>
        <li *ngFor="let citem of contentList; let r = index;">
            <div class="thumb image-animate">
                <a (click)="gotopage('recipedetails',citem.id)">
                    <img style="cursor:pointer" src="{{formatImage(citem.image, 's')}}" alt="thumbnail">
                </a>
            </div>
            <div class="detail" style="font-size:14px">
                <a class="overflow-text" style="font-weight:bold;cursor:pointer" (click)="gotopage('recipedetails',citem.id)">{{citem.label}}</a>
                <span class="post-date">{{formatLabels(citem.dietLabels)}}</span>
            </div>
        </li>

      

    </ul>
</div>
<div *ngIf="type == 'groups'" class="widget latest-news-widget">
    <h2 >Latest Groups</h2>
    <ul>
        <li *ngFor="let citem of contentList; let r = index;">
            <div class="thumb image-animate">
                <a (click)="gotopage('group',citem.id)">
                    <img style="cursor:pointer" src="{{citem.image}}" alt="Image for group {{citem.group_name}}">
                </a>
            </div>
            <div class="detail" style="font-size:14px">
                <a class="overflow-text" style="font-weight:bold;cursor:pointer" (click)="gotopage('group',citem.id)">{{citem.group_name}}</a>
                <span class="post-date" *ngIf="citem.userscount > 0" >{{citem.userscount}} members</span>
            </div>
        </li>

      

    </ul>
</div>

<div class="widget" *ngIf="selectedAd">
    <div  class="adpanel" [ngStyle]="{'background-image':'linear-gradient(
                                        rgba(0, 0, 0, 0.3),
                                        rgba(0, 0, 0, 0.3)
                                      ), url(' + selectedAd.image + ')'}">
    <p class="adtitle" >
       {{selectedAd.title}}
    </p>
    <p class="adsubtitle"> {{selectedAd.subtitle}}</p>
<br>
    <a class="adbutton" href="{{selectedAd.url}}" target="_blank">
        Get Details
     </a>
     
    </div>
</div>