<!--<app-popular></app-popular>-->



<!--latest news widget-->
<div class="widget latest-news-widget">
    <h2>Latest Recipes</h2>
    <ul>
        <li *ngFor="let recipe of recipesList; let r = index;">
            <div class="thumb">
                <a (click)="gotoRecipeDetails(recipe.id)">
                    <img style="cursor:pointer" src="{{formatImage(recipe.image, 's')}}" alt="thumbnail">
                </a>
            </div>
            <div class="detail" style="font-size:14px">
                <a class="overflow-text" style="font-weight:bold;cursor:pointer" (click)="gotoRecipeDetails(recipe.id)">{{recipe.label}}</a>
                <span class="post-date">{{formatLabels(recipe.dietLabels)}}</span>
            </div>
        </li>

      

    </ul>
</div>
<div class="widget">
    <a href="javascript:void(0)">
        <img src="assets/images/temp-images/add-side.jpg" alt="Add">
    </a>
</div>
<!--latest news widget ends-->
<!--get social-->
<div class="widget widget-get-social">
    <h2>get social</h2>
    <ul>
        <li class="facebook">
            <a href="javascript:void(0)">
                <i class="fa fa-facebook"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>
        <li class="twitter">
            <a href="javascript:void(0)">
                <i class="fa fa-twitter"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>
        <li class="google-plus">
            <a href="javascript:void(0)">
                <i class="fa fa-google-plus"></i>
                <span class="count">23.5K</span>
                <span class="count-type">Likes</span>
            </a>
        </li>

    </ul>
</div>
<!--get social ends-->