@import "../../../variables.scss";
.bg-green30
{
  background: -webkit-linear-gradient(top, var(--green1), var(--green1) 170px, var(--light-green1) 170px, var(--light-green1));
  --background: -webkit-linear-gradient(top, var(--green1), var(--green1) 170px, var(--light-green1) 170px, var(--light-green1));
}

.plan-seperator-right
{
  border-right:4px solid green;
}
.plan-seperator-left
{
  border-left:4px solid green;
}
.colv
{
  vertical-align: middle;
}
.meal-row
{
  background:#FFF;
  margin-bottom:5px;
}

.meal-row .plan-seperator-left:nth-child(1), .meal-row .plan-seperator-right:nth-child(1) {
  border-color: #FF3155;
}
.meal-row .plan-seperator-left:nth-child(2), .meal-row .plan-seperator-right:nth-child(2) {
  border-color: #FFAF42;
}

.meal-row .plan-seperator-left:nth-child(3), .meal-row .plan-seperator-right:nth-child(3) {
  border-color: #FFED5E;
}

.meal-row:nth-child(4) .plan-seperator-left, .meal-row:nth-child(4) .plan-seperator-right {
  border-color: #49F770;
}

.meal-row:nth-child(5) .plan-seperator-left, .meal-row:nth-child(5) .plan-seperator-right {
  border-color: #2DAEFD;
}

.meal-row:nth-child(6) .plan-seperator-left, .meal-row:nth-child(6) .plan-seperator-right {
  border-color: #FF3155;
}

.meal-row:nth-child(7) .plan-seperator-left, .meal-row:nth-child(7) .plan-seperator-right {
  border-color: #FFAF42;
}

.day-title
{
  font-size:16px; padding-top:10px; padding-bottom:10px; font-weight:bold; padding-left:5px;

}
.meal-title
{
  //padding-left:5px;
  margin-top:0px;
 //  padding-top:10px;
    font-size:15px;
    font-family: 'Lato', sans-serif;
  word-break: break-all;
  color:$text-gray;
  display:block; 
  text-align:left;
  font-weight:bold;
  color:$green;
}


button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
  contain: layout;
}


.fablistbutton
{
  position: absolute;
    margin: auto;
    border: 1px solid;
    right: 45px;
    border-radius: 5px;
    height: 48px;
    padding: 5px;
    background: var(--green1);
    color: #FFF;
    --background: var(--green1);
}

.fablistbutton ion-icon
{
color:#FFF;
}

ion-segment-button {
  --background-checked: var(--blue);
  --color-checked: #FFF;

  --background: var(--light-green1);
  --color:$text-gray;
  border-right:1px solid #eee;
  --indicator-box-shadow: 10px 10px 5px #aaaaaa;
}


.itemcat
{
  display:inline-block;
  padding:5px 10px;
  font-size: 14px;
 // background: var(--light-green1);
  margin-right: 10px;
 // margin-bottom: 10px;
  //border-radius: 5px;
  color:$text-gray;
  border-left:2px solid #FFF;
  width:100%;
  text-align:left;
}
.itemcat:hover
{
  border-left:2px solid #000;
  color: #000;
}

 .itemcat.active
{
  border-left:2px solid var(--orange);
  color: var(--orange);
}

.nutriitem
{
  display:inline-block; 
  float:left;
  margin-right: 5px;
  border: 1px solid var(--blue);
  background: var(--light-green1);
  padding: 0px 6px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.nutriitemright
{
  display:inline-block; 
  float:right;
  margin-right: 10px;
  border:1px solid var(--orange);
  background: var(--orange);
  padding:5px;
  color:#FFF;
  margin-bottom:10px;
  border-radius: 5px;
}

.green
{
  border:1px solid $green;
  background: $green;
}
.nutriitemright a, .nutriitemright a:hover
{
  color:#FFF;
  text-decoration: none;
}
.nutriitem.active
{
  border:1px solid var(--light-green1);
  background: var(--blue);
  color:#FFF;
}
.panel-box
{
      border: 1px solid #ccc;
      padding:10px;
      border-radius:5px;
      box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
      margin:10px;
}


.graphcommon
{
  width: 100%; height: 300px; display: block;
}
.menu-options-sc
{
  list-style-type: none;
  margin-bottom:10px;
  .menu-option
  {
    float:left; 
    padding: 10px;
    background: $green;
    color:#FFF;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 5px;
  }
}

.chartpanel
{
  
}