
    <div class="fixedtop recipes-home-body inner-page" *ngIf="plan">
        <div class="row page-max-width" style="text-align:center; margin:0 auto;">
           

        <div *ngIf="errorMessage">
          <p innerHtml = "{{errorMessage}}"></p>
         </div>
  <div *ngIf= "!errorMessage && categories">
    <div class="row">
      <div class="col-12 col-lg-8 col-md-8">
        <div class="left">
            <h1 class="title-black center" ><b>{{setFLU(plan.name)}}</b> - <span innerHtml = "{{welcomeMessage}}"></span> </h1> 
        </div>
      </div>
      <div class="col-12  col-lg-4 col-md-4" style="text-align:right;">
        <ul class="menu-options-sc" style="float:right;">
  
          <li class="menu-option" (click)="loadDefaults(); toggleMore();">Reload</li>
      
          <li class="menu-option" (click)="getIngredientsList(); toggleMore();">Grocery List</li>          
           
          <li *ngIf="plan && plan['days'] && plan['days']['length'] > 0 && plan['days'][0]['day_num'] == 6" class="menu-option" (click)=" toggleMore();">Set Plan Complete</li>    
         

        </ul>
      </div>
      
        <div class="col-12 col-md-2 col-lg-2">
    <div style='width:100%;' *ngIf="categories.length > 0 && selCat">
      <ng-container  *ngFor="let itemday of categories; let i = index ">
      <div [ngClass]="selCat['name'] == itemday.name?'itemcat active':'itemcat'" (click)="selCat = itemday; selectCat(i)">
        <p>{{itemday.name}}</p>
      </div>
    </ng-container>
    </div>
  
 </div>

  <div class="col-12 col-md-6 col-lg-6">

    <div style='background: #FFF;
      padding: 10px;
      line-height: 20px;
      border-bottom: 1px solid #ccc;' *ngIf="chartTitle">
       <p style='text-align:center; font-weight:bold; font-size:16px;'>{{chartTitle}} in {{chartUnit}}</p>
       <div style="    text-align: right; width: 100%;">
        <label class="container" style=" text-align: left;
                          display: inline-block;
                          width: 140px;
                          font-family: 'Lato', sans-serif;
                          font-weight: 400;
                          font-size: 16px;">
          <input (change)="reloadData()" [(ngModel)]='perServing' type="checkbox">&nbsp;Per Serving
        </label>
      
      </div>         
     
      <div style='display:block; width:100%'>
        <ng-container *ngFor="let item of totalCats" >
          <div [ngClass]="item.active?'nutriitem active':'nutriitem' ">
          <div *ngIf="selCat.name.toLowerCase() == 'vitamin' || selCat.name.toLowerCase() == 'minerals' " class="plaintext" (click)="selectSubCat(item)" ><span class="title">{{ setFLU(item.name) }}</span> - {{ item['value'].toFixed(2) }}  {{ item['unit'] }} <br></div>
          <div class="plaintext" *ngIf="selCat.name.toLowerCase() !== 'vitamin' && selCat.name.toLowerCase() !== 'minerals'  " > <span class="title">{{ setFLU(item.name) }}</span> - {{ item['value'].toFixed(2) }}  {{ item['unit'] }} <br></div>
        </div>
        </ng-container>
      </div>
      <div style="clear:both"></div>
      
  

    <div class="panel-box" *ngIf="chartTitle">
     
    
    <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
    [options]="chartOptionsLine" [(update)]="updateFlag" class="graphcommon">
    </highcharts-chart>
  </div>
</div>
  </div>
  <div class="col-12 col-md-4 col-lg-4">
    
    <div *ngIf="selCatValues && selCatValues['length'] > 0">
      
   
  
      <div class="row meal-row"    style="border-bottom: 1px solid #CCC;">
        <ng-container *ngFor="let itemcat of selCatValues; let i = index;">
        <div class="col-12" [ngClass]="i%2 == 0?'colv plan-seperator-left' : 'colv plan-seperator-right'" >
          <div class="panel-box" style="text-align:left;">
            <div [ngClass]="completeStatus[itemcat.name] == '1'?'nutriitemright green':'nutriitemright '">
              <a *ngIf="completeStatus[itemcat.name] !== '1'" href="javascript:void(0)" (click)="setComplete(itemcat)">Set Complete</a>
              <a *ngIf="completeStatus[itemcat.name] == '1'" href="javascript:void(0)">Completed</a>
            </div>
          <p  (click)="gotopagedetails('recipedetails',itemcat)" style="display:block; margin-top:0px;color:#AAA;text-align:left">{{setFLU(itemcat.name)}} 
            <!--<span style="float:right;margin-right:5px;"><b>Total Weight:</b> {{formatValue(itemcat.totalWeight)}} gms</span>-->
        </p>
          <p  (click)="gotopagedetails('recipedetails',itemcat)" class="meal-title"  *ngIf="itemcat.label">  {{setFLU(itemcat.label)}}</p>
          <p class="plaintext" (click)="gotopagedetails('recipedetails',itemcat)" > Servings : <span *ngIf="itemcat.yield !== ''">{{itemcat.yield}}</span>
            <span *ngIf="!itemcat.yield">N/A</span>
          </p>
        <label style="margin-bottom:0px" *ngFor = "let item of itemcat['details']; let j=index">
          <div class='nutriitem'>
            <p class="plaintext nut-col1" style="display:inline-block;color:#555; margin-right:5px;font-weight:bold;">{{item.name}}</p>
          <p class="plaintext nut-col2" style="display:inline-block;color:#000" >{{formatValue(item.value)}} {{item.unit}}</p>
          
          </div>
        
        </label>
        </div>
        </div>
    </ng-container>
  </div>
  

  </div>

  </div>
  </div>
  
  
  </div>
 
    
   
  
  </div>
</div>