
<!--trending plan-->

<div *ngIf="showNutrientsFlag" class="fixedtop trendings-banner">
   
   <div class="container">
       <div class="trendings-card text-center wow animated bounceInDown" style="margin-top:50px;margin-bottom:50px">
         
          <div class="chefs-card-inner">
            <!--<img *ngIf="mealplans.length > 0" class="badget" src="assets/bg/ribbon2.png" />-->
            <!--<img *ngIf="planStatus.length > 0" class="badge-right" src="assets/bg/schedule.png" />-->
            <!--<div *ngIf="planStatus.length > 0" class="cover-ribbon">
               <div class="cover-ribbon-inside">Today</div>
            </div>-->
               <h4>Hello<span *ngIf="currentUser['displayname']"> {{currentUser["displayname"]}}</span>, {{greetings}}</h4>
               <h2 *ngIf="mealplans.length > 0" style="    padding-top: 20px;">Meal Plan for YOU</h2>
               <h2 *ngIf="planStatus.length > 0" style="    padding-top: 20px;">Your Meal Plan for Today</h2>

               <div class="short-separator"></div>
   
               <ng-container *ngIf="mealplans.length > 0">
                  <p class="plan-name">{{mealplans[0]["name"]}} </p>
                    <p class="plan-tags">{{mealplans[0]["tags"]}} <br/>
                  <a class="read-more-bordered" (click)="gotopage('trending', mealplans[0]['id'])" href="javascript:void(0)">View More</a>
               </ng-container>
               <ng-container *ngIf="planStatus.length > 0">
                  <p class="plan-name">{{planStatus[0]["mpname"]}} </p>
                    <!--<p class="plan-tags">{{planStatus[0]["tags"]}} <br/>
                     </p>-->
                     <div class="mealplan hidden-xs" *ngIf="plan && plan['days'] && plan['days']['length'] > 0">
                        <ul>
                           <ng-container *ngFor="let mtype of mealTypeList; let m = index">
                           <li [ngClass]="getStatus(mtype)?'mealtypetick':'mealtype'" *ngIf="plan['days'][0][mtype] && plan['days'][0][mtype]['label']">
                              <a  href="/recipedetails/{{plan['days'][0][mtype]['id']}}"  target="_blank"  title = "{{plan['days'][0][mtype]['label']}}" >
                                 <span>{{setFLU(mtype)}} :</span> {{limitTo(plan['days'][0][mtype]['label'], 30)}}
                              </a>
                           </li>
                          <!--<li [ngClass]="plan['days'][0]['snack1tatus'] == '1'?'mealtypetick':'mealtype'" *ngIf="plan['days'][0]['snack1'] && plan['days'][0]['snack1']['label']">
                              <a href="/recipedetails/{{plan['days'][0]['snack1']['id']}}"  target="_blank"  title = "{{plan['days'][0]['snack1']['label']}}" >
                                <span>Morning Snack :</span> {{limitTo(plan['days'][0]['snack1']['label'], 24)}}
                              </a>
                           </li>
                           <li class="mealtype" *ngIf="plan['days'][0]['lunch'] && plan['days'][0]['lunch']['label']">
                              <a href="/recipedetails/{{plan['days'][0]['lunch']['id']}}" target="_blank" title = "{{plan['days'][0]['lunch']['label']}}" >
                                 <span>Lunch :</span> {{limitTo(plan['days'][0]['lunch']['label'], 30)}}
                              </a>

                           </li>

                           <li class="mealtype" *ngIf="plan['days'][0]['snack2'] && plan['days'][0]['snack2']['label']">
                              <a href="/recipedetails/{{plan['days'][0]['snack2']['id']}}"  target="_blank"  title = "{{plan['days'][0]['snack2']['label']}}" >
                                 <span>Evening Snack :</span> {{limitTo(plan['days'][0]['snack2']['label'], 25)}}
                              </a>

                           </li>

                           <li class="mealtype" *ngIf="plan['days'][0]['dinner'] && plan['days'][0]['dinner']['label']">
                              <a href="/recipedetails/{{plan['days'][0]['dinner']['id']}}"  target="_blank"  title = "{{plan['days'][0]['dinner']['label']}}" >
                                 <span>Dinner :</span> {{limitTo(plan['days'][0]['dinner']['label'], 30)}}
                              </a>

                           </li>-->
                        </ng-container>
                        </ul>                      
                      </div>
                     <br>
                     <p style="font-family: 'Lora', sans-serif; text-align:left" *ngIf="planStatus['consumedcalories']">You have consumed {{planStatus["consumedcalories"]}} calories so far today. </p>
                  <a class="read-more-bordered" (click)="gotopage('schedule', planStatus[0]['id'])" href="javascript:void(0)">View Details</a>
               </ng-container>
           </div>
       </div>
   </div>
 </div>
 
 <!--trending plan-->

   <div class="site-section">
      <div class="container" >
         <div class="col-12" *ngIf="healthLabels.length > 1">
            <div class="" style="display:flex; align-items: center;min-height:450px;padding-top:30px"> 
               <div class="row " >
                  <div class="col-md-4 col-lg-5 pl-5 bgplan" style="padding-left:0px !important; margin-bottom: 20px;">
                     <h1 class="text-lg-left mb-4 title">Discover new recipes you’ll love!!!</h1>
                     <p class="text-justify mb-5 description">Subscribe to get recipes which offer balanced nutrition and to create customized  meal plan to your personal tastes...</p>
                     <a (click)="gotopage('plans')" style="cursor:default; margin-bottom:20px;" class="leanmore">Learn More</a>
                  </div>

                  <div class="col-md-8 col-lg-7">
                     <div class="row animated wow bounceInRight">
                        <ng-container  *ngFor="let hLabel of healthLabels; let h=index;">
                        <div class="mb-5 col-6 col-lg-3 col-md-3"  *ngIf="h <8"> 
                           <div class=" px-sm-0">
                              <a (click)="gotoRecipes('healthLabels', hLabel.label)"
                                 class="specialty"><img src="{{hLabel.image}}"
                                 srcset="{{hLabel.image}}"
                                 class="rounded-bg specialty-image w-100">
                              <div class="p-3 bg-white rounded-lg border specialty-label">{{hLabel.label}}</div>
                              </a>
                           </div>
                        </div>
                     </ng-container>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   
   <!--hottest recipes-->
<section class="hot-recipes-var2" *ngIf="collectionsList && collectionsList.length > 0">
   <div class="container">
       <div class="wrapper-hot-recipe-var2">
          <div class="hot-recipes-bordered">
               <div class="heading-var1 text-center animated wow flipInX">
                   <h2><a href="javascript:void(0)">Learn about new meals that you'll enjoy</a></h2>
                 <span class="heading-bell"></span>
                 <p>Fitaholic's recipe collections make it easy to share and discover recipes that suit your eating habits, limits, needs, and more.</p>
               </div>
               <div class="row" style="padding-left:0px; padding-right:0px; margin-bottom:15px !important" >
                   <ng-container  *ngFor="let cItem of collectionsList; let i = index;">
                  <div style="padding-left:0px; padding-right:0px;margin-top:15px;margin-bottom:15px" class="col-12 col-lg-3 col-md-4" >
                      <div class="recipe-item animated wow flipInX" style="min-height:200px;background-size:cover;  background-position:center;  " (click)="gotoRecipeDetails('collection', cItem.id)" [ngStyle]="{'background-image':'linear-gradient(
                          rgba(0, 0, 0, 0.3),
                          rgba(0, 0, 0, 0.3)
                        ),url(' + cItem.image + ')'}">
                            <div class='row toggleremove' style='color:#FFF;'>

                          <div class="col-12" style="padding-left:0px; padding-right:0px">
                              
                          <h1 class="recipe-label" (click)="gotoRecipeDetails('collection', cItem.id)" style="font-size:20px; line-height: 32px;">{{cItem.collection_name}}</h1>
                                     
                          </div>

                      </div>
                     
                  </div>
                  <p style="text-align:left; font-size:14px;color:#888">
                     <span style="margin-left:20px" *ngIf="cItem.recipecount && cItem.recipecount >0" ><i class="fa fa-cutlery"></i> {{cItem.recipecount}} Recipes</span>
                     <span style='float:right;margin-right:20px' *ngIf="cItem.userscount && cItem.userscount > 0" ><i class="fa fa-user"></i> {{cItem.userscount}} Members </span>
                  </p>
         
                    <p style="padding-left:15px; font-size:12px;margin-bottom:15px">Added by : <span *ngIf="cItem.firstname">{{cItem.firstname}} {{cItem.lastname}}</span><span *ngIf="!cItem.firstname">{{cItem.email}}</span></p>

                      </div>
                
              </ng-container>
              </div>

             
          </div>
       </div>
    </div>
 </section>
 <!--hottest recipes ends-->

<div class="chefs-banner">
   <div class="container">
       <div class="chefs-card text-center wow animated bounceInDown">

         <div class="chefs-card-inner">
            <h2>We love our users</h2>
            <div class="short-separator"></div>
            
            <p>
               Customize your preferences<br/> to serve you better.<br/>
            </p>
           <a class="read-more-bordered" (click)="gotopage('questionnaire')">Start Now</a>
              </div>

           
       </div>
   </div>
 </div>
      
<!--- Diet recipes -->

 <section class="hot-recipes-var2" *ngIf="dietRecipes && dietRecipes.length > 0">
   <div class="container">
       <div class="wrapper-hot-recipe-var2">
          <div class="hot-recipes-bordered">
               <div class="heading-var1 text-center animated wow flipInX">
                   <h2><a href="javascript:void(0)">Learn about new diet recipes that you'll enjoy</a></h2>
                 <span class="heading-bell"></span>
                 <p>Fitaholic's recipes collections make it easy to share and discover recipes that suit your eating habits, limits, needs, and more.</p>
               </div>
               <div class="row" style="padding-left:0px; padding-right:0px; margin-bottom:15px !important" >
                   <ng-container  *ngFor="let dItem of dietRecipes; let i = index;">
                     <div style="padding-left:0px; padding-right:0px;margin-top:15px;margin-bottom:15px" class="col-12 col-lg-3 col-md-4" >
                     <div class="collection-item box-shadow">
                        <div class="image image-animate detail">
                            <a (click)="gotoRecipes('q', dItem.q)">
                                <img *ngIf="dItem.image !== ''" src="{{dItem.image}}"
                                    alt="{{dItem.name}} image">
                                <img  *ngIf="dItem.image == ''"  src="assets/notavailable.png" alt="{{dItem.name}} image">
                            </a>

                            <div class="detail">
                                <a title="{{dItem.name}}" (click)="gotoRecipes('q', dItem.q)"><h3 style="font-size:16px">{{dItem.name}}</h3></a>
                                 
                                 <div class="ccount">
                               <span style="font-size:14px" *ngIf="dItem.count > 0"><i class="fa fa-cutlery"></i> {{dItem.count}} Recipes</span>
                                </div>
                              
                              </div>

                        </div>
                        
                    </div>
                  </div>
               
              </ng-container>
              </div>

             
          </div>
       </div>
    </div>
 </section>

 <!--- Diet recipes -->


<div>
 
<!--hottest recipes-->
<section class="hot-recipes-var2">
  <div class="container">
      <div class="wrapper-hot-recipe-var2">
         <div class="hot-recipes-bordered">
              <div class="heading-var1 text-center animated wow flipInX">
                  <h2><a href="javascript:void(0)">Recommended Recipes</a></h2>
                <span class="heading-bell"></span>
              </div>

              <div class="hot-row">
                  <div class="split-images-var2 col-size text-center" *ngFor="let rRecipe of recommendedRecipes; let r=index;">
                     <div class="image-first inner-split">
                        <div class="image image-animate common-split animated wow flipInY animation-delay{{r+1*100}}ms">
                           <a style="cursor:pointer" (click)="gotoRecipeDetails('recipedetails',rRecipe.id)"><img src="{{formatImage(rRecipe.image, 'm')}}" alt="image"/></a>
                        </div>
                        <div class="intro common-split animated wow flipInY animation-delay{{r+2*100}}ms">
                           <div class="intro-inner ">
                              <h3><a style="cursor:pointer" (click)="gotoRecipeDetails('recipedetails',rRecipe.id)">{{rRecipe.label}}</a></h3>
                              <div class="short-separator"></div>
                              <p style="text-align:left;">Calories: {{rRecipe.calories}}</p>
                              <br>
                              <p *ngIf="rRecipe.dietLabels" style="text-align:left;">Diet Labels: {{formatLabels(rRecipe.dietLabels)}}</p>
                              <br>
                              <div class="short-separator"></div>
                              <a class="read-more" style="font-size:14px" (click)="gotoRecipeDetails('recipedetails',rRecipe.id)">view more</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</section>
<!--hottest recipes ends-->


</div>

