<div style="margin-top:50px">Testing
</div>

 <section>
    <div class="rt-container">
          <div class="col-rt-12">
            
            <div class="container">
              <input type="radio" id="i1" name="images" checked />
              <input type="radio" id="i2" name="images" />
              <input type="radio" id="i3" name="images" />
              <input type="radio" id="i4" name="images" />
              <input type="radio" id="i5" name="images" />
              <div class="slide_img" id="one"> <img src="assets/recipes.jpg">
                <label class="prev" for="i5"><span>&#x2039;</span></label>
                <label class="next" for="i2"><span>&#x203a;</span></label>
              </div>
              <div class="slide_img" id="two"><img src="assets/1.jpg">
                <label class="prev" for="i1"><span>&#x2039;</span></label>
                <label class="next" for="i3"><span>&#x203a;</span></label>
              </div>
              <div class="slide_img" id="three"> <img src="assets/3.jpg">
                <label class="prev" for="i2"><span>&#x2039;</span></label>
                <label class="next" for="i4"><span>&#x203a;</span></label>
              </div>
              <div class="slide_img" id="four"> <img src="assets/banner/1.jpg">
                <label class="prev" for="i3"><span>&#x2039;</span></label>
                <label class="next" for="i5"><span>&#x203a;</span></label>
              </div>
              <div class="slide_img" id="five"> <img src="assets/banner/2.jpg">
                <label class="prev" for="i4"><span>&#x2039;</span></label>
                <label class="next" for="i1"><span>&#x203a;</span></label>
              </div>
              <div id="nav_slide">
                <label for="i1" class="dots" id="dot1"></label>
                <label for="i2" class="dots" id="dot2"></label>
                <label for="i3" class="dots" id="dot3"></label>
                <label for="i4" class="dots" id="dot4"></label>
                <label for="i5" class="dots" id="dot5"></label>
              </div>
            </div>

<div class="" style="margin-top:20px">
            <div class='demo-container'>
                  <div class='carousel'>
                    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
                        👉
                      </label>
                    </div>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
                        👈
                      </label>
                      <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
                        👉
                      </label>
                    </div>
                    <div class='carousel__controls'>
                      <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
                        👈
                      </label>
                    </div>
                    <div class='carousel__screen'>
                      <div class='carousel__track'>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                            <img src="assets/1.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/17.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/1.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/17.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/1.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/17.jpg">
                          </div>
                        </div>
                        <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                          <div class='demo-content'>
                             <img src="assets/1.jpg">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
  </div>
  

              
    </div>
  
</section>



<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
    </div>
  </div>
</div>

