
<div class="food-tabs wow animated fadeIn">
   <div class="container">
      <div class="container-food-tabs">
         <section class="row custom-row-food-tabs">
            <div class="col-md-7 col-lg-8">
               <!--<div class="recipe-of-day animated wow fadeInLeft" *ngIf="RecipeoftheDay && RecipeoftheDay.length > 0">
                  <a href="javascript:void(0)"><img style="width: 100%; height: 418px;" src="{{RecipeoftheDay[0]['image']}}" alt="Recipe of the day"/></a>
                  <div class="recipe-contents-outer">
                     <div class="recipe-contents text-center">
                        <div class="recipe-content-inner">
                           <span class="tag">Recipe of the Day</span>
                           <h2><a href="javascript:void(0)">{{RecipeoftheDay[0]['label']}}</a></h2>
                           <div class="short-separator"></div>
                           <p>
                              {{limitTo(RecipeoftheDay[0]['s_instructions'], 60)}}
                           </p>
                           <a class="read-more" href="javascript:void(0)">read more</a>
                        </div>
                    </div>
                </div>
               </div>-->


               <div class="row fadeInLeft animated newanim recipeDay-outer" *ngIf='RecipeoftheDay && RecipeoftheDay[0]' >
                  <div class="col-12 col-lg-7" style="padding-left:0px; padding-right:0px;">
                      <img src="{{RecipeoftheDay[0].image}}" alt="slide" style='width:100%;max-height:440px'>       
                  </div>
                  <div class="col-12 col-lg-5"  style="padding-left:0px; padding-right:0px; background: #ffffff;">
                      <div class="outerbox" style="background-image:url('{{RecipeoftheDay[0].image}}');">
                          <div class="innerbox">
                              <!--<p class="tag">Recipe Details</p>-->
                              <p style="text-align:center;margin:10px 0px;background-color: #78C04A;
                              border-radius: 5px;">
                                 
                                  <a  class="label" (click)="gotoRecipeDetails(RecipeoftheDay[0].id)" style="cursor:pointer"> Recipe of the Day</a>
                              </p>
                              <div class="short-separator" style="margin-top:10px;margin-bottom:5px"></div>
                              <div class="recipe-details-group">
                                 <div class="recipe-details" *ngIf="RecipeoftheDay[0].label">
                                    <p style="display:block; text-align:center; font-size: 16px; font-weight:bold;padding-bottom:10px">
                                       <a (click)="gotoRecipeDetails(RecipeoftheDay[0].id)"   style="cursor:pointer" class="hlabel">{{RecipeoftheDay[0].label}}</a> 
                                   </p>
                                   </div>
                                 
                                  <div class="recipe-details" *ngIf="RecipeoftheDay[0].totalWeight">
                                  <p>Total Weight:</p>
                                  <p style="display:block;">
                                      <a href="javascript:void(0);"  class="hlabel">{{formatValue(RecipeoftheDay[0].totalWeight)}} g</a> 
                                  </p>
                                  </div>
                                  <p style="clear:both;margin-top:10px;"></p>
                                  <div class="recipe-details" *ngIf="RecipeoftheDay[0].calories">
                                    <p>Calories:</p>
                                    <p style="display:block;">
                                        <a href="javascript:void(0);" class="hlabel">{{formatValue(RecipeoftheDay[0].calories)}} Kcal</a> 
                                    </p>
                                  <p>Calories per Serving:</p>
                                  <p style="display:block;">
                                      <a href="javascript:void(0);" class="hlabel">{{formatValuePServing(RecipeoftheDay[0].calories, RecipeoftheDay[0].yield)}} Kcal</a> 
                                  </p>
                                 </div>
                                  
                                  <p style="clear:both;margin-top:10px;"></p>
                                  <div class="recipe-details" *ngIf="RecipeoftheDay[0].dietLabels">
                                  <p>Diet Labels:</p>
                                  <p style="display:block;">
                                      <a href="recipes;diet={{dlabel}}"  class="hlabel" *ngFor="let dlabel of formatLabels(RecipeoftheDay[0].dietLabels)">{{dlabel}}</a> 
                                  </p>
                              </div>
                                  <p style="clear:both"></p>
                                  <!--
                                  <div class="recipe-details" *ngIf="RecipeoftheDay[0].healthLabels">
                                  <p>Health Labels:</p>
                                  <p style="display:inline-block;">
                                      <a href="recipes;health={{hlabel}}" class="hlabel" *ngFor="let hlabel of formatLabels(RecipeoftheDay[0].healthLabels)">{{hlabel}}</a> 
                                  </p>
                              </div>-->
                                  <p style="clear:both; padding-bottom:10px;"></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
            <div class="col-md-5 col-lg-4 custom-col-food-tabs">
               <!--tabs start-->
               <app-tabspanel></app-tabspanel>
               <!--tabs end-->
            </div>
        </section>
  
        <!--<div class="corner-image bg-corner-tabs wow animated zoomIn">
            <img src="assets/images/bg-corner-tomato.png" alt="image"/>
        </div>-->
      </div>
   </div>
</div>
  
<div>
   <div class="site-section">
      <div class="container" >
         <div class="col-12" *ngIf="healthLabels.length > 1">
            <div class=" w-1000" style="display:flex; align-items: center;min-height:450px;padding-top:40px"> 
               <div class="row " >
                  <div class="col-md-4 col-lg-6 pl-5" style="padding-left:0px !important">
                     <h1 class="text-lg-left mb-4 title">Too busy to plan?</h1>
                     <p class="text-justify mb-5 description">Subscribe to our dietitian-prepared Specialty Meal Plans which offer balanced nutrition each and every week and can be easily customized to your personal tastes.</p>
                     <a href="javascript:void(0);" style="cursor:default" class="leanmore">Learn More</a>

                     <img src="assets/images/landing-bg.png" style='width:100%' />
                  </div>

                  <div class="col-md-8 col-lg-6">
                     <div class="row">
                        <ng-container  *ngFor="let hLabel of healthLabels; let h=index;">
                        <div class="mb-5 col-sm-4"  *ngIf="h < 9"> 
                           <div class="px-5 px-sm-0">
                              <a (click)="gotoRecipes(hLabel.label)"
                                 class="specialty"><img src="{{hLabel.image}}"
                                 srcset="{{hLabel.image}}"
                                 class="rounded-bg specialty-image w-100">
                              <div class="p-3 bg-white rounded-lg border specialty-label">{{hLabel.label}}</div>
                              </a>
                           </div>
                        </div>
                     </ng-container>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


<!--trending plan-->
<div class="trendings-banner">
   <div class="container">
       <div class="trendings-card text-center wow animated bounceInDown">
           <div class="chefs-card-inner">
               <h2>trending plan for you</h2>
               <div class="short-separator"></div>
               <img src="assets/images/chefs-hat.png" alt="hat"/>
               <p>
                   Nam ornare arcu turpis, nec congues with us <br/>
                   Curabitur quis euismod mauris. Nulls <br/>
                   eget semper vulputate.
               </p>
               <a class="read-more-bordered" href="javascript:void(0)">Read More</a>
           </div>
       </div>
   </div>
 </div>
 
 <!--trending plan-->

<!--hottest recipes-->
<section class="hot-recipes-var2">
  <div class="container">
      <div class="wrapper-hot-recipe-var2">
         <div class="hot-recipes-bordered">
              <div class="heading-var1 text-center animated wow flipInX">
                  <h2><a href="javascript:void(0)">Recommended Recipes</a></h2>
                <span class="heading-bell"></span>
              </div>

              <div class="hot-row">
                  <div class="split-images-var2 col-size text-center" *ngFor="let rRecipe of recommendedRecipes; let r=index;">
                     <div class="image-first inner-split">
                        <div class="image common-split animated wow flipInY animation-delay{{r+1*100}}ms">
                           <a (click)="gotoRecipeDetails(rRecipe.id)"><img src="{{formatImage(rRecipe.image, 'm')}}" alt="image"/></a>
                        </div>
                        <div class="intro common-split animated wow flipInY animation-delay{{r+2*100}}ms">
                           <div class="intro-inner ">
                              <h3><a (click)="gotoRecipeDetails(rRecipe.id)">{{rRecipe.label}}</a></h3>
                              <div class="short-separator"></div>
                              <p>{{limitTo(rRecipe.s_instructions, 150)}}</p>
                              <a class="read-more" (click)="gotoRecipeDetails(rRecipe.id)">read more</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</section>
<!--hottest recipes ends-->


<!--our chefs banner-->
<div class="chefs-banner">
  <div class="container">
      <div class="chefs-card text-center wow animated bounceInDown">
          <div class="chefs-card-inner">
              <h2>we love our users, <br/>join us now</h2>
              <div class="short-separator"></div>
              <img src="assets/images/chefs-hat.png" alt="hat"/>
              <p>
                  Nam ornare arcu turpis, nec congues with us <br/>
                  Curabitur quis euismod mauris. Nulls <br/>
                  eget semper vulputate.
              </p>
              <a class="read-more-bordered" href="javascript:void(0)">Read More</a>
          </div>
      </div>
  </div>
</div>

<!--our chefs banner ends-->

</div>

