
@import "../../variables.scss";
.specialty {
    position: relative;
    display: block;
  }
  a {
    color: $green;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  
.home-sec-intro .heading-small,
.home-sec-intro h2 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 700;
  color: #000000;
}
.home-sec-intro .heading-small {
  font-size: 24px;
}
.home-sec-intro h2 {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 42px;
  position: relative;
}
.home-sec-intro h2:after {
  content: "";
  width: 30px;
  height: 3px;
  background: #6ebe3b;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.home-sec-intro .desc {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #3d8f09;
  margin-bottom: 15px;
  display: inline-block;
}
.home-sec-image img {
  width: 100%;
}
.home-sec-list {
  margin-bottom: 25px;
}
.home-sec-list li {
  color: #68645d;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: block;
  border-bottom: 1px solid #efeeee;
  padding: 10px 0;
  position: relative;
  padding-left: 50px;
}
.home-sec-list li:last-child {
  border: none;
}
.home-sec-list li span {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom:4px;
}
.home-sec-list li a {
  display: inline-block;
}
.home-sec-list li a:hover {
  color: #5eaa2e;
}
.storeImgDiv{
  display: flex;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 330px;
}

.storeImg {
  position: relative;
    display: block;
    max-width: 160px;
    opacity: 0.8;
}

  .w-100 {
    width: 100% !important;
  }
  
  .specialty-image {
    border: solid 2px #fff;
    box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .mb-5, .my-5 {
    margin-bottom: 3rem !important;
  }
  .p-3 {
    padding: 1rem !important;
  }
  .border {
    border: 1px solid #dee2e6 !important;
  }
  .bg-white {
    background-color: #fff !important;
  }
  .rounded-bg {
    border-radius: 1rem !important;
  }
  .specialty-label {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    font-weight: bold;
    padding:10px 20px;
    font-weight: bold !important;;
    font-size: 1.5rem !important;
    
  }
  
  .leanmore
  {
    padding:10px 20px;
    font-weight: bold !important;;
    font-size: 1rem !important;
    border-radius: 1rem !important;
    color: #fff;
    border: 1px solid #dee2e6;
    background-color: #65ab3b;
    border-color: #5fa138;
    box-shadow: 0 0 5px 0 #77c14b;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
    padding: 1rem 2rem !important;
      font-size: 1.25rem !important;
  
  
  
  }
  .leanmore:hover{
    box-shadow: 0 0 15px 0 #77c14b;
  }
  

  
.landing-specialty-meal-plans-background {
    background-image: url("../../assets/images/temp-images/specialty-meal-plans-bg@2x.png");
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: 65%;
}



/* for recipe o the day*/




.recipe-details-outer {
  position: absolute;
  left:350px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.outerbox
{
  background: #ffffff;
 width:100%;
 height:100%;
  padding: 10px;

}

.innerbox
{
  padding: 15px 20px;
    border: 1px solid #e4d9d1;
    height: 100%;
    background-image: url("../../assets/bg1.png");
    background-repeat: no-repeat;
    background-position: right 150px;
}
.innerbox .tag
{
  margin:0 auto;
  padding: 5px 10px; 
  border-radius:5px;
  background-color: $green;
  color:#FFF;
  width:150px;
  font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 700;
    text-align:center;
}

.innerbox .label
{
  padding: 5px 10px; 
  border-radius:5px;
  background-color: $green;
  color:#FFF;
  font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    line-height: 30px;
}

.innerbox .label:hover
{
  //color: $green;
}

.newanim
{
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.recipeDay-outer {
    z-index: 1;
    overflow: hidden;
    border-width: 8px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 15px 20px -10px rgb(0 0 0 / 15%), 0px 1px 4px -2px rgb(0 0 0 / 40%);
}



.specialty-label:hover{
cursor: pointer;
}

.trendings-banner 
{
  background-image: url(../../assets/bg/background6.jpg);
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
}
.trendings-card {
  position: relative;
  z-index: 12;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 410px;
  background: #ffffff;
  padding: 15px;
  color: #000000;
}
.badget
{
  position: absolute;
    z-index: 999;
    width: 150px;
    right: -6px;
    top: -5px;
}
.badge-right
{
  position: absolute;
    z-index: 999;
    width: 150px;
    right: -13px;
    top: -12px;
}
.badge-left
{
  position: absolute;
    z-index: 999;
    width: 150px;
    left: -8px;
    top: -8px;
}
.plan-name
{
    padding: 5px 10px;
    border-radius: 5px;
    color: #78C04A;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    line-height: 30px;
}

.plan-tags
{
  font-size: 16px;
  color: #77c14b;
  text-decoration: none;
  text-transform: capitalize;
}


.trendings-banner h2 
{
   font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 20px;
}

 @media (max-width: 767px) {
 
  .padding-xs-0 {
  padding-right:0px !important;
  padding-left:0px !important;
  margin-bottom:10px !important;
}
}

.overlaybox
{

   .overlaycontent
   {
  //  display:none;
    position:absolute;
    left: 12px;
    right: 12px;
    top:0px;
    height:100%;
    padding: 10px;
    text-align:center;
   background: linear-gradient(
         rgba(0, 0, 0, 0.3),
         rgba(0, 0, 0, 0.3)
        
       );
       border:1px solid #FFF;
       color:#FFF;
   }
   .inneroverlay
   {
     padding:10px;
     border:1px solid #f1f2f2;
     height:100%
   }
   .overlayimg
   {
    width:100%; height:100px;
    img
    {
      width:100%;
      height:100%;
    }
   }
}

.overlaybox:hover
{
  .overlaycontent
  {
  }
  .inneroverlay
  { 
    //background: #5eaa2e;
    background: linear-gradient(
         rgba(94, 170, 46, 0.9),
         rgba(94, 170, 46, 0.9)
        
       );
  }
}
.mealplan
{
  display:block;
  text-align: left;
}
.mealtype, .mealtypetick
{
  font-size:14px;
  text-align:left;
  display:block;
  margin-bottom:5px;
}

.mealtype a, .mealtypetick a
{
 color:#000;
 padding-left:10px;
 font-family: 'Lora', sans-serif;
}
.mealtype a:hover, .mealtypetick a:hover
{
  color: $orange1;

}
.mealplan .mealtype::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #01B0F1;
}

.mealplan .mealtypetick::before {
  content: '\2713';
  display: inline-block;
  width: 12px;
  height: 12px;
  font-weight:900;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
 color: $green; 
}

.mealplan .mealtype span, .mealplan .mealtypetick span {
  font-style:italic;
}


.mealplan .mealtype:nth-child(1)::before {
  background-color: #E46C0B;
}
.mealplan .mealtype:nth-child(2)::before{
  background-color: #FFC000;
}
.mealplan .mealtype:nth-child(3)::before {
  background-color: #C00000;
}

.mealplan .mealtype:nth-child(4)::before{
  background-color: #00AF50;
}

.mealplan .mealtype:nth-child(5)::before {
  
  background-color: #01B0F1;
}


.chefs-banner
{
  background:url("../../assets/bg/diet2.jpg");
  background-size:cover;
}

/* Ribbon 6 */
.cover-ribbon {
  height: 115px;
  width: 115px;
  position: absolute;
  right: -8px;
  top: -8px;
  overflow: hidden;
}
.cover-ribbon .cover-ribbon-inside {
  background: #EA4335;
  color: #FFF;
  transform: rotate(45deg);
  position: absolute;
  right: -30px;
  top: 15px;
  padding: 10px;
  min-width: 127px;
  text-align: center;
}
.cover-ribbon .cover-ribbon-inside:before {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #992C23;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  top: 30px;
  transform: rotate(-45deg);
}
.cover-ribbon .cover-ribbon-inside:after {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid #992C23;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: 95%;
  right: 0;
  top: 30px;
  bottom: 0;
  content: "";
  transform: rotate(-45deg);
}

.bgbook
{
  position:absolute;
  top: -15px;
  width: 100%;
  left: 0px;
  height: 200px;
background-position: center top;
background-size:cover;

}

.bgb
{
    background: url("../../assets/new/book2.webp");
    background-position: center top;
    background-size:cover;
    width: 100%;
    height:195px;
    position: absolute;
    left: 0;
    top: 10px;
}

.bgplan
{
  background: url("../../assets/images/landing-bg.webp");
  background-position: right bottom;
  background-size: 290px 230px;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .bgplan
  {
    background: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .bgplan
  {
    background: none;
  }
}
