@import "../../../_variables.scss";

:host {
  width:100%;
  margin:0;
  padding:0;
 margin:0 auto;

}
.desktoponly
{
  display:block;
  display: block;
  position: fixed;
  height: 100px;
  left: 0;
  top: 0px;
  width: 100%;
  background: #FFF;
  z-index: 999;
}
.mobileonly
{
  display:none;
  position: fixed;
  height: 80px;
  left: 0;
  top: 0px;
  width: 100%;
  background: #FFF;
  z-index: 999;
}

.menuham
{
  text-align: right;
  width: 100%;
  margin-top: 5px;
  font-size: 40px;
  color:$green;
}
@media only screen and (max-width: 768px) {
  .desktoponly
  {
    display:none;
  }
  .mobileonly
  {
    display:block;
  }
  .main-menu
  {
    li {display:block;}
  }
  .menu-mob
  {
    background: $green;
    color:#FFF;
  }
  .username
  {
    margin-top:20px;
    font-size: 16px;
    margin-bottom:30px;
  }
  .main-menu-mob
  {
    list-style-type: none;
    li{
      font-weight:bold;
    }
    li ul li 
    {
      font-weight:normal;
    }
    li,  li ul li { display: block;
      padding:10px;
      font-size: 16px;
    }
    li,  li ul 
    {
      margin-top:10px;
      margin-bottom:10px;
    }
    li a,  li ul li a,  li a:active,  li ul li:active,   li a:hover,  li ul li:hover
    {
      text-decoration:none;
      color:#FFF !important;
    }

    li ul li{
      margin-left: 15px;
  
   }
   
  }
}

.menu-panel
{
  top: 30px;
  /* display: none; */
  opacity: 1;
  visibility: visible;
  position: absolute;
  min-width: 255px;
  background: #6ebe3b;
  z-index: 999;
  right: 12px;
  text-align: left;
  padding: 15px;
}
.profilemenu
{
  background: #f1f2f3;
  border-radius:15px;

  li{
    display: block;
  }
}

.getapp, .signin
{
  padding:5px 10px;
  border:1px solid #FFF;
  font-size: $font_large;
  text-decoration:none;
  border-radius:5px;
  margin-left:10px;
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 15%);
}
.getapp
{
background:$green;
color:#FFF;

}
.getapp:hover
{
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 35%);
}
.signin
{
  border:1px solid $green;
  color:$text-gray;

}

.header-shadow
{
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 15%);
}
.signin:hover
{
background-color: $green;
color:#FFF;
box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 35%);
}
.dropbtn1 {
  border: 1px solid #78C04A;
  border-radius: 50%;
  background-color: #FFF;
  color: $green;
  padding: 5px;
  font-size: 16px;
  width: 32px;
  text-align: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.droplink
{
  font-size:$font_large;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 200px;
  border:1px solid  #f1f1f1;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: rgb(98 98 119 / 10%) 0px 5px 20px;
  z-index: 1;
  right:0px;
  padding-top:10px;
  
}

/* Links inside the dropdown */
.dropdown1-content a {
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:14px;
  background-color: #FFF;
}

/* Change color of dropdown links on hover */
.dropdown1-content a:hover {color: $green;}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {color: $green;}