
<!--header when not logged in -->
<header *ngIf="!currentUser.loggedIn">
    <div class="header header-main header-var2 fade-load-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-wrapper">
                        <a href="index.html"><img src="assets/images/logo1.png" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="outer-nav">
                        <div class="wrapper-links">
                          
                            <ul class="header-social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                    <span class="sign-in-buttons">
                        <a class="login" (click)="gotopage('login')">Login</a>
                        <!--<a class="register" href="/signup">Register</a>-->
                    </span>
                        </div>
                        <div class="wrapper-main-nav ">
                            <nav class="nav-collapse responsive-menu">
                                <ul class="main-menu">
                                    <li *ngFor="let menu of menuItems; let m = index">
                                        <a *ngIf="menu.link !== 'home'" (click)="gotopage(menu.link)">{{menu.menu}}</a>
                                        <a *ngIf="menu.link == 'home'" (click)="gotopage('home')">{{menu.menu}}</a>
                                        <ul *ngIf="menu.children && menu.children.length > 0">
                                            <li *ngFor="let submenu of menu.children; let m = index">
                                                <a (click)="gotopage(submenu.link)">{{submenu.menu}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="/recipes">Recipes</a></li>
                                    <li><a href="/recipes">Planner</a></li>
                                    <li>
                                        <a href="recipe-listing.html">Recent Recipes</a>
                                        <ul>
                                            <li><a href="recipe-listing.html">recipe listing list view</a></li>
                                            <li><a href="recipe-listing-grid.html">recipe listing grid view</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="recipe-listing.html">Recipe Detail</a>
                                        <ul>
                                            <li><a href="recipe-detail.html">recipe detail version 1</a></li>
                                            <li><a href="recipe-detail2.html">recipe detail version 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="our-chefs.html">Chefs</a></li>
                                    <li><a href="blog.html">blog</a>
                                        <ul>
                                            <li><a href="single.html">Single post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="elements.html">elements</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a class="submit-recipe" href="/recipesubmit">Submit recipe</a></li>-->
                                </ul>
  
                            </nav>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <!--header ends-->



  
<!--header when logged in -->
<header *ngIf="currentUser.loggedIn">
    <div class="header header-main header-var2 fade-load-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-wrapper">
                        <a href="index.html"><img src="assets/images/logo1.png" alt="logo"/></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="outer-nav">
                        <div class="wrapper-links">
                            <span style="margin-right:10px; font-size:14px;color:var(--green) ">Welcome <strong>{{userName}}</strong></span>
                            <ul class="header-social-icons">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                    <span class="sign-in-buttons">
                        <a class="login" (click)="logout()">Logout</a>
                    </span>
                        </div>
                        <div class="wrapper-main-nav ">
                            <nav class="nav-collapse responsive-menu">
                                <ul class="main-menu">
                                    <li *ngFor="let menu1 of menuItems1; let m = index">
                                        <a  (click)="gotopage(menu1.link)">{{menu1.menu}}</a>
                                        <ul *ngIf="menu1.children && menu1.children.length > 0">
                                            <li *ngFor="let submenu1 of menu1.children; let m = index">
                                                <a (click)="gotopage(submenu1.link)">{{submenu1.menu}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                 
                                    <li><a class="submit-recipe" (click)="gotopage('recipesubmit')" href="javascript:void(0)">Submit recipe</a></li>
                                </ul>
  
                            </nav>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <!--header ends-->
