<!--header when not logged in -->
<header class="desktoponly">
    <div class="header header-main header-var2 fade-load-down">
        <div class="container " style="padding-left:0px;" >
            <div class="row">
                <div class="col-4 col-lg-2" style="padding-left:0px;">
                    <div class="logo-wrapper">
                        <a href="index.html"><img style='max-height: 75px;' src="assets/logo-new1.png" alt="logo" /></a>
                    </div>
                </div>
                <div class="col-8 col-lg-10">
                    <div class="outer-nav">
                        <div class="wrapper-main-nav menuTitle"  style="margin-left: 80px">
                            <nav class="nav-collapse responsive-menu">
                                <ul class="main-menu" *ngIf="!loggedIn">
                                    <li (click)="setMenuActive();" [ngClass]="menu.active == true?'active':''"  *ngFor="let menu of menuItems; let m = index">
                                        <a *ngIf="menu.link !== 'home'" (click)="gotopage(menu.link)">{{menu.menu}}</a>
                                        <a *ngIf="menu.link == 'home'" (click)="gotopage('home')">{{menu.menu}}</a>
                                        <ul *ngIf="menu.children && menu.children.length > 0">
                                            <li (click)="setMenuActive();" *ngFor="let submenu of menu.children; let m = index">
                                                <a (click)="gotopage(submenu.link)">{{submenu.menu}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="main-menu" *ngIf="loggedIn">
                                    <li  (click)="setMenuActive();" [ngClass]="menu1.active  == true?'active':''" *ngFor="let menu1 of menuItems1; let m = index">
                                        <a (click)="gotopage(menu1.link)">{{menu1.menu}}</a>
                                        <ul *ngIf="menu1.children && menu1.children.length > 0">
                                            <ng-container *ngFor="let submenu1 of menu1.children; let m = index">
                                            <li *ngIf="submenu1.show" (click)="setMenuActive();" >
                                                <a (click)="gotopage(submenu1.link)">{{submenu1.menu}}</a>
                                            </li>
                                            </ng-container>
                                        </ul>
                                    </li>

                                    <!--<li><a class="submit-recipe" (click)="gotopage('recipesubmit')"
                                            href="javascript:void(0)">Submit recipe</a></li>-->
                                </ul>
                            </nav>

                        </div>
                        <div class="wrapper-links"  style="display: inline-block;
                        margin-right: 0px; margin-top:15px;">
                            <div *ngIf="loggedIn" style="display:inline-block;margin-right: 30px; border: 1px solid #CCC; border-radius: 15px;">
                                <input style="padding: 5px 10px;
                                border-radius: 15px; width: 200px; outline: 0; font-size: 14px;
                                border: 0;" name="searchinput" [(ngModel)]="searchparam" placeholder="Search..." (keyup.enter)="searchparams()" type="text" />
                            </div>
                            <!--<ul class="header-social-icons">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                            </ul>-->

                            <span style="border:0px;">
                                <a class="signin" *ngIf="!loggedIn" (click)="gotopage('login')">Sign In</a>
                                <a class="getapp" *ngIf="!loggedIn" (click)="gotopage('signup')">Get the Free App</a>
                               <!-- <a class="login"   (click)="showProfile = !showProfile">MENU</a>-->
                                <div class="dropdown1 " *ngIf="loggedIn">
                                    <a href="javascript:void(0)" class="droplink"><i class="fa fa-user dropbtn1"></i> <strong><span class="name">{{SetFLU(userName)}}</span></strong></a>
                                    <div class="dropdown1-content">
                                        <!--<span *ngIf="loggedIn"
                                style="margin-right:10px; margin-bottom:10px; font-size:14px;color:var(--green) ">Welcome
                                <strong>{{SetFLU(userName)}}</strong></span>-->
                                <p  style="margin-right:10px; margin-bottom:10px; font-size:14px;color:red " *ngIf='isTrialExpired'>Your Trial version expired.</p>

                                      <a href="javascript:void(0);" (click)="setMenuActive();gotopage('myinfo')">Settings</a>
                                      <!--<a href="javascript:void(0);" (click)="setMenuActive();gotopage('preferences')">Preferences</a>-->
                                      <a href="javascript:void(0);" (click)="setMenuActive();gotopage('progress')">Progress</a>
                                      <a href="javascript:void(0);" (click)="setMenuActive();gotopage('calculate')">Calculators</a>                                     
                                      <!--<a href="javascript:void(0);" (click)="gotopage('recipesmodify')">Modify Recipes</a>-->
                                      <a *ngIf="isUser && isUser['admin']" href="javascript:void(0);" (click)="setMenuActive();gotopage('admin/approverecipes')">Admin</a>
                                      <a  (click)="logout()" href="javascript:void(0)">Logout</a>
                                    

                                      
                                    </div>
                                  </div>
                                
                            </span>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header ends-->
<!-- Mobile menu starts -->
<header class="mobileonly">
    <div class="row">
        <div class="col-6">
            <div style="padding:10px" class="">
                <a href="index.html"><img style="max-width :100px" src="assets/logo-new1.png" alt="logo" /></a>
            </div>
        </div>
        <div class="col-6">
            <div class="menuham" (click)="showMenu = !showMenu;">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="col-12  menu-mob" *ngIf="showMenu">
        
            <p class="username" *ngIf="loggedIn">Welcome <strong>{{userName}}</strong></p>
            <ul class="main-menu-mob" *ngIf="!loggedIn">
                <li *ngFor="let menu of menuItems; let m = index">
                    <a (click)="mobilemenu(menu)" >{{menu.menu}}</a>
                    <ul class="submenu" *ngIf="menu.expand && menu.children && menu.children.length > 0">
                       <li *ngIf="menu.menu.toLowerCase() == 'home'" ><a (click)="mobilemenu(menu)">Home</a></li>
                        <li *ngFor="let submenu of menu.children; let m = index">
                            <a (click)="mobilemenu(submenu)">{{submenu.menu}}</a>
                        </li>
                    </ul>
                </li>
                <li><a (click)="showMenu= !showMenu;  gotopage('login')">Login</a></li>
            </ul>
            <ul class="main-menu-mob" *ngIf="loggedIn">
                <li *ngFor="let menu1 of menuItems1; let m = index">
                    <a (click)="mobilemenu(menu1)">{{menu1.menu}}</a>
                    <ul *ngIf="menu1.expand && menu1.children && menu1.children.length > 0">
                        <ng-container  *ngFor="let submenu1 of menu1.children; let m = index">
                        <li *ngIf="submenu1.show">
                           <!-- <a (click)="mobilemenu(submenu1)" *ngIf = "submenu1.menu == 'Create Plan'" class="hidden-xs">{{submenu1.menu}}</a>
                            <a *ngIf = "submenu1.menu != 'Create Plan'" (click)="mobilemenu(submenu1)">{{submenu1.menu}}</a>-->
                            <a (click)="mobilemenu(submenu1)">{{submenu1.menu}}</a>
                        </li>
                        </ng-container>
                    </ul>
                </li>
            
 
                <li><a (click)="setMenuActive();gotopage('myinfo')" href="javascript:void(0)">Settings</a></li>
                <!--<li><a (click)="setMenuActive(); gotopage('progress')" href="javascript:void(0)">Progress</a></li>-->
                <li><a (click)="setMenuActive(); gotopage('calculate')" href="javascript:void(0)">Calculators</a></li>
                <!--<li><a (click)="setMenuActive(); gotopage('admin/approverecipes')" href="javascript:void(0)">Admin</a></li>-->
                <li><a (click)="showMenu= !showMenu; logout()">Logout</a></li>
            </ul>
        
        
        </div>
    </div>

</header>


<!-- Mobile menu ends -->