@import "../../variables.scss";
.bg
{
  background-color: #f1f2f3;
}
h2 {
    margin: 5px 0;
    font-family:'Lora', serif;
    font-size:24px;
  }

.q-panel
{
  padding:20px;
  margin:0 auto;
  max-width: 700px;
  margin-bottom: 30px;
  border:1px solid #CCC;
  border-radius: 5px;
  background-color: #FFF;
  text-align:left;
}
.question-text
{
  margin-bottom:30px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight:normal;
  font-family: 'Lora';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $orange1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




/* For check box */


.containerc {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight:normal;
  font-family: 'Lora';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerc input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkc {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerc:hover input ~ .checkmarkc {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerc input:checked ~ .checkmarkc {
  background-color: $orange1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkc:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerc input:checked ~ .checkmarkc:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerc .checkmarkc:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.leftradius
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.rightradius
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.opts
{
  display: inline-block;
  margin-left:10px;
  margin: 30px auto;
    text-align: center;
    /*width: 100%;*/
}

.opts .opt:nth-child(1)
{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.opts .opt:nth-child(2)
{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.opt
{
  padding:5px 10px;
  color:$text-gray;
  background:#eee;
  display:inline-block;
  font-size: 14px;
}
.opt.sel
{
background: $orange;
color:#FFF;
}

.rotate {
   // position: absolute;
  //  top: 50%;
  //  left: 50%;
    width: 120px;
    height: 120px;
    margin-top:60px;
  //  margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


  .desktoponly
{
  display:none;
}
.mobileonly
{
  display:block;
}

