<div class="fixedtop recipes-home-body inner-page">


  <div class="container" style="padding-left:0px">
     <div class="row">
                    <div class="col-md-12 col-lg-12">
                      <div class="recipe-set">         
                          <h2 style="width:60%">Take this questionnaire to let us know your choices!!!</h2>
                         <div style="text-align: right"> <a href="javascript:void(0)" (click)="gotopage('signup')">Skip?</a></div>
                      </div>
                      </div>
                    </div>
    <!-- <div style="padding-top:40px; text-align:center;">
      <p style="width:100%; max-width: 700px; margin: 0 auto;text-align:right;"><a href="javascript:void(0)" (click)="gotopage('signup')">Skip?</a></p>
      <h2>Take this questionnaire to let us know your choices!!!</h2>
    </div> -->
  </div>


  <div class=" recipes-home-body inner-page">

    <div class="row w-1200" style="text-align:center; margin:0 auto;">
      <div class="col-12">
        <div id="wrapper">
          <div class="questions-panel">
            <div *ngIf="!processing">

              
              <div class="q-panel " *ngFor="let question of questions; let cq = index;">
                <div class="  wow animated bounceInRight">
                  <h2 class="question-text">{{getFLU(questions[cq].question)}}</h2>



                  <div *ngIf="questions[cq]['type'] == 'text'" style="text-align:left;">

                    <input class="input-text" type="text"
                      (keyup)="setAnswerText(questions[cq], cq)" placeholder="Please enter value" name="question{{cq}}"
                      [(ngModel)]="questions[cq]['answer']">&nbsp;
                    <span style='margin-left: 10px; font-size: 14px;'
                      *ngIf="questions[cq].textlabel">{{questions[cq].textlabel}}</span>

                    <div style="display:inline-block" class="opts"
                      *ngIf="questions[cq] && questions[cq].options &&  questions[cq].options.length > 0">
                      <div (click)="toggleChoice(questions[cq], questions[cq].options, i)"
                        [ngClass]="opt.selected?'opt sel':'opt'"
                        *ngFor="let opt of questions[cq].options; let i = index;">{{opt.name}}</div>

                    </div>

                  </div>
                  <div style="width:100%; overflow-x:auto;">
                    <div class="options-panel" *ngIf="questions[cq]['type'] == 'option'">

                      <div style="display:block; text-align:left; margin:0 auto;"
                        *ngFor="let answer of questions[cq]['answers']; let a = index;">


                        <label class="containerc" style=""> {{getFLU(answer.text)}}
                          <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"> -
                            {{getFLU(answer.subtext)}}</span>
                          <input name="answer{{cq}}{{a}}" id="answer{{cq}}{{a}}" [(ngModel)]="answer.selected"
                            (change)="setAnswer(answer, cq, questions[cq]['type'])" type="checkbox"
                            [checked]="answer.selected">
                          <span class="checkmarkc"></span>
                        </label>
                      </div>

                    </div>
                    <div class="options-panel" *ngIf="questions[cq]['type'] == 'checkbox'">

                      <div style="display:block; text-align:left; margin:0 auto;"
                        *ngFor="let answer of questions[cq]['answers']; let b = index;">
                        <label class="containerc" style=""> {{getFLU(answer.text)}}
                          <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"> -
                            {{getFLU(answer.subtext)}}</span>
                          <input name="answer{{cq}}" id="answer{{cq}}{{b}}" [(ngModel)]="answer.selected"
                            (click)="setAnswer(answer, cq,  questions[cq]['type'])" type="checkbox" checked="checked">
                          <span class="checkmarkc"></span>
                        </label>
                      </div>
                      <!--<div style = "display: flex; justify-content: center;" *ngIf="questions[cq]['answers'] && questions[cq]['answers']['length'] > 0">
                <div [ngClass]="answer['selected']?'btn-panel active':'btn-panel'" (click)="setAnswer(answer, questions[cq]['type'])" *ngFor="let answer of questions[cq]['answers']; let a = index;">
                  <div  class="answer-box" >
                    {{getFLU(answer.text)}}
                    <span style="font-size:12px; color:#000" *ngIf="answer.subtext !== ''"><br>{{getFLU(answer.subtext)}}</span>
                  </div>
                 
                </div>
            
              </div>-->
                    </div>
                  </div>

                </div>
              </div>

              <div class="submit-recipe-form" style="width:100%; margin:0 auto;text-align:center;background:transparent;">
                <button [disabled]="answerCount == questions.length -1" class="recipe-submit-btn"
                  (click)="complete()">Submit Questionnaire</button>
              </div>
              
            </div>
            

            <div *ngIf="processing">
             <h3>Processing</h3>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>