

@import "../../../../_variables.scss";



.container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
  color:$text-gray;
}

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #FFF;
   //border-radius: 50%;
   border:1px solid $orange;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #FFF;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
background-color: $orange;
  border:1px solid $orange;
  //background-color: #66bb6a;
  //border:1px solid #66bb6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 8px;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/***************8 Search bar */



.searchicon
{
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px;
  padding: 8px 8px;
  min-width: 30px;
padding-left:11px;
padding-right:11px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 6px rgba(0,0,0, 0.08);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.13) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.13) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.13) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#17000000',GradientType=0 );
}


.inputbox {
  border-radius: 4px;
  width: calc(100% - 270px);
  //min-width: 200px;
  //max-width:150px;
  padding: 8px 15px;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-size: 14px;
  //box-shadow: inset 0 6px 5px -5px rgb(32 36 39 / 18%);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
 
  font-weight: 400;
  border: 1px solid #ccc;
  outline: none;

}

.searchbaranim {
  opacity: 1;
  -webkit-animation: slide 1s ease 3.5s forwards;
  animation: slide 1s ease 3.5s forwards;
}

.searchmorebar{
  background: #FFF;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  color: #555555;
  font-size: 10pt;
  text-align: left;
}


.searchmorebar select {
  width: 15%;
  display: inline-block;
  margin-right: 10px;
}


.showonmobile {
  display: none !important;
}

.searchbtn {
 // width: 160px;
}
.defaultbtn {
  margin-top: 10px;
  line-height: 1;
  border: none;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  letter-spacing: 0em;
  padding: 13px 25px;
  margin-bottom: 0px;
 // max-width: 160px;
  margin-left: 8px;
  font-size: 14px;
  color: #ffffff;
  //background-color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  background-position: bottom left;
  background-repeat: repeat-x;
 // background-image: url(button-hover.png);
  text-shadow: 0px -1px 0px rgb(0 0 0 / 40%);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 25%);
}
.header-more-search-btn{
 // width: 100%;
  margin: 0 auto;
  text-align: right;
  margin-top: -4px;
}

.header-more-search-btn i {
  margin-right: 20px;
  background: #FFF;
  color: #CCC;
  padding: 10px;
  padding-top: 0px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.fa-chevron-up:before {
  content: "\f077";
}


.searchbaranim
{
  opacity: 1;
  -moz-animation: slide 1s ease 3.5s forwards;
   -webkit-animation: slide 1s ease 3.5s forwards;
   -o-animation: slide 1s ease 3.5s forwards;
   -ms-animation: slide 1s ease 3.5s forwards;
    animation: slide 1s ease 3.5s forwards;
}

.inputbox-fullwidth {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #ccc;
  outline: none;
  width:100%;
}


.paddinglr0
{
  padding-left: 0;
  padding-right: 0;
}
.mineral-input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #CCC;
  text-align: center;
  outline: 0;
}
.maxmin {
  font-size: 12px;
  font-style: italic;
  color: #CCC;
  display:none;
}


.filterlabel
{
  color: $text-gray;
    padding: 10px 15px;
    background: #f1f1f2;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right:15px;
}

.filterlabel:hover, .filterlabel.active
{

  background: #fff;
   border: 1px solid $orange;
  color:$text-gray;
  text-decoration: none;
}

.filter-title
{
  color: $text-gray;
  font-size:$font-large;
}

.filter-group
{
  margin-top:10px;
}

.mleft {
  margin-left:45px;
}

 @media (max-width: 768px) {
 
  .inputbox {
  width: 80%;
  }

  .filterlabel
{
  color: $text-gray;
    padding: 5px;
    background: #f1f1f2;
    border: 1px solid #eee;
    border-radius: 1px;
    margin-right:5;
    line-height:3;
}

.mleft {
  margin-left:0px;
}

  
}

.listing-grid .listing {
  text-align: center;
  flex-direction: column;
  width: 25% ;
 //width: 20% ;
}


@media (max-width: 767px) {
.listing-grid .listing {
  text-align: center;
  flex-direction: column;
  width: 100%;
}
}

.lbl{
  font-size:14px !important;
}

.multi-select-lbl
{
  display:inline-block;
}
.maxheight100
{
  max-height:200px;
  overflow:auto;
}

.multi-select
{
  position: absolute;
  width: 220px;
  z-index: 99;
  background: #FFF;
  padding: 0px 10px 10px 10px;
  border: 1px solid #CCC;
  top: 35px;
  max-height: 300px;
  overflow:auto;
  box-shadow: 0px 1px 10px #999;
  border-radius:5px;
}


/************* modify recipe*/



.item-section
{
 //@debug width:50%; display:inline-block;
  padding:10px;
}

.item-section select
{
  padding:5px;
}
.modify-recipe-sec
{
  padding-bottom:10px;
}
.modify-recipe-sec .btn
{
  padding:10px; 
  background: $orange1;
  border:1px solid $orange1;
  color:#FFF;
  font-size:16px;
}

.modify-recipe-sec .btnc
{
  padding:10px; 
  background: #FFF;
  border:1px solid $orange1;
  color:$orange1;
  font-size:16px;
  margin-left:10px;
}


.submit-comment {
    height: 42px;
    background: #ccc;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #ffffff;
    padding: 0 35px;
    border: none;
    transition: 0.2s all ease-in-out;
}

.submit-comment.active {
 background: #6ebe3b;
 }





  @media (max-width: 767px) {
    .multi-select-lbl
    {
      display:block;
    }
    .multi-select
    {
      top: 0px;
      position: unset; 
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .multi-select-lbl
    {
      display:block;
    }
    .multi-select
    {
      top: 0px;
      position: unset; 
      margin-bottom: 20px;
    }
  }
