@import "../../../variables.scss";




.pagination
{
  
    width: 100%;

    display: block;
    text-align: center;
}



a {
    color:$text-gray;
}

a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }


.rating
{
  color: #CCC;
  font-size:16px;
}
.rating-h
{
  color: orange;
  font-size:16px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

.left130
{
  left:-200px;
}
.leftunset
{
  left:unset;
}

  








