<div class="fixedtop recipes-home-body inner-page">
    
    <div class="container"  style="padding-left:0px; padding-right:0px;padding-top:20px">
        <div class="row">
            <div class="col-md-8 col-lg-9">
               
                <div style=' width:100%'></div>
                <div class="recipe-set">
                   <!--  <div class="listing-buttons">
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'grid'?'grid current':'grid' "><i
                                class="fa fa-th-large"></i></span>
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'list'?'list current':'list'"><i
                                class="fa fa-bars"></i></span>
                    </div> -->
                    <h2>Favourite Recipes</h2>
                    <h3 *ngIf='displayList.length == 0' style="margin-bottom:20px">You have no favourites recipes yet. Please search recipes and set as favourite.</h3>
                    <ul class="pagination" *ngIf="displayList.length > 0 && totalPage > 0">
                        <li (click)="currentPage(0)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li (click)="prevPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        
                        <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                            <a href="javascript:void(0)">{{i+1}}</a>
                        </li>
                        <li (click)="nextPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li (click)="currentPage(totalPage)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>   
                    </ul>
                    <div class="recipe-listing {{listorgrid.panel}}">


                        <div class="listing" *ngFor="let recipe1 of displayList; let i = index;">
                            <div class="image image-animate detail" style="background:#f8f8f8;">
                                <a (click)="gotoRecipeDetails(recipe1.id)">
                                    <img style="max-width:200px; max-height:200px" src="{{formatImage(recipe1.image, 'm')}}"
                                        alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <h4><a (click)="gotoRecipeDetails(recipe1.id)">{{recipe1.label}}</a></h4>
                                <p innerHTML="{{limitTo(recipe1.s_instructions, 200)}}">

                                </p>
                                <div class="meta-listing">
                                    <div style="display:inline-block;color: #5e676b;">
                                        Calories: {{recipe1.calories}} Kcal
                                    </div>
                           
                                    <div class="rating-box">
                                        <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                                            <i [ngClass]="item <= recipe1.displayrating?'fa fa-star rating-h':'fa fa-star rating'"></i>
                                        </span>
                                        <span class="rating-figure">{{recipe1.displayrating}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="pagination" *ngIf="displayList.length > 0 &&  totalPage > 0">
                            <li (click)="currentPage(0)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li (click)="prevPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            
                            <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                                <a href="javascript:void(0)">{{i+1}}</a>
                            </li>
                            <li (click)="nextPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li (click)="currentPage(totalPage)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>   
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
