<div class="fixedtop recipes-home-body inner-page">
    
    <div class="container"  style="padding-left:0px; padding-right:0px;padding-top:20px">
        <div class="row">
            <div class="col-md-8 col-lg-9">
               
                <div style=' width:100%'></div>
                <div class="recipe-set">
                   <!--  <div class="listing-buttons">
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'grid'?'grid current':'grid' "><i
                                class="fa fa-th-large"></i></span>
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'list'?'list current':'list'"><i
                                class="fa fa-bars"></i></span>
                    </div> -->
                    <h2>Favourite Recipes</h2>
                    <h3 *ngIf='displayList.length == 0' style="margin-bottom:20px">You have no favourites recipes yet. Please search recipes and set as favourite.</h3>
                       </div>


                     <!-- new design -->

                         <div class="row">


                        <div class="col-12 col-lg-4 col-md-4" *ngFor="let recipe1 of recipesList1; let i = index;">
                            <div class="collection-item">
                            <div class="image image-animate" >
                                <div style="position:absolute; left:unset;top:10px;right:10px;z-index:1">
                                    <a (click)="showhidecontent(recipe1)" href="javascript:void(0)" [ngClass]="recipe1.showpopup?'contextmenu-icon active bgcontext':'contextmenu-icon bgcontext'" style="text-align:center;"><i class="fa fa-ellipsis-v"></i></a>
                                        <div *ngIf="recipe1.showpopup" class="contextmenu" style="left:unset;top:25px; right:0px;"><a  class="menu" href="javascript:void(0)"  (click)="gotoRecipeDetails(recipe1.id)" ><i class="fa fa-list"></i>View Recipe</a>
                                           <a class="menu" (click)="removeFavourite(recipe1.id)" href="javascript:void(0)"><i class="fa fa-heart"></i>Remove Favourite</a>
                                        </div>
                                        </div>
                             
                                 <a (click)="gotoRecipeDetails(recipe1.id)">
                                    <img *ngIf="recipe1.image !== ''" src="{{formatImage(recipe1, 'm')}}"
                                        alt="image">
                                     <img *ngIf="recipe1.image == ''"  src="assets/notavailable.png" alt="{{recipe1.label}}">
                                </a>
                                <div class="detail">
                                    <a (click)="gotoRecipeDetails(recipe1.id)"  title = "{{recipe1.label}}" ><h3 style="font-size:16px">{{limitTo(recipe1.label, 23)}}</h3></a>

                                      <p>Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>

                                       <!--  <p style="float:left;"> Per Serving: <span
                                                style="font-size:12px;">{{formatValuePServing(recipe1.calories,
                                                recipe1.yield)}} Kcal &nbsp;&nbsp;&nbsp;</span></p> -->
                                        <div class="rating-box" style="padding:0px; float:right;width:unset;">
                                            <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                                                <i
                                                    [ngClass]="item <= recipe1.displayrating?'fa fa-star rating-h':'fa fa-star rating'"></i>
                                            </span>
                                        </div>

                                   
                                  </div>
                            </div>
                            
                            </div>
                        </div>
                      
                    </div>

                        <!--  ends -->
                   
             
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
