@import "../../../variables.scss";







a {
    color: #000;
}

a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }


.rating
{
  color: #CCC;
  font-size:16px;
}
.rating-h
{
  color: orange;
  font-size:16px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}
  








