@import "../../../_variables.scss";

.sidemenu
{
  padding-top:20px;
  li
  {
    list-style-type: none;
    padding: 10px;
    
    a
    {
      padding:10px;
      color:#000;
      font-size: 14px;
      width: 100%;
      font-weight:normal;
      border-left:2px solid transparent;
    }
    a:hover
    {
      text-decoration: none;
    }
    
  }
  li.active
  {
    
    a{
      border-color:$orange1;
    }
  }
}
