<!--	<div class="bgborder paddingt10 " style="margin-bottom:10px;">
		<ul class="adminmenu">
			<li *ngFor="let aitem of amenuItems; let i = index" >
				<a *ngIf="aitem.visible" [ngClass]="(aitem)?'nav-link':'nav-link active'" (onclick)="setmenu(aitem)" [routerLink]="aitem.link" routerLinkActive="active"> {{aitem.menu}} </a>
			</li>

		</ul>
	</div>
-->
<!--
	<div class="container">
		<div class="card">
		  <div class="header">
			<h3>Menu IU <i class="fa fa-angle-down iconM"></i></h3>
		  </div>
		  <div class="body">
			<ul>
			  <li><i class="fa fa-home icon"></i> Home</li>
			  <li><i class="fa fa-underline icon"></i> Tipography</li>
			  <li><i class="fa fa-boxes icon"></i> Widgets</li>
			  <li><i class="fa fa-table icon"></i> Tables</li>
			  <li><i class="fa fa-wpforms icon"></i> Forms
				<ul>
				  <li><i class="fa fa-pencil-alt icon"></i> First form</li>
				  <li><i class="fa fa-paper-plane icon"></i> Second form</li>
				</ul>
			  </li>
			  <li><i class="fa fa-chart-pie icon"></i> Charts</li>
			</ul>
		  </div>
		</div>
	  </div>
-->


<div class="containeradmin" style="margin-bottom:15px;">

	<nav class="navigation">
		<ul class="mainmenu">
		  <li *ngFor="let aitem of amenuItems; let i = index;">
			  <a [ngClass]="aitem.active?' active ':' '" href="javascript:void(0);" (click)="setmenu(aitem)">
			  	<i class="fa fa-{{aitem.icon}}"></i>
				  <strong> {{aitem.menu}} </strong> 
				</a>
		
			<ul *ngIf="aitem.link == '/admin/extras'" class="submenu">
				<li *ngFor="let asitem of asubmenuItems; let j=index;"><a href="javascript:void(0);" (click)="setmenu(asitem, true)" ><i class="fa fa-{{asitem.icon}}"></i>
					<strong> {{asitem.menu}} </strong></a></li>
	  
			  </ul>
			</li>
		  <li style="display:none"><a href="">Extras</a>
			<ul class="submenu">
			  <li *ngFor="let asitem of asubmenuItems; let j=index;"><a href="javascript:void(0);" (click)="setmenu(asitem)" >Tops</a></li>
	
			</ul>
		  </li>

		</ul>
	  </nav>

	<nav style="display:none;" >
			<ul class="mcd-menu">
				<li *ngFor="let aitem of amenuItems; let i = index;" >
					<div *ngIf="aitem.id !== 'extras' && aitem.visible" style="height:54px" [ngClass]="(aitem.active)?' active ':' '" (click)="setmenu(aitem)">
						<i class="fa fa-{{aitem.icon}}"></i>
						<strong> {{aitem.menu}} </strong>
						<small>{{aitem.subtitle}}</small>
					</div>
				</li>
				<li >
					<div [ngClass]="(extraItem.active)?' active':' '" style="height:54px" (click)="setmenu(extraItem)" >
						<i class="fa fa-list"></i>
						<strong>Extras</strong>
						<small>Additionals</small>
					</div>
						<ul id="submenu">
							<li *ngFor="let asitem of asubmenuItems; let j=index;">
								<div style="height:54px"  
								(click)="setmenu(asitem)" 
								>	<!--<i class="fa fa-{{asitem.icon}}"></i>-->
								<strong> {{asitem.menu}} </strong></div>
							</li>
						</ul>

				</li>

<!--
				<li>
					<a href="">
						<i class="fa fa-home"></i>
						<strong>Home</strong>
						<small>sweet home</small>
					</a>
				</li>
				<li>
					<a href="" class="active">
						<i class="fa fa-edit"></i>
						<strong>About us</strong>
						<small>sweet home</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-gift"></i>
						<strong>Features</strong>
						<small>sweet home</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-globe"></i>
						<strong>News</strong>
						<small>sweet home</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-comments-o"></i>
						<strong>Blog</strong>
						<small>what they say</small>
					</a>
					<ul>
						<li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
						<li>
							<a href="#"><i class="fa fa-group"></i>Our Team</a>
							<ul>
								<li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
								<li>
									<a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
									<ul>
										<li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
										<li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
									</ul>
								</li>
								<li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
						<li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
					</ul>
				</li>
				<li>
					<a href="">
						<i class="fa fa-picture-o"></i>
						<strong>Portfolio</strong>
						<small>sweet home</small>
					</a>
				</li>
				<li>
					<a href="">
						<i class="fa fa-envelope-o"></i>
						<strong>Contacts</strong>
						<small>drop a line</small>
					</a>
				</li>
				<li class="float">
					<a class="search">
						<input type="text" value="search ...">
						<button><i class="fa fa-search"></i></button>
					</a>
					<a href="" class="search-mobile">
						<i class="fa fa-search"></i>
					</a>
				</li>-->
			</ul>
		</nav>
	</div>


	