<div class="fixedtop recipes-home-body inner-page">

    <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="recipe-set">
                    <h2 style="width:75%">Search Results for <b>{{searchparam["param"]}}</b>
                    <span *ngIf="userInfo"><b>{{userInfo.firstname}} {{userInfo.lastname}}</b></span>
                    </h2>
                    <!--  <a href="javascript:void(0)" style="font-size:20px;" (click)="showFilters = !showFilters">
                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    </a> -->
                     <div class="sortBtn" (click)="showFilters = !showFilters">
    <i class="fa fa-sort-amount-asc" style="margin-right:10px;"></i>    
     
  </div>
                
                <div>
                   
                    <div *ngIf="showFilters" style="position: absolute;
                   width: 180px;
                   height: 120px;
                   top: 20px;
                   right: 0;
                   z-index: 1;
                   background: #FFF;
                   border: 1px solid #ccc;
                   padding-top: 20px;
                   border-radius: 10px;
                   text-align:left;
                   padding-left: 15px;">
                        <div style="display:block">
                            <label class="container lblcheckbox">Sort by Asc
                                <input (change)="showFilters= false;filterRecords('asc')" [(ngModel)]='filterOpts.asc'
                                    type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div style="display:block">
                            <label class="container lblcheckbox">Sort by Desc
                                <input (change)="showFilters= false;filterRecords('desc')" [(ngModel)]='filterOpts.desc'
                                    type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div style="display:block">
                            <label class="container lblcheckbox">Sort by Calories
                                <input (change)="showFilters= false;filterRecords('calories')"
                                    [(ngModel)]='filterOpts.calories' type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>


                    </div>
                </div>
                </div>
                <!--<div class="wrapper-search">

                    <div class="row">
                        <div class="col-12 "
                            style="background:#FFF;  margin:0;  padding-bottom:20px;padding-left:0px; padding-right:0px;">
                            <div style="padding-left: 10px; padding-right: 10px;" class="col-12">
                                <label class="searchicon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                                <input type="text" [(ngModel)]="searchparam.q" class="inputbox"
                                    placeholder="Search Recipes..." />
                                <input type="button" (click)="hideLabels();searchProps()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Search">
                                <input type="button" (click)="hideLabels();clearFilters()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Clear">
                            </div>


                            <div class="searchmorebar searchbaranim">
                                <div class="row mleft">

                                    <div class="col-12 col-xs-12" style="margin-bottom:10px;">

                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[0].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[0])">
                                                {{searchFilterLabels[0].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>

                                            <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container
                                                        *ngFor="let hlabel of healthlabelsList; let h = index">
                                                        <div class="listSection " id="healthLabels">
                                                            <label class="container">{{hlabel.name}}
                                                                <input [(ngModel)]="hlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[1].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[1])">
                                                {{searchFilterLabels[1].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                        <div class="listSection  " id="diethLabels">
                                                            <label class="container">{{dlabel.name}}
                                                                <input [(ngModel)]="dlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[2].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[2])">
                                                {{searchFilterLabels[2].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">


                                                    <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                        <div class="listSection " id="cuisineType">
                                                            <label class="container">{{setFLU(clabel.name)}}
                                                                <input [(ngModel)]="clabel.selected" type="checkbox"
                                                                    [checked]="c == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[3].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[3])">
                                                {{searchFilterLabels[3].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">
                                                    <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                        <div class="listSection " id="mealType">
                                                            <label class="container">{{setFLU(mlabel.name)}}
                                                                <input [(ngModel)]="mlabel.selected" type="checkbox"
                                                                    [checked]="m == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[4].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[4])">
                                                {{searchFilterLabels[4].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">
                                                    <div class="row " style="margin-left:0px ;margin-right:0px;">
                                                        <ng-container
                                                            *ngFor="let mlabel of mineralsLabelsList; let m = index">

                                                            <div class="col-12 paddinglr0">
                                                                <div class="row">


                                                                    <div class="col-12 ">
                                                                        <label class="container">{{setFLU(mlabel.name)}}
                                                                            <input [(ngModel)]='mlabel.selected'
                                                                                type="checkbox"
                                                                                [checked]="m == 0?'checked':''">
                                                                            <span class="checkmark"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">

                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_min"
                                                                            [(ngModel)]="mlabel.min"
                                                                            placeholder="min" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_min)}}</span>

                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">
                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_max"
                                                                            [(ngModel)]="mlabel.max"
                                                                            placeholder="max" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                                                    </div>
                                                                    <div class="col-2 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                                </div>
                                                            </div>

                                                        </ng-container>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[5].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[5])">
                                                {{searchFilterLabels[5].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 multi-select"
                                                style="height:65px">
                                                <div class="filter-group">
                                                    <div class="listSection" style="display:block;margin:0px">
                                                        <input [(ngModel)]="maxcalories"
                                                            placeholder="Enter maximum calories" type="text"
                                                            class="inputbox" style="margin-top:0px;width:180px" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-12 showonmobile">
                                        <input type="button" (click)="searchProps()" style="margin-bottom:10px;"
                                            class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit"
                                            value="Search">

                                    </div>

                                </div>



                            </div>


                        </div>



                    </div>

                </div>-->
               
                <div *ngIf="loadingData && !noResult">Loading data...</div>
                <div *ngIf="!loadingData">
                    <h2 style="width:100%;font-weight: 900">Recipes ({{recipesList1.length}})
                        <div style="float:right;text-align:right; background:#FFF;"> <a href="javascript:void(0)" style="font-size:12px;" (click)="gotopage('recipes')">
                           View More
                        </a>
                    </div>
                    </h2>
                 
                </div>

                <div class="recipe-set" *ngIf="!noResult">
                    <div class="recipes-horizontal divoverflowh">


                        <div class="listing-search"  *ngFor="let recipe1 of recipesList1; let i = index;">
                            <div class="image-animate details">
                                <div class="more" style="right: 10px;
                                text-align: center;
                                top: 20px;">
                                    <!--<a (click)="showhidecontent(recipe1)" href="javascript:void(0)" [ngClass]="recipe1.showpopup?'contextmenu-icon active':'contextmenu-icon'" style=""><i class="fa fa-ellipsis-v"></i></a>-->
                                    <div *ngIf="recipe1.showpopup" style="top:30px;" class="contextmenu" [ngClass] = "i == 0? 'left130':'leftunset'"> 
                                       <a class="menu"  href="javascript:void(0)" (click)="recipe1.showpopup = false; addtoMealPlan(recipe1); "><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add Meal</a>
                                  
                                        <a  class="menu" href="javascript:void(0)"  (click)="recipe1.showAdd2MP = false; recipe1.showpopup =false; gotoRecipeDetails( recipe1.id)" ><i class="fa fa-list"></i>View Recipe</a>
                                 

                                         </div>

                                    <div *ngIf='recipe1.showAdd2MP' class="" style="top:0; height: 160px; " [ngClass] = "i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)" (click)="recipe1.showAdd2MP = false;"><i class="fa fa-close" aria-hidden="true"></i> </a>
                                        <p class="title"  style="display:block"> Add Recipe to Meal Plan</p>
                                      
                                        <div style="display: inline-block;
                                        width: 49%;margin-right:2%">
                                        <select name="planday" [(ngModel)] ="addtoplan.day">
                                            <option value="{{day.id}}" placeholder="Choose day" *ngFor='let day of daysList; let i = index'>{{day.name}}</option>
                                        </select>
                                        </div>                                        <div style="display: inline-block;
                                        width: 49%;">
                                        <!--<span class="lbl">Choose Meal Type</span>-->
                                        <select name="planmealtype" placeholder="Choose meal type" [(ngModel)] ="addtoplan.mealType">
                                            <option value="{{i}}" *ngFor='let mealtype of mealTypeList; let i = index'>{{mealtype.name}}</option>
                                        </select>
                                    </div>
                                        <a style="display:block;" class="btn" href="javascript:void(0)" (click)="recipe1.showAdd2MP= false;add2Plan()"> Add to Plan</a>
                
                                                
                                    </div>
                                    <div *ngIf='recipe1.showAdd2C' class="add2mealplanmenu" style="top:0px;width:300px; z-index: 100; height:220px;">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)" (click)="recipe1.showAdd2C = false;"><i class="fa fa-close" aria-hidden="true"></i> </a>
                                        <p class="title" style="display:block"> Add Recipe to Collections</p>
                                        <p class="lbl">Choose Collection</p>
                                        <select name="collectionid" [(ngModel)] ="collection.id">
                                            <option value="{{collection.id}}" *ngFor='let collection of collectionsList; let i = index'>{{collection.collection_name}}</option>
                                        </select>
                                     
                                        <a class="btn" style="width:100%;display:block;" href="javascript:void(0)" (click)="add2Collection(recipe1)"> Add to Collection</a>
                                        
                                    </div>
                                    </div>
                                    <a  (click)="gotopage('recipedetails', recipe1.id)" href="javascript:void(0)" title="{{recipe1.label}}"><img style="width:90%; max-height:150px;object-fit: cover;"  id="imagep_{{i}}"   src="{{recipe1.image}}"
                            alt="image">  </a><br/>
                                <a (click)="gotopage('recipedetails', recipe1.id)" href="javascript:void(0)" title="{{recipe1.label}}"><span innerHTML="{{limitTo(recipe1.label, 25)}}" style="font-size:14px;padding-left:6px"></span></a>
                                <p style="font-size:14px;padding-left:6px">Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>
                                <div class="meta-listing">                                   
                                    <div *ngIf="showNutrientsFlag" style="display:inline-block;color: #5e676b;font-size:13px">
                                         <span style="font-size:12px;padding-left:6px">({{formatValuePServing(recipe1.calories, recipe1.yield)}} Kcal / Serving)</span>
                                    </div>                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>

             
                <div class="recipe-set" *ngIf="noResult">
                    <p> No Results</p>
                </div>



                <div style='height:40px; width:100%'></div>
                <div *ngIf="!loadingData && communitiesList.length >0">
                    <h2 style="font-weight: 900">Collections </h2>
                </div>

                <div class="recipe-set" *ngIf="!noResult">
                    <div class="recipes-horizontal divoverflowh">


                        <div class="listing-search"  *ngFor="let community of communitiesList; let i = index;">
                            <div class="image-animate details" (click)="gotopage('collection', community.id)">

                                    <a hreaf="javascript:void(0)" title="{{community.collection_name}}"><img style="width:90%; max-height:150px; object-fit: cover;"  id="imagep_{{i}}"  draggable="true"  src="{{community.image}}"
                            alt="image">  </a><br/>
                            
                                 <a title="{{community.collection_name}}"><span innerHTML="{{limitTo(community.collection_name, 30)}}" style="font-size:14px;padding-left:6px"></span></a>
                                <p style="font-size:14px;padding-left:6px">Created by:<a title="{{community.firstname}} {{community.lastname}}"><span style="font-size:12px;"> {{community.firstname}}</span></a></p>

                                
                            </div>
                           
                        </div>


                    </div>
                </div>


            </div>
        </div>

    </div>



<jw-modal id="modifyrecipe">

    <form name="form" #uf="ngForm" novalidate class="popup-panel">
        <div class="modal-header">
            <h2 style="margin:15px; ">
                <span>Modify Recipe Details</span>

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal"
                aria-label="Close" (click)="closeModal('modifyrecipe');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="newRecipe">

            <div class="row">

                <div class="col-12" style="max-height: 300px; overflow: auto;">
                    <div class="row">
                        <!-- <p class="title" style="display:block"> Modify Recipe </p> -->
                        <div class='col-12 item-section' style="width:100%;  font-size:15px;">
                            <p class="lbl">Recipe Name</p>
                            <textarea style='width:100%' name="newrecipename" [(ngModel)]="newRecipe.label"></textarea>

                        </div>
                        <div class='col-12 item-section' style="width:100%">
                            <p class="lbl">Instructions</p>
                            <textarea rows=6 style='width:100%; font-size:15px;' name="newrecipeins"
                                [(ngModel)]="newRecipe.s_instructions"></textarea>

                        </div>

                        <div class='col-12 col-lg-3 col-md-3 item-section'>
                            <p class="lbl">Health label</p>
                            <select name="planid" [(ngModel)]="newRecipe.healthLabels">
                                <option value="{{hlabel.name}}" *ngFor='let hlabel of healthlabelsList; let i = index'
                                    style="font-size:12px">
                                    {{hlabel.name}}</option>
                            </select>
                        </div>
                        <div class='col-12 col-lg-3 col-md-3  item-section'>
                            <p class="lbl">Diet Label</p>
                            <select name="planday" [(ngModel)]="newRecipe.dietLabels">
                                <option value="{{dlabel.name}}" *ngFor='let dlabel of dietLabelsList; let i = index'
                                    style="font-size:12px">{{dlabel.name}}
                                </option>
                            </select>
                        </div>
                        <div class='col-12 col-lg-3 col-md-3  item-section'>
                            <p class="lbl">Cuisine Type</p>
                            <select name="plancuisinetype" [(ngModel)]="newRecipe.cuisineType">
                                <option value="{{ctype.name}}" *ngFor='let ctype of cuisineTypeList; let i = index'
                                    style="font-size:12px">{{setFLU(ctype.name)}}
                                </option>
                            </select>
                        </div>
                        <div class='col-12 col-lg-3 col-md-3  item-section'>
                            <p class="lbl">Meal Type</p>
                            <select name="planmealtype" [(ngModel)]="newRecipe.mealType">
                                <option value="{{mealtype.name}}" *ngFor='let mealtype of mealTypeList; let i = index'
                                    style="font-size:12px">
                                    {{setFLU(mealtype.name)}}</option>
                            </select>
                        </div>

                    </div>
                </div>





                <div class='col-12'>
                    <div class="form-group">
                        <!--    <a class="defaultbtn" href="javascript:void(0)" (click)="setlabels(newRecipe)"> Modify</a> -->

                        <button (click)="setlabels(newRecipe)" class="submit-comment active">Modify</button>&nbsp;&nbsp;
                        <button (click)="closeModal('modifyrecipe')" class="submit-comment">Cancel</button>
                        <!-- <a class="submit-comment active" href="javascript:void(0)" (click)="closeModal('modifyrecipe');"> Cancel</a> -->


                    </div>
                </div>
            </div>

        </div>

    </form>
</jw-modal>