<div class="fixedtop recipes-home-body inner-page">
  <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="recipe-set">
          <h2>Calculators </h2>
          <div class="recipe-listing listing-list" style="background:#FFF;padding-top:15px;">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6 pl-5" style="padding-left:0px !important">
                <ul class="optionslist">
                  <li [ngClass]="oitem.selected? 'active':''" (click)="setOption(oitem)"
                    *ngFor="let oitem of optionsList; let o = index;" >
                    {{oitem.name}}
                  </li>
                </ul>

               


           <div class="row submit-recipe-form" style="background:#f8f8f8;padding:20px;border:1px solid #f1f2f3;border-radius: 10px">
              <div class="col-12 pl-5" style="padding-left:0px !important"
                *ngIf="selectedOption && selectedOption.name.toLowerCase() == 'bmi'">
                <div>
                  <label for="bmiweight">Weight (kg)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmiweight" id="bmiweight" type="number" [(ngModel)]="weight" />
                </div>
                <div>
                  <label for="bmiheight">Height (cm)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmiheight" id="bmiheight" type="number" [(ngModel)]="height" />
                </div>
                 <div class="text-center">
                        <button type="submit" (click)="calculateBMI()"  class="recipe-submit-btn" style="margin-top:10px">Calculate</button>
                    </div>
               
                <div *ngIf="bmiValue" class="calData">
                  <p  style="padding-bottom:10px"> BMI Calculation:</p>
                  <p class="para1">Weight {{this.weight}} kg </p>
                  <p class="para1">BMI: {{bmiValue}}</p>
                  <p *ngIf="resultMessage" class="para1" style="padding-top:5px"><strong>You are {{resultMessage}}</strong></p>
                </div>

              </div>
              <div class="col-12 pl-5" style="padding-left:0px !important"
                *ngIf="selectedOption && selectedOption.name.toLowerCase() == 'bmr'">
                <!-- <div>
                  <label for="bmrgender">Meal Type&nbsp;</label> 
                  <select name="bmrgender"  [(ngModel)]="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div> -->
                <div style="margin-left:90px">
                  <!-- <label style="padding-right:40px"> &nbsp;&nbsp;</label> -->
  <input  type="radio" name="male" id="male" value="male" [(ngModel)]="gender" >
  <label  for="male">&nbsp;&nbsp;Male &nbsp;&nbsp;</label>
  <input type="radio" name="female" id="female" value="female" [(ngModel)]="gender">
  <label  for="female">&nbsp;&nbsp;Female</label>
</div>

                <div>
                 <label for="bmiweight">Weight (kg)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmrweight"  type="number" [(ngModel)]="weight" />
                </div>
                <div>
                <label for="bmiweight">Height (cm)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmrheight"  type="number" [(ngModel)]="height" />
                </div>
                <div>
                <label for="bmiweight">Age (years)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmrage"  type="number" [(ngModel)]="age" />
                </div>
                <div class="text-center">
                        <button type="submit" (click)="calculateBMR()"  class="recipe-submit-btn" style="margin-top:10px">Calculate</button>
                    </div>
                
                <div *ngIf="bmrValue" class="calData" >
                  <p style="padding-bottom:10px">BMR Calculation</p>
                  <p class="para1">Weight {{this.weight}} kg </p>
                  <p class="para1"> Height {{this.height}} cm</p>
                  <p class="para1"> Age {{this.age}} years</p>
                  <p class="para1" style="padding-top:5px;font-weight:bold">BMR: {{bmrValue.toFixed(2)}}</p>
                  <p *ngIf="resultMessage" class="para1" style="padding-top:5px"><strong>You are {{resultMessage}}</strong></p>

              </div>
              
            </div>
          </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 pl-5" style="padding-left:0px !important">
              <div *ngIf="selectedOption && selectedOption.name.toLowerCase() == 'bmi'" class="recipe-of-day">
                <img src="assets/images/bmi.jpg" alt="BMI details">


              </div>
              <div *ngIf="selectedOption && selectedOption.name.toLowerCase() == 'bmr'" class="recipe-of-day">
                <img src="assets/images/temp-images/bg-corner-shef.jpg" alt="BMI details">


              </div>
            
            </div>
            <div *ngIf="selectedOption && selectedOption.name.toLowerCase() == 'calories burned'" class="col-12 col-lg-6 col-md-6 pl-5" style="padding-left:0px !important">

   
            <div>
              <label class="input-label" style="font-size: 12px;">Activity</label>
                <select  class="inputText" placeholder="Select One" (change)="CalculateCB()" [(ngModel)]="activity.type"  id='activityType' name="activityType" #model="ngModel">
                  <ng-container *ngFor="let activity of activitiesList; let a = index">
                  <option value='{{activity.value}}'>{{activity.activity}}</option>
                  </ng-container>
                
            
                </select>
              </div>
              <div>
                <label for="bmiweight">Duration (in minutes)&nbsp;&nbsp;</label>
                  <input class="inputText" name="bmrheight"  (blur)="CalculateCB()" type="number" [(ngModel)]="activity['duration']" />
                </div>
        

          
              <div  class='input-pnel'>
              <label class="input-label lbl"  style="font-size: 12px;" >Duration (in minutes)</label>
              <input  class="inputText" typet='text' name="activitydurationt"  (blur)="CalculateCB()" [(ngModel)] = "activity['duration']" />
             
              </div>
              <div   class='input-pnel'>
                <label class="input-label lbl"  style="font-size: 12px;">Weight (in kgs)</label>
                <input class="inputText"  typet='text' name="activityeight"  (blur)="CalculateCB()" [(ngModel)] = "activity['weight']" />
              </div>
   
      


          </div>
        </div><br />


      </div>
</div>

      <!-- <div class="col-md-4 col-lg-3">
        <aside>
          <div class="side-bar">

            <app-sidebar></app-sidebar>


          </div>
        </aside>
      </div> -->
    </div>

  </div>
</div>