@import "../../variables.scss";

.optionslist
{
    list-style-type: none;
   //background:#f1f2f3;
    padding:10px;
    text-align:center;
    li
    {
        display:inline-block;
        padding:5px 20px; 
      
        color:#555;
        text-align:center;
        font-size: 24px;
        border-radius:10px;
        border:1px solid #CCC;
        margin-right: 10px;
    }
    li.active 
    { 
         background: $orange1;
         color:#FFF;
         transition: 0.2s;
         border-radius:10px;

         box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
        
    }
}

 .para1{
font-size:12pt !important;
padding-left:30px

  }
.calData {
  margin-top:30px;
  padding:15px;
  background:#fff;
}

.buttonslist
{
text-align:center;
margin:0 auto;
    button
    {
        display:inline-block;
        padding:10px; 
        background: #FFF;
        color:#555;
        text-align:center;
        font-size: 24px;
        margin-right: 20px;
        border-radius: 15px;
    }
}
