<div class="fixedtop recipes-home-body inner-page">

    <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="recipe-set">
                    <h2>Approve Recipe Changes</h2>
                </div>
         
                <div style='height:20px; width:100%'></div>
                <div class="recipe-set" *ngIf="!noResult">
                   
                    <div class="">


                        <div class="listing" style="margin-bottom:0px;"
                            *ngFor="let recipe1 of recipesList1; let i = index;">


                            <div class="image image-animate detail"
                                style="width: 100px; height:100px;background:#f8f8f8;padding:0px;">

                                <img (click)="gotoRecipeDetails(recipe1.id)" style="width:100%; height:100%"
                                    src="{{formatImage(recipe1.image, 'm')}}" alt="image">

                            </div>
                            <div class="detail" style="width:100%;">
                                
                                <div class="row">
                                    <div class="col-10">
                                        <h4><a (click)="gotoRecipeDetails(recipe1.id)">{{recipe1.rlabel}}</a>

                                        </h4>
                                        <span *ngIf="recipe1.rdietLabels"
                                        style="font-size:12px;"> <b>Diet Labels:</b> {{formatlabels(recipe1.rdietLabels)}}</span>

                                 <span *ngIf="recipe1.rhealthLabels"
                                        style="font-size:12px;">, <b>Health Labels:</b> {{formatlabels(recipe1.rhealthLabels)}}</span>
                                        <span *ngIf="recipe1.rcuisineType" 
                                        style="font-size:12px;">, <b>Cuisine Type:</b> {{formatlabels(recipe1.rcuisineType)}}</span>

                                    </div>
                                    <div class="col-2">
                                        <button (click)="recipe1.modify = !recipe1.modify">
                                            View Changes
                                        </button>
                                    </div>

                                    <div class="col-12 modify-recipe-sec" *ngIf='recipe1.modify' style='border:1px solid #CCC; background:#f1f2f3;'>
                                        <div class="row">
                                        <p class="title" style="display:block"> Modified Details </p>
                                        <div class='col-12 item-section' style="width:100%">
                                            <div *ngIf="recipe1.label"class="newsec">
                                            <p class="lbl">Recipe Name</p>
                                           <p>{{recipe1.label}}</p>
                                           </div>

                                         <div *ngIf="recipe1.s_instructions" class="newsec">
                                             <p class="lbl">Instructions</p>
                                            <p>{{recipe1.s_instructions}}</p>
                                        </div>
                                        <div *ngIf="recipe1.healthLabels" class="newsec">
                                            <p class="lbl">Health Labels</p>
                                            <p>{{recipe1.healthLabels}}</p>
                                        </div>
                                        <div *ngIf="recipe1.dietLabels" class="newsec">
                                            <p class="lbl">Diet Labels</p>
                                            <p>{{recipe1.dietLabels}}</p>
                                        </div>
                                        <div *ngIf="recipe1.cuisineType" class="newsec">
                                            <p class="lbl">Cuisine Type</p>
                                            <p>{{recipe1.cuisineType}}</p>
                                        </div>
                                        <div *ngIf="recipe1.mealType" class="newsec">
                                            <p class="lbl">meal Type</p>
                                            <p>{{recipe1.mealType}}</p>
                                            </div>

                                        </div>
                                    
                                    
                                        <div class="col-12">
                                            <a class="btnc" href="javascript:void(0)"(click)="approvechanges(recipe1);recipe1.modify =false;"> Approve</a>

                                            <a class="btnc" href="javascript:void(0)"(click)="rejectchanges(recipe1);recipe1.modify =false;"> Reject</a>
                                            
                                            <a class="btnc" href="javascript:void(0)" (click)="recipe1.modify =false;"> Close</a>

                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

  

                    </div>
                </div>
                <div class="recipe-set" *ngIf="noResult">
                    <p> No Results</p>
                </div>
            </div>
            <!--   <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div> -->
        </div>

    </div>
</div>