<div class="fixedtop recipes-home-body inner-page">
  <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
    <!--<div class="row">
      <div class="col-12">
        <div class="items-list">
          <ng-container *ngFor="let item of stepsList; let i=index">

            <div class="first-box bg{{item.index}}"></div>
            <div class="second-box"> 
              <div class="second-box-triangle bg{{getIndex(item.index)}}"></div>
              <div style="display:inline-block; width:calc(100% - 150px)" class="">
                <h1 style="font-size:13px; font-weight:bold;">{{item.subtitle}}</h1>
                <p style="font-size:12px" >{{formatText(item.description)}}</p></div>
              </div>
          </ng-container>
        </div>
      </div>

    </div>-->
    <div class="row">
      <div class="col-md-8 col-lg-9">
        <div class="recipe-set">
          <h2>Health Benefits of Meal planning </h2>
            <div class="recipe-listing listing-list" style="background:#FFF;padding-top:15px;">
              <div class="recipe-of-day">
                  <img src="assets/bg/bg1.png" alt="health benefits">
              </div>

              <div class="site-section">
                <div class="container">
                  <div class="col-12">
                  <div class="w-1000"> 
                    <div class="row">
                      <div class="col-md-12 col-lg-12 pl-5" style="padding-left:0px !important" *ngFor="let step of stepsList; let i = index;">
                        <h1 class="text-lg-left mb-4 title">{{step.subtitle}}</h1>
                        <p class="text-justify mb-5 description">{{step.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><br/>

    
  </div>


  <div class="col-md-4 col-lg-3">
  <aside>
  <div class="side-bar">
 
  <app-sidebar></app-sidebar>
 
  
  </div>
  </aside>
  </div>
  </div>
  
  </div>
  </div>

  