<div class="fixedtop">
<div class="loginPanel" style="margin:20px;">
	<div class="login-wrap">
		<div class="login-html">	

		<div>
     
    </div>
  		
			<input id="tab-11" type="radio"  name="tab" class="sign-in" checked><label for="tab-11" class="tab">Sign In</label>
			<input id="tab-21" type="radio"  name="tab" class="sign-up"><label for="tab-21" class="tab"></label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="userl" class="label">Username <span class="mandatory">&#42;</span></label>
						<input id="userl" name = "userl" [(ngModel)]="userObj.username"  type="text" class="input" required>
					</div>
					<div class="group">
						<label for="passl" class="label">Password <span class="mandatory">&#42;</span></label>
						<input id="passl" name="passl" [(ngModel)]="userObj.password"   type="password" class="input" data-type="password" required (keyup.enter)="login()">
					</div>
					<div class="group">
						<div style="display:inline-block; width:50%;">
							<input id="check" type="checkbox" checked>
							<label for="check">&nbsp;Keep me Signed in</label>
						</div>
						<div style="display:inline-block; width:50%;text-align:right;" class="foot-lnk">
							<label for="tab-1"> <a style="cursor:pointer;" (click)="gotopage('forgot-password')" class="copy-button">Forgot Password?</a></label>
						</div>

					</div>


					<div *ngIf="errorMessage !== ''" class="group">
					<p class="loginerror">{{errorMessage}}</p>
					</div>
					<div class="group">
						<input type="button" (click)="login()" class="button" value="Sign In">
					</div>
					

					<div class="hr"></div>
					<p class="hrline"><span>OR</span></p>			
					<div class="hr" style="display:block;margin-top:30px">
						<div class="group" style='text-align:center;'>
							<a href="javascript:void(0)" (click)="signInWithFB()" class="login100-social-item bg1">
								<i class="fa fa-facebook"></i>
								</a>
								<a href="javascript:void(0)" (click)="loginWithGoogle()" class="login100-social-item bg3">
									<i class="fa fa-google"></i>
									</a>	
						<!--<button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
						</div>
						<div class="hr"></div>
						<div class="group">
						<button type="button" (click)="signInWithFB()">Sign In With Facebook</button>	-->
						</div>
					</div>
				
					<div class="foot-lnk">
						<label for="tab-1">Not a member? <a style="cursor:pointer" class="copy-button" (click)="gotopage('pricing')">Sign Up Now</a></label>
					</div>
					

				</div>				
			</div>
		</div>
	</div>
</div>
</div>

<br/>