<div class="loginPanel" style="margin:20px;">
	<div class="login-wrap">
		<div class="login-html">				
			<input id="tab-11" type="radio"  name="tab" class="sign-in" checked><label for="tab-11" class="tab">Sign In</label>
			<input id="tab-21" type="radio"  name="tab" class="sign-up"><label for="tab-21" class="tab"></label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="userl" class="label">Username</label>
						<input id="userl" name = "userl" [(ngModel)]="userObj.username"  type="text" class="input" required>
					</div>
					<div class="group">
						<label for="passl" class="label">Password</label>
						<input id="passl" name="passl" [(ngModel)]="userObj.password"   type="password" class="input" data-type="password" required (keyup.enter)="login()">
					</div>
					<div class="group">
						<input id="check" type="checkbox"checked>
						<label for="check">&nbsp;Keep me Signed in</label>
					</div>
					<div *ngIf="errorMessage !== ''" class="group">
					<p class="loginerror">{{errorMessage}}</p>
					</div>
					<div class="group">
						<input type="button" (click)="login()" class="button" value="Sign In">
					</div>
					<div class="hr"></div>
					
					<div class="foot-lnk">
						<label for="tab-1">Don't have an account? <a (click)="gotopage('pricing')">Sign Up</a></label>
					</div>

				</div>				
			</div>
		</div>
	</div>
</div>

<br/>