@import "../_variables.scss";
.ag-root
{
 border: 0px solid $grayshadow !important;
 font-family: $font-family;
}

.ag-header
{
    border-bottom: 0px solid $grayshadow !important;
	color:$grayshadow !important;
	//background: $half-white !important;
	background: $text_light !important;
	font-weight:bold;
  font-size:10pt;

}
.ag-header-cell
{
  height: 30px !important;
  font-size:10pt;
font-weight:bold
}
.ag-row
{

border-color:$half-white!important;
//background:$half-white !important;
background: $text_light !important;
color: $grayshadow;
//border-left: 1px solid $text_light  !important;
width:99.9%;

}
.ag-row .ag-cell:nth-child(1) {  
	border-left: 3px solid $text_light  !important;
  }
.ag-row-hover {
	background:$grayshadow;
	border-bottom: 1px solid $grayborder  !important;
	-webkit-box-shadow: 10px 0px 10px 0px $grayshadow;
	-moz-box-shadow:    10px 0px 10px 0px $grayshadow;
	box-shadow:         10px 0px 10px 0px $grayshadow;
//	border-left: 1px solid $third  !important;
 
}
.ag-row-hover .ag-cell:nth-child(1) {  
	border-left: 3px solid $third  !important;
  }


  .ag-row-hover .ag-column-hover:nth-child(1) {  
	border-left: 3px solid $third  !important;
  }

.ag-row .linktext
{
	color: $grayshadow !important;
}

.ag-row-hover .ag-column-hover .linktext
{
text-decoration:none;
//font-weight:bold;
	color: $third !important;
	
}
.ag-cell
{
  padding:5px;
  padding-top:1px;
}
.ag-cell-focus
{
outline:none !important;
//border:0px !important;
//border-bottom: 0px solid $grayshadow !important;
 border-color:transparent !important;
}
  
.ag-icon {   
	//background-color:#f48120 !important;
	//color:#FFF !important;
}

.ag-paging-page-summary-panel:nth-child(2) span:nth-child(3) {
	//background-color: #f48120 !important;
	//color:#fff;
	//padding:0.5px 2px;
}

.ag-theme-balham .ag-row 
{
height: 32px !important;
font-size:$font_small;
margin-bottom:5px;
}
.ag-theme-balham .ag-row:hover
{
cursor: pointer;
background:#F7F8FA !important;
}
.ag-cell
{
  height: 32px !important;
 font-size:9pt;
 //font-weight:bold;

}

.ag-row .trackingicon
{
  color:$third;
  //font-size:12pt;
outline:0;
background:none;
border:0;

}

.ag-row .trackingicon img{
  width:14px; //margin-bottom:5px;
}

/************ pagination customization */
.ag-theme-balham .ag-paging-panel
{
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ag-theme-balham .ag-body-viewport-wrapper.ag-layout-normal {
  overflow-x: none;
  overflow-y: auto;
}
.ag-theme-balham .ag-paging-button .ag-icon button
{
  font-size:$font_extra_large;

}
.ag-paging-button .ag-icon .ag-disabled
{
  background:#CCC;
  color:#FFF;

}
.ag-theme-balham .ag-paging-panel > span
{
  padding-left:5px;
  padding-right:5px;
  font-size:$font_medium;
}
.ag-paging-button .ag-icon
{
  background:$third !important;
  color:#FFF !important;
}
.ag-paging-row-summary-panel
{
  display:none  !important;
}

.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after { 
  border-right:none;  
}
.ag-theme-balham .ag-header {
  font-family: $font-family;
}
/*

@media only screen and  (min-width: 991px) and (max-width: 1299px)  
{
    .resource-group-item span
    {
        font-size:$font_small;
    }
    
    .resource-group-item button
    {
        font-size:$font_small;
        line-height:20pt;
        border:0;
        outline:none;
        background:transparent;
    }
    .ag-theme-balham .ag-row 
    {
    height: 35px !important;
    font-size:$font_small;

    }
    .ag-theme-balham .ag-header
{
  font-size:$font_small;
  height: 30px;
}
    .ag-cell
    {
     height: 30px;
     font-size:$font_small;

    }
}
@media only screen and  (min-width: 1300px) and (max-width: 1399px)  
{
    .resource-group-item span
    {
        font-size:$font_small;
    }
    
    .resource-group-item button
    {
        font-size:$font_small;
        line-height:20pt;
        border:0;
        outline:none;
        background:transparent;
    }
    .ag-theme-balham .ag-row 
    {
    height: 40px !important;
    font-size:$font_small;

    }
    .ag-theme-balham .ag-header
{
  font-size:$font_small;
  height: 40px;
}
    .ag-cell
    {
     height: 40px;
     font-size:$font_small;

    }
}

  
  @media only screen and (min-width: 1400px) and (max-width: 1699px)   {
    .resource-group-item span
    {
      font-size:11pt;
    }
    
    .resource-group-item button
    {
      font-size:11pt;
        line-height:26pt;
        border:0;
        outline:none;
        background:transparent;
    
    }

      .ag-theme-balham .ag-row 
      {
        height: 45px !important;
        font-size:11pt;
      }
       .ag-theme-balham .ag-header
      {
        font-size:11pt;
        height: 45px !important;
      }
       .ag-cell
       {
        height: 45px;
        font-size:11pt;
       }
  }

  @media only screen and (min-width: 1700px)    {
    .resource-group-item span
    {
      font-size:11pt;
    }
    
    .resource-group-item button
    {
      font: size 11pt;
        line-height:26pt;
        border:0;
        outline:none;
        background:transparent;
    
    }

      .ag-theme-balham .ag-row 
      {
        height: 45px !important;
        font-size:11pt;
      }
       .ag-theme-balham .ag-header
      {
        font-size:11pt;
        height: 45px !important;
      }
       .ag-cell
       {
        height: 45px;
        font-size:11pt;
       }
  }
*/


.filetypecls
{
  font-size:12pt;
  //color:$third;
}

.norows
{
  padding: 10px; 
  //border: 2px solid #444;
   background: #FFF;
   font-size:10pt;
}

.ag-theme-balham .ag-icon-checkbox-checked {
  color: $third;
}

.ag-theme-balham .ag-icon-checkbox-unchecked {
  color: $third;
}

.ag-theme-balham .ag-icon-checkbox-indeterminate{
  color: $third;
}