@import "../_variables.scss";
.panelcheck {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: $font_small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.panelcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $third;
  border-radius:3px;
}

/* On mouse-over, add a grey background color */
.panelcheck:hover input ~ .checkmark {
  border: 1px solid $third;
/*   -webkit-box-shadow: 0px 0px 10px 0px $grayborder;
-moz-box-shadow:    0px 0px 10px 0px $grayborder;
box-shadow:         0px 0px 10px 0px $grayborder; */

}

/* When the checkbox is checked, add a blue background */
.panelcheck input:checked ~ .checkmark {
  background-color: $third;
  
}
.panelcheck input:disabled ~ .checkmark {
  border: 1px solid#ced4da;
      
}

.panelcheck input:disabled:checked ~ .checkmark {
  background-color:#ced4da;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.panelcheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.panelcheck .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid $text_light;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************  small check box ***************/




.panelcheck-sm {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: $font_medium;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panelcheck-sm .chklbl
{
  font-size:9pt;
  display:inline-block;
  padding:0;
  margin:0;

}
/* Hide the browser's default checkbox */
.panelcheck-sm input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-left:10px; 
  margin-right:10px; 
  font-size:9pt
}

/* Create a custom checkbox */
.checkmark-sm {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid $third;
  border-radius:3px;
  margin-left:10px;
  margin-top:2px;
}

/* On mouse-over, add a grey background color */
.panelcheck-sm:hover input ~ .checkmark-sm {
 // border: 1px solid $graytext;
/*   -webkit-box-shadow: 0px 0px 10px 0px $grayborder;
-moz-box-shadow:    0px 0px 10px 0px $grayborder;
box-shadow:         0px 0px 10px 0px $grayborder; */

}

/* When the checkbox is checked, add a blue background */
.panelcheck-sm input:checked ~ .checkmark-sm {
  background-color: $third;
  
}

.panelcheck-sm input:disabled ~ .checkmark-sm {
  border: 1px solid#ced4da;cursor: not-allowed;
      
}

.panelcheck-sm input:disabled:checked ~ .checkmark-sm {
  background-color:#ced4da;cursor: not-allowed;

}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-sm:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.panelcheck-sm input:checked ~ .checkmark-sm:after {
  display: block;
}

/* Style the checkmark/indicator */
.panelcheck-sm .checkmark-sm:after {
  left: 10px;
  top: 0px;
  
  width: 8px;
  height: 8px;
}
.panelcheck-sm .checkmark-sm:before {
content:"\2713";
color:#FFF;
margin-left: 3px;
    font-size: 8pt;
}

/********************************************/


.panelcheck-int {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: $font_small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.panelcheck-int input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



/* Create a custom checkbox */
.checkmark-int {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid $third;
  border-radius:3px;
  margin-left: 5px;
}

/* On mouse-over, add a grey background color */
.panelcheck-int:hover input ~ .checkmark-int {
  border: 1px solid $third;
/*   -webkit-box-shadow: 0px 0px 10px 0px $grayborder;
-moz-box-shadow:    0px 0px 10px 0px $grayborder;
box-shadow:         0px 0px 10px 0px $grayborder; */

}

/* When the checkbox is checked, add a blue background */
.panelcheck-int input:checked ~ .checkmark-int {
  background-color: $third;
  
}
.panelcheck-int input:disabled ~ .checkmark-int {
  border: 1px solid#ced4da;
      
}

.panelcheck-int input:disabled:checked ~ .checkmark-int {
  background-color:#ced4da;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-int:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.panelcheck-int input:checked ~ .checkmark-int:after {
  display: block;
}

/* Style the checkmark/indicator */
.panelcheck-int .checkmark-int:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid $text_light;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/******************************/

/* .squaredThree */
.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $text-dark 0%, $graytext 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px $grayshadow , 0px 1px 0px $text_light;
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid $text_light;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
/* end .squaredThree */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $text-dark; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $text-dark;
  color: $text_light;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/***************** switch class **********************/




.switch {
  position: relative;
  height: 26px;
  width: 120px;
  margin: 0px auto;
  text-align:left;
  background: $grayshadow ;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px $grayshadow , 0 1px $text_light;
  box-shadow: inset 0 1px 3px $grayshadow , 0 1px $text_light;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: $text_light;
  text-align: center;
  text-shadow: 0 1px 1px $grayshadow;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: $grayshadow;
  text-shadow: 0 1px $text_light;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 58px;
  height: 22px;
  border-radius: 3px;
  background-color: $third;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fourth), color-stop(100%, $third ));
  background-image: -webkit-linear-gradient(to bottom, $fourth, $third);
  background-image: -moz-linear-gradient(to bottom, $fourth, $third);
  background-image: -ms-linear-gradient(to bottom, $fourth, $third);
  background-image: -o-linear-gradient(to bottom, $fourth, $third);
  background-image: linear-gradient(to bottom, $fourth, $third);
  -webkit-box-shadow: inset 0 1px $text_light, 0 0 2px $grayshadow;
  box-shadow: inset 0 1px $text_light, 0 0 2px $grayshadow;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  
}
.switch-blue .switch-selection {
  background-color: $fourth ;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $third), color-stop(100%, $fourth ));
  background-image: -webkit-linear-gradient(to bottom, $third, $fourth );
  background-image: -moz-linear-gradient(to bottom, $third, $fourth );
  background-image: -ms-linear-gradient(to bottom, $third, $fourth );
  background-image: -o-linear-gradient(to bottom, $third, $fourth );
  background-image: linear-gradient(to bottom, $third, $fourth );
}
.switch-yellow .switch-selection {
  background-color: $third;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $third ), color-stop(100%, $third));
  background-image: -webkit-linear-gradient(to bottom, $third , $third);
  background-image: -moz-linear-gradient(to bottom, $third , $third);
  background-image: -ms-linear-gradient(to bottom, $third , $third);
  background-image: -o-linear-gradient(to bottom, $third , $third);
  background-image: linear-gradient(to bottom, $third , $third);
}







.checkmarkRound {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: $third;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}


