@import "../_variables.scss";
.customfile{
    display: none;
}
.custom-file-upload {
	margin-top:10px;
    border: 1px solid $third;
  //  border: 1px solid $third;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background:$third;
  //  background:$third;
    color:#FFF;
}