.w-1200
{
    
    margin: 0 auto;
    max-width: 1200px !important;
}

.w-1000
{
    
    margin: 0 auto;
    max-width: 1000px !important;
}

.mb-4
{
	margin-bottom: 1.5rem !important;
}


.mb-5
{
	margin-bottom: 3rem !important;
}





.short-separator {
    width: 50px;
    height: 3px;
    background: $green;
    margin: auto;
}
