@import "../_variables.scss";
.popup-datetime
{
	
}

.dt-modal-open
{
	display:block;
}
[ngbDatepickerDayView] {
  text-align: center;
  width: 1.5rem !important;
  height: 1.5rem !important;
  line-height: 1.5rem !important;
  border-radius: 0.25rem;
  background: transparent;

  &.outside {
    opacity: 0.5;
  }
}
.ngb-dp-week-number, .ngb-dp-weekday
{
 width: 2rem !important;
  height: 2rem !important;
}
ngb-datepicker {
    background-color: $text_light ;
	font-size:$font_small;

    .ngb-dp-header {
        background-color: $third;
    }

    select {
        background-color: $third;
        color: $text_light;
    }
	
}

	.ngb-dp-day
	{
	    width: 2rem;
    height: 1.5rem !important;
    font-size:$font_extra_small !important;
    outline:0 !important;
	}
	
	.ngb-tp-input
	{
		font-size:$font_small !important;
		width:40px !important;
		padding:0  !important;
	}
	
	.ngb-tp-input-container {
    width: 2em !important;
}


.btnCloseCal
{
	
margin:0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: $text-dark;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}




ngb-datepicker {
  border: 1px solid $grayshadow;
  border-radius: .25rem;
  display: inline-block;

  &-month-view {
    pointer-events: auto;
  }

  &.dropdown-menu {
    padding: 0;
  }
}

.ngb-dp {
  &-body {
    z-index: 1050;
  }

  &-header {
    border-bottom: 0;
    border-radius: .25rem .25rem 0 0;
    padding-top: .25rem;
    background-color: $half-white;
  }

  &-months {
    display: flex;
  }

  &-month {
    pointer-events: none;

    &-name {
      font-size: larger;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      background-color: $half-white;
    }

    & + & {
      .ngb-dp-month-name, .ngb-dp-week {
        padding-left: 1rem;
      }
    }

    &:last-child .ngb-dp-week {
      padding-right: .25rem;
    }

    &:first-child .ngb-dp-week {
      padding-left: .25rem;
    }

    .ngb-dp-week:last-child {
      padding-bottom: .25rem;
    }
  }
}

.ngb-tp
{


}

.ngb-tp .form-control
{
    height: calc(1em + 0.75rem + 2px);

}


.opencal
{
position:relative;
}

.openItem {
  background:$text_light;
  height: 230px;
  width: 340px;
  border: 1px solid $grayshadow;
  border-radius:5px;
  position: absolute;
  top:50px;
  left: 20px;
  bottom: 0px;
  z-index:10000;
   box-shadow: 10px 10px 10px $grayshadow;
    -webkit-animation: slide-in 0.3s ease-out;
    -moz-animation: slide-in 0.3s ease-out;
}



/*********888 date time *****************/




.dtpicker .ctrl  {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: #FFF;
  color:$text-gray;
  background-image: none;
  border-radius: 0.25rem;
}
/* Remove IE arrow */
.dtpicker .ctrl::-ms-expand {
  display: none;
}
.dtpicker .ctrl:disabled {
  background-color: #e9ecef !important;
  border: 1px solid #ced4da;
}
/* Custom Select */
.dtpicker {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 33px;
  padding-top: 0px;
  line-height: 2.6em;
 // background: $third;
  overflow: hidden;
  border-radius: 0.25rem;
}

.dtpicker .ctrl {
  //flex: 1;
  padding-left: 10px;
  color: #000;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  height:100%;
}
/* Arrow */
.dtpicker::after {
  font-family: 'FontAwesome';
  content: '\f073';
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  padding: 0 0.3em;
 // background:   #FFF;
  color:$third;
  font-size: 14pt;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-left:1px solid #CCC;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-align:center;
}
.dtpicker.disabled::after {
  background: #e9ecef !important;
  color:#AAA;
  border: 1px solid #ced4da;
  height: 33px;
}

/* Transition */
.dtpicker:hover::after {
color:$third;

}
.dtpicker.disabled:hover::after {
  color:#AAA;
  
  }

.dtpicker
{
 
}

.dtpicker-mx
{
  max-width: 350px;
}


.bg-primary, .bg-primary:hover, .bg-primary.active
{
  outline:0 !important;
  border:0px !important;
}

.bg-primary
{
  background:$third !important;

}

.btn-link, .btn-link:hover {
  color: $third !important;
}

.btn-outline-primary, .btn-outline-primary:hover 
{
  color: #fff;
    background-color: $third !important;
    border-color: $third !important;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(244, 129, 32, 0.5);
}


