$i:0%;
$ii:0%;

$color_one: $third;
$color_two: $third;

$color_one1: $third;
$color_two1: $third;



button.yourclass{
border-radius:5px;
	margin:0 auto;
	height:75px;
	width:95%;
  transition: all ease 0.08s;
  padding: 0px;
  color:$text_light;
  font-family: text;
  background: #{$color_two};
  border: outset $grayborder;
  box-shadow: 5px 5px 20px 5px $grayshadow;
  margin-bottom:15px;
  font-size:80%;
 /*  animation: effect 5s ease-in-out infinite;
  animation-iteration-count: infinite; */
}
.btnactive
{
 animation: effect 5s ease-in-out infinite;
  animation-iteration-count: infinite; 
  }

button.yourclass:hover {
    animation: effect1 5s ease-in-out infinite;
  animation-iteration-count: infinite;
 /* text-shadow: 2px 2px rgb(220,220,220);*/
  color:$text_light;
    font-size:90%;
}
button.yourclass:active{
  margin-left: -4px;
  margin-top: -8px;
  margin-bottom: 8px;
  box-shadow: 9px 13px 20px 5px $grayshadow ;
  border: 2px double $text_light;
  /* text-shadow: 2px 5px 3px rgb(220,220,220); */
  font-size: 100%;
}

@keyframes effect{
  @for $i from 1 through 50 {
    #{$i}% { background: linear-gradient(65deg,#{$color_one} 0%+$i*2,#{$color_two} 2%+$i, #{$color_two} 98%-$i, #{$color_one} 100%-$i*2);
    }
  }@for $ii from 51 through 100 {
    $i: $i+1;
    #{$ii}% { background: linear-gradient(65deg,#{$color_two} -2%+$i*2, #{$color_one} 0%+$i, #{$color_one} 100%-$i,#{$color_two} 102%-$i*2);
    }
  }
 }
  
@keyframes effect1{
  @for $i from 1 through 50 {
    #{$i}% { background: linear-gradient(65deg,#{$color_two1} 0%+$i*2,#{$color_one1} 2%+$i, #{$color_one1} 98%-$i, #{$color_two1} 100%-$i*2);
    }
  }@for $ii from 51 through 100 {
    $i: $i+1;
    #{$ii}% { background: linear-gradient(65deg,#{$color_one1} -2%+$i*2, #{$color_two1} 0%+$i, #{$color_two1} 100%-$i,#{$color_one1} 102%-$i*2);
    }
  }
 }  
