/* MODAL STYLES
-------------------------------*/
.modal-header
{
   padding:0.25rem 0.25rem !important; 
}
.modal-header .close
{
    padding: 0.5rem 1rem !important; 
    outline:0;
}
jw-modal {
    /* modals are hidden by default */
    display: none;
	
    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 100000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
           // padding: 20px;
            background: $text_light;

            /* margin exposes part of the modal background */
			margin:70px auto;
			width:60%;
			min-width:300px;
		//	border:3px solid $grayshadow;
			border-radius:10px;
            box-shadow: 0px 6px 8px #555;
			
        }
        .jw-modal-close .close
        {
            font-size: 30px;
        }
        
		 .jw-modal-body  h3
		 {
			font-size:13pt;
		     font-weight: bold;
		 }
		 .jw-modal-body  h4
		 {
		 font-size:13pt;
		 }
		  .jw-modal-body p
		 {
			font-size:$font_small;
		    margin:0;
         }
         .panelcheck {
            font-size:$font_medium;
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
 z-index: 120000;
        /* semi-transparent black  */
        background-color: $text-dark;
        opacity: 0.75;
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.width60
{
    width:60% !important;
    
}

.width50
{
    width:50% !important;
    
}
.width40
{
    width:40% !important;
    
}
@media only screen and (max-width: 990px) {
    .width60, .width50, .width40
    {
        width:100% !important;
    }
}
@media only screen and  (min-width: 991px) and (max-width: 1299px)  {
    .jw-modal-body  h4
    {
    font-size:13pt;
    }
    
  }

@media only screen and  (min-width: 1300px) and (max-width: 1399px)  {
    .jw-modal-body  h4
    {
    font-size:14pt;
    }
}

@media only screen and (min-width: 1400px) {
    .jw-modal-body  h4
    {
    font-size:15pt;
    }
}


#flashmessage, .flashmessage {
    display: none;
	
    .jw-modal {
    
        .jw-modal-body   {
            background: $third !important;
            color:#FFF !important;
          //  border:3px solid $grayshadow;

            .infoModal
            {
                border:0  !important;
            }
        }
        .modal-header  {
            border:0px;
        }
       
    }
}

