@import "../_variables.scss";

.progressbar {
  list-style: none;
  counter-reset: step;
  display: flex;
  padding: 0;
}
 .progressbar li {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
	}

 .progressbar  li:before {
      width: 2em;
      height: 2em;
      content: counter(step);
      counter-increment: step;
      align-self: center;
      background: #999;
      color: #fff;
      border-radius: 100%;
      line-height: 2em;
      margin-bottom: 0.5em;
	  font-size:$font_small;
    }

  .progressbar  li:after {
      height: 2px;
      width: calc(100% - 1em);
      content: '';
      background: #999;
      position: absolute;
      top: 0.8em;
      left: calc(50% + 0.8em);
    }

  .progressbar  li:last-child {
      &:after {
        content: none;
      }
    }

  .progressbar  li.active {
      &:before {
        background: $third;
      }
    }

 .progressbar   li.complete {
      &:before {
       // content: '✔';
	    background: #82C91E;
      }
    }
  
