/***********ngtab**********/
ngb-tabset ul.nav-tabs li a.nav-link.active , ngb-tabset ul.nav-tabs li a.nav-link:hover{
   background-color: $third !important;
   color:$text_light  !important;
   border:1px solid $third !important;
}

.tab-header
{
   font-size:$font_small;
   font-weight:bold;
   display:inline-block; 
   margin:0 auto;
}
ngb-tabset ul.nav-tabs li a.nav-link {

  background-color: transparent  !important;
  color:$grayborder  !important;
  font-size:$font_small_medium;
  font-weight:normal;

}

.tab-content > .active
{
background:#FFF;
   padding-top:10px;
   border:1px solid $third !important;
   -webkit-box-shadow: 5px 5px 3px 0px #cccccc;
	-moz-box-shadow: 5px 10px 3px 0px #cccccc;
	box-shadow: 5px 5px 3px 0px #cccccc;
}

.hrstyle
{
   height:1px;
   border:1px solid $grayshadow !important; 
   margin-top:7px;
   margin-bottom:10px;
}