@import "../variables.scss";



/*.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
  background:$green;
  color:#FFF;
  font-size:16px;
  text-align:center;
}*/

/*#toast-container > .toast-success {
    background-image: none;
    background-color: green !important;
    color: black;
}*/
