@import "../_variables.scss";

.tooltipicon
{
  //background-color: $third;
 color:$third;
 cursor:pointer;
 font-size: 12pt !important;
}

.tooltipicondark
{
 color:$third;
}


/************8 bootstrap tooltip *************/

.tooltip-class{
  text-decoration: none; 
	  outline: none;
	   border:0px; 
	
}

.tooltip-class:hover{
  text-decoration: none; 
	  outline: none;
}

.tooltip-class .tooltip-inner {
      background-color: $third;
      font-size: 110%;
	  border-bottom-color: $third;
	    
	
    }
    .tooltip-class .tooltip-arrow {
      border-top-color: $third;
	  border-bottom-color: $third;
    }
		.tooltip.right .tooltip-arrow {
      border-right-color: $third;
    }
	.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $third;
}

	.tooltip-class.bs-tooltip-bottom .arrow:before {
  border-bottom-color:  $third;
}
.tooltip-class.bs-tooltip-right .arrow:before {
  border-right-color:  $third;
}
	.tooltip.top .tooltip-arrow {
  border-top-color: $third;
}

	.tooltip-class.bs-tooltip-top .arrow:before {
  border-top-color:  $third;
}
