<div class="tabcontainer">
    <div class="tabs-heading">
         <div [ngClass]="selectedTab == 1?'tab active':'tab'" (click)="setData(1)"><a  href="javascript:void(0)">Most rated</a></div>
        <div [ngClass]="selectedTab == 2?'tab active':'tab'" (click)="setData(2)"><a   href="javascript:void(0)">Popular</a></div>
        <div [ngClass]="selectedTab == 3?'tab active':'tab'" (click)="setData(3)"><a  href="javascript:void(0)">Random</a></div> 
    </div>
    <div class="tabs-container">
    <div class="tab-content">
        <div class="content-inner" style="min-height:100px;" *ngFor="let recipe of recipesList; let i1= index;">
            <div class="left-side image-animate">
                <a (click)="gotoRecipeDetails(recipe.id)"><img style="width:84px; height:64px;cursor:pointer" src="{{formatImage(recipe.image, 's')}}" alt="image for {{recipe.label}}"/></a>
            </div>
            <div class="right-side">
                <h3 class="overflow-text" style="cursor:pointer" (click)="gotoRecipeDetails(recipe.id)">{{recipe.label}}</h3>
                <p style="font-size:12px;">Calories: <b>{{formatValuePServing(recipe.calories, recipe.yield)}}</b></p>
                <div class="rating-box" style="color:orange" *ngIf="recipe.displayrating">
                    <span class="rating-icons" >
                        <i *ngIf="recipe.displayrating >=1" class="fa fa-star"></i>
                        <i *ngIf="recipe.displayrating >=2" class="fa fa-star"></i>
                        <i *ngIf="recipe.displayrating >=3" class="fa fa-star"></i>
                        <i *ngIf="recipe.displayrating >=4" class="fa fa-star"></i>
                        <i *ngIf="recipe.displayrating >=5" class="fa fa-star"></i>

                      </span>
                 </div>
            </div>
        </div>

    </div>

    </div>
    </div>
  