<div class="tab-container">
    <ul class="tabs-nav clearfix">
        <li class="active"><a href="">Most rated</a></li>
        <li><a href="">popular</a></li>
        <li><a href="">random</a></li>
    </ul>
    <div class="tabs-container">
    <div class="tab-content">
        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab1.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab2.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab3.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-content">
        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab3.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab1.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab2.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

    </div>


    <div class="tab-content">
        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab2.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab3.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

        <div class="content-inner">
            <div class="left-side">
                <a href="#"><img src="assets/images/temp-images/tab1.jpg" alt="image"/></a>
            </div>
            <div class="right-side">
                <h3><a href="#">past pizza with extra filla cheesy</a></h3>
                <div class="rating-box">
                    <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                        <i class="fa fa-star"></i>
                      </span>
                    <span class="rating-figure">(4.1 / 5)</span>
                </div>
            </div>
        </div>

    </div>

    </div>
    </div>