.title-black
{
font-size:20px;
font-weight:800;

}
.bg-green30
{
  background: -webkit-linear-gradient(top, var(--green1), var(--green1) 170px, var(--light-green1) 170px, var(--light-green1));
  --background: -webkit-linear-gradient(top, var(--green1), var(--green1) 170px, var(--light-green1) 170px, var(--light-green1));
}

.plan-seperator
{
  border-right:4px solid green;
}

.colv
{
  vertical-align: middle;
}
.meal-row
{
  background:#FFF;
  margin-bottom:5px;
}
.meal-row:nth-child(1n) .plan-seperator {
  border-color: #FF3155;
}
.meal-row:nth-child(2n) .plan-seperator {
  border-color: #FFAF42;
}

.meal-row:nth-child(3n) .plan-seperator {
  border-color: #49F770;
}

.meal-row:nth-child(4n) .plan-seperator {
  border-color: #FFED5E;
}


.meal-row:nth-child(5n) .plan-seperator {
  border-color: #2DAEFD;
}



.day-title
{
  font-size:16px; padding-top:10px; padding-bottom:10px; font-weight:bold; padding-left:5px;
  font-family: metropolisbold, metropolis, "Courier New", Courier, monospace !important;
}
.meal-title
{
  padding-left:5px;margin-top:0px; padding-top:10px; font-size:15px;
  font-family: metropolisbold, metropolis, "Courier New", Courier, monospace !important;
  word-break: break-all;

}


button[ion-fab] {
  overflow: visible;
  position: relative;

  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
  contain: layout;
}


.fablistbutton
{
  position: absolute;
    margin: auto;
    border: 1px solid;
    right: 45px;
    border-radius: 5px;
    height: 48px;
    padding: 5px;
    background: var(--green1);
    color: #FFF;
    --background: var(--green1);
}

.fablistbutton ion-icon
{
color:#FFF;
}

.nutrient-panel
{
  background:#FFF;
  min-height: 160px;
  margin-bottom:15px;
  display:block;
  height:100%;
}
.nutrient-item
{
  float: left;
  //height: 50px;
  width: 25%;
  padding: 5px;
  border-left: 2px solid #CCC;
  text-align: left;
  margin-bottom:8px;
 // border-radius:50%;
 // min-height:70px;
  padding-top:10px;
 // text-align:center;
  //margin-right:5px;
  .label
  {
    display: block;
    font-size: 13px;
  }
  .quantity
  {
font-size:12px;
margin-top:5px;
display:inline-block;
  }

  .unit{
    font-size:12px;
font-style:italic;
display:inline-block;
  }
}
.nutrient-item:hover .quantity
{
  font-weight:bold;
}
.nutrient-item:nth-child(1) {
  border-color: #FF3155;
 // background:#FF3155;
}
.nutrient-item:nth-child(2) {
  border-color: #FFAF42;
 // background: #FFAF42;
}

.nutrient-item:nth-child(3){
  border-color: #FFED5E;
//  background: #FFED5E;
}

.nutrient-item:nth-child(4) {
  border-color: #49F770;
 // background: #49F770;
}

.nutrient-item:nth-child(5) {
  border-color: #2DAEFD;
 // background: #2DAEFD;  
}

.nutrient-item:nth-child(6) {
  border-color: #FF3155;
 // background: #FF3155;
}

.nutrient-item:nth-child(7) {
  border-color: #FFAF42;
//  background: #FFAF42;
}

.nutrient-item:nth-child(8) {
  border-color: #49F770;
//  background: #49F770;
}

.nutrient-item:nth-child(9) {
  border-color: #FFAF42;
//  background: #2DAEFD;  
}

.nutrient-item:nth-child(10) {
  border-color: #FF3155;
 // background: #FF3155;
}
.nutrient-item:nth-child(11) {
  border-color: #49F770;
 // background:#FF3155;
}
.nutrient-item:nth-child(12) {
  border-color: #FFAF42;
//  background: #FFAF42;
}


.panelday
{
  color:#000;
}

.sepbg{
  height:50px; 
  width:100%;
  background-repeat: no-repeat;
}
.sepbg0
{
 // background-image: url("../../../assets/watermelon.png");
  background-position: left center;
}

.sepbg1
{
 // background-image: url("../../../assets/banara_outline_s.png");
  background-position: right center;
}

.sepbg2
{
 // background-image: url("../../../assets/fruit.png");
  background-position: left center;
}

.sepbg3
{
 // background-image: url("../../../assets/grapes_outline1.png");
  background-position: right center;
}

.sepbg4
{
 // background-image: url("../../../assets/peas.png");
  background-position: left center;
}

.sepbg5
{
 // background-image: url("../../../assets/apple.png");
  background-position: right center;
}

.sepbg6
{
 // background-image: url("../../../assets/cauliflower.png");
  background-position: left center;
}

