<div class="fixedtop recipes-home-body inner-page">
    
    <div class="container" style="padding-top:20px;padding-left:0px; padding-right:0px;">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="recipe-set">
                     <!-- <div class="listing-buttons">
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'grid'?'grid current':'grid' "><i
                                class="fa fa-th-large"></i></span>
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'list'?'list current':'list'"><i
                                class="fa fa-bars"></i></span>
                    </div> --> 
                   
                    <h2 style="width: 90%;">Collections</h2>
                    <div class="createplanbtn" (click)="createNew()">
                        <i class="fa fa-pencil" style="margin-right:10px;"></i>  Create Collection   
                         
                      </div>

                    <!--<div class="row" style=" width:100%; text-align:right;margin-bottom:20px;">
                        <div class="col-12">
                            <div class="create-button anim-button btn-4" (click)="createNew()">
                            <i class="fa fa-plus"></i>  Create New
                        </div>
                    </div>
                    </div>-->
                    <ul class="pagination" *ngIf="totalPage >= 10">
                        <li (click)="currentPage(0)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li (click)="prevPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        
                        <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                            <a href="javascript:void(0)">{{i+1}}</a>
                        </li>
                        <li (click)="nextPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li (click)="currentPage(totalPage-1)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>   
                    </ul>
                    <div class="recipe-listing {{listorgrid.panel}}">


                        <div class="listing boxshadow5" *ngFor="let cItem of communitiesList; let i = index;">
                           
                            <div class="image image-animate detail" style="height:160px">
                                <a (click)="gotopage('collection', {'id':cItem.id});">
                                    <img style=" max-height:120px" *ngIf="cItem.image !== ''" src="{{cItem.image}}"
                                        alt="{{cItem.collection_name}} image">
                                    <img  *ngIf="cItem.image == ''"  src="assets/notavailable.png" alt="{{cItem.collection_name}} image">
                                </a>
                            </div>
                            <div class="detail" style='color:#555; height:140px;'>
                                <h4><a (click)="gotopage('collection', {'id':cItem.id});">{{cItem.collection_name}}</a></h4>
                                <p innerHTML="{{limitTo(cItem.description, 200)}}">

                                </p>  
                                <!--<p>{{countrecipes(recipe1.recipes)}} Recipes </p>-->
                               <div style="font-size: 14px;"><span *ngIf="cItem.userscount > 0"><i class="fa fa-user"></i> {{cItem.userscount}} Members, </span>
                               <span *ngIf="cItem.recipecount > 0"><i class="fa fa-cutlery"></i> {{cItem.recipecount}} Recipes</span>
                                </div>
                                 <a *ngIf="cItem.created_by == currentUser['id']" href="javascript:void(0)" (click)="editcollection(cItem)" class="editicon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                              </div>
                        </div>

                        <!--<div class="banner-header text-center">
                            <a href="javascript:void(0)">
                                <img src="assets/images/temp-images/header-banner.jpg" alt="banner">
                            </a>
                        </div>-->


                        <ul class="pagination" *ngIf="totalPage >= 10">
                            <li (click)="currentPage(0)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li (click)="prevPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            
                            <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                                <a href="javascript:void(0)">{{i+1}}</a>
                            </li>
                            <li (click)="nextPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li (click)="currentPage(totalPage-1)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>   
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<jw-modal id="createNew" [width]="40" >
    
    <form name="form"  #uf="ngForm" novalidate class="popup-panel" >
        <div class="modal-header">
            <h2 style="margin:15px; ">
                <span>Add New Collection</span>           

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('createNew');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"  > 
             <div class="submit-recipe-form">
                <form action="#" method="post">

                    <div class="row"   >

                        <div class="col-12 collection_panel">
                     
                           <!--  <img *ngIf="collection.image" class="collection_img" src="{{collection.image}}"  style="height:200px;width: 100%;" />
                            <img *ngIf="!collection.image"  class="collection_img" src="assets/notavailable1.jpg"  style="height:200px;width: 100%;" /> -->
                          
                            
                           <div class="collection_details">
                           <!--  <input id="inputuploadrecipe"  type="file" name="inputuploadrecipe" (change)="onFileSelect($event)" />
                            <button  style="float:right; background:transparent; border:0px; outline:0;font-size:16px"  (click)="fileupload()" class="upload-comment">
                                <i class="fa fa-picture-o" aria-hidden="true"></i></button> -->
                            <input class="trans-input" type="text" name="title" id="title" placeholder="Type collection name..." [(ngModel)]="collection.collection_name" style="padding-left:10px">
                            <textarea class="short-text trans-input" name="description" placeholder="Type description" [(ngModel)]='collection.description' id="description" cols="30" rows="10"></textarea>
                              <br>

                                <label  class='comment-label'>  Upload Image</label>
                     <button (click)="fileupload()" class="upload-comment">
                        <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Image</button>
                    <div>
                        <input id="inputuploadrecipe" hidden type="file" name="inputuploadrecipe" (change)="onFileSelect($event)" />
                      </div>
                      <img *ngIf="collection.image" src="{{collection.image}}"  style="width: 80%; max-height: 200px;max-width: 400px" />
               
                           </div>
</div></div>
 <div class="text-center">
                            <button type="submit" [disabled] = "collection.collection_name == '' && collection.image ==''? true:false" [ngClass]="collection.collection_name !== '' && collection.image !==''?'submit-comment active':'submit-comment'" (click)="saveRecipebook()"  class="recipe-submit-btn">Save </button>
                        </div>
</form>
</div>
        </div>
    </form>
</jw-modal>

