.w-1200
{
    
    margin: 0 auto;
    max-width: 1200px !important;
}

.w-1000
{
    
    margin: 0 auto;
    max-width: 1000px !important;
}

.mb-4
{
	margin-bottom: 1.5rem !important;
}


.mb-5
{
	margin-bottom: 3rem !important;
}



.landing-specialty-meal-plans-background {
     background-image: url("../../assets/images/temp-images/specialty-meal-plans-bg@2x.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 65%;
}
