
.landing-specialty-meal-plans-background {
    background-image: url("../../assets/images/temp-images/specialty-meal-plans-bg@2x.png");
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: 65%;
}