<div style='width:100%;background: #F8F6F5'>
<div class="row">
	<div class="col-12">
     <app-sliderpanel></app-sliderpanel>
   </div>



   <section class="home-sec aboutus-sec"  style="padding-left:15px; padding-right:15px;background:#FFF;" >
   <div class="container col-12">
      <div class="home-sec-box">
         <div class="text-side">
            <div class="home-sec-intro">
               <span class="heading-small">Its all about</span>
                  <h2>Easy customized nutrition</h2>
                  <span class="desc">Get access to a diet that was planned by keeping your comfort in mind. Build a healthy, personalized meal plan with our easy-to-navigate platform. This one-stop destination offers comparable benefits for a price lower than what a dietician may cost you!</span>
                  <ul class="home-sec-list">
                      <li><span style="font-size:24px"> <i class="fa fa-clock-o" aria-hidden="true"></i></span><a href="javascript:void(0)">Save Planning Time</a></li>
                      <li><span style="font-size:24px">  <i class="fa fa-cutlery" aria-hidden="true"></i></span><a href="javascript:void(0)">Personalize Your Diet</a></li>
                      <li><span style="font-size:24px"> <i class="fa fa-list" aria-hidden="true"></i></span><a href="javascript:void(0)">Tailor Grocery List</a></li>
                  </ul>
                <!--  <a class="buttonGreen video-button swipebox" href="javascript:void(0)">Watch our Video</a> -->
                  <a class="buttonGreen" (click)="gotopage('pricing')" href="javascript:void(0)">Know more About Us</a>
              </div>
         </div>
         <div class="image-side  wow zoomIn animated hidden-xs" style="visibility: visible; animation-name: zoomIn;">
            <div class="home-sec-image">
               <img [lazyLoad]="images['goodfood']" alt="good food image">
            </div>
         </div>
      </div>
   </div>
   </section>

   <section class="home-sec">
      <div class="container">
         <div class="col-12">
	        <div class="" style="padding-top:30px;">
            <span class="heading-small-1">How to start?</span>
                     <h2  class="heading-big-1" style="">Easy steps</h2>
	           <div class="row secL" *ngFor="let step of stepsList; let i = index;">
		            <div class="col-12 col-lg-6">
			            <h1 class="text-lg-left mb-4 title">{{step.label}}</h1>
			            <h3 class="subtitle">{{step.subtitle}}</h3>
			            <p class="text-justify mb-5 description"  style=" direction: ltr;">{{step.description}}</p>
			            <div *ngIf="i %2 ==0"  class="arrowimg" style="text-align:right;">
			               <img alt="arrow image right" style=" height: 150px" src="assets/images/temp-images/arrow-right.svg" />
			            </div>
			            <div *ngIf="i %2 ==1" class="arrowimg" style="text-align:left">
			               <img alt="arrow image left" style=" height: 150px" src="assets/images/temp-images/arrow-left.svg" />
			            </div>
		            </div>
		            <div class="col-12 col-lg-6 wow zoomIn animated" style="text-align:center;">
				         <img alt="background image" [lazyLoad]="step.image" style=" height: 250px" class="rounded-bg specialty-image w-80">
		             </div>
	            </div>
	            <div class="row">
		            <div class="col-12" style="text-align:center;margin-top:20px;margin-bottom:20px;">
			            <a href="javascript:void(0);" (click)="gotopage('pricing')" class="getstarted">Get Started</a>
		            </div>
	            </div>
            </div>
         </div>
      </div>
   </section>

   
<section class="home-sec"  style="background:#FFF;padding-bottom: 30px; margin-bottom:0px;padding-top:30px">
   <div class="container col-12">
      <div class="home-sec-box">
         <div class="text-side">
            <div class="home-sec-intro">
               <span class="heading-small">Download for Free!</span>
                  <h2>Meal planning made easy...</h2>
                
                  <div  class="storeImgDiv" >
                     <a href="javascript:void(0)">
                        <img [lazyLoad]="images['appstore']" alt="Download on the App Store" class="storeImg"></a>
                     <a href="javascript:void(0)">
                        <img [lazyLoad]="images['playstore']" alt="Get it on Google Play" class="storeImg"></a>
                  </div>
                 
              </div>
         </div>
         <div *ngIf="!isMobile" class="image-side  wow zoomIn animated hidden-xs" style="visibility: visible; animation-name: zoomIn;margin-bottom:40px">
            <div class="home-sec-image ">
               <img [lazyLoad]="images['mobilescreens']"  style="width:610px;height:425px" alt="mobile screen">
               </div>
            <!--<div class="home-sec-image image-outer">
               <img src="assets/mtc1_s.jpg" style="width:210px;height:425px" alt="image">
           </div>&nbsp;&nbsp;&nbsp;
               <div class="home-sec-image image-outer">               
               <img src="assets/mtc2_s.jpg" style="width:210px;height:425px" alt="image">
            </div>&nbsp;&nbsp;&nbsp;
            <div class="home-sec-image image-outer">               
               <img src="assets/mtc3_s.jpg" style="width:210px;height:425px" alt="image">
            </div>-->
         </div>
      </div>
      
   </div>

   </section>
   


 <div class="chefs-banner">
  <div class="container">
      <div class="chefs-card text-center wow animated bounceInDown">
          <div class="chefs-card-inner">
              <h2>we love our users, <br/>join us now</h2>
              <div class="short-separator"></div>
              <!--<img src="assets/images/chefs-hat.png" alt="hat" height="80%"/>-->
              <p>
                 Get a 7-day free trial of our app.<br/> Satisfied users choose from <br/>various affordable subscriptions. 
              </p>
              <!--<a class="read-more-bordered" (click)="gotopage('pricing')">Join Now</a>-->
              <a class="read-more-bordered" (click)="openModal('popupforquestions')">Join Now</a>
          </div>
      </div>
  </div>
</div>
     

</div>


<div *ngIf='popupforquestions' id="popupforquestions" class="popupforquestions popupwidth">


     <button type="button" class="close" 
       (click)="popupforquestions=false;" style="font-size:40px;color:$text-gray;opacity:1">
       <span aria-hidden="true">&times;</span>
     </button>
 
   <div style="border-bottom:0px;min-height: 550px;">
     <div class="row" >
       <div class="col-12 col-lg-12 col-xl-12 infoModal" style='max-height:500px; border:0px;margin-top:0px; text-align:center'>
         <div class="row">
            <div class="col-12 col-lg-3 col-md-2">
               
            </div>
            <div class="col-12 col-lg-9 col-md-10">
               <app-questions></app-questions>
            </div>
         </div>
       </div>
     </div>
   </div>

</div>
 