

    <div class="boxed-recipes text-center">
        <!--single recipe-->
        <div class="recipe-single  wow flipInY animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe5.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->

        <!--single recipe-->
        <div class="recipe-single  wow flipInY animation-delay200ms animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe6.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->

        <!--single recipe-->
        <div class="recipe-single  wow flipInY animation-delay400ms animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe7.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->

        <!--single recipe-->
        <div class="recipe-single  wow flipInY animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe1.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->

        <!--single recipe-->
        <div class="recipe-single  wow flipInY animation-delay200ms animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe2.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->

        <!--single recipe-->
        <div class="recipe-single  wow flipInY animation-delay200ms animated" style="visibility: visible; animation-name: flipInY;">
            <div class="recipe-image">
                <a href="#"><img src="assets/images/temp-images/main-recipe3.jpg" alt="image"></a>
            </div>
            <div class="outer-detail">
                <div class="detail">
                    <h3><a href="#">Pasto Pizza with fillas
                        Cheese Toppings</a></h3>

                    <div class="short-separator"></div>
                    <ul class="news-post-meta post-meta">
                        <li class="author"><a href="">John Doe</a></li>
                        <li class="date">23/10/2015</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--single recipe ends-->
    