<div class="" *ngIf="chatData && chatData.length > 0">
        <form name="form" (ngSubmit)="chatreply()" #f="ngForm" novalidate>
    <div class="chat-panel card-default" id="chatpanel">
    
        <div  id="scrollMe" #scrollMe class="scrollMe">
        <div class="card-body">
            <ul class="chat">
                <ng-container *ngFor="let item of chatData; let i = index">
                <li class="left  clearfix bgborder" *ngIf="item['source'] == 'bot'">
                    <!--<span class="chat-img pull-left">
                        <img src="{{profileimageTo}}" alt="User Avatar" class="img-circle">
                    </span>-->
                    <div class="chat-body clearfix">
                        <!--<div class="header">
                            <strong class="primary-font">{{item['username'] | titlecase}} </strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> {{item.createdat}}
                            </small>
                        </div>-->
                        <p>
                            {{item.message}}
                            {{i == chatData["length"]-1 ? scrollToBottom() : ''}} 
                        </p>
                        <p *ngIf="item.details !== ''">{{item.details}}</p>
                        <div style="display:block;">

                        
                            <ul class="menuitems" *ngIf="item.items.length > 0">
                                <li (click)="menuitemopt(menuitem)" *ngFor="let menuitem of item.items; let i = index">
                                    {{menuitem.item}}
                                    
                                </li>
                            </ul>
                        </div>
        
                    </div>
                </li>
                <li class="right  clearfix bgborder"  *ngIf="item['source'] == 'user'">
                        <!--<span class="chat-img pull-right">
                            <img src="{{profileimageFrom}}" alt="User Avatar" class="img-circle">
                        </span>-->
                        <div class="chat-body clearfix">
                            <!--<div class="header">
                                <small class=" text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> {{item.createdat}}
                                </small>
                                <strong class="pull-right primary-font">{{item['username'] | titlecase}}</strong>
                            </div>-->
                            <p style="text-align: right;">
                                {{item.message}}
                                {{i == chatData["length"]-1 ? scrollToBottom() : ''}}
                            </p>
                        </div>
                    </li>
                </ng-container>

                </ul>
            </div>
        </div>
            <div class="card-footer">
                <div class="input-group">
                    <input name="btn-input" id="btn-input" [(ngModel)]="replymessage" type="text" class="form-control input-sm" placeholder="Type your message here...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-warning btn-sm btnadd" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
    </div>
</form>

</div>

