.tstbite-animation {
  display: block;
  overflow: hidden
}

.tstbite-animation img {
  transform: scale(1);
  transition: all ease .8s
}

.tstbite-animation:hover img {
  transform: scale(1.1)
}



.tstbite-card {
  position: relative
}

.tstbite-card:hover figcaption a {
  color: #ff642f
}

.tstbite-card:hover .tstbite-animation img {
  transform: scale(1.1)
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

h5, .h5, .h5 {
    font-size: 36px;
}

big, .big {
    font-size: 18px;
}
.font-weight-semibold {
    font-weight: 600!important;
}
.mt-1 {
    margin-top: .25rem!important;
}
.d-block {
    display: block!important;
}
a {
    color: #000;
}

a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }

        text-black-50 {
  color: rgba(0, 0, 0, .5)!important
}

.btn-outline-dark {
    background-color: transparent;
    border-color: #000;
    color: #000;
}
.btn {
    font-weight: 500;
}




  .listSection{
           // border: solid 1px #888;
            //border-radius: 4px;
            padding: 5px 5px 0px 0px;
           //width: 340px;
            margin: 0 auto;
            font-size: 10.5pt;
            display: inline-block;
            height: 24px;
            margin-left: 6px;
        }
  

    .round {
    margin-left:20px;
    margin-right:20px;
    }


.round label {
  background-color: #ccc;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 15px;
  right:15px;
   
 
  top: 10px;
  width: 24px;
  margin-left:10px;

}

.round input {
 height: 28px;
  
}

.checkboxText {
  height:28px; position:absolute;vertical-align:middle;margin-top:5px;
}


/*.round label:after {
  border: 2px solid #ccc;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 20px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}*/

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


