<div class="row bgborder" *ngIf="currentUser !== null && isAuthorised">
	<div class="col-12">
		<div class="section-header corange onlydesktop">Manage Banner Details</div>
		<div class="section-header corange onlymobile">Banner Details</div>
	</div>

	<div class="col-12 paddingt0 onlydesktop" style="text-align:right;margin-top:10px;" >		
		<button (click)="modifyBanner('')" class="btnadd">Add New Banner</button>
	</div>

	<div class="col-12 " *ngIf="bannersList.length > 0">
		<div class="tablpanel onlydesktop" style="padding-bottom:0px;border:1px solid #CCC;color: #444444;">
			<div class="grid-wrapper gridall" >
                <ag-grid-angular #agGrid  id="myGrid" class="ag-theme-balham gridclass"
                    [rowData]="rowData" [gridOptions]="gridOptions" [paginationAutoPageSize]="true" [pagination]="true"
                    (cellClicked)='onCellClicked($event)'>
                </ag-grid-angular>               
			</div>			
		</div>	
		<div class="onlymobile">
		<ng-container *ngFor="let bannerData of bannersList; let i = index;">		
			<div class='col-12 col-lg-12 col-xl-12 infoModal' *ngIf="bannerData.deleted === '0'" >					
				<p class="mDetails"><span>Title :</span> {{bannerData.title}}</p>	
			</div>
		</ng-container>
	</div>			
	</div>
	<div class="col-12 " *ngIf="bannersList.length == 0">
		<span class="norecords">{{bannersMessage}}</span>
	</div>



</div>



<div *ngIf="currentUser !== null && !isAuthorised">
	You are not authorized to view this page.
</div>




<jw-modal id="isNewBanner" class="bg-white" style="display:none;">
	<form name="form" (ngSubmit)="addNewBanner(uf)" #uf="ngForm" novalidate class="popup-panel">
		<div class="modal-header bg-white" *ngIf='displayImage'>
			<h4>{{modalHeading}}
				<span></span>
			</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="closeModal('isNewBanner');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body bg-white" *ngIf='displayImage'>
			
			<div class="row">
				<div class='col-12 col-lg-12'>
					<div class="input-group">
						<label
							[ngClass]="'inputlabel'"
							for="title">Title <span class="mandatory">&#42;</span></label>
					
						<textarea autocomplete="off" id="title" name="title" #title="ngModel"
							class="form-control" [(ngModel)]="displayImage.title" 
							required (blur)="InputFLUCase(displayImage.title)"
							>
							</textarea>
							<div *ngIf="formSubmitted && title.invalid" class="alert alert-danger">
								<div *ngIf="title.errors.required">Title is required</div>
							</div>
					</div>
				</div>
	
				<div class='col-12 col-lg-6' >
					<div class="input-group" >
				
						<label class="panelcheck">Active
							<input [(ngModel)]="displayImage.deleted" id="itemdeleted" name = "itemdeleted" type="checkbox"
							>
							<span class="checkmark"></span>
						</label>

					</div>		
				</div>

				<div class='col-12'>
					<div class="form-group">
						<button class="defaultbtn" type="submit">Save</button>
					</div>
				</div>

			</div>

		
		</div>
	
	</form>
</jw-modal>



<jw-modal id="popupformessage" style="display:none">
	<div class="popup-panel">
	<div class="modal-header">
		<h4>{{modalHeading}}</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="closeModal('popupformessage');">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row" *ngIf="modaltext">
			<div class="col-12 col-lg-12 col-xl-12 infoModal" innerHTML="{{modaltext}}">
			</div>
		</div>
	</div>
</div>
</jw-modal>

<jw-modal id="attachphotos" style="display:none">
	<div class="popup-panel">
	<div class="modal-header">
		<h4>{{modalHeading}}</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="closeModal('attachphotos');">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row" >
			
			<div class="col-12 col-lg-12 col-xl-12 infoModal">
				<div class="form-group">
					
	 				<input #imageInput type="file"  accept="image/*" (change)="attachImage(imageInput)">
					<p style="font-style: italic;">Please upload image with the size 980px * 250px. Otherwise image will not be displayed properly in the banner.</p>		
				</div>
			</div>

			<div class="col-12 col-lg-12 col-xl-12 infoModal" *ngIf="displayImage && displayImage['image']">

	
					<div style="display:inline-block;">
						<div class="imgcontainer">
							<button class = "imgclose" (click)="deleteImage(displayImage)">
								<i class="fa fa-close" aria-hidden="true"></i>
							</button>
							<img src="{{uploadUrl}}{{displayImage['image']}}" style="margin-right:10px; height: 100px; width:150px" />
				
					</div>

					</div>

			</div>

		</div>

		<div class="row" *ngIf="modaltext">
			<div class="col-12 col-lg-12 col-xl-12 infoModal" innerHTML="{{modaltext}}">
			</div>
		</div>
	</div>
</div>
</jw-modal>



<jw-modal id="isModelActive" style="display:none;" width="50%">
	<form name="form" (ngSubmit)="saveStatus(uf)" #uf="ngForm" novalidate class="popup-panel">
		<div class="modal-header" *ngIf='statusData' style=" background:#FFF;color:#000;padding:10px;">
			<h4>
				<span>Modify Property</span>

			</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="closeModal('isModelActive');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" *ngIf='statusData' style=" color:#000;text-align:left">

			<div class="row">
				<div class='col-12'>
					<div class="input-group">
						<label
							[ngClass]="'inputlabel'"
							for="newDeleted">Active </label>
						<input type="checkbox"  name = "newdeleted" id="newDeleted" value="{{statusData.active}}" [(ngModel)]= "statusData.active">
	
					</div>
				
				</div>

			</div>
		</div>
		<div class="modal-footer" style=" background:#FFF;">
			<div class="input-group">
				<button class="defaultbtn" type="submit">Save</button>
			</div>
		</div>
	</form>
</jw-modal>
