@import "../../../_variables.scss";


:host {
  //padding: 30px
 
}
.displayinline 
{
  display:inline-block;
  margin-right: 0px !important;
}

.tablpanel
{
  max-width: 100%; 
  max-height: 500px;
  overflow:auto;
  margin-top:10px;
}

.displayinline 
{
  display:inline-block;
  margin-right: 0px !important;
}
.gridclass
{
  width:99.9%; height:420px;
   font-size:$font_small;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
}

.noborder {
  border: none;
}



.imgcontainer {
  width: 80%;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: #A4D3EE;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  border-radius:5px;
}

.imgclose {
    position: absolute;
    background: $grayshadow;
    color:#000;
    font-weight:bold;
    font-size:14pt;
    top: -10px;
    right: -10px;
    border-radius:50%;
    outline: 0;
    border: 0;
    width:28px;
    height:28px;
}


/****/
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $third;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.sliderinput:checked + .slider {
  background-color: $sixth;
}

.sliderinput:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.sliderinput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'Sq. Ft.';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 55%;
 font-size: 10px;
 //font-family: Verdana, sans-serif;
}

.sliderinput:checked + .slider:after
{  
  content:'Acre';
  left: 40%;
}
