<div class="recipes-home-body inner-page">
    
    <div class="container" style="padding-left:0; padding-right:0;">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="wrapper-search">
                   
                <div class="row" >
                    <div class="col-12 "  style="background:#FFF;  margin:0;  padding-bottom:20px;padding-left:0px; padding-right:0px;padding-top:15px">
                        <div style="padding-left: 10px; padding-right: 10px;">
                            <label class="searchicon ">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                            <input type="text" [(ngModel)]="searchparam.q" class="inputbox" placeholder="Search Recipes..." />
                            <input  type="button"  (click)="searchProps()" style="margin-bottom:10px;" 
                            [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Search">
                            <input  type="button"  (click)="searchProps()" style="margin-bottom:10px;" 
                            [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Clear">
                        </div>
                      
                        
                        <div  class="searchmorebar searchbaranim">
                            <div class="row" style="margin-left:45px">
                                <div class="col-12 " style="margin-bottom:10px;padding-left:0;">
                                 
                                     <ng-container *ngFor="let lab of searchFilterLabels; let l = index;">
                                            <a [ngClass]="lab.selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(lab)">
                                              {{lab.label}}
                                            </a>
                                    </ng-container>
   
                                </div>
                                <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">

                                        <!--<label class="filter-title">Health Labels </label>-->
                                        
                                            <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                                <div class="listSection  " id="healthLabels" >
                                                    <label class="container">{{hlabel.name}}
                                                    <input [(ngModel)] ="hlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                       
                                    </div>
                                </div>
                                <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">
                                        <!--<label class="filter-title">Diet Labels</label> -->
                                      
                                           
                                            <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                <div class="listSection  " id="diethLabels" >
                                                <label class="container">{{dlabel.name}}
                                                    <input [(ngModel)] ="dlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label> 
                                            </div>
                                            </ng-container>

                                       
                                    </div>
                                </div>
                                <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">

                                        <!--<label class="filter-title">Cuisine Type </label>-->
                                      

                                            <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                <div class="listSection " id="cuisineType">
                                                <label class="container">{{setFLU(clabel.name)}}
                                                    <input [(ngModel)] ="clabel.selected" type="checkbox" [checked]="c == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                      
                                    </div>
                                </div>

                                <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">

                                        <!--<label class="filter-title">Cuisine Type </label>-->
                                      

                                            <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                <div class="listSection " id="mealType">
                                                <label class="container">{{setFLU(mlabel.name)}}
                                                    <input [(ngModel)] ="mlabel.selected" type="checkbox" [checked]="m == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                      
                                    </div>
                                </div>

                                  <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">
                                        <!--<label class="filter-title">Nutrients</label> -->
                                        
                                         
                                                <div class="row paddinglr0">
                                                    <ng-container *ngFor="let mlabel of mineralsLabelsList; let m = index">
                                                        <div class=" " >
                                                    <div class="col-12 col-lg-3 col-md-3 paddinglr0">
                                                        <div class="row">

                                                      
                                                    <div class="col-12 paddinglr0">
                                                        <label class="container">{{setFLU(mlabel.name)}}
                                                            <input [(ngModel)] = 'mlabel.selected' type="checkbox" [checked]="m == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-5 paddinglr0" style="margin-bottom:15px;" *ngIf="mlabel.selected">
                                                      
                                                            <input class="mineral-input" type='text' name="minerals_{{m}}_min" [(ngModel)]="mlabel.min" placeholder="min" />
                                                            <span class="maxmin">{{formatVal(mlabel.t_min)}}</span>
                                                    
                                                    </div>
                                                    <div class="col-5 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected">
                                                        <input class="mineral-input" type='text' name="minerals_{{m}}_max" [(ngModel)]="mlabel.max" placeholder="max" />
                                                        <span class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                                    </div>
                                                    <div class="col-2 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                </div>
                                            </div> 
                                        </div>
                                        </ng-container>
                                               
                                              
                                               
                                           

                                        </div>
                                    </div>
                                  </div>
                                  <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">
                                        <!--<label class="filter-title">Calories (Max)</label> -->
                                        <div class="listSection"  style="display:inline-block;margin:0px">
                                           <!--  <span>Max calories</span> -->
                                          <input [(ngModel)]="maxcalories" placeholder="Enter maximum calories" type="text" class="inputbox-fullwidth" style="margin-top:0px" />

                                        </div>
                                    </div>
                                </div>
       
                
                                <div class="col-12 showonmobile">
                                    <input type="button" (click)="searchProps()" style="margin-bottom:10px;" class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit" value="Search">
                
                                </div>
                
                            </div>
                            
                              
                        
                        </div>
                
                        <!--<div *ngIf='showNutrientsFlag' class="header-more-search-btn" (click)="toggleMore()">
                            <i *ngIf="!searchmorebar" class="fa fa-chevron-down" aria-hidden="true"></i>
                            <i *ngIf="searchmorebar" class="fa fa-chevron-up" aria-hidden="true"></i>
                        </div>-->
                
                
                    </div>
                        
                        
                
                </div>
    
                </div>
                <div style='height:20px; width:100%'></div>
                <div class="recipe-set">
                    <div class="listing-buttons">
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'grid'?'grid current':'grid' "><i
                                class="fa fa-th-large"></i></span>
                        <span (click)="setListorGrid('grid')"
                            [ngClass]="listorgrid.menu == 'list'?'list current':'list'"><i
                                class="fa fa-bars"></i></span>
                    </div>
                    <h2>Recipes</h2>

                    <ul class="pagination hidden-xs" *ngIf="totalPage >= 10">
                        <li (click)="currentPage(0)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li (click)="prevPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        
                        <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                            <a href="javascript:void(0)">{{i+1}}</a>
                        </li>
                        <li (click)="nextPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li (click)="currentPage(totalPage-1)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>   
                    </ul>
                    <div class="recipe-listing {{listorgrid.panel}}">


                        <div class="listing" *ngFor="let recipe1 of displayList; let i = index;">
                            

                            <div class="image image-animate">
                                
                                <a (click)="gotoRecipeDetails(recipe1.id)">
                                    <img style="max-width:200px; max-height:200px" class="tstbite-animation" src="{{formatImage(recipe1.image, 'm')}}"
                                        alt="image">
                                </a>
                            </div>
                            <div class="detail">

                                <h4><a (click)="gotoRecipeDetails(recipe1.id)">{{recipe1.label}}</a>
                                    
                                </h4>
                                <!--<p innerHTML="{{limitTo(recipe1.s_instructions, 200)}}">

                                </p>-->

                                

                                <p *ngIf="recipe1.dietLabels">
                                    Diet Labels: <span style="font-size:12px;">{{formatlabels(recipe1.dietLabels)}}</span>
                                </p>
                                <!--<p *ngIf="recipe1.healthLabels">
                                    Health Labels: <span style="font-size:12px;">{{formatlabels(recipe1.healthLabels)}}</span>
                                </p>-->

                                <p>Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>
                                <div class="meta-listing">
                                   
                                    <div *ngIf="showNutrientsFlag" style="display:inline-block;color: #5e676b;">
                                        Per Serving: <span style="font-size:12px;">{{formatValuePServing(recipe1.calories, recipe1.yield)}} Kcal</span>
                                    </div>
                       
                                    <div class="rating-box">
                                        <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                                            <i [ngClass]="item <= recipe1.displayrating?'fa fa-star rating-h':'fa fa-star rating'"></i>
                                        </span>
                                        <!--<span class="rating-figure">{{recipe1.displayrating}}</span>-->
                                    </div>

                                    
                                </div>
                            </div>
                        </div>



                      


                       





                        <ul class="pagination hidden-xs" *ngIf="totalPage >= 10">
                            <li (click)="currentPage(0)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li (click)="prevPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            
                            <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                                <a href="javascript:void(0)">{{i+1}}</a>
                            </li>
                            <li (click)="nextPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li (click)="currentPage(totalPage-1)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>   
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
