<div class="fixedtop recipes-home-body inner-page">

    <div class="container" style="padding-left:0; padding-right:0;">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="recipe-set">
                    <h2 style="width:80%">Recipes</h2>

                    <div class="sortBtn" (click)="showFilters = !showFilters">
                        <i class="fa fa-sort-amount-asc" style="margin-right:10px;"></i> Sort
                    </div>
                    <div>
                   <div *ngIf="showFilters" style="position: absolute;
                   width: 180px;
                   height: 120px;
                   top: 25px;
                   right: 0;
                   z-index: 1;
                   background: #FFF;
                   border: 1px solid #ccc;
                   padding-top: 20px;
                   border-radius: 10px;
                   text-align:left;
                   padding-left: 15px;">
                            <div style="display:block">
                                <label class="container lblcheckbox">Sort by Asc
                                    <input (change)="showFilters= false;filterRecords('asc')"
                                        [(ngModel)]='filterOpts.asc' type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div style="display:block">
                                <label class="container lblcheckbox">Sort by Desc
                                    <input (change)="showFilters= false;filterRecords('desc')"
                                        [(ngModel)]='filterOpts.desc' type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div style="display:block">
                                <label class="container lblcheckbox">Sort by Calories
                                    <input (change)="showFilters= false;filterRecords('calories')"
                                        [(ngModel)]='filterOpts.calories' type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
                <app-search (returnData) = "resultSearch($event)"></app-search>
                <!--<div class="wrapper-search">

                    <div class="row">
                        <div class="col-12 "
                            style="background:#FFF;  margin:0;  padding-bottom:20px;padding-left:0px; padding-right:0px;">
                            <div style="padding-left: 10px; padding-right: 10px;" class="col-12">
                                <label class="searchicon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                                <input type="text" (keyup.enter)="hideLabels();searchProps()" [(ngModel)]="searchparam.q" class="inputbox"
                                    placeholder="Search Recipes..." />
                                <input type="button" (click)="hideLabels();searchProps()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Search">
                                <input type="button" (click)="hideLabels();clearFilters()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Clear">
                            </div>


                            <div class="searchmorebar searchbaranim">
                                <div class="row mleft">

                                    <div class="col-12 col-xs-12" style="margin-bottom:10px;">


                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[0].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[0])">
                                                {{searchFilterLabels[0].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>

                                            <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container
                                                        *ngFor="let hlabel of healthlabelsList; let h = index">
                                                        <div class="listSection " id="healthLabels">
                                                            <label class="container">{{hlabel.name}}
                                                                <input [(ngModel)]="hlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[1].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[1])">
                                                {{searchFilterLabels[1].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                        <div class="listSection  " id="diethLabels">
                                                            <label class="container">{{dlabel.name}}
                                                                <input [(ngModel)]="dlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[2].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[2])">
                                                {{searchFilterLabels[2].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">



                                                    <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                        <div class="listSection " id="cuisineType">
                                                            <label class="container">{{setFLU(clabel.name)}}
                                                                <input [(ngModel)]="clabel.selected" type="checkbox"
                                                                    [checked]="c == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[3].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[3])">
                                                {{searchFilterLabels[3].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">


                                                    <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                        <div class="listSection " id="mealType">
                                                            <label class="container">{{setFLU(mlabel.name)}}
                                                                <input [(ngModel)]="mlabel.selected" type="checkbox"
                                                                    [checked]="m == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[4].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[4])">
                                                {{searchFilterLabels[4].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">

                                                    <div class="row " style="margin-left:0px ;margin-right:0px;">
                                                        <ng-container
                                                            *ngFor="let mlabel of mineralsLabelsList; let m = index">

                                                            <div class="col-12 paddinglr0">
                                                                <div class="row">


                                                                    <div class="col-12 ">
                                                                        <label class="container">{{setFLU(mlabel.name)}}
                                                                            <input [(ngModel)]='mlabel.selected'
                                                                                type="checkbox"
                                                                                [checked]="m == 0?'checked':''">
                                                                            <span class="checkmark"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">

                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_min"
                                                                            [(ngModel)]="mlabel.min"
                                                                            placeholder="min" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_min)}}</span>

                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">
                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_max"
                                                                            [(ngModel)]="mlabel.max"
                                                                            placeholder="max" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                                                    </div>
                                                                    <div class="col-2 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                                </div>
                                                            </div>

                                                        </ng-container>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[5].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[5])">
                                                {{searchFilterLabels[5].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 multi-select"
                                                style="height:65px">
                                                <div class="filter-group">

                                                    <div class="listSection" style="display:block;margin:0px">
                                                        <input [(ngModel)]="maxcalories"
                                                            placeholder="Enter maximum calories" type="text"
                                                            class="inputbox" style="margin-top:0px;width:180px" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <input type="button" (click)="searchProps()" style="margin-bottom:10px;"
                                            class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit"
                                            value="Apply filters">

                                        </div>

                                    </div>



                                    <div class="col-12 showonmobile">
                                        <input type="button" (click)="searchProps()" style="margin-bottom:10px;"
                                            class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit"
                                            value="Search">

                                    </div>

                                </div>



                            </div>



                        </div>



                    </div>

                </div>-->
                <!--<div style='height:20px; width:100%'></div>-->
                <div *ngIf="loadingData && !noResult">Loading data...</div>
                <div class="recipe-set" *ngIf="!noResult">

                                       <div class="row">


                        <div class="col-12 col-lg-3 col-md-4" *ngFor="let recipe1 of recipesList1; let i = index;">
                            <div class="collection-item">

                                <div style="position:absolute; left:unset;top:10px;right:10px;z-index:1">
                                    <a (click)="showhidecontent(recipe1)" href="javascript:void(0)"
                                        [ngClass]="recipe1.showpopup?'contextmenu-icon  bgcontext active':'contextmenu-icon bgcontext'"><i
                                            class="fa fa-ellipsis-v"></i></a>
                                    <div *ngIf="recipe1.showpopup" style="" class="contextmenu"
                                        [ngClass]="i == 0? 'left130':'leftunset'">
                                        <a class="menu" href="javascript:void(0)"
                                            (click)=" addtoMealPlan(recipe1)"><i
                                                class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add to Meal
                                            Plan</a>

                                        <a class="menu" href="javascript:void(0)"
                                            (click)="gotoRecipeDetails( recipe1.id)"><i class="fa fa-list"></i>View
                                            Recipe</a>
                                        <a *ngIf="isUser['dietitian']" (click)="makeacopy(recipe1)" class="menu"
                                            href="javascript:void(0)"><i class="fa fa-clone"></i>Make a Copy</a>
                                        <a (click)=" addCollectionsPopup(recipe1)"
                                            class="menu" href="javascript:void(0)"><i
                                                class="fa fa-folder-open-o"></i>Add to Collections</a>

                                        <a *ngIf="isUser['dietitian']" (click)="recipe1.showpopup = false; modifyRecipe(recipe1)"
                                            class="menu" href="javascript:void(0)"><i
                                                class="fa fa-plus-square-o"></i>Modify Recipe</a>

                                    </div>

                                    <div *ngIf='recipe1.showAdd2MP'
                                        [ngClass]="i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'"
                                        style="top:0px;background-color: #f8f8f8 ">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)"
                                            (click)="recipe1.showAdd2MP = false;"><i class="fa fa-close"
                                                aria-hidden="true"></i> </a>
                                                <app-add2plan (returnData)= "recipe1.showAdd2MP = false;" [planid]="selectedRecipe2Add2plan.id"></app-add2plan>
                                        
                                    </div>
                                    <div *ngIf='recipe1.showAdd2C'
                                        [ngClass]="i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'"
                                        style="top:0px;background-color: #f8f8f8;height:200px">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)"
                                            (click)="recipe1.showAdd2C = false;"><i class="fa fa-close"
                                                aria-hidden="true"></i> </a>
                                        <p class="title" style="display:block"> Add Recipe to Collections</p>
                                        <p style="display:block"
                                            *ngIf="!collectionsList || collectionsList.length == 0">You haven't created
                                            a meal plan yet.</p>
                                        <ng-container *ngIf="collectionsList.length > 0">
                                            <p style="display:block;text-align:left">Choose Collection</p>
                                            <select name="collectionid" [(ngModel)]="collection.id">
                                                <option value="{{collection.id}}"
                                                    *ngFor='let collection of collectionsList; let i = index'>
                                                    {{collection.collection_name}}</option>
                                            </select>

                                            <a class="btn" style="width:100%" href="javascript:void(0)"
                                                (click)="add2Collection(recipe1)"> Add to Collection</a>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="image image-animate detail" style="background:#f8f8f8;margin-bottom:0px">

                                    <a (click)="gotoRecipeDetails(recipe1.id)">
                                        <img src="{{formatImage(recipe1, 'm')}}" alt="image">
                                    </a>

                                    <div class="detail">

                                        <a title="{{recipe1.label}}" (click)="gotoRecipeDetails(recipe1.id)">
                                            <h3 style="font-size:16px">{{limitTo(recipe1.label, 23)}}

                                            </h3>
                                        </a>


                                        <!--<p *ngIf="recipe1.dietLabels">
                                    Diet Labels: <span
                                        style="font-size:12px;">{{formatlabels(recipe1.dietLabels)}}</span>
                                </p>-->

                                        <p>Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>

                                        <p style="float:left;"> Per Serving: <span
                                                style="font-size:12px;">{{formatValuePServing(recipe1.calories,
                                                recipe1.yield)}} Kcal &nbsp;&nbsp;&nbsp;</span></p>
                                        <div class="rating-box" style="padding:0px; float:right;width:unset;">
                                            <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                                                <i
                                                    [ngClass]="item <= recipe1.displayrating?'fa fa-star rating-h':'fa fa-star rating'"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>













                    </div>


                    <!--<ul class="pagination hidden-xs" *ngIf="totalPage > 1">
                        <li (click)="currentPage(0)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li (click)="prevPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>

                        <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''"
                            *ngFor='let in of counter(totalPage) ;let i = index'>
                            <a href="javascript:void(0)">{{i+1}}</a>
                        </li>
                        <li (click)="nextPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li (click)="currentPage(totalPage)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>-->
                </div>
                <div class="recipe-set" *ngIf="noResult">
                    <p> No Results</p>
                </div>
            </div>
            <!--   <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div> -->
        </div>

    </div>
</div>



<jw-modal id="modifyrecipe" [width]="70">

    <form name="form" #uf="ngForm" novalidate class="popup-panel">
        <div class="modal-header">
            <h2 style="margin:15px; ">
                <span>Modify Recipe Details</span>

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal"
                aria-label="Close" (click)="hideModifyLabels(); closeModal('modifyrecipe');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="newRecipe">

            <div class="row">

                <div class="col-12" style="max-height: 300px; overflow: auto;">
                    <div class="row">
                        <!-- <p class="title" style="display:block"> Modify Recipe </p> -->
                        <div class='col-12 item-section' style="width:100%;  font-size:15px;">
                            <p class="lbl">Recipe Name</p>
                            <textarea style='width:100%' name="newrecipename" [(ngModel)]="newRecipe.label"></textarea>

                        </div>
                        <div class='col-12 item-section' style="width:100%">
                            <p class="lbl">Instructions</p>
                            <textarea rows=6 style='width:100%; font-size:15px;' name="newrecipeins"
                                [(ngModel)]="newRecipe.s_instructions"></textarea>

                        </div>
                        <!--
                                <div class='col-12 item-section'>
                                    <div class="multi-select-lbl">
                                        <a [ngClass]="modifyFilterLabels[0].selected?'filterlabel active': 'filterlabel'"
                                            href="javascript:void(0)" (click)="showModifyLabels(modifyFilterLabels[0])">
                                            {{modifyFilterLabels[0].label}} <i class="fa fa-angle-down"
                                                aria-hidden="true"></i>
                                        </a>

                                        <div *ngIf="modifyFilterLabels[0]['selected']" class="col-12 multi-select">
                                            <div class="filter-group maxheight100">
                                                <ng-container
                                                    *ngFor="let hlabel of healthlabelsList; let h = index">
                                                    <div class="listSection " id="healthLabels">
                                                        <label class="container">{{hlabel.name}}
                                                            <input (change)="setValues('healthLabels')"  name="hlable{{h}}" [(ngModel)]="hlabel.selected" type="checkbox"
                                                                [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </ng-container>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="multi-select-lbl">
                                        <a [ngClass]="modifyFilterLabels[1].selected?'filterlabel active': 'filterlabel'"
                                            href="javascript:void(0)" (click)="showModifyLabels(modifyFilterLabels[1])">
                                            {{modifyFilterLabels[1].label}} <i class="fa fa-angle-down"
                                                aria-hidden="true"></i>
                                        </a>

                                        <div *ngIf="modifyFilterLabels[1]['selected']" class="col-12 multi-select">
                                            <div class="filter-group maxheight100">
                                                <ng-container
                                                    *ngFor="let dlabel of dietLabelsList; let h = index">
                                                    <div class="listSection " id="doetLabels{{h}}">
                                                        <label class="container">{{dlabel.name}}
                                                            <input (change)="setValues('dietLabels')" name="dlable{{h}}" [(ngModel)]="dlabel.selected" type="checkbox"
                                                                [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </ng-container>


                                            </div>
                                        </div>
                                    </div>



                                    <div class="multi-select-lbl">
                                        <a [ngClass]="modifyFilterLabels[2].selected?'filterlabel active': 'filterlabel'"
                                            href="javascript:void(0)" (click)="showModifyLabels(modifyFilterLabels[2])">
                                            {{modifyFilterLabels[2].label}} <i class="fa fa-angle-down"
                                                aria-hidden="true"></i>
                                        </a>

                                        <div *ngIf="modifyFilterLabels[2]['selected']" class="col-12 multi-select">
                                            <div class="filter-group maxheight100">
                                                <ng-container
                                                    *ngFor="let clabel of cuisineTypeList; let h = index">
                                                    <div class="listSection " id="cyLabels{{h}}">
                                                        <label class="container">{{clabel.name}}
                                                            <input  (change)="setValues('cuisineType')" name="clabel{{h}}" [(ngModel)]="clabel.selected" type="checkbox"
                                                                [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </ng-container>


                                            </div>
                                        </div>
                                    </div>


                                    
                                    <div class="multi-select-lbl">
                                        <a [ngClass]="modifyFilterLabels[3].selected?'filterlabel active': 'filterlabel'"
                                            href="javascript:void(0)" (click)="showModifyLabels(modifyFilterLabels[3])">
                                            {{modifyFilterLabels[3].label}} <i class="fa fa-angle-down"
                                                aria-hidden="true"></i>
                                        </a>

                                        <div *ngIf="modifyFilterLabels[3]['selected']" class="col-12 multi-select">
                                            <div class="filter-group maxheight100">
                                                <ng-container
                                                    *ngFor="let mlabel of mealTypeList; let m = index">
                                                    <div class="listSection " id="cyLabels{{h}}">
                                                        <label class="container">{{mlabel.name}}
                                                            <input  (change)="setValues('mealType')" name="mlabel{{m}}" [(ngModel)]="mlabel.selected" type="checkbox"
                                                                [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </ng-container>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            -->


                        <div class='col-12 col-lg-3 item-section'>
                            <div class="multi-select-lbl">
                                <p>
                                    {{modifyFilterLabels[0].label}}
                                </p>

                                <div class="col-12 paddinglr0">
                                    <div class="filter-group maxheight100">
                                        <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                            <div class="listSection " id="healthLabels">
                                                <label class="container">{{hlabel.name}}
                                                    <input (change)="setValues('healthLabels')" name="hlable{{h}}"
                                                        [(ngModel)]="hlabel.selected" type="checkbox"
                                                        [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </ng-container>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-lg-3 item-section'>
                            <div class="multi-select-lbl">
                                <p>
                                    {{modifyFilterLabels[1].label}}
                                </p>

                                <div class="col-12 paddinglr0">
                                    <div class="filter-group maxheight100">
                                        <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                            <div class="listSection " id="doetLabels{{h}}">
                                                <label class="container">{{dlabel.name}}
                                                    <input (change)="setValues('dietLabels')" name="dlable{{h}}"
                                                        [(ngModel)]="dlabel.selected" type="checkbox"
                                                        [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </ng-container>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-lg-3 item-section'>


                            <div class="multi-select-lbl">
                                <p>
                                    {{modifyFilterLabels[2].label}}
                                </p>

                                <div class="col-12 paddinglr0">
                                    <div class="filter-group maxheight100">
                                        <ng-container *ngFor="let clabel of cuisineTypeList; let h = index">
                                            <div class="listSection " id="cyLabels{{h}}">
                                                <label class="container">{{clabel.name}}
                                                    <input (change)="setValues('cuisineType')" name="clabel{{h}}"
                                                        [(ngModel)]="clabel.selected" type="checkbox"
                                                        [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </ng-container>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-lg-3 item-section'>


                            <div class="multi-select-lbl">
                                <p>
                                    {{modifyFilterLabels[3].label}}
                                </p>


                                <div class="col-12 paddinglr0">
                                    <div class="filter-group maxheight100">
                                        <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                            <div class="listSection " id="cyLabels{{m}}">
                                                <label class="container">{{mlabel.name}}
                                                    <input (change)="setValues('mealType')" name="mlabel{{m}}"
                                                        [(ngModel)]="mlabel.selected" type="checkbox"
                                                        [checked]="m == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </ng-container>


                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>





                <div class='col-12'>
                    <div class="form-group">

                        <button (click)="setlabels(newRecipe)" class="submit-comment active">Modify</button>&nbsp;&nbsp;
                        <button (click)="hideModifyLabels(); closeModal('modifyrecipe')"
                            class="submit-comment">Cancel</button>

                    </div>
                </div>
            </div>

        </div>

    </form>
</jw-modal>