<div class="fixedtop recipes-home-body inner-page">

    <div class="container" style="padding-left:0; padding-right:0;padding-top:20px">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="recipe-set">
                    <h2>Recipes</h2>

                </div>
                <div style="width:100%; text-align:right">
                    <a href="javascript:void(0)" style="font-size:20px;" (click)="showFilters = !showFilters">
                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    </a>
                   <div *ngIf="showFilters" style="position: absolute;
                   width: 180px;
                   height: 120px;
                   top: 100px;
                   right: 0;
                   z-index: 1;
                   background: #FFF;
                   border: 1px solid #ccc;
                   padding-top: 20px;
                   border-radius: 10px;
                   text-align:left;
                   padding-left: 15px;">
                    <div style="display:block">
                        <label class="container lblcheckbox">Sort by Asc
                            <input (change)="showFilters= false;filterRecords('asc')" [(ngModel)]='filterOpts.asc' type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div style="display:block">
                        <label class="container lblcheckbox">Sort by Desc
                            <input (change)="showFilters= false;filterRecords('desc')" [(ngModel)]='filterOpts.desc' type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div style="display:block">
                        <label class="container lblcheckbox">Sort by Calories
                            <input (change)="showFilters= false;filterRecords('calories')" [(ngModel)]='filterOpts.calories' type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <!--<div style="display:block">
                        <label class="container lblcheckbox">All
                            <input (change)="showFilters= false;filterRecords('all')" [(ngModel)]='filterOpts.all' type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>-->
                    </div>
                    </div>
                <div class="wrapper-search">

                    <div class="row">
                        <div class="col-12 "
                            style="background:#FFF;  margin:0;  padding-bottom:20px;padding-left:0px; padding-right:0px;">
                            <div style="padding-left: 10px; padding-right: 10px;" class="col-12">
                                <label class="searchicon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                                <input type="text" [(ngModel)]="searchparam.q" class="inputbox"
                                    placeholder="Search Recipes..." />
                                <input type="button" (click)="hideLabels();searchProps()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Search">
                                <input type="button" (click)="hideLabels();clearFilters()" style="margin-bottom:10px;"
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'"
                                    id="header-submit-search-pro" name="submit" value="Clear">
                            </div>


                            <div class="searchmorebar searchbaranim">
                                <div class="row mleft">

                                    <div class="col-12 col-xs-12" style="margin-bottom:10px;">

                                        <!--<ng-container *ngFor="let lab of searchFilterLabels; let l = index;">
                                           <a [ngClass]="lab.selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(lab)">
                                             {{lab.label}}
                                           </a>


                                           
                                   </ng-container>-->
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[0].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[0])">
                                                {{searchFilterLabels[0].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>

                                            <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container
                                                        *ngFor="let hlabel of healthlabelsList; let h = index">
                                                        <div class="listSection " id="healthLabels">
                                                            <label class="container">{{hlabel.name}}
                                                                <input [(ngModel)]="hlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[1].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[1])">
                                                {{searchFilterLabels[1].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 multi-select">
                                                <div class="filter-group">
                                                    <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                        <div class="listSection  " id="diethLabels">
                                                            <label class="container">{{dlabel.name}}
                                                                <input [(ngModel)]="dlabel.selected" type="checkbox"
                                                                    [checked]="h == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[2].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[2])">
                                                {{searchFilterLabels[2].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">

                                                    <!--<label class="filter-title">Cuisine Type </label>-->


                                                    <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                        <div class="listSection " id="cuisineType">
                                                            <label class="container">{{setFLU(clabel.name)}}
                                                                <input [(ngModel)]="clabel.selected" type="checkbox"
                                                                    [checked]="c == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[3].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[3])">
                                                {{searchFilterLabels[3].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">

                                                    <!--<label class="filter-title">Cuisine Type </label>-->


                                                    <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                        <div class="listSection " id="mealType">
                                                            <label class="container">{{setFLU(mlabel.name)}}
                                                                <input [(ngModel)]="mlabel.selected" type="checkbox"
                                                                    [checked]="m == 0?'checked':''">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[4].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[4])">
                                                {{searchFilterLabels[4].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  multi-select">
                                                <div class="filter-group">
                                                    <!--<label class="filter-title">Nutrients</label> -->
                                                    <div class="row " style="margin-left:0px ;margin-right:0px;">
                                                        <ng-container
                                                            *ngFor="let mlabel of mineralsLabelsList; let m = index">

                                                            <div class="col-12 paddinglr0">
                                                                <div class="row">


                                                                    <div class="col-12 ">
                                                                        <label class="container">{{setFLU(mlabel.name)}}
                                                                            <input [(ngModel)]='mlabel.selected'
                                                                                type="checkbox"
                                                                                [checked]="m == 0?'checked':''">
                                                                            <span class="checkmark"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">

                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_min"
                                                                            [(ngModel)]="mlabel.min"
                                                                            placeholder="min" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_min)}}</span>

                                                                    </div>
                                                                    <div class="col-5 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected">
                                                                        <input class="mineral-input" type='text'
                                                                            name="minerals_{{m}}_max"
                                                                            [(ngModel)]="mlabel.max"
                                                                            placeholder="max" />
                                                                        <span
                                                                            class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                                                    </div>
                                                                    <div class="col-2 paddinglr0"
                                                                        style="margin-bottom:15px;"
                                                                        *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                                </div>
                                                            </div>

                                                        </ng-container>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi-select-lbl">
                                            <a [ngClass]="searchFilterLabels[5].selected?'filterlabel active': 'filterlabel'"
                                                href="javascript:void(0)" (click)="showLabels(searchFilterLabels[5])">
                                                {{searchFilterLabels[5].label}} <i class="fa fa-angle-down"
                                                    aria-hidden="true"></i>
                                            </a>
                                            <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 multi-select" style="height:65px">
                                                <div class="filter-group">
                                                    <!--<label class="filter-title">Calories (Max)</label> -->
                                                    <div class="listSection" style="display:block;margin:0px">
                                                        <!--  <span>Max calories</span> -->
                                                        <input [(ngModel)]="maxcalories"
                                                            placeholder="Enter maximum calories" type="text"
                                                            class="inputbox" style="margin-top:0px;width:180px" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--
                                <div class="col-12 col-xs-12" style="margin-bottom:10px;padding-left:0;">
                                 
                                     <ng-container class="col-xs-12" *ngFor="let lab of searchFilterLabels; let l = index;">
                                            <a [ngClass]="lab.selected?'filterlabel active': 'filterlabel'" href="javascript:void(0)" (click)="showLabels(lab)">
                                              {{lab.label}}
                                            </a>
                                    </ng-container>
   
                                </div>
                                <div *ngIf="searchFilterLabels[0]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">

                                        
                                            <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                                <div class="listSection  " id="healthLabels" >
                                                    <label class="container">{{hlabel.name}}
                                                    <input [(ngModel)] ="hlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                       
                                    </div>
                                </div>
                                <div *ngIf="searchFilterLabels[1]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">

                                      
                                           
                                            <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                <div class="listSection  " id="diethLabels" >
                                                <label class="container">{{dlabel.name}}
                                                    <input [(ngModel)] ="dlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label> 
                                            </div>
                                            </ng-container>

                                       
                                    </div>
                                </div>
                                <div *ngIf="searchFilterLabels[2]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">

                                      

                                            <ng-container *ngFor="let clabel of cuisineTypeList; let c = index">
                                                <div class="listSection " id="cuisineType">
                                                <label class="container">{{setFLU(clabel.name)}}
                                                    <input [(ngModel)] ="clabel.selected" type="checkbox" [checked]="c == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                      
                                    </div>
                                </div>

                                <div *ngIf="searchFilterLabels[3]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">
                                      

                                            <ng-container *ngFor="let mlabel of mealTypeList; let m = index">
                                                <div class="listSection " id="mealType">
                                                <label class="container">{{setFLU(mlabel.name)}}
                                                    <input [(ngModel)] ="mlabel.selected" type="checkbox" [checked]="m == 0?'checked':''">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            </ng-container>

                                      
                                    </div>
                                </div>

                                  <div *ngIf="searchFilterLabels[4]['selected']" class="col-12  paddinglr0">
                                    <div class="filter-group">
                                                             
                                         
                                                <div class="row paddinglr0">
                                                    <ng-container *ngFor="let mlabel of mineralsLabelsList; let m = index">
                                                       
                                                    <div class="col-12 col-lg-3 col-md-3 paddinglr0">
                                                        <div class="row">

                                                      
                                                    <div class="col-12 paddinglr0">
                                                        <label class="container">{{setFLU(mlabel.name)}}
                                                            <input [(ngModel)] = 'mlabel.selected' type="checkbox" [checked]="m == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-5 paddinglr0" style="margin-bottom:15px;" *ngIf="mlabel.selected">
                                                      
                                                            <input class="mineral-input" type='text' name="minerals_{{m}}_min" [(ngModel)]="mlabel.min" placeholder="min" />
                                                            <span class="maxmin">{{formatVal(mlabel.t_min)}}</span>
                                                    
                                                    </div>
                                                    <div class="col-5 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected">
                                                        <input class="mineral-input" type='text' name="minerals_{{m}}_max" [(ngModel)]="mlabel.max" placeholder="max" />
                                                        <span class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                                    </div>
                                                    <div class="col-2 paddinglr0" style="margin-bottom:15px;"  *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                </div>
                                            </div> 
                                        
                                        </ng-container>
                                               
                                              
                                               
                                           

                                        </div>
                                    </div>
                                  </div>
                                  <div *ngIf="searchFilterLabels[5]['selected']" class="col-12 paddinglr0">
                                    <div class="filter-group">

                                        <div class="listSection"  style="display:inline-block;margin:0px">
                                       
                                          <input [(ngModel)]="maxcalories" placeholder="Enter maximum calories" type="text" class="inputbox" style="margin-top:0px;width:200px" />

                                        </div>
                                    </div>
                                </div>
                            -->

                                    <div class="col-12 showonmobile">
                                        <input type="button" (click)="searchProps()" style="margin-bottom:10px;"
                                            class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit"
                                            value="Search">

                                    </div>

                                </div>



                            </div>

                            <!--<div *ngIf='showNutrientsFlag' class="header-more-search-btn" (click)="toggleMore()">
                            <i *ngIf="!searchmorebar" class="fa fa-chevron-down" aria-hidden="true"></i>
                            <i *ngIf="searchmorebar" class="fa fa-chevron-up" aria-hidden="true"></i>
                        </div>-->


                        </div>



                    </div>

                </div>
                <div style='height:20px; width:100%'></div>
                <div *ngIf = "loadingData && !noResult">Loading data...</div>
                <div class="recipe-set" *ngIf="!noResult">

                    <ul class="pagination hidden-xs" *ngIf="totalPage > 1">
                        <li (click)="currentPage(0)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li (click)="prevPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>

                        <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''"
                            *ngFor='let in of counter(totalPage) ;let i = index'>
                            <a href="javascript:void(0)">{{i+1}}</a>
                        </li>
                        <li (click)="nextPage()" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li (click)="currentPage(totalPage-1)" class="">
                            <a href="javascript:void(0)">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="recipe-listing {{listorgrid.panel}}">


                        <div class="listing" *ngFor="let recipe1 of displayList; let i = index;">


                            <div class="image image-animate detail" style="background:#f8f8f8;">

                                <a (click)="gotoRecipeDetails(recipe1.id)">
                                    <img style="max-width:200px; max-height:200px"
                                        src="{{formatImage(recipe1.image, 'm')}}" alt="image">
                                </a>
                            </div>
                            <div class="detail" style="height:150px;position:relative;">
                                <div style="position:absolute; left:unset;top:0px;right:5px;">
                                    <a style="left:unset;" (click)="showhidecontent(recipe1)" href="javascript:void(0)"
                                        [ngClass]="recipe1.showpopup?'contextmenu-icon active':'contextmenu-icon'"><i
                                            class="fa fa-ellipsis-v"></i></a>
                                    <div *ngIf="recipe1.showpopup" style="left:unset;" class="contextmenu">
                                        <a class="menu" href="javascript:void(0)"
                                            (click)="recipe1.showpopup = false; addtoMealPlan(recipe1)"><i
                                                class="fa fa-calendar-plus-o" aria-hidden="true"></i> Add to Meal
                                            Plan</a>

                                        <a class="menu" href="javascript:void(0)"
                                            (click)="gotoRecipeDetails( recipe1.id)"><i class="fa fa-list"></i>View
                                            Recipe</a>
                                        <a (click)="makeacopy(recipe1)" class="menu" href="javascript:void(0)"><i
                                                class="fa fa-clone"></i>Make a Copy</a>
                                        <a (click)="recipe1.showpopup = false; addCollectionsPopup(recipe1)" class="menu" href="javascript:void(0)"><i
                                                class="fa fa-folder-open-o"></i>Add to Collections</a>
                                        
                                        <a (click)="recipe1.showpopup = false; modifyRecipe(recipe1)" class="menu" href="javascript:void(0)"><i
                                                    class="fa fa-plus-square-o"></i>Modify Recipe</a>
    

                                        <!--<a  (click)="deleteRecipe(recipe1.id)" class="menu" href="javascript:void(0)"><i class="fa fa-trash"></i>Delete Recipe</a>-->
                                    </div>

                                    <div *ngIf='recipe1.showAdd2MP' [ngClass] = "i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'" style="top:0px;background-color: #f8f8f8 ">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)"
                                            (click)="recipe1.showAdd2MP = false;"><i class="fa fa-close"
                                                aria-hidden="true"></i> </a>
                                        <p class="title" style="display:block"> Add Recipe to Meal Plan</p>
                                        <p style="display:block;text-align:left">Choose Meal Plan</p>
                                        <select name="planid" [(ngModel)]="plan.id">
                                            <option value="{{plan.id}}" *ngFor='let plan of plansList; let i = index'>
                                                {{plan.name}}</option>
                                        </select>
                                        <p style="display:block;text-align:left">Choose Day</p>
                                        <select name="planday" [(ngModel)]="plan.day">
                                            <option value="{{day.id}}" *ngFor='let day of daysList; let i = index'>
                                                {{day.name}}</option>
                                        </select>
                                        <p style="display:block;text-align:left">Choose Meal Type</p>
                                        <select name="planmealtype" [(ngModel)]="plan.mealType">
                                            <option value="{{mealtype.code}}"
                                                *ngFor='let mealtype of mealTypesList; let i = index'>{{mealtype.name}}
                                            </option>
                                        </select>
                                        <a class="btn" href="javascript:void(0)" (click)="add2Plan()"> Add to Plan</a>

                                        <!--<a href="javascript:void(0)" (click)="addRecipe(recipe)"><i class="fa fa-plus" aria-hidden="true"></i> Add Recipe</a>-->

                                    </div>
                                    <div *ngIf='recipe1.showAdd2C' [ngClass] = "i == 0? 'add2mealplanmenu left130':'add2mealplanmenu leftunset'" style="top:0px;background-color: #f8f8f8 ">
                                        <a style="float:right;font-size:24px;padding-top: 0px;
                                        padding-right: 0px;" href="javascript:void(0)"
                                            (click)="recipe1.showAdd2C = false;"><i class="fa fa-close"
                                                aria-hidden="true"></i> </a>
                                        <p class="title" style="display:block"> Add Recipe to Collections</p>
                                        <p style="display:block;text-align:left">Choose Collection</p>
                                        <select name="collectionid" [(ngModel)]="collection.id">
                                            <option value="{{collection.id}}"
                                                *ngFor='let collection of collectionsList; let i = index'>
                                                {{collection.collection_name}}</option>
                                        </select>

                                        <a class="btn" style="width:100%" href="javascript:void(0)"
                                            (click)="add2Collection(recipe1)"> Add to Collection</a>

                                    </div>
                                </div>
                                <h4><a title = "{{recipe1.label}}" (click)="gotoRecipeDetails(recipe1.id)">{{limitTo(recipe1.label, 38)}}</a>

                                </h4>
                                <!--<p innerHTML="{{limitTo(recipe1.s_instructions, 200)}}">

                                </p>-->



                                <p *ngIf="recipe1.dietLabels">
                                    Diet Labels: <span
                                        style="font-size:12px;">{{formatlabels(recipe1.dietLabels)}}</span>
                                </p>
                                <!--<p *ngIf="recipe1.healthLabels">
                                    Health Labels: <span style="font-size:12px;">{{formatlabels(recipe1.healthLabels)}}</span>
                                </p>-->

                                <p>Calories: <span style="font-size:12px;">{{recipe1.calories}} Kcal</span></p>
                                <div class="meta-listing">

                                    <div *ngIf="showNutrientsFlag" style="display:inline-block;color: #5e676b;">
                                        Per Serving: <span
                                            style="font-size:12px;">{{formatValuePServing(recipe1.calories,
                                            recipe1.yield)}} Kcal</span>
                                    </div>

                                    <div class="rating-box">
                                        <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                                            <i
                                                [ngClass]="item <= recipe1.displayrating?'fa fa-star rating-h':'fa fa-star rating'"></i>
                                        </span>
                                        <!--<span class="rating-figure">{{recipe1.displayrating}}</span>-->
                                    </div>


                                </div>
                            </div>
                        </div>












                        <ul class="pagination hidden-xs" *ngIf="totalPage > 1">
                            <li (click)="currentPage(0)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li (click)="prevPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>

                            <li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''"
                                *ngFor='let in of counter(totalPage) ;let i = index'>
                                <a href="javascript:void(0)">{{i+1}}</a>
                            </li>
                            <li (click)="nextPage()" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li (click)="currentPage(totalPage-1)" class="">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="recipe-set" *ngIf="noResult">
                    <p> No Results</p>
                </div>
            </div>
            <!--   <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div> -->
        </div>

    </div>
</div>



<jw-modal id="modifyrecipe">

    <form name="form" #uf="ngForm" novalidate class="popup-panel">
        <div class="modal-header">
            <h2 style="margin:15px; ">
                <span>Modify Recipe Details</span>

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal"
                aria-label="Close" (click)="closeModal('modifyrecipe');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="newRecipe">

            <div class="row">
           
                        <div class="col-12"   style="max-height: 300px; overflow: auto;">
                            <div class="row">
                                <!-- <p class="title" style="display:block"> Modify Recipe </p> -->
                                <div class='col-12 item-section' style="width:100%;  font-size:15px;">
                                    <p class="lbl">Recipe Name</p>
                                    <textarea style='width:100%' name="newrecipename" [(ngModel)]="newRecipe.label"></textarea>

                                </div>
                                <div class='col-12 item-section' style="width:100%">
                                    <p class="lbl">Instructions</p>
                                    <textarea rows=6 style='width:100%; font-size:15px;' name="newrecipeins" [(ngModel)]="newRecipe.s_instructions"></textarea>

                                </div>

                                <div class='col-12 col-lg-3 col-md-3 item-section'>
                                    <p class="lbl">Health label</p>
                                    <select name="planid" [(ngModel)]="newRecipe.healthLabels">
                                        <option value="{{hlabel.name}}"
                                            *ngFor='let hlabel of healthlabelsList; let i = index' style="font-size:12px">
                                            {{hlabel.name}}</option>
</select>
                                </div>
                                <div class='col-12 col-lg-3 col-md-3  item-section'>
                                    <p class="lbl">Diet Label</p>
                                    <select name="planday" [(ngModel)]="newRecipe.dietLabels">
                                        <option value="{{dlabel.name}}"
                                            *ngFor='let dlabel of dietLabelsList; let i = index' style="font-size:12px">{{dlabel.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class='col-12 col-lg-3 col-md-3  item-section'>
                                    <p class="lbl">Cuisine Type</p>
                                    <select name="plancuisinetype" [(ngModel)]="newRecipe.cuisineType">
                                        <option value="{{ctype.name}}"
                                            *ngFor='let ctype of cuisineTypeList; let i = index' style="font-size:12px">{{setFLU(ctype.name)}}
                                        </option>
                                    </select>
                                </div>
                                <div class='col-12 col-lg-3 col-md-3  item-section'>
                                    <p class="lbl">Meal Type</p>
                                    <select name="planmealtype" [(ngModel)]="newRecipe.mealType">
                                        <option value="{{mealtype.name}}"
                                            *ngFor='let mealtype of mealTypeList; let i = index' style="font-size:12px">
                                            {{setFLU(mealtype.name)}}</option>
                                    </select>
                                </div>
                               
                            </div>
                    </div>



                

                <div class='col-12'>
                    <div class="form-group">
                      <!--    <a class="defaultbtn" href="javascript:void(0)" (click)="setlabels(newRecipe)"> Modify</a> -->

                        <button  (click)="setlabels(newRecipe)" class="submit-comment active">Modify</button>&nbsp;&nbsp;
                        <button (click)="closeModal('modifyrecipe')" class="submit-comment">Cancel</button>
                        <!-- <a class="submit-comment active" href="javascript:void(0)" (click)="closeModal('modifyrecipe');"> Cancel</a> -->

 
                    </div>
                </div>
            </div>

        </div>

    </form>
</jw-modal>
