@import "../../../_variables.scss";

.modalpopup
{
    /*display:none; */
    position:fixed; 
    top: 0;
    height:auto; 
    min-height:100%; 
    width:100%; 
    left:0;
    background:#FFFFFF;
    /*padding:10px; */
    color:#000;
   // border-radius: 15px;
    box-shadow: 8px 8px 4px #aaaaaa;
  //  border: 1px solid #aaaaaa;
    z-index: 999;
}



.closebtn
{
    padding: 10px;
    position: absolute;
   // top: -16px;
    right: 0px;
    z-index: 9999;
    width: 36px;
  //  border-radius: 50%;
    height: 36px;
    color:#000;
    background:transparent;
   // color:rgb(29,85,169);
   font-size: 20px;
  //  border:1px solid rgb(29,85,169);
}
.item-day
{


}

.item-heading
{
    font-size: 18px;
  /*  margin-top:15px;*/
    color:#000;
 //  border-top-left-radius: 15px;
//border-top-right-radius: 15px;
}


.panel
{
    padding-bottom: 15px;
   // background: #FFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-radius:25px;
}

.mainlist .alternate_ion_item:nth-child(even) {background: #F1f2f2; --background: #F1f2f2}

.mainlist .alternate_ion_item:nth-child(odd) {background: #FFF} 

.odditem {background: #F1f2f2; --background: #F1f2f2}

.evenitem {background: #FFF} 


/*
.segment{
  width: 40px;
  background:var(--green1);
  color:#FFF;

  border-radius:20px;
  height:70px;
  margin:0px 5px;
  }
*/
  .segment-button-checked 
  {

    width: 40px !important;
    background: $green !important;
    color:#FFF !important;

    border-radius:20px;
    height:70px;
    margin:0px 5px;
   
    .day
    {
      font-family: 'Lato', sans-serif;
    }

    .segmentDay
    {
    font-size:10px;
    }

    .segmentDayNum
    {
      width:32px !important;
      height:32px !important;
      padding-top:5px;
      text-align:center;
      background:#FFF !important;
      border-radius:50%;
      color: $green !important;

    }

  }
.day-active
{
  background: $green !important;
    color:#FFF !important;

    .segmentDayNum
    {
      background:#FFF !important;

    }
}
  .day-panel
  {
    width: 40px !important;
   // background: #f1f2f3;
    color:#000;
    display:inline-block;
    border:1px solid $green !important;
    border-radius:20px;
    height:70px;
    margin:0px 3px;
    .day
    {
      font-family: 'Lato', sans-serif;
      margin-top:10px;
    }

    .segmentDay
    {
    font-size:10px;
    margin-bottom:10px;
    }

    .segmentDayNum
    {
      width:30px !important;
      height:30px !important;
      padding-top:10px;
      text-align:center;
      font-weight:bold;
      border-radius:50%;
      color:$green !important;
      margin: 0 auto;
    }
  }

  .segment-button-has-label
  {

    width: 35px;
    background:transparent;
    color:$green;
    height:70px;
    margin:0px 5px;
    
    .day
    {
      font-family: 'Lato', sans-serif;
    }

    .segmentDay
    {
    font-size:10px;
    }

    .segmentDayNum
    {
      width:24px;
      text-align:center;
      background:transparent;
    color:$green;
     

    }

  }


  .meal-type
  {
    background: #FFF;
    border-radius: 5px;
  //  box-shadow: 5px 5px 3px #aaaaaa;
  //  border: 1px solid #CCC;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .mealtype-separator
  {
height: 2px;
width:100%;
background: #aaaaaa;

  }

.labl
{
  font-family: 'Lato', sans-serif, "Courier New", Courier, monospace !important;
  font-size: 20px;
  line-height: 28px;
  
}
 
.ratingPanel
{
  position: fixed;
  top: 25%;
  left: 10px;
  right: 10px;
  background: #FFF;
  //display: none;
  height: 350px;
  color:$orange1;

}


/**** Filters */




.filters
{
  padding:10px;
  border-radius: 15px;
  background: #f1f2f3;
  color:#000;
  width: 100%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.filters.active
{
  background: $green;
  color:#FFF;
}

.filters a
{
text-align:center;
text-decoration:none;
text-transform: uppercase;
font-size:12px;
display: flex;
vertical-align: middle;
align-items: center;
color:#000;
}
.filters.active a
{
  color:#FFF;
}
.filters a i
{
font-size:20px;
margin-right:10px;
}

.filterheading
{
  font-weight:bold;
   ion-label
   {
     font-size: 14px;
   }

   ion-avatar
   {
     font-size: 24px;
   }
  

}

.filteritem
{
  font-size: 16px;
  line-height: 24px;
}
.maxmin
{
  font-size: 12px;
  font-style: italic;
  color:#CCC;
  display:none;
}
.mineral-input
{
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #CCC;
  text-align: center;
  outline:0;
}
.mineral-input:focus
{
  border-bottom: 2px solid $orange;

}
.bg-trans
{
  background: transparent;

}
.search-button
{
  padding:10px 30px;
  font-size: 16px;
  text-align:center;
  background: $orange;
  color:#FFF;
  margin: 0 auto;
}
.recipeRes
{
  max-height: calc(100vh - 230px); 
  overflow-y: auto; padding-left:10px; padding-right:10px;
}
.custom-item
{
  width:100%;
  padding:10px;
  background:transparent;
  font-size: 20px;
  line-height: 24px;
  height: 50px;
  .left{
    width: 10%;
    float:left;
    text-align:left;
  }

  .center{
    width: 80%;
    float:left;
    text-align:left;
    font-style:18px;
  }
  

  .right{
    width: 10%;
    float:left;
    text-align:right;
    img{
      width: 16px;
      height: 10px;
    }
  }
  
}


.item-heading {
  font-size: 18px;
  color: #000;
}

.bg-green {
  background: $green;
  background: linear-gradient(17deg, $green 0%, $green 100%);
  color: #FFF;
}

.mealtypelbl
{
  font-family: 'Lora', sans-serif, "Courier New", Courier, monospace !important;
  font-size: 18px;
  line-height: 24px;
  color:#FFF; 
}
.labl {
  font-family: 'Lato', sans-serif, "Courier New", Courier, monospace !important;
  font-size: 20px;
  line-height: 28px;
  color:#FFF;
}


.recipe-item
{
  border: solid 2px #fff;
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  border-radius:10px;
  min-height:130px;
  margin:10px;
  padding:10px;
}

.recipe-item:hover
{
  box-shadow: 0 1rem 1.5rem rgb(255 145 0 / 25%);

}

.addicon
{
  position: absolute;
    right: 40px;
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 0px;
    font-size: 20px;
}



.filter-group
{
  margin-top:10px;
}


 .listSection{
           // border: solid 1px #888;
            //border-radius: 4px;
            padding: 5px 5px 0px 0px;
           //width: 340px;
            margin: 0 auto;
            font-size: 10.5pt;
            display: block;
            margin-bottom: 10px;
            height: 24px;
            margin-left: 6px;
        }


        
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
   //border-radius: 50%;
   border:1px solid $orange;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #FFF;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
background-color: $orange;
  border:1px solid $orange;
  //background-color: #66bb6a;
  //border:1px solid #66bb6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.recipe-item-s
{
  margin-bottom:10px;
  display:flex;
  .recipe-image-s
  {
    width:50px; height:50px; display:inline-block;
    img {
      width:100%;
      height:100%;
      border-radius:50%;}


  }

  .recipe-label-s
  {
    margin-left:5px;
    display:inline-block;width:calc(100% - 60px);
    font-size: 16px;
  }
}