<!--<div id="page-container-custom">
    <div id="content-wrap-custom">
        <app-header></app-header>

        <div style="margin-top:0px">
        
          <div class="content pagewidth" >
            <router-outlet></router-outlet>
          
        
          </div>
        </div>

    </div>
    <footer  id="footer-custom">
        <app-footer></app-footer>
    </footer>
  </div>



-->



<!--pre-loader-->
<!--<div class="preloader">
  <div class="loadr">
      <svg  viewbox="0 0 74.6 81">
          <path d="M67.8,12.9C51.7,5.2,26.2,0.2,26.2,0.2c-10.9-1.8-9.3,11.4-9,20.2c0,0.7,0.1,1.4,0.1,2c7.8,1.5,19.7,4,29.2,7.4c11.4,4.1,9.6,8.3,9.2,16c-0.2,4.9-0.4,14,1.1,21.3c7.7,1.4,13.8,1.9,13.1-0.3c-6.3-7.2-0.1-29.6,1.8-34.2C73.3,28.7,79.3,18.4,67.8,12.9z">      </path>
          <path d="M58.9,79.5c-6.5-5.6-6.2-23.6-5.8-31.3c0.4-7.7,2.1-11.9-9.2-16c-15.3-5.5-37.3-8.8-37.3-8.8c-9.1-1.1-6.6,8.4-5.5,15.1c1.7,10,5.4,22,7.9,27.8c2.8,6.5,8.9,7.3,8.9,7.3S65.4,85.1,58.9,79.5z"></path>
      </svg>
  </div>
</div>-->
<!--pre-loader ends-->
<app-header></app-header>


<router-outlet></router-outlet>
<footer  id="footer-custom">
  <app-footer></app-footer>
</footer>
<!--
<jw-modal id="popupformessage" style="display:none;">
  <div class="subscribe-bg" style="min-height:400px">
  <div class="modal-header" style="border-bottom:0px;">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="closeModal('popupformessage');" style="font-size:40px;color:#FFF;opacity:1">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="border-bottom:0px;min-height: 450px;">
    <div class="row" *ngIf="subscribeParam">
      <div class="col-12 col-lg-12 col-xl-12 infoModal" style='max-height:400px; border:0px;margin-top:0px; text-align:center'>

        <p class="companyname">Medical Tourism Corporation</p>
        <p class="title1" style="margin-top:20px;">Get Tailor Made</p>
        <p  class="title2" style="">Meal Plans sent to your mail box</p>
        <p  class="title3" style="">with our newsletters</p>
        <input class="input1"  [(ngModel)]="subscribeParam.email" name='subscribeemail' type="text" /><br>
        <button class="btn1" (click)="subscribeEmail()">Subscribe</button><br>
        <button class="btn2" (click)="closeModal('popupformessage')">No, Thanks</button>
      </div>
    </div>
  </div>
</div>
</jw-modal>


<jw-modal id="popupforrenew" style="display:none;">
  <div class="subscribe-bg" style="min-height:400px">
  <div class="modal-header" style="border-bottom:0px;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="closeModal('popupforrenew');" style="font-size:40px;color:#FFF;opacity:1">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="border-bottom:0px;min-height: 450px;">
    <div class="row" >
      <div class="col-12 col-lg-12 col-xl-12 infoModal" style='max-height:400px; border:0px;margin-top:0px; text-align:center'>

        <p class="companyname">Medical Tourism Corporation</p>
        <p class="title2" style="margin-top:20px;">Trial duration expired</p>
        <p  class="title1" style="margin-top:20px;">Your trial duration is over. Please subscribe to continue using all the features.</p>

        <button class="btn1" (click)="gotopage('pricing')">Subscribe</button><br>
        <button class="btn2" (click)="closeModal('popupforrenew')">No, Thanks</button>
      </div>
    </div>
  </div>
</div>
</jw-modal>
-->