 <!--popular recipes widget-->
 <div class="widget latest-news-widget">
    <h2>Popular recipes</h2>
    <ul>
        <li *ngFor="let recipe of recipesList; let r = index;">
            <div class="thumb">
                <a [routerLink]="['/recipedetails', recipe.id]">
                    <img src="{{formatImage(recipe.image, 's')}}" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a [routerLink]="['/recipedetails', recipe.id]">{{recipe.label}}</a>
                <span class="post-date">{{formatLabels(recipe.dietLabels)}}</span>
            </div>
        </li>

   
    </ul>
</div>
<!--popular recipes widget ends-->