 <!--popular recipes widget-->
 <div class="widget latest-news-widget">
    <h2>popular recipes</h2>
    <ul>
        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

        <li>
            <div class="thumb">
                <a href="#">
                    <img src="assets/images/temp-images/widget-thumbnail.jpg" alt="thumbnail">
                </a>
            </div>
            <div class="detail">
                <a href="#">Pimento Cheese Potato Skins</a>
                <span class="post-date">March 21,2015</span>
            </div>
        </li>

    </ul>
</div>
<!--popular recipes widget ends-->