<div class="fixedtop recipes-home-body inner-page">

    <div class="container" style="padding-left:0; padding-right:0;padding-top:0px">
        <div class="row">

	<div class="container">
  	<div class="row"> 
		<div class="col-lg-2 col-xl-2  col-md-3 col-sm-12 col-12 paddinglr0"> 
			<app-adminleftmenu></app-adminleftmenu>  
		</div>			
		<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 paddinglr0"> 
			<router-outlet></router-outlet>			
		</div>		
	</div>  
</div>
</div>
</div>
</div>
