<div class="animate-footer footer footer-variant-two footer-fluid">
  <div class="container">
      <div class="footer-inner">
          <div class="subs-social-options">
              <div class="row">
                   <div class="col-md-2">
                      <div class="widget latest-news-widget wow animated zoomInDown">
                        <a style="    margin-top: 48px;" class="logo-footer" href="index.html"><img src="assets/logo-new1-light.png" alt="Logo"/></a>
                 
                      </div>
                  </div>
                 
                  <div class="col-md-5">
                      <div class="widget twitter-widget">
                          <h2>Contact</h2>

                          <ul>
                              <li>
                                  <p>
                                      <a href="tel:012345678"> <i style="color:white !important;" class="fa fa-phone" aria-hidden="true"></i> <span style="color:white !important;"> Call us: 012345678</span> </a>
                                  </p>
                                   <p>
                                    <a href="mailto:contact@mtc.com"> <i class="fa fa-envelope" aria-hidden="true"></i> <span> support@email.com</span> </a>
                                  </p>
                              </li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-md-5">


                      <div class="widget widget-footer news-letter-signup">
                          <h2>Newsletter Signup</h2>
                          <p>
                              Get notified eachtime we add our new recipe.
                          </p>
                        <!--   <form class="subs-form" action="#" method="post"> -->
                              <div class="email-field">
                                  <input type="email" [(ngModel)] ="subscribe.email" name="email" placeholder="Enter you email address"/>
                                  <button (click)="subscribeEmail()"><i class="fa fa-paper-plane-o"></i></button>
                              </div>
                         <!--  </form> -->
                      </div>

                  </div>
              </div>


          </div>
          <div class="footer-copyright var1">
              <div class="row">
                  <div class="col-md-6 wow animated slideInLeft">
                      <p>&copy; Copyright 2021 All Rights Reserved by <a href="javascript:void(0)">Medical Tourism Corporation</a></p>

                  </div>
                  <div class="col-md-6 wow animated slideInRight">
                      <div class="footer-social-icons ">
                          <ul>
                              <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a href="javascript:void(0)"><i class="fa fa-flickr"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
