@import "../../../_variables.scss";

:host {
    width:100%;
    margin:0;
    padding:0;
   margin:0 auto;
 
 }

.site-footer {
    background: $text_light;
    z-index: 12;
    font-size:$font_medium;
    color: #000;
	border-top:1px solid $grayshadow;
    background-color: $text_light; 
	color:#000;
	width:100%;
	z-index:1000;
  padding:0;
  margin-top:20px;
  
}

.pagewidth
{
  margin:0 auto;
 max-width:$page_width; //1250px;
 margin:0;
 font-size:$font_small;
 color: #000;
 padding:0;
}

.site-footer .logo
{
     width:50%;
     max-width:100px;
     margin-left:10px;
}


.ip_wrap {
    padding-left: 10px;
    padding-right: 10px;
	display:block;
	width:100%;
	
}
.site-footer .ip_footer_logo
{
	    display: inline-block;
		padding-top:20px;
		 height: 61px;
		 width:20%;
		 float:left;
		 
}




.site-footer .ip_footer_logo a {
    display: block;
   
}
.site-footer .ip_footer_logo a img {
     margin-top: 16px;
}

.footer_menu
{
	 display: inline-block;
	  width:100%;
		 float:left;
}

 .footer_menu ul {
    display: inline-block;
    list-style-type: none;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    margin: 0;
    background: transparent;
	padding: 10px 0;
    z-index: 1000;
    transition: left 0.3s ease-in;
	height: 100%;
}
 .footer_menu ul li {
    float: left;
}
 .footer_menu ul li a {
    display: block;

    padding: 0.25rem 0.5rem;
    color: $text-dark;
    font-weight: normal;
    transition: all 0.15s ease-in-out;
    border-radius: 2px;
}

.footer-right
{
   float:right;
    height:30px;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-bottom:10px;
    vertical-align: middle;
}
.footerlinks
{
    display: inline-block;
    font-size:$font_small;
    color:$text-dark;
    margin-top:-2px;
    margin-right:10px;
}
.footerlinks a
{
    line-height:30px;
    font-size:$font_small;
    color:#000;

}
.footerlinks a:hover
{
text-decoration: none;
color:$third;
}
 .social-icons {
    display: inline-block;

		
	
}

 .social-icons a{
     margin-right:5px;
     font-size:$font_small;
 }


.social-icons a {
    display: block;
    float: left;
}
 .social-icons a {
    display: inline-block;
    height: 25px;
    width: 25px;
   /* margin-left: 24px;*/
    background: $third;//$third;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
    border-radius: 50%;
	float:left;
	color:  $text_light;
}

.social-icons a.linkedin {
    background: #0C85C7;
}
 .social-icons a.twitter {
    background: #23A9E6;
}
 .social-icons a.facebook {
    background: #537BBD;
}

 .copyright {
	clear:both;
	display:block;
    text-align: left;
    font-size: 0.7rem;
    color: $text-dark;
    width:100%;
    line-height:25px;
}

.copyright a{
    color:#24ABF2;
}


/*
@media only screen and (max-width: 990px) {
    .copyright {
        font-size: 0.7rem;
    }
    .footerlinks a
    {
        font-size: 0.7rem;
    }
}
@media only screen and  (min-width: 991px) and (max-width: 1299px)  {
    .copyright {
        font-size: 0.8rem;
    }
    .footerlinks a
    {
        font-size: 0.8rem;
    }
    .social-icons a {
         height: 30px;
        width: 30px;
        font-size:$font_small;
        line-height: 30px;
    }
    
  }

@media only screen and  (min-width: 1300px) and (max-width: 1399px)  {
    .copyright {
        font-size: 0.9rem;
    }
    .social-icons a {
        height: 35px;
       width: 35px;
       font-size:$font_medium;
       line-height: 35px;
   }
   
    .footerlinks a
    {
        font-size: 0.9rem;
    }

}

@media only screen and (min-width: 1400px) {
    .copyright {
        font-size:1rem;
    }
    .footerlinks a
    {
        font-size:1rem;
    }
    .social-icons a {
        height: 35px;
       width: 35px;
       font-size:$font_large;
       line-height: 35px;
   }
}

*/