<footer class="site-footer">

  <div class="row pagewidth" style="margin:0 auto; margin-top:10px;">
    <div class="col-lg-2 col-sm-4">
    <!--   <a href="https://investipro.com"><img src="assets/logo-small.png" class="logo" /></a> -->
    </div> 
    <div class="col-12 col-lg-4 d-none d-lg-block">
		<div class="copyright">
		{{labels.copyright}} {{labels.companyName}}
		</div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="footer-right">
       <div class="footerlinks">
          <a href="javascript:void()" target="_blank" title="Terms of Use">Terms of Use&nbsp;&nbsp;&nbsp;&nbsp;</a> 
          <a href="javascript:void()" target="_blank" title="Privacy">Privacy&nbsp;&nbsp;&nbsp;&nbsp;</a> 
          <a href="javascript:void()" target="_blank" title="Cookies">Cookies</a>  
      </div>
     <div class="social-icons">
 
		<a href="javascript:void()" target="_blank" class="fa fa-facebook"></a>
		<a href="javascript:void()" target="_blank" class="fa fa-twitter"></a>
		<a href="javascript:void()"  target="_blank" class="fa fa-linkedin"></a>
	</div>
</div>
  </div>

  </div>

 
  </footer>
  
  
  