@import "../../../../_variables.scss";

.carousel-item.active {
    -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-left {
    0% {
      -webkit-transform: rotateY(80deg);
              transform: rotateY(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }

  .carousel-caption
  {
    background: #ffffff;
    padding: 16px;
    width: 410px;
 left:60%;
  }

.slide-detail-inner {
    border: 1px solid #e4d9d1;
    padding: 35px;
    min-height:374px;
}

.slide-detail-inner h2 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.slide-detail-inner p {
font-family: 'Karla', sans-serif;
}
.slide-detail-inner .read-more-bordered {
    margin-top: 15px;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    font-family: 'Lato', serif;
    font-style: italic;
    font-weight: 700;
    padding: 0 15px;
    text-transform: capitalize;
    border: 1px solid #000000;
    font-size:16px;
}

a:hover {
  color:var(--green);
}

.desktoponly
{
  display:block;
}
.mobileonly
{
  display:none;
}
@media only screen and (max-width: 767px) {
  .slide-detail-inner
  {
    min-height:100px;
    padding:5px;
    border:0px;
  }
  .carousel-caption
  {
    background: transparent; 
      padding: 16px;
      width: 100%;
      left: 0%;
    right: 0%;
    bottom: 0px;
    top: 0; 
  }

  .slide-detail-inner p
  {
   display:none; 
  }

  .slide-detail-inner h2
  {
    font-size: 20px;
  }
  .slide-detail-inner .read-more-bordered
  {
    border:0px;
    background: $green;
    color: #FFF;
    font-family: 'Lato', serif;
    font-size:16px;
  }
  .carousel-indicators
  {
    display:none;
  }


  .desktoponly
{
  display:none;
}
.mobileonly
{
  display:block;
}
}


