<!--slider main-->
<!--
<ngb-carousel *ngIf="sliderList" style="width:100%; min-height: 210px;">
    <ng-template ngbSlide *ngFor="let item of sliderList; let i=index">
      <div class="picsum-img-wrapper">
        <img *ngIf="!isMobile" class="desktoponly" [src]="item.image" alt="{{item.title}}"  style="width:100%;min-height: 200px;">
        <img *ngIf="isMobile" class="mobileonly" [src]="item.image_small" alt="{{item.title}}"  style="width:100%;min-height: 200px;">
      </div>
      <div class="carousel-caption">
        <div class="container custom-container-slide">
            <div class="slide-detail text-center">
                <div class="slide-detail-inner wrapper-home-slider variation-two ">
                    <h2><a href="javascript:void(0)">{{item.title}}</a></h2>

                    <div class="short-separator"></div>

                    <p  innerHTML = "{{item.description}}">
                    </p>
                    <a class="read-more-bordered" (click)="gotopage('features')" href="javascript:void(0)">Learn More</a>
                </div>
            </div>
        </div>
      </div>
    </ng-template>

  </ngb-carousel>-->
  <ngb-carousel *ngIf="sliderList" style="width:100%; min-height: 210px;">
    <ng-template ngbSlide *ngFor="let item of sliderList; let i=index">
      <div class="picsum-img-wrapper" style='text-align:center;'>
        <img *ngIf="!isMobile" class="desktoponly" [src]="item.image" alt="{{item.title}}"  style="width:100%;min-height: 200px;">
        <!--<img *ngIf="isMobile" class="mobileonly" [src]="item.image_small" alt="{{item.title}}"  style="width:100%;min-height: 200px;">-->
      </div>
      <!--<div class="carousel-caption">
        <div class="container custom-container-slide">
            <div class="slide-detail text-center">
                <div class="slide-detail-inner wrapper-home-slider variation-two ">
                    <h2><a href="javascript:void(0)">{{item.title}}</a></h2>

                    <div class="short-separator"></div>

                    <p  innerHTML = "{{item.description}}">
                    </p>
                    <a class="read-more-bordered" (click)="gotopage('features')" href="javascript:void(0)">Learn More</a>
                </div>
            </div>
        </div>
      </div>-->
    </ng-template>

  </ngb-carousel>