<!--slider main-->
<section class="wrapper-home-slider variation-two">
    <div class="fluid-slider-var2">
        <div *ngFor="let item of sliderList; let i=index">
  
            <img src="{{item.image}}" alt=""/>
  
            <div class="container custom-container-slide">
                <div class="slide-detail text-center">
                    <div class="slide-detail-inner">
                        <h2><a href="#">{{item.title}}</a></h2>
  
                        <div class="short-separator"></div>
                        <div class="rating-box">
                            <span class="rating-icons" *ngFor="let item of [1,2,3,4,5]">
                              <i class="fa fa-star"></i>
                            </span>
                            <br>
                            <span class="rating-figure">{{item.rating}}</span>
                        </div>
                        <p innerHTML = "{{item.description}}">
                        </p>
                        <a class="read-more-bordered" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
      
        
    </div>
  </section>
  <!--slider main ends-->
  