<div class="fixedtop recipes-home-body inner-page">
    <div class="container"  style="padding-left:0px; padding-right:0px;">
    <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="recipe-set submit-recipe-set" >
            <h2 style="width:85%"><a (click)="gotopage();"><i class="fa fa-chevron-left"></i></a>  Recipe Book <!--<span *ngIf="searchRes.recipebook_name"> : <b>{{searchRes.recipebook_name}}</b></span>--></h2>
            <div class="createplanbtn">

                <a class="copy-button" href="javascript:void(0)" (click)="downloadplan()" title="Download PDF"><i
                        class="fa fa-file-pdf-o" style="z-index:-1"></i> Export</a>
                      &nbsp;
            </div>

          
    
            
            <div class="submit-recipe-form" style="padding-top:0px;">
                    
                    <div class="row" >
                        <div class="col-12 paddinglr0" >
                            <div class="collection-item">
                                <div class="image image-animate" >
                            <img src="{{searchRes.image}}"
                            style="height:320px;width: 100%;     object-fit: cover; border-top-left-radius: 15px;
                            border-top-right-radius: 15px;" />
                             <div class="detail" style="bottom:30%;width:auto;min-height: 50px; padding:10px 30px;">
                                <span style="font-size:20px;">{{searchRes.recipebook_name}}</span>
                                <p *ngIf="searchRes.description">{{searchRes.description}} </p>

                                <p *ngIf="recipesList.length > 0"><i class="fa fa-cutlery"></i> &nbsp;{{recipesList.length}} Recipes</p>
                            </div>
                            </div>
                           
                            </div>

                        </div>

                       
                    </div>
                    <div class="row" >
                        <div style="margin-bottom:10px;padding-left:0px;min-height:220px;" class="col-12 col-lg-3 col-md-3 toggleremove " *ngFor="let recipe of recipesList; let i = index;">
                            <div class="collection-item">
                                <div class="image image-animate" style="height:270px">
                                    <!--<div style="position:absolute; left:unset;top:10px;right:10px;z-index:1">
                                        <a (click)="showhidecontent(recipe1)" href="javascript:void(0)" [ngClass]="recipe1.showpopup?'contextmenu-icon active bgcontext':'contextmenu-icon bgcontext'" style="text-align:center;"><i class="fa fa-ellipsis-v"></i></a>
                                            <div *ngIf="recipe1.showpopup" class="contextmenu" style="left:unset;top:25px; right:0px;"><a  class="menu" href="javascript:void(0)"  (click)="gotopage('recipebookview', {'id':recipe1.id})" ><i class="fa fa-list"></i>View Recipebook</a>
                                                <a *ngIf="recipe1.createdby == currentUser['id']" (click)="gotoRecipeDetails('recipebook', {'id':recipe1.id})" class="menu" href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i>Edit Recipebook</a>
                                                <a *ngIf="recipe1.createdby == currentUser['id']" (click)="deleteRecipebook(recipe1.id)" class="menu" href="javascript:void(0)"><i class="fa fa-trash"></i>Delete Recipebook</a>
                                            </div>
                                            </div>-->
                                    <a  href='recipedetails/{{recipe.id}}' target="_blank">
                                        <img *ngIf="recipe.image !== ''"  src="{{recipe.image}}"
                                            alt="{{recipe.label}} image">
                                        <img *ngIf="recipe.image == ''"  src="assets/notavailable.png" alt="{{recipe.label}} image">
                                    </a>
                                    <div class="detail">
                                        <a href='recipedetails/{{recipe.id}}' target="_blank"><h3 style="font-size:16px">{{recipe.label}}</h3></a>
                                        <!--<p innerHTML="{{limitTo(recipe1.description, 200)}}">
        
                                        </p>  -->
                                        <p style='font-size: 14px' *ngIf="recipe.calories > 0">Calories: {{recipe.calories}}  </p>
                                       
                                      </div>
                                </div>
                            </div>
                         </div>
                    </div>

                   
                    <br>
                    <div *ngIf="searchRes.notes">
                    <label for="notes">Notes</label>
                    <p>{{searchRes.notes}}</p>
                </div>
            </div>
        </div>
    </div>
   
    </div>
    
    </div>
    </div>

    <jw-modal id="viewrecipe">
    
    <form name="form"  #uf="ngForm" novalidate class="popup-panel">
        <div class="modal-header">
            <h2 style="margin:15px; ">
                <span>View Recipe Details</span>           

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('viewrecipe');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="selectedRecipe">

            <div class="row">
                <div class='col-12 col-lg-12' style="max-height: 300px; overflow: auto;">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="form-group">
                                <h2>{{selectedRecipe.label}}</h2>
                        
                                <p style="display:inline-block; " class="view-details"><span class="head">Servings:</span> {{selectedRecipe.yield}}, </p>    
                                <p style="display:inline-block; "  class="view-details"><span class="head">Calories:</span> {{selectedRecipe.calories}}, </p>  
                                <p style="display:inline-block; "  class="view-details"><span class="head">Calories per Serving:</span> {{formatCalories(selectedRecipe.calories, selectedRecipe.yield)}}, </p>  
                                                                
                                <p style="display:inline-block; "  class="view-details"><span class="head">Total Weight:</span> {{formatLimit(selectedRecipe.totalWeight)}}, </p>  
                               
                                <p style="display:inline-block; " class="view-details"><span class="head"  *ngIf="selectedRecipe.dietLabels">Diet Labels:</span> {{formatlabels(selectedRecipe.dietLabels)}}, </p> 

                                <p style="display:inline-block; " class="view-details"><span class="head" *ngIf="selectedRecipe.healthLabels">Health Labels:</span> {{formatlabels(selectedRecipe.healthLabels)}}</p> 

        
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                           <img src="{{selectedRecipe.image}}" width="90%" />
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <p class="view-details"><span class="head">Nutrients:</span> </p> 
                                <p style="display:inline-block;" class="view-details" *ngFor="let nutrient of selectedRecipe.formatNutrients| keyvalue; "><span class="head">{{nutrient.value.label}}:</span> {{formatLimit(nutrient.value.quantity)}} {{formatUnit(nutrient.value.unit)}}, </p> 
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <p class="view-details"><span class="head">Nutrients per Serving:</span> </p> 
                                <p style="display:inline-block;" class="view-details" *ngFor="let nutrient of selectedRecipe.formatNutrients| keyvalue; "><span class="head">{{nutrient.value.label}}:</span> {{formatLimit(nutrient.value.quantity/selectedRecipe.yield)}} {{formatUnit(nutrient.value.unit)}}, </p> 
        
                            </div>
                        </div>
                    </div>
                   
                   

                </div>

            </div>

        </div>

    </form>
</jw-modal>
