@import "../../../variables.scss";

.recipe-set h2:after {
  width: 72% !important;
}
a:hover {
    color: #ff642b;
        //text-decoration: underline;

        }

        text-black-50 {
  color: rgba(0, 0, 0, .5)!important
}

.btn-outline-dark {
    background-color: transparent;
    border-color: #000;
    color:$text-gray;
}
.btn {
    font-weight: 500;
}


.list-sortable li {
 
  margin-bottom: 0px;
}



.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
   //border-radius: 50%;
   border:1px solid $orange;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #FFF;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
background-color: $orange;
  border:1px solid $orange;
  //background-color: #66bb6a;
  //border:1px solid #66bb6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.recipe-label
{
  line-height: 23px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    font-style: normal;
    position: relative;
    padding-bottom: 5px;
    color:#fff;
}
.recipe-label1
{
  line-height: 18px;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: capitalize;
    font-style: normal;
    position: relative;
    padding-bottom: 5px;
    color:#fff;
}
/*
.recipe-label {
  text-transform: lowercase;
}
//, .recipe-label:first-line 

.recipe-label:first-letter{
  text-transform: uppercase;
}
*/
.recipe-item
{
  border: solid 2px #fff;
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  border-radius:10px;
  min-height:130px;
  margin:10px;
  padding:10px;
}

.recipe-item:hover
{
  box-shadow: 0 1rem 1.5rem rgb(255 145 0 / 25%);

}

.recipe-item1
{
  border: solid 2px #fff;
  box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  border-radius:10px;
  min-height:100px;
  margin:10px;
  padding:10px;
  background:#FFF;
}

.recipe-item1:hover
{
  box-shadow: 0 1rem 1.5rem rgb(255 145 0 / 25%);

}

.add-recipe-panel
{
  box-shadow: 0 1rem 1.5rem rgb(255 145 0 / 25%);
  border:1px solid #CCC;
  margin-bottom:20px;
  background:#f1f2f2;
  padding-bottom:20px;
  padding-top:20px;
}
.add-recipe{
  display: inline-block;
  background: #f8f6f5;
  background-color: #FFAF4F;
  color: #FFF;
  border-radius: 5px;
  font-size: 16px;
  z-index: 6666;
  padding: 10px;
}

.recipe-add
{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  text-align: center;
  height: 22px;
  background: #Eee;
  color: #555;
  font-size: 13px;
  box-shadow: 3px 3px 3px 0px #ccc;
  padding: 0px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom:2px;
}

.recipe-add:hover
{
  background:$orange;
  color:#FFF;
  width:150px;
}


.recipe-add:hover::after
{
  content:" Add to Recipe Book";  
}

.recipe-item1:hover .recipe-view
{
  display:block;
}

.recipe-view
{
  position: absolute;
  right: 15px;
  top: 45px;
  width: 20px;
  text-align: center;
  height: 22px;
  background: #Eee;
  color: #555;
  font-size: 13px;
  box-shadow: 3px 3px 3px 0px #ccc;
  padding: 0px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom:2px;
  display:none;
}


.recipe-view:hover
{
  background:$orange;
  color:#FFF;
  width:100px;
}


.recipe-view:hover::after
{
  content:" View Recipe";  
}



.toggleremove .recipe-remove
{
  display:none;
}
.toggleremove:hover .recipe-remove
{
  display:block;
}
.recipe-remove
{
  position: absolute;
  right: 15px;
  top: 25px;
  width: 60px;
  text-align: center;
  height: 22px;
  background: #Eee;
  color: #555;
  font-size: 13px;
  box-shadow: 3px 3px 3px 0px #ccc;
  padding: 0px;
  border-radius: 4px;
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom:2px;
}

.recipe-remove:hover
{
  background:$orange;
  color:#FFF;
  /*width:150px; */
}

/*
.recipe-remove:hover::after
{
  content:" Recipe";  
}
*/


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:normal;
}

/* Hide the browser's default checkbox */
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
   //border-radius: 50%;
   border:1px solid $orange;
}

/* On mouse-over, add a grey background color */
.container:hover input[type="checkbox"] ~ .checkmark {
  background-color: #FFF;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
background-color: $orange;
  border:1px solid $orange;
  //background-color: #66bb6a;
  //border:1px solid #66bb6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/***************8 Search bar */



.searchicon
{
  display: inline-block;
  margin-right: 8px;
  border-radius: 3px;
  padding: 8px 8px;
  min-width: 30px;
padding-left:11px;
padding-right:11px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 6px rgba(0,0,0, 0.08);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.13) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.13) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.13) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#17000000',GradientType=0 );
}


.inputbox {
  border-radius: 4px;
  width: calc(100% - 215px) !important;
  min-width: 200px;
  padding: 8px 15px;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-size: 14px;
  //box-shadow: inset 0 6px 5px -5px rgb(32 36 39 / 18%);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
 
  font-weight: 400;
  border: 1px solid #ccc;
  outline: none;

}

.searchbaranim {
  opacity: 1;
  -webkit-animation: slide 1s ease 3.5s forwards;
  animation: slide 1s ease 3.5s forwards;
}

.searchmorebar{
  background: #FFF;
  padding: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
  color: #555555;
  font-size: 10pt;
  text-align: left;
}


.searchmorebar select {
  width: 15%;
  display: inline-block;
  margin-right: 10px;
}



.showonmobile {
  display: none !important;
}

.searchbtn {
  width: 160px;
}
.defaultbtn {
  margin-top: 10px;
  line-height: 1;
  border: none;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  letter-spacing: 0em;
  padding: 13px 25px;
  margin-bottom: 0px;
  max-width: 160px;
  margin-left: 8px;
  font-size: 14px;
  color: #ffffff;
  background-color: #fd815a;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  background-position: bottom left;
  background-repeat: repeat-x;
 // background-image: url(button-hover.png);
  text-shadow: 0px -1px 0px rgb(0 0 0 / 40%);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 25%);
}
.header-more-search-btn{
  width: 100%;
  margin: 0 auto;
  text-align: right;
  margin-top: -4px;
}

.header-more-search-btn i {
  margin-right: 20px;
  background: #FFF;
  color: #CCC;
  padding: 10px;
  padding-top: 0px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.fa-chevron-up:before {
  content: "\f077";
}


.searchbaranim
{
  opacity: 1;
  -moz-animation: slide 1s ease 3.5s forwards;
   -webkit-animation: slide 1s ease 3.5s forwards;
   -o-animation: slide 1s ease 3.5s forwards;
   -ms-animation: slide 1s ease 3.5s forwards;
    animation: slide 1s ease 3.5s forwards;
}

.inputbox-fullwidth {
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #ccc;
  outline: none;
  width:100%;
}

.view-details
{
  margin-right:5px !important;
  .head
  {
    font-weight:bold;
  }
}


/*


.collection-item
{

  margin:10px; 
  border-radius:10px;
  

    box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);

  .image
  {
    width:100%; 
    height:250px;
    position:relative;
    border-radius:10px;
    img{
      width:100%; 
      height:100%;
      border-radius:10px;
      object-fit: cover;
    }

    .detail
    {
      min-height:90px;
      background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
      padding:10px; 
      position:absolute;
      color:#FFF;
      bottom: 30px;
      width: auto;
      text-align: left;
      left: auto;
      min-width: 200px;
      min-height: 50px;
      font-size: 24px;
      font-family: 'Lora';
      font-weight: 700;
      padding: 10px 30px;


      h4, a {color:#FFF;}
      
    }

    h3
      {  
        font-family: 'Lato', sans-serif;
        font-weight:700;
        color:#FFF;
        font-size: 18px;
        font-style:normal;
      }
      .ccount
      {
        font-size: 14px;
        font-family: 'Lora', sans-serif;
      }
  }


}

*/