<div class="fixedtop" style="width:100%;background: #F8F6F5;padding-bottom:30px">

  <div class="container">
 <div class="line-heading" style="padding-top:40px;">
        <h2 style="margin-bottom:20px">Terms and Conditions</h2>
    </div>
<div class="row" >

	 <section>
       

        <div class="container">
          <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS WEB SITE (the Site).</div>
          <div class="answer" ><span>Thank you for visiting MedicalTourismCo.com (MTC).</span></div>

          <div class="answer" ><span>Your use of the Site constitutes your acknowledgement that you have read, that you understand, and that you accept the following Terms of Use. If you do not agree to be bound by these Terms of Use then you should stop accessing and using the Site.</span></div>

          <div class="answer" ><span>We urge you to review these Terms of Use carefully. MTC reserves the right to change these Terms of Use at any time by posting changes online. You should check back periodically for revisions. You will be able to tell when these Terms of Use have been modified by looking at the date that they were last updated at the top of this page. Your continued use of the Site after changes are posted constitutes acceptance of the modified Terms of Use.</span></div>


        </div>

     
    </div>

     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Medical Emergencies</div>
          <div class="answer" >Our website is not intended for use in the event of a medical emergency. <span style="color:red">Call your health care provider, “911,” or the emergency number in your country immediately in case of a medical exigency.</span></div>

          <div class="answer" id="01">MTC is not liable for any emergency, complication, or treatment requirement of any nature, arising from the patient’s procedure due to their present or past illness, or the side effects of any medication, or lack of follow-up care, or inadequate medical care, or negligence and incompetence.</div>

          
        </div>

       
     
    </div>


     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >The Site does not contain Medical Advice</div>
          <div class="answer" >MTC facilitates travel and related services for patients visiting for Medical Treatment. <span style="color:red">We are not health care providers, medical professionals, medical advisors, or a medical referral service.</span></div>

          <div class="answer" id="01"><span>Always seek the advice of your physician or other qualified healthcare providers before selecting a new treatment, doctor, or a medical facility. Seek the advice of your doctor or a qualified healthcare provider if you have any questions or doubts regarding any symptoms or medical condition.</span></div>

          <div class="answer" id="01" ><span>Do not disregard, avoid, or delay in gaining medical advice from your physician or other qualified healthcare providers because of something you have read on this website.</span></div>

              <div class="answer" ><span>We do not guarantee the quality of or recommend any hospitals, surgery centers, and doctors and surgeons. Both MTC and the user agree that only the user can decide which hospital, surgery center, treatment, or doctor is the best for them. All information on this website is provided in good faith.</span></div>

              <div class="answer" ><span>The decision to have a procedure should be based on the user’s own independent research of the treatment, hospital or surgery center and the doctor or surgeon.</span></div>

              <div class="answer" ><span>For more information about our services and the terms and conditions of our services, click here: Health privacy statement.</span></div>
        </div>

       
     
    </div>

       <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Patient Testimonials, Before-and-After Pictures, Videos and Client Experiences</div>
          <div class="answer" ><span style="color:red">WE DO NOT GUARANTEE ANY SURGICAL OUTCOMES </span>(including and not restricted to results of weight loss surgery, dental work, cosmetic surgery and other treatments). All patient reviews, testimonials, and pictures are of real clients who have availed our services or services of the medical providers on the MTC website. Medical results (weight loss, dental, cosmetic orthopedic, stem cells, and others) demonstrated in our testimonials are in no way typical of individuals and may vary.</div>

          <div class="answer" id="01"><span>Success after bariatric surgery is also dependent on numerous factors, such as observing a nutrition regimen recommended by our team of experts. All the video testimonials and before-and-after pictures (including those of weight loss after bariatric surgery) have been published after the due consent of our clients.</span></div>

       
        </div>

       
     
    </div>


       <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Copyright Restrictions</div>
          <div class="answer" >All of the content available on or through the Site is the property of MTC and/or its licensors and is protected by copyright, trademark, patent, trade secret or other intellectual property law. MTC gives you permission to display, download, store and print content for your own personal, non-commercial use only. Except as expressly permitted herein, you must not reprint or electronically reproduce from the MTC website any “content” (including text, logos, illustrations, photos, sound, scripts, and animation) in whole or in part without the prior written permission of MTC or the third parties authorizing MTC to use the copyrights.</div>

       
        </div>

       
     
    </div>


       <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Links to Other Sites</div>
          <div class="answer" >The Site contains links to third-party websites. These links are provided solely as a convenience to you and not as an endorsement or recommendation by MTC of the content of such third-party website. If you use these links, you will leave the Site. MTC is not responsible for the content of the linked third-party sites and does not make any representations regarding their privacy practices, any information or product, or the accuracy of any materials found on such third-party websites. Your use of third-party websites is subject to the terms of use of such sites. If you decide to access any third-party website linked to this Site, you do so entirely at your own risk.</div>       
        </div>      
     
    </div>

     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Accuracy of information</div>
          <div class="answer" >While MTC makes reasonable efforts to ensure that the content that it provides on the Site is accurate at the time provided, MTC makes no representation or warranty about the accuracy of the content. The information may be out of date at the time of your access or could also include technical inaccuracies or typographical errors. We are not liable for any error or omission in, or any failure to update the Site content. <span style="color:red">The website content has not been reviewed, approved or compiled by any medical professional. Neither is the website content based on feedback from medical expert or experts.</span> Decisions made based on the information on the Site are the sole responsibility of the visitor.</div> 

          <div class="answer">Some of the content is supplied to us by “Third Party” providers like Airlines, Hotels, Travel Services, and Medical Services providers. We make reasonable efforts to keep Third Party information updated, however, we are not responsible for its accuracy.</div>      
        </div>      
     
    </div>

       <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Termination</div>
          <div class="answer" >MTC may suspend or terminate your access to the Site at any time, for any reason, or for no reason at all. MTC has the right (but not the obligation) to refuse to provide access to the Site to any person, agency or organization or to prohibit any person, agency or organization from using the Site.</div>    
        </div>      
     
    </div>

       <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Jurisdiction</div>
          <div class="answer" >You expressly agree that exclusive jurisdiction for any dispute with MTC, or in any way relating to your use of the MTC Site, resides in the courts of the State of Texas and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of Texas in connection with any such dispute including any claim involving MTC employees or officers.</div> 
      
        </div>      
     
    </div>

     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Disclaimers</div>
          <div class="answer" >ACCESS TO THE SITE AND THE INFORMATION CONTAINED HEREIN IS PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT ANY WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. MTC DOES NOT WARRANT THE ACCURACY, COMPLETENESS OR TIMELINESS OF THE MATERIALS ON THIS SITE AND TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, MTC DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, WITH RESPECT TO ANY INFORMATION OBTAINED THROUGH THE SITE.</div> 

          <div class="answer">WITHOUT LIMITING THE FOREGOING, MTC DOES NOT WARRANT THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DOES MTC MAKE ANY REPRESENTATIONS ABOUT THE ACCURACY, RELIABILITY, CURRENCY, QUALITY, COMPLETENESS, USEFULNESS, PERFORMANCE, SECURITY, LEGALITY OR SUITABILITY OF THE SITE OR ANY OF THE INFORMATION CONTAINED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THE SITE AND YOUR RELIANCE UPON ANY OF ITS CONTENTS IS AT YOUR SOLE RISK.</div>

          <div class="answer">YOU SHALL BE SOLELY AND FULLY RESPONSIBLE FOR ANY DAMAGE TO THE SITE OR ANY COMPUTER SYSTEM, ANY LOSS OF DATA, OR ANY IMPROPER USE OR DISCLOSURE OF INFORMATION ON THE SITE CAUSED BY YOU. MTC CANNOT AND DOES NOT ASSUME ANY RESPONSIBILITY FOR ANY LOSS, DAMAGES OR LIABILITIES ARISING FROM THE FAILURE OF ANY TELECOMMUNICATIONS INFRASTRUCTURE, OR THE INTERNET OR FOR YOUR MISUSE OF ANY OF ADVICE, IDEAS, INFORMATION, INSTRUCTIONS OR GUIDELINES ACCESSED THROUGH THE SITE.</div>


      
        </div>      
     
    </div>

     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Limitation of Liability</div>
          <div class="answer" >IN THE EVENT OF ANY PROBLEM WITH THE SITE OR ANY OF ITS CONTENT, YOU AGREE THAT YOUR SOLE REMEDY IS TO CEASE USING THE SITE. UNDER NO CIRCUMSTANCES SHALL MTC OR ANY MTC LICENSOR OR SUPPLIER BE LIABLE IN ANY WAY FOR YOUR USE OF THE SITE OR ANY OF ITS CONTENT, INCLUDING, BUT NOT LIMITED TO, ANY ERRORS OR OMISSIONS IN ANY CONTENT, ANY INFRINGEMENT BY ANY CONTENT OF THE INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS OF THIRD PARTIES, OR FOR ANY LOSSES OR DAMAGES OF ANY KIND ARISING DIRECTLY OR INDIRECTLY OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE SITE, AND ANY WEBSITE LINKED TO THE SITE, OR THE MATERIALS OR INFORMATION CONTAINED ON ANY OR ALL SUCH SITES.</div> 

          <div class="answer">UNDER NO CIRCUMSTANCES SHALL MTC OR ITS LICENSORS OR SUPPLIERS OR PROVIDERS BE LIABLE FOR ANY PUNITIVE, EXEMPLARY, CONSEQUENTIAL, INCIDENTAL, INDIRECT OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, ANY PERSONAL INJURY, LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR COMPUTER OR OTHERWISE) ARISING FROM OR IN CONNECTION WITH YOUR USE OF THE SITE, WHETHER UNDER A THEORY OF BREACH OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF WE OR THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</div>
          
      
        </div>      
     
    </div>

     <div class="row">
            <div class="col-md-12">
        
          <div class="question" id="01" >Indemnity</div>
          <div class="answer" >You agree to defend, indemnify, and hold MTC, its officers, directors, employees, agents, advisors, licensors, and suppliers, harmless from and against any claims, actions or demands, injuries (physical or psychological), liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from your violation of these Terms of Use.</div> 
          
      
        </div>      
     
    </div>
    
  </div>

        </section>   
   
</div></div></div>
  