<div class="row bgborder" *ngIf="currentUser !== null && isAuthorised">
	<div class="col-12">
		<div class="section-header corange onlydesktop">Manage Users <span *ngIf='userRole'>- {{userRole}}</span></div>
		<div class="section-header corange onlymobile">User Details <span *ngIf='userRole'>- {{userRole}}</span></div>
	</div>
	<div class="paddingt10" *ngIf="isMasterAdmin">
		<div class="col-12 input-group-others">
			<label [ngClass]="'inputlabel'" for="companynameOpt">Company Name <span
					class="mandatory">&#42;</span></label>
			<div [ngClass]="'select select-fullwidth'">
				<select id="companynameOpt" name="companynameOpt" class="form-control-select round"
					[(ngModel)]="companyname">
					<option value="" disabled selected hidden>{{chooseOption}}</option>
					<option [value]="company._id" *ngFor="let company of companyList; let i = index">{{company.company}}
					</option>
				</select>
			</div>
		</div>
	</div>

	<div class="col-12 paddingt0 onlydesktop" style="text-align:right;">
		<button (click)="modifyUser('')" class="btnadd">Add New User</button>
	</div>

	<div class="col-12 onlydesktop" *ngIf="users.length > 0">
		<div class="tablpanel" style="padding-bottom:0px;border:1px solid #CCC">
			<div class="grid-wrapper gridall">
				<ag-grid-angular #agGrid id="myGrid" class="ag-theme-balham gridclass" [rowData]="rowData"
					[gridOptions]="gridOptions" [paginationAutoPageSize]="true" [pagination]="true"
					(cellClicked)='onCellClicked($event)'>
				</ag-grid-angular>
			</div>
		</div>
	</div>

	<div class="col-12 onlymobile" *ngIf="users.length > 0">
		<ng-container *ngFor="let userdata of users; let i = index;">		
			<div class='col-12 col-lg-12 col-xl-12 infoModal' *ngIf="userdata.deleted === '0'" >					
				<p class="mDetails"><span>Name :</span> {{userdata.firstname}}</p>
				<p class="mDetails"><span>Role :</span> {{userdata.role}}</p>
				<p class="mDetails"><span>Email :</span> {{userdata.email}}</p>	
			</div>
		</ng-container>
	</div>
	<div class="col-12 " *ngIf="users.length == 0">
		<span class="norecords">{{usersMessage}}</span>
	</div>



</div>



<div *ngIf="currentUser !== null && !isAuthorised">
	You are not authorized to view this page.
</div>

<jw-modal id="isNewuser" style="display:none;" width="80%">
	<form name="form" (ngSubmit)="addUserDataWithEmail(uf)" #uf="ngForm" novalidate class="popup-panel">
		<div class="modal-header" *ngIf='newUserWoEmail' style=" background:#FFF;color:#000;padding:10px;">
			<h4>
				<span *ngIf="!viewMode && newUserWoEmail['id'] !== ''">Modify User</span>
				<span *ngIf="!viewMode && newUserWoEmail['id'] == ''">Add New User</span>
				<span *ngIf="viewMode">User Details</span>
			</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="closeModal('isNewuser');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" *ngIf='newUserWoEmail' style=" color:#000;text-align:left">

			<div class="row">

				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="email">Email <span class="mandatory">&#42;</span></label>

						<input type="text" required autocomplete="off" id="email" name="email" class="form-control "
							[disabled]="viewMode" email [(ngModel)]="newUserWoEmail.email" #email="ngModel">

					</div>
					<div *ngIf="formSubmitted && email.invalid" class="alert alert-danger">
						<div *ngIf="email.errors.required">Email is required</div>
						<div *ngIf="email.errors.email">Email must be a valid email address</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="username">Username <span
								class="mandatory">&#42;</span></label>
						<input type="text" autocomplete="off" id="username" name="username" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.username" required #username="ngModel">
					</div>
					<div *ngIf="formSubmitted && username.invalid" class="alert alert-danger">
						<div *ngIf="username.errors.required">Username is required</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="firstname">Firstname <span
								class="mandatory">&#42;</span></label>

						<input type="text" autocomplete="off" id="firstname" name="firstname" #firstname="ngModel"
							class="form-control" [disabled]="viewMode" [(ngModel)]="newUserWoEmail.firstname" required
							(blur)="InputFLUCase('firstname')">
					</div>
					<div *ngIf="formSubmitted && firstname.invalid" class="alert alert-danger">
						<div *ngIf="firstname.errors.required">First Name is required</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="lastname">Lastname <span
								class="mandatory">&#42;</span></label>
						<input type="text" autocomplete="off" id="lastname" name="lastname" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.lastname"
							(blur)="InputFLUCase('lastname')" #lastname="ngModel" required>
					</div>
					<div *ngIf="formSubmitted && lastname.invalid" class="alert alert-danger">
						<div *ngIf="lastname.errors.required">Last Name is required</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="age">Age <span class="mandatory">&#42;</span></label>
						<input type="text" autocomplete="off" id="age" name="age" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.age" #age="ngModel" required>
					</div>
					<div *ngIf="formSubmitted && age.invalid" class="alert alert-danger">
						<div *ngIf="age.errors.required">Age is required</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="gender">Gender </label>
						<input type="text" autocomplete="off" id="gender" name="gender" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.gender" #gender="ngModel">
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="position">Position <span
								class="mandatory">&#42;</span></label>

						<input type="text" autocomplete="off" id="position" name="position" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.position" required #position="ngModel">
					</div>
					<div *ngIf="formSubmitted && position.invalid" class="alert alert-danger">
						<div *ngIf="position.errors.required">Position is required</div>
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="phone">Telephone </label>
						<input type="text" autocomplete="off" id="phone" name="phone" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.phone" #phone="ngModel" maxlength="10">
						<!-- <div *ngIf="newUserWoEmail.phone && newUserWoEmail.phone!==''" class="alert alert-danger displaynone" id="phoneval">Please enter valid Phone Number format like xxx-xxx-xxxx</div> -->
					</div>
				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="mobile">Mobile </label>
						<input type="text" autocomplete="off" id="mobile" name="mobile" class="form-control "
							[disabled]="viewMode" [(ngModel)]="newUserWoEmail.mobile" #phone="ngModel" maxlength="10">
						<!-- <div *ngIf="newUserWoEmail.mobile && newUserWoEmail.mobile!==''" class="alert alert-danger displaynone" id="mobileval">Please enter valid Phone Number format like xxx-xxx-xxxx</div> -->
					</div>
				</div>
	
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'">Location <span class="mandatory">&#42;</span></label>
						<div *ngIf="viewMode" class="">
							{{locationSListwords}}
						</div>

						<div [ngClass]="'select select-fullwidth'">
							<select id="locnameOpt" name="locnameOpt" class="form-control-select round"
								[(ngModel)]="newUserWoEmail.location">
								<option value="" disabled selected hidden>{{chooseOption}}</option>
								<option [value]="location.id" *ngFor="let location of locationsList; let i = index">
									{{location.locationname}}</option>

							</select>
						</div>

						<!--	<ng-multiselect-dropdown 
								style="width: 100%;"
								[ngClass]="'form-control'"
								[placeholder]=""
								[data]="locationsList"
								[(ngModel)]="newUserWoEmail.location"
								[settings]="dropdownSettings"
								(onSelect)="onItemSelect($event)"
								(onSelectAll)="onSelectAll($event)" name="location" id="location" #location="ngModel" >
						</ng-multiselect-dropdown>
						<div *ngIf="formSubmitted && newUserWoEmail.location ==''" class="alert alert-danger" style="width:100%;">
							<div>Location is required</div>
						</div>-->
						<div *ngIf="formSubmitted && newUserWoEmail.location ==''" class="alert alert-danger" style="width:100%;">
							<div>Location is required</div>
						</div>
					</div>

				</div>
				<div class='{{popupCols}}'>
					<div class="input-group">
						<label [ngClass]="'inputlabel'">Role <span class="mandatory">&#42;</span></label>
						<div [ngClass]="viewMode?'select disabled':'select'" style="max-width:100%;">
							<select [disabled]="viewMode" [(ngModel)]="newUserWoEmail.role"
								class="form-control-select round" name="userrole" id="userrole" #userrole="ngModel"
								required>
								<option value="" disabled selected hidden>{{chooseOption}}</option>
								<option [ngValue]="uaItem.roleid" *ngFor="let uaItem of userAccess; let i = index">
									{{uaItem.rolename}}
									<!-- - {{uaItem.role}}-->
								</option>
							</select>
						</div>
						<div *ngIf="formSubmitted && newUserWoEmail.role ==''" class="alert alert-danger"
							style="width:100%;">
							<div>User Role is required</div>
						</div>
					</div>
				</div>

				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="education">Education</label>

						<textarea rows="3" id="education" name="education" class="form-control"
							[(ngModel)]="newUserWoEmail.education"></textarea>
					</div>
				</div>

				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="experience">Experience</label>

						<textarea rows="3" id="experience" name="experience" class="form-control"
							[(ngModel)]="newUserWoEmail.experience"></textarea>
					</div>
				</div>

				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="specialskills">Special Skills</label>

						<textarea rows="3" id="specialskills" name="specialskills" class="form-control"
							[(ngModel)]="newUserWoEmail.specialskills"></textarea>
					</div>
				</div>
				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="professionalassociations">Professional Associations</label>

						<textarea rows="3" id="professionalassociations" name="professionalassociations"
							class="form-control" [(ngModel)]="newUserWoEmail.professionalassociations"></textarea>
					</div>
				</div>

				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="addInfo">Additional Information</label>

						<textarea rows="3" id="addInfo" name="addInfo" class="form-control"
							[(ngModel)]="newUserWoEmail.addInfo"></textarea>
					</div>
				</div>

				<div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label [ngClass]="'inputlabel'" for="personalinfo">Personal Information</label>

						<textarea rows="3" id="personalinfo" name="personalinfo" class="form-control"
							[(ngModel)]="newUserWoEmail.personalinfo"></textarea>
					</div>
				</div>

				<!-- <div class='col-12 col-lg-6' *ngIf="newUserWoEmail.role == 'REALTOR'">
					<div class="input-group">
						<label for="file-upload" class="custom-file-upload">
							<i class="fa fa-cloud-upload"></i> Upload Picture
						</label>
						<input class="customfile" id="file-upload" type="file" />
					</div>
				</div> -->


			</div>


		</div>
		<div class="modal-footer" style=" background:#FFF;">
			<div class="input-group">
				<button class="defaultbtn" type="submit">Save</button>
			</div>
		</div>
	</form>
</jw-modal>

<jw-modal id="deleteuserpopup" style="display:none" class="popup-panel">
	<div class="modal-header">
		<h4>Delete User </h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="closeModal('deleteuserpopup');">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" *ngIf='deleteUserContent'>
		<div class="row">
			<div class="col-12">
				<div innerHTML="{{deleteUserContent}}"></div>
				<div class='col-12' style="text-align:right">
					<div class="input-group">
						<button class="btnadd" type="button" (click)="closeModal('deleteuserpopup')">No, Don't
							Delete</button>&nbsp;&nbsp;
						<button class="btnadd" type="button" (click)="confirmDelete()">Yes, Delete</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</jw-modal>

<jw-modal id="popupformessage" style="display:none">
	<div class="popup-panel">
		<div class="modal-header">
			<h4>{{modalHeading}}</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="closeModal('popupformessage');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row" *ngIf="modaltext">
				<div class="col-12 col-lg-12 col-xl-12 infoModal" innerHTML="{{modaltext}}">
				</div>
			</div>
		</div>
	</div>
</jw-modal>

<jw-modal id="isModelActive" style="display:none;" width="50%">
	<form name="form" (ngSubmit)="saveStatus(userform)" #userform="ngForm" novalidate class="popup-panel">
		<div class="modal-header" *ngIf='statusData' style=" background:#FFF;color:#000;padding:10px;">
			<h4>
				<span *ngIf="statusData['id'] !== ''">Modify User</span>
				<span *ngIf="statusData['id'] == ''">Add New User</span>

			</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="closeModal('isModelActive');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" *ngIf='statusData' style=" color:#000;text-align:left">

			<div class="row">
				<div class='col-12'>
					<div class="input-group">
						<label
							[ngClass]="'inputlabel'"
							for="newDeleted">Active </label>
						<input type="checkbox"  name = "newdeleted" id="newDeleted" value="{{statusData.active}}" [(ngModel)]= "statusData.active">
	
					</div>
				
				</div>

			</div>
		</div>
		<div class="modal-footer" style=" background:#FFF;">
			<div class="input-group">
				<button class="defaultbtn" type="submit">Save</button>
			</div>
		</div>
	</form>
</jw-modal>
<jw-modal id="attachphotos" style="display:none">
	<div class="popup-panel">
	<div class="modal-header">
		<h4>{{modalHeading}}</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="closeModal('attachphotos');">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row" >			
			<div class="col-12 col-lg-12 col-xl-12 infoModal">
				<div class="form-group">					
	 				<input #imageInput type="file"  accept="image/*" (change)="attachImage(imageInput)">
				</div>
				<p style="font-style: italic;">Please upload image with the size 108px * 120px. Otherwise image will not be displayed properly.</p>		
			
			</div>
			<div class="col-12 col-lg-12 col-xl-12 infoModal" *ngIf="displayImage">
				<ng-container >
					<div style="display:inline-block;">
						<div class="imgcontainer">							
							<img src="{{uploadUrl}}{{displayImage}}" style="margin-right:10px; height: 100px; width:100px" />				
					</div>
					</div>
				</ng-container>
			</div>
		</div>
		<div class="row" *ngIf="modaltext">
			<div class="col-12 col-lg-12 col-xl-12 infoModal" innerHTML="{{modaltext}}">
			</div>
		</div>
	</div>
</div>
</jw-modal>