<div class="recipes-home-body inner-page">
    <div class="container"  style="padding-left:0px; padding-right:0px;">
    <div class="row">
    <div class="col-12 col-md-12 col-lg-9">
        <div class="recipe-set submit-recipe-set">
            <h2>Recipe Book</h2>
            <p>Recipe book is selection of the recipes based on ingredients,  health labels or nutrients from our list of recipes.  </p>
            <div style="width:100%; text-align:right">
                <a class="copy-button" (click)="downloadplan()" title="Download PDF"><i class="fa fa-download"></i> Download</a>
            </div>    
            <div class="submit-recipe-form">
                <form action="#" method="post">
                    <label for="title">Recipe book Title</label>
                    <input type="text" name="title" id="title" [(ngModel)]="searchRes.recipebook_name">
                    <br>
                    <label for="description">Description</label>
                    <textarea class="short-text" name="description" [(ngModel)]='searchRes.description' id="description" cols="30" rows="10"></textarea>
 
                   
                 
                    
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <label  class='comment-label'>Upload Image</label>
                            <button (click)="fileupload()" class="upload-comment">
                               <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Image</button>
                           <div>
                               <input id="inputuploadrecipe" hidden type="file" name="inputuploadrecipe" (change)="onFileSelect($event)" />
                             </div>
                             <img *ngIf="searchRes.image" src="{{searchRes.image}}"  style="width: 90%; max-width: 200px;" />
                     
                             
                          </div>

                       
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align:right">
                            <button class="add-recipe" (click)="addNew()" >Add Recipe</button>
                        </div>
                        <div class="col-12 add-recipe-panel" *ngIf="toggleRecipeAdd">
                            <div class="row">
                        <div class="col-12 " style="margin:0; padding-left:0px; padding-right:0px;">
                                <div style="padding-left: 10px; padding-right: 10px;">
                                    <label class="searchicon ">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </label>
                                    <input type="text" name="searchquery" [(ngModel)]="searchparam.q" class="inputbox" placeholder="Search Recipes..." />
                                    <input  type="button"  (click)="searchProps()" style="margin-bottom:10px;" 
                                    [ngClass]="searchmorebar?'defaultbtn searchbtn hideonmobile bg-orange' :' defaultbtn searchbtn  bg-orange'" id="header-submit-search-pro" name="submit" value="Search">
                                </div>
                        
                                <div *ngIf="searchmorebar && showNutrientsFlag" class="searchmorebar">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-3 paddinglr0">
                                            <div class="form-group">
        
                                                <label class="form-control-placeholder fcs">Health Labels </label>
                                                <div class="listSection" id="healthLabels" style="display:inline-block;">
        
                                                    <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                                        <label class="container" style="font-size:12px">{{hlabel.name}}
                                                            <input [(ngModel)] ="hlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </ng-container>
        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6  col-lg-3 paddinglr0">
                                            <div class="form-group">
                                                <label class="form-control-placeholder fcs">Diet Labels</label> 
                                                <div class="listSection" id="diethLabels" style="display:inline-block;">
                                                   
                                                    <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                                        <label class="container" style="font-size:12px">{{dlabel.name}}
                                                            <input [(ngModel)] ="dlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </ng-container>
        
                                                </div>
                                            </div>
                                        </div>
                                        
                                          <div class="col-12  col-md-6 col-lg-3 paddinglr0">
                                            <div class="form-group">
                                                <label class="form-control-placeholder fcs">Nutrients</label> 
                                                <div class="listSection"  style="display:inline-block; height:145px; width: 90%; max-height:145px; overflow:auto;">
                                                    <ng-container *ngFor="let mlabel of mineralsLabelsList; let m = index">
                                                        <div class="row paddinglr0">
                                                            <div class="col-12 paddinglr0">
                                                                <label class="container" style="font-size:12px">{{setFLU(mlabel.name)}}
                                                                    <input [(ngModel)] = 'mlabel.selected' type="checkbox" [checked]="m == 0?'checked':''">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-5 paddinglr0" *ngIf="mlabel.selected">
                                                              
                                                                    <input class="mineral-input" type='text' name="minerals_{{m}}_min" [(ngModel)]="mlabel.min" placeholder="min" />
                                                                    <span class="maxmin">{{formatVal(mlabel.t_min)}}</span>
                                                            
                                                            </div>
                                                            <div class="col-5 paddinglr0" *ngIf="mlabel.selected">
                                                                <input class="mineral-input" type='text' name="minerals_{{m}}_max" [(ngModel)]="mlabel.max" placeholder="max" />
                                                                <span class="maxmin">{{formatVal(mlabel.t_max)}}</span>
        
                                                            </div>
                                                            <div class="col-2 paddinglr0" *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                                        </div>
                                                      
                                                       
                                                    </ng-container>
        
                                                </div>
                                            </div>
                                          </div>
                                          <div class="col-12 col-lg-3 paddinglr0">
                                            <div class="form-group">
                                                <label class="form-control-placeholder fcs">Calories</label> 
                                                <div class="listSection"  style="display:inline-block;">
                                                    <span>Max calories</span>
                                                  <input [(ngModel)]="maxcalories" type="text" class="inputbox-fullwidth" />
        
                                                </div>
                                            </div>
                                        </div>
               
                        
                                        <div class="col-12 showonmobile">
                                            <input type="button" (click)="searchProps()" style="margin-bottom:10px;" class="defaultbtn searchbtn" id="header-submit-search-pro" name="submit" value="Search">
                        
                                        </div>
                        
                                    </div>
                                    
                                      
                                
                                </div>
                        
                                <div *ngIf='showNutrientsFlag' class="header-more-search-btn" >
                                    <i *ngIf="!searchmorebar" class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <i *ngIf="searchmorebar" class="fa fa-chevron-up" aria-hidden="true"></i>
                                </div>
                        
                        
                            </div>
                            <div class="col-12"  *ngIf="recipesList1 && recipesList1.length > 0">
                                <div class="row" style="max-height:300px; overflow:auto;">
                                <div style="padding-left:0px; padding-right:0px" class="col-12 col-lg-6 col-md-6" *ngFor="let recipe of recipesList1; let i = index;">
                                    <div class="recipe-item1" style="background-image:url('{{recipe.image}}'); background-size:cover; background-position:center;">
                                    <div class='row'>
                                        <!--<div class="col-2" style="padding-right:0px;">
                                            <img style="width:100%" src="{{recipe.image}}" />
                                        </div>-->
                                        <div class="col-12">
                                            <h1 class="recipe-label1">{{recipe.label}}</h1>                                  
                                            <p><b><em>Calories</em></b>: {{recipe.calories}} Kcal, <b><em>Servings</em></b>: {{recipe.yield}}</p>
                                            <!--<p><b><em>Diet Labels</em></b>: {{recipe.dietLabels}} </p>-->

                                            <div class="recipe-add" (click)="addRecipe(recipe)"><i class="fa fa-plus" aria-hidden="true"></i></div>

                                            <div class="recipe-view" (click)="viewRecipe(recipe)"><i class="fa fa-eye" aria-hidden="true"></i></div> 
                                        </div>                                       
                                    </div>
                                </div>
                                   
        
                                </div>
                                </div>
                            </div>
                        </div>
                            </div>
                                
                    </div>
                    <div class="row" style="padding-left:0px; padding-right:0px;">
                        <div class="col-12">
                            <label for="recipes">Recipes</label>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4" *ngFor="let recipe of recipesList; let i = index;">
                            <div class="recipe-item" style="background-size:cover; margin-bottom:10px; background-position:center; width:100%; height:100%; " [ngStyle]="{'background-image':'url(' + recipe.image + ')'}">
                             
                            <div class='row toggleremove' style='color:#FFF;'>
                             
                                <!--<div class="col-4">
                                    <img style="width:100%" src="{{recipe.image}}" />
                                </div>-->
                                <div class="col-12">
                                    <h1 class="recipe-label">{{recipe.label}}</h1>                                  
                                  
                                </div>
                                <div class="col-12">
                                    <p><b>Calories</b>: {{recipe.calories}} Kcal, <b>Servings</b>: {{recipe.yield}}</p>
                                    <div class="recipe-remove" (click)="removeRecipe(recipe)">Remove</div>
                                </div>
                                <div class="col-12">
                                    <p *ngIf="recipe.dietLabels"><b>Diet Labels</b>: {{recipe.dietLabels}} </p>
                                    <p *ngIf="!recipe.dietLabels">&nbsp;</p>
                                    <div class="recipe-remove" (click)="viewRecipe(recipe)">Details</div>
                                
                                </div>
                               
                            </div>
                           
                        </div>
                           

                        </div>
                    </div>
                    <br>
                    <label for="notes">Notes</label>
                    <textarea class="short-text" name="notes" [(ngModel)]='searchRes.notes' id="notes" cols="30" rows="10"></textarea>
                    <div class="text-center">
                        <button type="submit" (click)="saveRecipebook()"  class="recipe-submit-btn">Save Your Recipe Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12  col-md-4 col-lg-3">
    <aside>
    <div class="side-bar">
   
    <!--popular recipes widget-->
    <app-sidebar></app-sidebar>
    <!--popular recipes widget ends-->
    
    </div>
    </aside>
    </div>
    </div>
    
    </div>
    </div>

    <jw-modal id="viewrecipe">
    
    <form name="form"  #uf="ngForm" novalidate class="popup-panel">
        <div class="modal-header" style="background:#FFF;">
            <h2 style="margin:15px; ">
                <span>View Recipe Details</span>           

            </h2>
            <button style="font-size: 30px;padding:5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('viewrecipe');">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background:#FFF;" *ngIf="selectedRecipe">

            <div class="row">
                <div class='col-12 col-lg-12' style="max-height: 300px; overflow: auto;">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="form-group">
                                <h2>{{selectedRecipe.label}}</h2>
                        
                                <p style="display:inline-block; " class="view-details"><span class="head">Servings:</span> {{selectedRecipe.yield}}, </p>    
                                <p style="display:inline-block; "  class="view-details"><span class="head">Calories:</span> {{selectedRecipe.calories}}, </p>  
                                <p style="display:inline-block; "  class="view-details"><span class="head">Calories per Serving:</span> {{formatCalories(selectedRecipe.calories, selectedRecipe.yield)}}, </p>  
                                                                
                                <p style="display:inline-block; "  class="view-details"><span class="head">Total Weight:</span> {{formatLimit(selectedRecipe.totalWeight)}}, </p>  
                               
                                <p style="display:inline-block; " class="view-details"><span class="head"  *ngIf="selectedRecipe.dietLabels">Diet Labels:</span> {{formatlabels(selectedRecipe.dietLabels)}}, </p> 

                                <p style="display:inline-block; " class="view-details"><span class="head" *ngIf="selectedRecipe.healthLabels">Health Labels:</span> {{formatlabels(selectedRecipe.healthLabels)}}</p> 

        
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                           <img src="{{selectedRecipe.image}}" width="90%" />
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <p class="view-details"><span class="head">Nutrients:</span> </p> 
                                <p style="display:inline-block;" class="view-details" *ngFor="let nutrient of selectedRecipe.formatNutrients| keyvalue; "><span class="head">{{nutrient.value.label}}:</span> {{formatLimit(nutrient.value.quantity)}} {{formatUnit(nutrient.value.unit)}}, </p> 
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="form-group">
                                <p class="view-details"><span class="head">Nutrients per Serving:</span> </p> 
                                <p style="display:inline-block;" class="view-details" *ngFor="let nutrient of selectedRecipe.formatNutrients| keyvalue; "><span class="head">{{nutrient.value.label}}:</span> {{formatLimit(nutrient.value.quantity/selectedRecipe.yield)}} {{formatUnit(nutrient.value.unit)}}, </p> 
        
                            </div>
                        </div>
                    </div>
                   
                   

                </div>
               
<!--
                <div class='col-12'>
                    <div class="form-group">
                        <button class="defaultbtn" type="submit">Save</button>
                    </div>
                </div>-->
            </div>

        </div>

    </form>
</jw-modal>
