$primary: #EE3E38;
$second : #D1193E;
$third : #3A0751;
$fourth : #F2C85B;
$fifth : #FBA465;
$sixth : #F86E51;
$grayshadow :#D8D8D8;
$grayborder : #CCC;
$graytext : #CCC;
$text_light:#FFF;
$half-white :#FFF;
$text-dark: #000;
$bg-dark: #000;

$font-family:   Roboto,RobotoDraft, "Arial", sans-serif, Helvetica, "Lucida Console","Open Sans", "Verdana", "Liberation Sans","Georgia" !important;

$font_extra_small : 8pt;
$font_small: 9pt;
$font_small_medium: 10pt;
$font_medium: 11pt; 
$font-large:12pt;
$font-large-bg:13pt;
$font_extra_large: 14pt;

$page_width: 960px;
  
