$primary: #EE3E38;
$second : #D1193E;
$third : #3A0751;
$fourth : #F2C85B;
$fifth : #FBA465;
$sixth : #F86E51;
$grayshadow :#D8D8D8;
$grayborder : #CCC;
$graytext : #CCC;
$text_light:#FFF;
$half-white :#FFF;
$text-dark: #000;
$bg-dark: #000;



$font-family:   Roboto,RobotoDraft, "Arial", sans-serif, Helvetica, "Lucida Console","Open Sans", "Verdana", "Liberation Sans","Georgia" !important;

$font_extra_small : 8pt;
$font_small: 9pt;
$font_small_medium: 10pt;
$font_medium: 11pt; 
$font-large:12pt;
$font-large-bg:13pt;
$font_extra_large: 14pt;

$page_width: 960px;
  

$green: #78C04A;
$gray-dark: #495057;
$gray-dark1: #727272;
$gray-dark2: #6c757d;
$gray: #ADADAD;
$gray-border: #ced4da;
$white: #FFF;
$white-half: #f5f5f5;
$black: #000;
$orange : #FFAF4F;
$orange1 : #FF9100;




$bgcolor1 : #866c7f;
$bgcolor2 : #F58C3D;
$bgcolor3 : #6F3675;
$bgcolor4 : #2D7256;
$bgcolor5 : #27E4F5;
$bgcolor6 : #B9DC45;
$bgcolor7 : #E4B60E;
$bgcolor8 : #47D7E5;
$bgcolor9 : #C13338;
$bgcolor10 : #A509AF;
$bgcolor11 : #F58C1D;
$bgcolor12 : #201D72;
$bgcolor13 : #BBA939;
$bgcolor14 : #E0A24E;
$bgcolor15 : #BF4B8E;
$bgcolor16 : #B74445;
$bgcolor17 : #16634D;
$bgcolor18 : #ad25e2;
