/* You can add global styles to this file, and also import other style files */


@import "_variables.scss";
@import "../node_modules/ngx-toastr/toastr.css";

@import "~bootstrap/dist/css/bootstrap.css"; 

@import "styles/common.scss";
@import "styles/custom.scss";
@import "styles/login.scss";
@import "styles/modal.scss";
@import "styles/page.scss";
@import "styles/placeholder.scss";
//@import "styles/popup.scss";
//@import "styles/toastr.scss";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
html {
  scroll-behavior: smooth;
}


body
{

	margin:0;
	padding:0;
	font-family: $font-family;
	background:#FFF;
  margin:0 auto;
  font-family: 'Lato', 'Lora', sans-serif;
}

.pagewidth
{
  margin:0 auto;
  max-width:$page_width; 
}
.contentpage
{

background:#FFF;
margin:0 auto;
max-width:1348px;

}

.row
{
margin-right:0;
margin-left:0;
}

.form-control
{
  font-size:$font_small;
}

button:focus {outline:0;}


$font_extra_small : 8pt;
$font_small: 9pt;
$font_medium: 11pt; 
$font-large:12pt;
$font_extra_large: 14pt;


    

    .carousel-control-prev, .carousel-control-next {
      background: #78C04A;
      width: 30px;
      height: 30px;
     
      border-radius:50%;
      top:40%;
  }
  .carousel-control-prev
  {
    margin-left: -30px;
  }

  .carousel-control-next {

    margin-right: -30px;
  }
    .carousel-indicators li {
      background:$green;
    }

    .testimonial-item
    {
      border: 1px solid #CCC;
      padding: 10px;
      border-radius: 10px;
    }
    .carousel-indicators
    {
      bottom: 10px;
    }

   .testmonial-title
  {
color:$green;
font-size:24px;
  }

  .testmonial-content
  {
    color:$text-gray;
    font-size: 16px;
  }


  .bxshadow
  {
    box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  }
  .bxshadow:hover
  {
    box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 45%);
  }

  
.bg-orange
{
  background:$orange1;
  background: linear-gradient(17deg, $orange1 0%,$orange 100%);
  color:#FFF;
}

.mandatory
{
  color:red ;
  font-weight:bold;
}

.fixedtop
{
  margin-top:100px;
  width:100%;
}
@media only screen and (max-width: 767px) {
  .fixedtop
  {
    margin-top:80px;
    width:100%;
  }
}