<div class="recipes-home-body inner-page">
<div class="row w-1200" style="text-align:center; margin:0 auto;">




    <!--<div class="col-12 col-lg-4">-->
        <div class='leftblock'>
<!--- Left bar start -->

<div id="recipelistpnael" class="recipe-browse-side" style="max-height: 2700px;">
    <div id="recipes-container" class="container-fluid side-recipes">
        <div>
            <div class="filter-bar--side-version">
                <div class="filter-bar__search-container">
                    <form class="recipe-search false" (submit) ="loadRecipes()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="hm-typeahead " data-test="typeahead-input">
                                    <div class="rbt clearfix open" style="position: relative;" tabindex="-1">
                                        <div class="rbt-input-hint-container" style="position: relative;"><input
                                                aria-autocomplete="both" aria-expanded="false" aria-haspopup="listbox"
                                                autocomplete="nope" role="combobox" name="searchq" id="searchq" [(ngModel)]="searchparam.q" type="text"
                                                class="rbt-input-main form-control rbt-input " (keyup)="searchParam()" value="" placeholder="SEARCH">
                                        </div>
                                        <div aria-atomic="true" aria-live="polite" class="sr-only rbt-sr-status" role="status">0
                                            selections</div>
                                    </div>
                                </div>
                                <div class="input-group-append"> &nbsp;&nbsp;<button type="submit" (click)="loadRecipes()" class="btn btn-secondary"><i
                                            class="fa fa-search" aria-hidden="true"></i></button></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="filters-mb">
                    
                    <div id="meal-type"
                        class="meal-types-container btn-filter btn-filter-mb meal-type-filter-btn   btn-group btn-group-sm"><button
                            type="button" (click)="getFavourites()" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary"><i
                                class="fa fa-heart" aria-hidden="true"></i>Favourites</button>
                    </div>
                    <div *ngIf="showNutrientsFlag" id="advanced-filters" (click)="loadFilterLabels(); filtersOpt = !filtersOpt"
                        class="advanced-filters btn-filter btn-filter-mb other-filters-btn   btn-group btn-group-sm"><button
                            type="button" id="advancedFilterToggle" aria-haspopup="true" aria-expanded="false"
                            class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i>Filters</button>
                       
                    </div>
                    <div id="clear-all" style="margin-left:5px !important"
                    class="meal-types-container btn-filter btn-filter-mb meal-type-filter-btn   btn-group btn-group-sm"><button
                        type="button" (click)="clearFilters()" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary"><i
                            class="fa fa-trash" aria-hidden="true"></i>Clear</button>
                    </div>
                </div>
                <div *ngIf="filtersOpt">
                
                    <div class="" style="max-height:300px; overflow:auto; width:95%">
                      
                        <div class="row "  style="padding-left:0; padding-right:0px">
                           <!--  <div class="col-12">
                                <h3>Advance Filters</h3>
                            </div> -->
                            <div class="col-12">
                                <div class="form-group">

                                    <label class="form-control-placeholder fcs">Health Labels </label>
                                    <div class="listSection" id="healthLabels" style="display:inline-block;">
                                        <div class="row">
                                        <ng-container *ngFor="let hlabel of healthlabelsList; let h = index">
                                            <div class="col-12 col-lg-6">
                                            <label class="container" style="font-size:12px;text-align:left">{{hlabel.name}}
                                                <input [(ngModel)] ="hlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                <span class="checkmark"></span>
                                            </label>
                                            </div>
                                        </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label class="form-control-placeholder fcs">Diet Labels</label> 
                                    <div class="listSection" id="diethLabels" style="display:inline-block;">
                                        <div class="row">
                                        <ng-container *ngFor="let dlabel of dietLabelsList; let h = index">
                                            <div class="col-12 col-lg-6">
                                            <label class="container" style="font-size:12px">{{dlabel.name}}
                                                <input [(ngModel)] ="dlabel.selected" type="checkbox" [checked]="h == 0?'checked':''">
                                                <span class="checkmark"></span>
                                            </label>
                                            </div>
                                        </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row form-group" style="padding-left:15px">
                                    <label class="form-control-placeholder fcs">Calories</label> 
                                    <div class="listSection"  style="display:inline-block;">
                                        <span>Max calories&nbsp;&nbsp;</span>
                                      <input type="text" class="inputbox-fullwidth"  [(ngModel)] ="searchparam.calories"/>

                                    </div>
                                </div>
                            </div>
                              <div class="col-12">
                                <div class="form-group">
                                    <label class="form-control-placeholder fcs">Nutrients</label> 
                                    <div class="listSection"  style="display:inline-block; height:145px; max-height:145px;overflow-x: hidden;">
                                        <div class="row">
                                        <ng-container *ngFor="let mlabel of mineralsLabelsList; let m = index">
                                           <div class="col-12 col-lg-12">
                                            <label class="container" style="font-size:12px;text-align:left;">{{setFLU(mlabel.name)}}
                                                <input [(ngModel)] = 'mlabel.selected' type="checkbox" [checked]="m == 0?'checked':''">
                                                <span class="checkmark"></span>
                                            </label>
                                            </div>
                                            <div class="col-5 paddinglr0" *ngIf="mlabel.selected">
                                                            
                                                    <input class="mineral-input" type='text' name="minerals_{{m}}_min" [(ngModel)]="mlabel.min" placeholder="min" />
                                                    <span class="maxmin">{{formatVal(mlabel.t_min)}}</span>
                                            
                                            </div>
                                            <div class="col-5 paddinglr0" *ngIf="mlabel.selected">
                                                <input class="mineral-input" type='text' name="minerals_{{m}}_max" [(ngModel)]="mlabel.max" placeholder="max" />
                                                <span class="maxmin">{{formatVal(mlabel.t_max)}}</span>

                                            </div>
                                            <div class="col-2 paddinglr0" *ngIf="mlabel.selected"> {{mlabel.unit}}</div>
                                    
                                        </ng-container>
                                        </div>
                                    </div>
                                </div>
                              </div>

   
            
                            <div class="col-12">
                                <input type="button" (click)="filtersOpt= false; searchFilters()" style="margin-bottom:10px;" class="defaultbtn searchbtn bg-orange" id="header-submit-search-pro" name="submit" value="Search">
            
                            </div>
            
                        </div>
                        
                          
                    
                    </div>

                </div>
            </div>
        </div>
        
        <div class="content">
            <div class="recipes card-group">
                <div class="recipe-wrapper" *ngFor="let recipe of displayList; let k=index;">
                    <div id="Drag{{k}}" 
                    (dragover)="allowDrop($event)">
                        <div class="recipe-mb mb-3 recipe-mb--draggable  card">
                            <!--<div class="draggable-bar" id="draggable-bar_{{k}}"><img
                                    id="nutritional-toggle-6050d5d15ddc1c00294df92a" class="toggle-icon"
                                    src="{{draggable}}"
                                    alt="Draggable icon" draggable="true" 
                                    (dragstart)="drag($event, k)"></div>-->
                                    <!-- <div style='width:calc(100%)'><a class="hmp-link--no-style"
                                href="{{recipe.uri}}"> -->
                                <div style='width:calc(100%)'>
                                    <a class="hmp-link--no-style" style="cursor: -webkit-grabbing; cursor: grabbing;"> 
                                <div class="recipe-content recipe-content--draggable card-body">
                                    <div class="recipe-image-container recipe-drag-container" id="dragp_{{page_num}}_{{k}}">
                                        <img  class="recipe-image"
                                        id="drag_{{page_num}}_{{k}}"
                                        src="assets/images/drag.png" style="width:80%" title="Drag Recipe"
                                        alt="{{recipe.label}} Image"  draggable="true" 
                                        (dragstart)="drag($event, k)" >
                                    </div>

                                    <div class="recipe-image-container mobile" id="imagep_{{page_num}}_{{k}}">
                                            <img  class="recipe-image"
                                            id="picture_{{page_num}}_{{k}}"
                                            src="{{formatImage(recipe.image, 's')}}"
                                            alt="Recipe image"  draggable="true" 
                                            (dragstart)="drag($event, k)" ></div>
                                    <div class="recipe-mb-info">
                                        <h2 class="title overflow-text" id="recipe-6050d5d15ddc1c00294df92a">{{recipe.label}}</h2>
                                        <div class="calories" id="calories-6050d5d15ddc1c00294df92a">{{recipe.calories}} calories</div>
                                    </div>
                                    <!--<img id="favorite-button-side-favorite-button-6050d5d15ddc1c00294df92a"
                                        class="side-favorite-button" src="assets/images/heart.png" alt="Heart icon">-->
                                </div>
                           
                              
                            <div class="recipe-footer card-footer">
                                <div class="row recipe-icons justify-content-md-center">
                                    <div data-test="add-to-meal-plan-modal-button">
                                        <div class="container-fluid create-meal-plan-modal-container"
                                            data-test="container"></div><img
                                            id="add-to-meal-plan-modal-6050d5d15ddc1c00294df92a"
                                            class="add-to-meal-plan-modal-button" src="/assets/plus.png"
                                            alt="Add recipe icon" href="#">
                                    </div>
                                    <div data-test="share-modal"><i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </div><img id="favorite-button-share-modal-button-6050d5d15ddc1c00294df92a"
                                        class="share-modal-button" src="assets/images/heart.png" alt="Heart icon">
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <ul class="pagination" *ngIf="totalPage > 2">
            <li (click)="currentPage(1)" class="">
                <a href="javascript:void(0)">
                    <i class="fa fa-angle-double-left"></i>
                </a>
            </li>
            <li (click)="prevPage()" class="">
                <a href="javascript:void(0)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            
            <!--<li (click)="currentPage(i)" [ngClass]="i == page_num?'current':''" *ngFor='let in of counter(totalPage) ;let i = index'>
                <a href="javascript:void(0)">{{i+1}}</a>
            </li>-->
            <li (click)="currentPage(in)" [ngClass]="in == page_num?'current':''" *ngFor='let in of pageNosList ;let i = index'>
                <a href="javascript:void(0)">{{in}}</a>
            </li>
            <li (click)="nextPage()" class="">
                <a href="javascript:void(0)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li (click)="currentPage(totalPage-1)" class="">
                <a href="javascript:void(0)">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>   
        </ul>
      <!--   <div class="text-center"><button type="button" class="load-more-btn btn btn-outline-primary btn-sm">Load
                More</button></div> -->
    </div>
</div>


<!-- Left bar ends -->
    </div>
    <!--<div class="col-12 col-lg-8">-->
        <div class='rightblock'>
       

        <div class="meal-plans-content">
             <div class="submit-recipe-form" style="text-align:left; padding-bottom:10px;  background-color: #f8f6f5;">
                <div style='text-align:right;'>
                    <div style="display:inline-block;text-align:right;width: 400px">
                    <div style="display:block">
                    <label *ngIf="showNutrientsFlag"  class="container" style=" text-align: left;
                    display: inline-block;
                    width: 155px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 16px;">Show Nutrients
                        <input (change)="showhidenutrients()" [(ngModel)] = 'showhidenutrientsFlag' type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <a class="copy-button" (click)="downloadplan()" title="Download PDF"><i class="fa fa-download"></i> Download</a>
                    &nbsp; <a  class="copy-button" (click)="getIngredientsList()" title="Ingredients List"><i class="fa fa-download"></i> Ingredients </a>
                    &nbsp;  
                    </div>
                    <div style="display:block" *ngIf="showhidenutrientsFlag">
                    <label class="container" style=" text-align: left;
                    display: inline-block;
                    width: 200px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 16px;">Nutrients per Serving
                        <input (change)="toggleNutrients('perserving')" [(ngModel)] = 'showNutrientsPServing' type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container" style=" text-align: left;
                    display: inline-block;
                    width: 155px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 16px;">Total Nutrients
                        <input (change)="toggleNutrients('total')" [(ngModel)] = 'showNutrients' type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                    </div>
                   
               
                </div>

                <label for="title">Meal Plan Name</label>
                <input type="text" name="tiplannametle" id="planname" [(ngModel)] ="plan.name" (blur)="saveMealPlan()" style="margin-bottom:5px">
                <span *ngIf="errorMessage && !plan.name" style="color:red;font-size:12px">{{errorMessage}}</span>
                <br>
                <label for="short-description">Tags</label>
                <textarea style="margin-bottom:0px" class="short-text" name="plantags" id="plantags" cols="30" rows="3" [(ngModel)] ="plan.tags" (blur)="saveMealPlan()"></textarea>
                
                <ng-container *ngIf="showNutrients || showNutrientsPServing" >
                    <div style='float:left; padding:5px; margin-right:5px;display:flex; align-items: center;' *ngFor="let ccode of colorCodes | keyvalue;"> <div [ngStyle] ="{'background-color':ccode.value}" style="display:inline-block; width:20px; height:20px;  margin-right:5px; "></div>{{setFLU(ccode.key)}} 
                                
                    </div>
                </ng-container>

            </div>
            <div style="clear:both"></div>
            <div class="meal-row-wrapper meal-row__week-days">
                <div class="dayname" style="border-bottom:0px"></div>
                <div class="meal-plan-row row">
                    <div [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-col col mealplan-col':'meal-plan-col col mealplan-col20'" *ngFor="let mealtype of mealsList; let d =index;">
                        <div class="meal-day"><span>{{mealtype.name}}</span></div>
                    </div>
                    <div *ngIf="showNutrients || showNutrientsPServing" class="meal-plan-col col mealplan-col" >
                        <div class="meal-day"><span>Total</span></div>
                    </div>
                </div>
            </div>
           
                <ng-container *ngFor="let item of plan['days']; let r = index;">
                    <div class="meal-row-wrapper">
                   <!--<div class="meal-name" style="min-height:130px"><span [ngClass]="checkData(item)?'left90':'left30'">{{item.name}}</span></div>-->
                   <div class="dayname"><span>{{item.name}}</span></div>
                    <div class="meal-plan-column-container" style="background-color:#fff">
                        <div class="meal-plan-row">
                         
                            <div [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-slot mealplan-col':'meal-plan-slot mealplan-col20'" *ngFor="let meal of item.meals; let c= index;" >
                                <div *ngIf="meal.recipe">
                                    <div draggable="true">
                                        <div class="recipe-image-wrapper ">
                                            <div class="recipe-image-card card">
                                                <div class="recipe-image-card-content card-body">
                                                    <div class="image-card-container">
                                                        <div class="recipe-remove" (click)="removeRecipe(r, c)"><i class="fa fa-trash" aria-hidden="true"></i></div>
                                                        <div class="recipe-name-box">{{meal.recipe.label}}</div><img *ngIf="showImages"
                                                            class="recipe-image-card recipe-image-card__img open-fist-cursor"
                                                            style="opacity: 1;" id="picture-5c252abdb834861eec5388f3"
                                                            src="{{meal.recipe.image}}"
                                                            alt="Recipe image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf='meal.recipe.calories > 0' class="calories-item">
                                        <span *ngIf="showNutrients">
                                            Calories{{meal.recipe.calories}} Kcal <br>
                                        </span>
                                        <span *ngIf="showNutrientsPServing">
                                        Calories<br> per Serving<br>{{formatValPServing(meal.recipe.calories, meal.recipe.yield)}} Kcal 
                                        </span>
                                    </div>
                                    <div class="minerals" *ngIf="showNutrients">
                                        <div style="clear:both"></div>
                                        <div style="display:block">
                                        <p  style="font-weight:bold">Nutrients</p>
                                        </div>
                                        <div style="clear:both"></div>
                                        <!--<div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' *ngFor="let paramM of meal.recipe.paramMicro"> <div [ngStyle] ="{'background-color':getColorCode(paramM)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                        <a href="javascript:void(0)" title="{{setFLU(paramM.label)}} {{paramM.totalP}} {{paramM.unit}}">{{formatVal(paramM.totalP,2)}} {{paramM.unit}} </a>
                           
                                        </div>-->
                                        <ng-container *ngFor="let paramN of meal.recipe.minerals">
                                       
                                            <div *ngIf='paramN.value > 0' style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' > <div [ngStyle] ="{'background-color':getColorCode(paramN)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                            <a href="javascript:void(0)" title="{{setFLU(paramN.name)}} {{paramN.value}} {{paramN.unit}}">{{formatVal(paramN.value,2)}} {{paramN.unit}} </a>
                            
                                        </div>
                                        </ng-container>
                                    </div>

                                    <div class="minerals" *ngIf="showNutrientsPServing">
                                        <div style="clear:both"></div>
                                        <div style="display:block">
                                        <p style="font-weight:bold">Nutrients per serving</p>
                                        </div>
                                        <div style="clear:both"></div>
                                        <!--<div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' *ngFor="let paramM of meal.recipe.paramMicro"> <div [ngStyle] ="{'background-color':getColorCode(paramM)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                        <a href="javascript:void(0)" title="{{setFLU(paramM.label)}} {{paramM.totalP}} {{paramM.unit}}">{{formatValPServing(paramM.totalP,meal.recipe.yield)}} {{paramM.unit}} </a>
                           
                                        </div>-->
                                        <ng-container *ngFor="let paramN of meal.recipe.minerals">
                                       
                                            <div *ngIf='paramN.value > 0' style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' > <div [ngStyle] ="{'background-color':getColorCode(paramN)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                            <a href="javascript:void(0)" title="{{setFLU(paramN.name)}} {{paramN.value}} {{paramN.unit}}">{{formatValPServing(paramN.value,meal.recipe.yield)}} {{paramN.unit}} </a>
                            
                                        </div>
                                        </ng-container>
                                    </div>

                                </div>
                                <div style="min-height:130px" *ngIf="!meal.recipe" id="drop-{{r}}-{{c}}"  (drop)="drop($event, r, c)" (dragover)="allowDrop($event)">                             
                                    <div id="image-placeholder-{{r}}-{{c}}" class="recipe-image-placeholder card">
                                    <div  class="recipe-image-card-content  card-body"><img  *ngIf="showImages" id="target-{{r}}-{{c}}"
                                            class="recipe-card-placeholder-image" src="{{addRecipeImage}}"
                                            alt="Recipe Image Card">
                                        <span *ngIf="!showImages">Add Image</span></div>
                                </div>
                                <div class="calories-slot-sum">0 Calories</div>
                            </div>
                            </div>
                            <div class="meal-plan-slot mealplan-col"  *ngIf="showNutrients || showNutrientsPServing">                              
                            
                                <div class="minerals" *ngIf="showNutrients">
                                    <div style="clear:both"></div>
                                    <div style="display:block">
                                    <p  style="font-weight:bold">Total Nutrients<br>
                                        per day</p>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' *ngFor="let totalM of calculateTotalCalory(r) "> <div [ngStyle] ="{'background-color':getColorCode(totalM)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                        <a href="javascript:void(0)" title="Total {{setFLU(totalM.name)}} {{formatValue(totalM.value)}} {{totalM.unit}}">{{formatValue(totalM.value)}} {{totalM.unit}} </a>
                                    
                                        </div>

                                </div>
                                <div class="minerals" *ngIf="showNutrientsPServing">
                                    <div style="clear:both"></div>
                                    <div style="display:block">
                                    <p  style="font-weight:bold">Total Nutrients  <br>
                                        per Day <br>
                                        per serving</p>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div style='float:left; padding:2px; margin-right:5px;display:flex; align-items: center;' *ngFor="let totalM1 of calculateTotalCaloryPServing(r) "> <div [ngStyle] ="{'background-color':getColorCode(totalM1)}" style="display:inline-block; width:10px; height:10px;  margin-right:3px; "></div>
                                        <a href="javascript:void(0)" title="Total {{setFLU(totalM1.name)}} {{formatValue(totalM1.value)}} {{totalM1.unit}}">{{formatValue(totalM1.value)}} {{totalM1.unit}} </a>
                                    
                                        </div>

                                </div>
                                
                            </div>
                       </div>
                    </div>

                    </div>

                    
                </ng-container>
                
            <div class="meal-row-wrapper meal-row__calories" id="calculateCaloryFlag" *ngIf="calculateCaloryFlag">
                <div class="dayname"></div>
                <div id="total-calories-row" class="meal-plan-row" style="flex-wrap: nowrap;">
                    <div [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-col col mealplan-col':'meal-plan-col col mealplan-col20'"
                    *ngFor="let mealtype of mealsList; let d =index;">
                        <div class="totalcalories">
                        {{calculateCalory(mealtype, d)}}</div>
                    </div>
                    <div *ngIf="showNutrients || showNutrientsPServing" [ngClass]="showNutrients || showNutrientsPServing?'meal-plan-col col mealplan-col':'meal-plan-col col mealplan-col20'">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-save">
            <button  id="btnsaveplan" class="saveplan"><i class="fa fa-cloud-upload" aria-hidden="true"></i><span>Save Plan</span></button>
        </div>
       
    </div>
    
</div>
</div>




<jw-modal id="popuppanel" style="display:none;">
    <div class="" style="min-height:400px;padding:25px;">
    
    <div style="border:1px solid #ccc; border-radius:15px; padding:15px">

       <div class="modal-header" style="border-bottom:0px;">
        <h4><b>Ingredients List</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="closeModal('popuppanel');" style="font-size:40px;color:#000;opacity:1">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" style="border-bottom:0px;min-height: 430px;">
        <div class="row" >
            <div class="col-12 col-lg-12 col-xl-12 infoModal" style='max-height:400px; border:0px;margin-top:0px; text-align:center'>
                <div  style="margin-top:20px;text-align:left;" *ngFor="let item of shoppingList; let i = index">
                    {{item.name}}
                </div>
            </div>
        </div>
        </div>
    </div> 
  </div>
  </jw-modal>