<div class="contentpage">
	<div >
		<div class="row" >
		
<div class="col-12">
	<app-sliderpanel></app-sliderpanel>
</div>

<div class="site-section">
          <div class="container">
<div class="col-12 landing-specialty-meal-plans-background">
	<div class=" w-1000" style="display:flex; align-items: center;padding-top:30px;">
	<div class="row ">
	<div class="col-md-4 col-lg-6 pl-5">
	<h1 class="text-lg-left mb-4 title">Too busy to plan?</h1>
	<p class="text-justify mb-5 description">Subscribe to our dietitian-prepared Specialty Meal Plans which offer balanced nutrition each and every week and can be easily customized to your personal tastes.</p>
	<a href="javascript:void(0);" class="leanmore">Learn More</a>
	</div>

	<div class="col-md-8 col-lg-6">
		<div class="row">
			<div class="mb-5 col-sm-6" *ngFor="let hLabel of healthLabels; let h=index;"> 
				<div class="px-5 px-sm-0">
					<a href="https://shop.healthymealplans.com/collections/all/products/12-week-healthy-meal-plan"
						class="specialty"><img src="{{hLabel.image}}"
							srcset="assets/images/temp-images/listing-1.jpg"
							class="rounded-bg specialty-image w-100">
						<div class="p-3 bg-white rounded-lg border specialty-label">{{hLabel.label}}</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>
</div>
</div>
</div>


<!-- steps section starts -->


<div class="col-12">
	<div class=" w-1000" style="padding-top:30px;">
	<div class="row rowalt" *ngFor="let step of stepsList; let i = index;">
		<div class="col-12 col-lg-6">
			<h1 class="text-lg-left mb-4 title">{{step.label}}</h1>
			<h3 class="subtitle">{{step.subtitle}}</h3>
			<p class="text-justify mb-5 description"  style=" direction: ltr;">{{step.description}}</p>
			<div *ngIf="i %2 ==0" style="text-align:right;">
			<img style=" height: 150px" src="assets/images/temp-images/arrow-right.svg" />
			</div>
			<div *ngIf="i %2 ==1" style="text-align:left">
			<img style=" height: 150px" src="assets/images/temp-images/arrow-left.svg" />
			</div>
		</div>
		<div class="col-12 col-lg-6" style="text-align:center;">
				<img src="{{step.image}}" style=" height: 250px" class="rounded-bg specialty-image w-80">
		</div>
	</div>
	<div class="row">
		<div class="col-12" style="text-align:center;margin-top:20px;">
			<a href="javascript:void(0);" class="getstarted">Get Started</a>
		</div>
	</div>
</div>

<!-- Steps section ends -->
<div class="col-12" style="margin-top:30px;" >


	<div class="site-section">
					<div class="container">



					  
					


 



					
								  
							<div class="col-12 col-md-12 col-lg-3 col-xl-3">
							  <blockquote>
								<!--<img src="assets/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">-->
								<p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat unde.&rdquo;</p>
							  </blockquote>
			  
							  <p style="float:right">&mdash; Kelly Holmes</p>
							</div>
					  
							<div class="col-12 col-md-12 col-lg-3 col-xl-3">
							  <blockquote>
								<!--<img src="assets/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">-->
								<p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
								  obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
								  unde.&rdquo;</p>
							  </blockquote>
							
							  <p style="float:right">&mdash; Rebecca Morando</p>
							</div>
					  
							<div class="col-12 col-md-12 col-lg-3 col-xl-3">
							  <blockquote>
								<!--<img src="assets/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">-->
								<p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
								  obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
								  unde.&rdquo;</p>
							  </blockquote>
							
							  <p style="float:right">&mdash; Lucas Gallone</p>
							</div>
					  
							<div class="col-12 col-md-12 col-lg-3 col-xl-3">
							  <blockquote>
								<!--<img src="assets/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">-->
								<p>&ldquo;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore
								  obcaecati maiores voluptate aspernatur iusto eveniet, placeat ab quod tenetur ducimus. Minus ratione sit quaerat
								  unde.&rdquo;</p>
							  </blockquote>
							
							  <p style="float:right">&mdash; Andrew Neel</p>
							</div>
					  
						
					
					</div>
				  </div>

			</div>
	
	</div>
</div>
</div>
