

.specialty {
    position: relative;
    display: block;
  }
  a {
    color: #77c14b;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  
  .w-100 {
    width: 100% !important;
  }
  
  .specialty-image {
    border: solid 2px #fff;
    box-shadow: 0 1rem 1.5rem rgb(0 0 0 / 25%);
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .mb-5, .my-5 {
    margin-bottom: 3rem !important;
  }
  .p-3 {
    padding: 1rem !important;
  }
  .border {
    border: 1px solid #dee2e6 !important;
  }
  .bg-white {
    background-color: #fff !important;
  }
  .rounded-bg {
    border-radius: 1rem !important;
  }
  .specialty-label {
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    font-weight: bold;
    padding:10px 20px;
    font-weight: bold !important;;
    font-size: 1.5rem !important;
    
  }
  
  .leanmore
  {
    padding:10px 20px;
    font-weight: bold !important;;
    font-size: 1rem !important;
    border-radius: 1rem !important;
    color: #fff;
    border: 1px solid #dee2e6;
    background-color: #65ab3b;
    border-color: #5fa138;
    box-shadow: 0 0 5px 0 #77c14b;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
    padding: 1rem 2rem !important;
      font-size: 1.25rem !important;
  
  
  
  }
  .leanmore:hover{
    box-shadow: 0 0 15px 0 #77c14b;
  }
  

  
.landing-specialty-meal-plans-background {
    background-image: url("../../assets/images/temp-images/specialty-meal-plans-bg@2x.png");
   background-position: bottom left;
   background-repeat: no-repeat;
   background-size: 65%;
}