<div class="fixedtop recipes-home-body inner-page">
    
    <div class="container" style="padding-left:0px; padding-right:0px;padding-top:20px">
        <div class="row">
            <div class="col-md-8 col-lg-9">
               
                <div style= 'width:100%'></div>
                <div class="recipe-set">
                   
                    <h2 style="width: 70%;">Recipe Books</h2>
                      <div class="createplanbtn" (click)="gotopage('recipebook');">
                        <i class="fa fa-pencil" style="margin-right:10px;"></i>  Create  Recipe Book
                         
                      </div>

            
                    <div class="row">


                        <div class="col-12 col-lg-4 col-md-4" *ngFor="let recipe1 of recipebooks; let i = index;">
                            <div class="collection-item">
                            <div class="image image-animate" >
                                <div style="position:absolute; left:unset;top:10px;right:10px;z-index:1">
                                    <a (click)="showhidecontent(recipe1)" href="javascript:void(0)" [ngClass]="recipe1.showpopup?'contextmenu-icon active bgcontext':'contextmenu-icon bgcontext'" style="text-align:center;"><i class="fa fa-ellipsis-v"></i></a>
                                        <div *ngIf="recipe1.showpopup" class="contextmenu" style="left:unset;top:25px; right:0px;"><a  class="menu" href="javascript:void(0)"  (click)="gotopage('recipebookview', {'id':recipe1.id})" ><i class="fa fa-list"></i>View Recipebook</a>
                                            <a *ngIf="recipe1.createdby == currentUser['id']" (click)="gotoRecipebook(recipe1.id)" class="menu" href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i>Edit Recipebook</a>
                                            <a *ngIf="isAdmin || recipe1.createdby == currentUser['id']" (click)="recipe1.showpopup= false; deleteRecipebook(recipe1.id)" class="menu" href="javascript:void(0)"><i class="fa fa-trash"></i>Delete Recipebook</a>
                                        </div>
                                        </div>
                                <a (click)="gotopage('recipebookview', {'id':recipe1.id});">
                                    <img *ngIf="recipe1.image !== ''"  src="{{recipe1.image}}"
                                        alt="{{recipe1.recipebook_name}} image">
                                    <img *ngIf="recipe1.image == ''"  src="assets/notavailable.png" alt="{{recipe1.recipebook_name}} image">
                                </a>
                                <div class="detail">
                                    <a title = "{{recipe1.recipebook_name}}" (click)="gotopage('recipebookview', {'id':recipe1.id});"><h3 style="font-size:16px">{{limitTo(recipe1.recipebook_name, 23)}}</h3></a>
                                    <!--<p innerHTML="{{limitTo(recipe1.description, 200)}}">
    
                                    </p>  -->
                                    <p *ngIf="countrecipes(recipe1.recipes) > 0">{{countrecipes(recipe1.recipes)}} Recipes </p>
                                   
                                  </div>
                            </div>
                            
                            </div>
                        </div>
                      
                    </div>
                 
                   
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">

                        <app-sidebar></app-sidebar>


                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
